Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs(git): refresh nearest-action receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: check-markdown-links, check-doc-metadata

fix(git): reject unconditional pull guidance
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_git_guidance_semantics.py
  agents/agent-9/KNOWLEDGE_BASE.md
  agents/agent-9/index.json
  agents/agent-9/index.md
  docs/SESSION_LOG.md
  docs/git-automation/live-git-guidance-index.json
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): refresh pull-guidance receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: check-markdown-links, check-doc-metadata

fix(git): fail closed on session state
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_git_guidance_semantics.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/git-automation/live-git-guidance-index.json
  docs/index.json
  docs/index.md
  scripts/check_codex_git_workflow.py
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(git): refresh session-state receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: check-markdown-links, check-doc-metadata

fix(git): close tenth semantic handoff gaps
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_git_guidance_semantics.py
  Python/tests/test_git_state.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/git-automation/live-git-guidance-index.json
  docs/index.json
  docs/index.md
  scripts/check_codex_git_workflow.py
  scripts/git_state.py
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(git): bind tenth handoff receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: check-markdown-links, check-doc-metadata

docs(git): correct integration receipt reason
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: check-markdown-links, check-doc-metadata

fix(git): validate eleventh guidance state contract
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_git_guidance_semantics.py
  Python/tests/test_git_state.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/git-automation/live-git-guidance-index.json
  docs/index.json
  docs/index.md
  scripts/check_codex_git_workflow.py
  scripts/git_state.py
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(git): bind eleventh handoff receipt
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: none

docs(git): record eleventh audit evidence
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

fix(git): close canonical state schema gaps
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_git_state.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  scripts/git_state.py
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): bind twelfth handoff receipt
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: none

docs(git): record twelfth audit evidence
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

fix(git): close local context authority gaps
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_git_state.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  scripts/git_state.py
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(git): bind final audited handoff receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/research/git-governance/GIT-001-phase-7E-task-git-handoff.json
  docs/research/git-governance/index.json
Due: check-markdown-links, check-doc-metadata

docs(git): add compact audited workflow
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): correct local audit gate order
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): add compact audited orchestrator workflow (#752)
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

feat(governance): add Indian-code truth baseline
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/services/capabilities.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/governance/maintenance-playbook.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/verification/INDIA-0-git-handoff.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/indian-code-truth-baseline.md
  docs/verification/is456-slab-evidence.md
  run.sh
  scripts/_lib/indian_code_manifest.py
  scripts/automation-map.json
  scripts/check_clause_coverage.py
  scripts/generate_indian_code_manifest.py
  scripts/index.json
  scripts/index.md
  scripts/parity_dashboard.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(planning): hand off INDIA-1 closure wave
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/indian-code-truth-baseline.md
Due: check-markdown-links, check-doc-metadata

feat(governance): establish Indian-code truth baseline (#753)
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/services/capabilities.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/governance/maintenance-playbook.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  docs/verification/INDIA-0-git-handoff.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/indian-code-truth-baseline.md
  docs/verification/is456-slab-evidence.md
  run.sh
  scripts/_lib/indian_code_manifest.py
  scripts/automation-map.json
  scripts/check_clause_coverage.py
  scripts/generate_indian_code_manifest.py
  scripts/index.json
  scripts/index.md
  scripts/parity_dashboard.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): add composed T-beam route
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/api_results.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/capabilities.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/integration/test_flanged_beam_service.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/is456-library-first-master-plan.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-1a-beam-route-evidence.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/indian-code-truth-baseline.md
Due: mypy, check-markdown-links, check-doc-metadata

docs(planning): hand off INDIA-1B
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/indian-code-truth-baseline.md
Due: check-markdown-links, check-doc-metadata

feat(is456): add composed T-beam route (#754)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/api_results.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/capabilities.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/integration/test_flanged_beam_service.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-1a-beam-route-evidence.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/indian-code-truth-baseline.md
Due: mypy, check-markdown-links, check-doc-metadata

docs(is456): close column layout decisions
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/column_api.py
  Python/tests/integration/test_api_entrypoints_is456.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-1b-column-decision-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(planning): hand off INDIA-1C
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/india-1b-column-decision-evidence.md
Due: check-markdown-links, check-doc-metadata

docs(is456): close column layout decisions (#755)
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/column_api.py
  Python/tests/integration/test_api_entrypoints_is456.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-1b-column-decision-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): publish composed footing workflow
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/capabilities.py
  Python/tests/integration/test_footing_composed_publication.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/india-1c-isolated-footing-workflow-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(is456): record footing PR handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(is456): publish composed footing workflow (#756)
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/capabilities.py
  Python/tests/integration/test_footing_composed_publication.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/india-1c-isolated-footing-workflow-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): close slab design boundaries
  Python/structural_lib/codes/is456/slab/serviceability.py
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/slab_api.py
  Python/tests/integration/test_slab_boundary_closure.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/india-1d-slab-boundary-evidence.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/is456-slab-evidence.md
Due: mypy, check-markdown-links, check-doc-metadata

docs(is456): record slab PR handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(is456): close slab design boundaries (#757)
  Python/structural_lib/codes/is456/slab/serviceability.py
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/slab_api.py
  Python/tests/integration/test_slab_boundary_closure.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/india-1d-slab-boundary-evidence.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/is456-slab-evidence.md
Due: mypy, check-markdown-links, check-doc-metadata

test(ci): reconcile cumulative INDIA-1 gates
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-1-cumulative-gate-evidence.md
Due: check-markdown-links, check-doc-metadata

docs(is456): record cumulative gate PR
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

test(ci): reconcile cumulative INDIA-1 gates (#758)
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-1-cumulative-gate-evidence.md
Due: check-markdown-links, check-doc-metadata

docs(planning): prepare INDIA-2 launch
  AGENTS.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(planning): bind INDIA-2 handoff PR
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
