Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

feat(etabs): complete API coverage and agent readiness guidance
  .github/skills/api-discovery/SKILL.md
  Python/tests/test_etabs_api.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/reference/etabs-api-workflows.json
  docs/verification/etabs-api-readiness-acceptance.json
  docs/verification/rework-recurrence-index.json
  scripts/etabs_api.py
Due: check-markdown-links, check-doc-metadata

feat(etabs): complete API coverage and agent readiness guidance (#994)
  .github/skills/api-discovery/SKILL.md
  Python/tests/test_etabs_api.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/reference/etabs-api-workflows.json
  docs/verification/etabs-api-readiness-acceptance.json
  docs/verification/rework-recurrence-index.json
  scripts/etabs_api.py
Due: check-markdown-links, check-doc-metadata

chore(beam): normalize candidate lock files and record verification
  CSharp/src/StructuralEngineering.Beam/packages.lock.json
  CSharp/src/StructuralEngineering.ExcelDna/packages.lock.json
  CSharp/src/StructuralEngineering.Reporting/packages.lock.json
  CSharp/tests/StructAutomate.Tests/packages.lock.json
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
  docs/SESSION_LOG.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(beam): preserve batch design options and check outcomes
  Python/structural_lib/services/beam_pipeline.py
  Python/tests/integration/test_beam_pipeline.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  docs/verification/library-quality-20260919-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(beam): bind generated reinforcement to strength depths
  Python/README.md
  Python/examples/full_pipeline_synthetic.py
  Python/structural_lib/services/api_results.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_detailing_binding.py
  Python/structural_lib/services/beam_pipeline.py
  Python/structural_lib/services/canonical_beam.py
  Python/structural_lib/services/release_uat.py
  Python/tests/integration/test_beam_pipeline.py
  Python/tests/integration/test_canonical_beam_facade.py
  Python/tests/integration/test_cli.py
  Python/tests/integration/test_design_suggestions.py
  Python/tests/integration/test_smart_designer.py
  Python/tests/regression/test_generated_detailing_depth_binding.py
  Python/tests/regression/test_lib_pro_012_s0_safety_closure.py
  Python/tests/test_design_from_input.py
  Python/tests/test_packaging.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/cookbook/python/beam.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/reference/beam-facade.md
  docs/verification/library-quality-geometry-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(etabs): qualify bounded native source facts and load closures
  CSharp/src/StructuralEngineering.Analysis/EtabsSourceQualification.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsSourceContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsSourceBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsSourceGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsSourceReader.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tests/StructAutomate.Tests/EtabsSourceReaderTests.cs
  CSharp/tests/StructuralEngineering.Tests/EtabsSourceQualificationTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  CSharp/tools/StructAutomate.EtabsWorker/SourceWorker.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/reference/etabs-api-catalog.json.gz
  docs/reference/etabs-api-workflows.json
  docs/verification/beam-c0a-source-acceptance.json
  docs/verification/beam-c0a-source-receipt.json
  docs/verification/beam-source-corpus.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): qualify bounded native source facts and load closures (#996)
  CSharp/src/StructuralEngineering.Analysis/EtabsSourceQualification.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsSourceContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsSourceBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsSourceGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsSourceReader.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tests/StructAutomate.Tests/EtabsSourceReaderTests.cs
  CSharp/tests/StructuralEngineering.Tests/EtabsSourceQualificationTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  CSharp/tools/StructAutomate.EtabsWorker/SourceWorker.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/reference/etabs-api-catalog.json.gz
  docs/reference/etabs-api-workflows.json
  docs/verification/beam-c0a-source-acceptance.json
  docs/verification/beam-c0a-source-receipt.json
  docs/verification/beam-source-corpus.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(beam): bind generated stirrups to shear design
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_detailing_binding.py
  Python/structural_lib/services/beam_pipeline.py
  Python/structural_lib/services/canonical_beam.py
  Python/tests/regression/test_generated_detailing_depth_binding.py
  Python/tests/regression/test_generated_detailing_shear_binding.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/cookbook/python/beam.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/verification/library-quality-shear-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(beam): preserve batch requirements and bind generated reinforcement (#997)
  Python/README.md
  Python/examples/full_pipeline_synthetic.py
  Python/structural_lib/services/api_results.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_detailing_binding.py
  Python/structural_lib/services/beam_pipeline.py
  Python/structural_lib/services/canonical_beam.py
  Python/structural_lib/services/release_uat.py
  Python/tests/integration/test_beam_pipeline.py
  Python/tests/integration/test_canonical_beam_facade.py
  Python/tests/integration/test_cli.py
  Python/tests/integration/test_design_suggestions.py
  Python/tests/integration/test_smart_designer.py
  Python/tests/regression/test_generated_detailing_depth_binding.py
  Python/tests/regression/test_generated_detailing_shear_binding.py
  Python/tests/regression/test_lib_pro_012_s0_safety_closure.py
  Python/tests/test_design_from_input.py
  Python/tests/test_packaging.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/cookbook/python/beam.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/reference/beam-facade.md
  docs/verification/library-quality-20260919-acceptance.json
  docs/verification/library-quality-geometry-acceptance.json
  docs/verification/library-quality-integration-acceptance.json
  docs/verification/library-quality-integration-git-handoff-receipt.json
  docs/verification/library-quality-integration-git-handoff-source-evidence.json
  docs/verification/library-quality-shear-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(etabs): qualify bounded topology and role evidence
  CSharp/src/StructuralEngineering.Analysis/EtabsTopologyQualification.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsTopologyContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsTopologyBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsTopologyGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsTopologyReader.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tests/StructAutomate.Tests/EtabsSourceReaderTests.cs
  CSharp/tests/StructAutomate.Tests/EtabsTopologyReaderTests.cs
  CSharp/tests/StructuralEngineering.Tests/EtabsTopologyQualificationTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  CSharp/tools/StructAutomate.EtabsWorker/TopologyWorker.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/reference/etabs-api-catalog.json.gz
  docs/reference/etabs-api-workflows.json
  docs/verification/beam-c0a-topology-acceptance.json
  docs/verification/beam-c0a-topology-receipt.json
  docs/verification/beam-source-corpus.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): record integrated delivery diagnostics
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): repair recurrence encoding and acceptance handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): validate session records before candidate freeze
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-c0a-topology-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): qualify connected geometry and member-role evidence (#998)
  CSharp/src/StructuralEngineering.Analysis/EtabsTopologyQualification.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsTopologyContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsTopologyBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsTopologyGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsTopologyReader.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tests/StructAutomate.Tests/EtabsSourceReaderTests.cs
  CSharp/tests/StructAutomate.Tests/EtabsTopologyReaderTests.cs
  CSharp/tests/StructuralEngineering.Tests/EtabsTopologyQualificationTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  CSharp/tools/StructAutomate.EtabsWorker/TopologyWorker.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/reference/etabs-api-catalog.json.gz
  docs/reference/etabs-api-workflows.json
  docs/verification/beam-c0a-topology-acceptance.json
  docs/verification/beam-c0a-topology-receipt.json
  docs/verification/beam-source-corpus.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): record temporary access hold and offline next steps
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
Due: check-markdown-links, check-doc-metadata

docs(etabs): record temporary access hold and offline next steps (#1000)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
Due: check-markdown-links, check-doc-metadata

fix(maintenance): reconcile Mac handoff and default API inventory
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
  llms.txt
  scripts/sync_numbers.py
Due: check-markdown-links, check-doc-metadata

fix(maintenance): reconcile Mac handoff and default API inventory (#1001)
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
  llms.txt
  scripts/sync_numbers.py
Due: check-markdown-links, check-doc-metadata

fix(python): bind generated schedules to passing beam designs
  Python/README.md
  Python/examples/end_to_end_workflow.py
  Python/structural_lib/__main__.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_detailing_binding.py
  Python/structural_lib/services/beam_pipeline.py
  Python/tests/integration/test_cli.py
  Python/tests/integration/test_full_pipeline_e2e.py
  Python/tests/regression/test_serialized_design_detailing.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/next-session-brief.md
  docs/planning/python-library-workflow-improvement-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(python): narrow validated schedule spacing for type checking
  Python/structural_lib/services/beam_detailing_binding.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(python): record repair delivery evidence
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(python): bind beam schedules and exports to the source design (#1002)
  Python/README.md
  Python/examples/end_to_end_workflow.py
  Python/structural_lib/__main__.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_detailing_binding.py
  Python/structural_lib/services/beam_pipeline.py
  Python/tests/integration/test_cli.py
  Python/tests/integration/test_full_pipeline_e2e.py
  Python/tests/regression/test_serialized_design_detailing.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/next-session-brief.md
  docs/planning/python-library-workflow-improvement-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(imports): preserve effective depth through design and saved projects
  Python/README.md
  Python/structural_lib/core/models.py
  Python/structural_lib/services/adapters.py
  Python/structural_lib/services/imports.py
  Python/tests/integration/schema_snapshots.json
  Python/tests/regression/test_imported_effective_depth.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/python-library-workflow-improvement-plan.md
  docs/reference/api-compatibility-ledger.json
  docs/specs/csv-import-schema.md
  docs/verification/rework-recurrence-index.json
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/imports.py
  fastapi_app/tests/test_imports_formats.py
  react_app/src/hooks/__tests__/useCSVImport.test.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/workspace/__tests__/importAdapter.test.ts
  react_app/src/workspace/importAdapter.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix(tooling): preserve final newline in generated schema snapshots
  Python/tests/integration/schema_snapshots.json
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/python-library-workflow-improvement-plan.md
  docs/verification/rework-recurrence-index.json
  scripts/validate_schema_snapshots.py
Due: check-markdown-links, check-doc-metadata

fix(git): allow normal partial commits through the operation hook
  Python/tests/test_git_state.py
  scripts/git_state.py
Due: none

perf(workflow): default to essential checks and retain expanded milestones
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  run.sh
  scripts/check_all.py
  scripts/session.py
Due: none

docs(workflow): prefer cohesive commits and one essential validation batch
  .github/skills/session-management/SKILL.md
  AGENTS.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/python-library-workflow-improvement-plan.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

test(workflow): remove redundant prose-count gate and refresh setup guidance
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  docs/getting-started/agent-bootstrap.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(workflow): close milestones after an owner supersedes a pre-PR push
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/python-library-workflow-improvement-plan.md
  docs/verification/rework-recurrence-index.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

perf(workflow): use lightweight Git safety for routine pushes
  .pre-commit-config.yaml
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_git_state.py
  scripts/git_state.py
  scripts/validation-coverage.json
Due: none

feat(session): close routine timers without delivery bookkeeping
  Python/tests/test_session_automation.py
  scripts/session.py
Due: none

docs(workflow): make focused checks and one PR the default
  .github/skills/session-management/SKILL.md
  AGENTS.md
  Python/tests/test_token_efficiency.py
  docs/getting-started/agent-bootstrap.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  run.sh
  scripts/check_token_efficiency.py
Due: check-markdown-links, check-doc-metadata

feat(library): expose typed family inputs and calculation results
  Python/structural_lib/design/is456/beam.py
  Python/structural_lib/design/is456/column.py
  Python/structural_lib/design/is456/combined_footing.py
  Python/structural_lib/design/is456/deep_beam.py
  Python/structural_lib/design/is456/flat_slab.py
  Python/structural_lib/design/is456/isolated_footing.py
  Python/structural_lib/design/is456/slab.py
  Python/structural_lib/design/is456/staircase.py
  Python/structural_lib/design/is456/strap_footing.py
  Python/structural_lib/design/is456/torsion.py
  Python/structural_lib/design/is456/wall.py
  Python/structural_lib/services/canonical_family.py
  Python/structural_lib/services/column_api.py
  Python/structural_lib/services/family_facade_registry.py
  Python/tests/integration/test_family_facade_convergence.py
Due: mypy

feat(examples): demonstrate typed design and error workflows
  Python/README.md
  Python/examples/README.md
  Python/examples/canonical_workflows.py
  Python/tests/test_public_examples.py
Due: none

docs(api): publish live family references and a clear entry guide
  docs/api-reference/index.md
  docs/cookbook/python/beam-design.md
  docs/cookbook/python/column-supplied-steel-check.md
  docs/cookbook/python/combined-footing-symmetric.md
  docs/cookbook/python/deep-beam-simply-supported.md
  docs/cookbook/python/flat-slab-regular-interior.md
  docs/cookbook/python/isolated-footing-concentric.md
  docs/cookbook/python/slab-continuous-one-way.md
  docs/cookbook/python/slab-one-way.md
  docs/cookbook/python/slab-two-way.md
  docs/cookbook/python/staircase-straight-flight.md
  docs/cookbook/python/strap-footing-property-line.md
  docs/cookbook/python/torsion-design.md
  docs/cookbook/python/wall-braced-axial.md
  docs/planning/library-usability-improvement.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-levels.md
  docs/reference/api-manifest.json
  docs/reference/beam-facade.md
  docs/reference/family-facade-contracts.md
  scripts/generate_family_facade_docs.py
Due: check-markdown-links, check-doc-metadata

test(api): retire obsolete chooser prose assertions
  fastapi_app/tests/test_public_documentation_contract.py
Due: none

fix(io): preserve supplied depth in beam JSON round trips
  Python/structural_lib/services/excel_integration.py
  Python/tests/integration/test_excel_integration.py
Due: mypy

perf(library): defer optional drawing and report imports
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/tests/integration/test_cli.py
  Python/tests/test_optional_imports.py
Due: mypy

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
