Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

feat(excel): hand off ETABS forces through a bounded background worker
  CSharp/packaging/excel/Invoke-EtabsConnectionAcceptance.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.Contracts/EtabsContextContracts.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsForceWorkerContracts.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsConnectionClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsConnectionCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineReviewWindow.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineSnapshotStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10OfflineSessionTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

perf(etabs): stream canonical evidence and cache repeated-source validation
  CSharp/packaging/excel/Invoke-EtabsOwnedAnalysis.ps1
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCanonicalWriter.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsCaptureProjector.cs
  CSharp/tests/StructAutomate.Tests/Wp10BatchLiveQualificationTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10Tests.cs
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): preserve complete model evidence in bounded compact snapshots
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotStreamReader.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotTransport.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsForceWorkerContracts.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineSnapshotStore.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10OfflineSessionTests.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10Tests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  Python/structural_lib/analysis_snapshot.py
  Python/structural_lib/services/analysis_snapshot.py
  Python/tests/unit/test_structural_engineering_wp10.py
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(etabs): qualify bulk capture and source model interpretation
  CSharp/README.md
  CSharp/packaging/excel/Etabs-Qualification.ps1
  CSharp/packaging/excel/Invoke-EtabsOwnedAnalysis.ps1
  CSharp/packaging/excel/Invoke-EtabsTableQualification.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/packaging/excel/compare_bulk_capture.py
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotNormalizer.cs
  CSharp/src/StructuralEngineering.Analysis/EtabsModelInterpreter.cs
  CSharp/src/StructuralEngineering.Contracts/AnalysisNormalizationContracts.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsModelInterpretationContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBatchArtifact.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBatchOperationBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkProjection.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkTables.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsCaptureProjector.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterAdapter.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineReviewWindow.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineSnapshotSession.cs
  CSharp/tests/StructAutomate.Tests/Wp10BatchCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10BatchLiveQualificationTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10BulkCaptureTests.cs
  CSharp/tests/StructuralEngineering.Tests/EtabsModelInterpreterTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add real PF9 fixtures and repair measured scaling defects
  CSharp/packaging/excel/Invoke-EtabsOwnedAnalysis.ps1
  CSharp/packaging/excel/New-EtabsPerformanceFixture.ps1
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCanonicalWriter.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/src/StructuralEngineering.Analysis/EtabsModelInterpreter.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsContextContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBatchCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsCaptureProjector.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsContextCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsLiveGetterProbe.cs
  CSharp/tests/StructAutomate.Tests/Wp10BulkCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10ContextCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10PerformanceQualificationTests.cs
  Python/structural_lib/services/analysis_snapshot.py
  docs/SESSION_LOG.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(etabs): retain whole-model forces with bounded row transport
  CSharp/packaging/excel/Invoke-EtabsBulkForceQualification.ps1
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCanonicalWriter.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotNormalizer.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotPackedTransport.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotTransport.cs
  CSharp/src/StructuralEngineering.Analysis/StructuralEngineering.Analysis.csproj
  CSharp/src/StructuralEngineering.Contracts/AnalysisNormalizationContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBatchArtifact.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBatchOperationBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkProjection.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsCaptureProjector.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsContextOperationBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterAdapter.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsGroupGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsOperationBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/tests/StructAutomate.Tests/Wp10BatchCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10BatchLiveQualificationTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10BulkCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10OperationBrokerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10PerformanceQualificationTests.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10PackedTransportTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  Python/structural_lib/services/analysis_snapshot.py
  Python/tests/unit/test_structural_engineering_wp10.py
  docs/SESSION_LOG.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(excel): admit complete group force snapshots through the worker
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotTransport.cs
  CSharp/src/StructuralEngineering.Contracts/EtabsForceWorkerContracts.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineSnapshotStore.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10OfflineSessionTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  docs/SESSION_LOG.md
  docs/library/excel/README.md
Due: check-markdown-links, check-doc-metadata

fix(excel): keep progress replacement from aborting force capture
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceClient.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  docs/SESSION_LOG.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

test(wp10): qualify complete capture and freeze the delivery handoff
  CSharp/packaging/excel/compare_bulk_capture.py
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCanonicalWriter.cs
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsCaptureProjector.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineSnapshotStore.cs
  CSharp/tests/StructAutomate.Tests/Wp10BatchLiveQualificationTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10BulkCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10PerformanceQualificationTests.cs
  Python/structural_lib/services/analysis_snapshot.py
  Python/tests/test_token_efficiency.py
  Python/tests/unit/test_calculation_review.py
  Python/tests/unit/test_structural_engineering_wp10.py
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/library/implementation-status.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/handoff.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-completion-git-handoff-receipt.json
  docs/verification/wp10-completion-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(wp10): await force acceptance before checking worker cleanup
  CSharp/packaging/excel/Invoke-EtabsConnectionAcceptance.ps1
  docs/SESSION_LOG.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(wp10): normalize PowerShell candidate line endings
  .gitattributes
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(wp10): preserve typed row binding iteration
  Python/structural_lib/services/analysis_snapshot.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(beam): bind repeated station calculations once at final depth
  CSharp/src/StructuralEngineering.Beam/MemberDesign.cs
  CSharp/tests/StructuralEngineering.Tests/Wp06Tests.cs
Due: none

feat(beam): design supported captured beams with actual reinforcement
  CSharp/packaging/excel/New-EtabsPerformanceFixture.ps1
  CSharp/src/StructuralEngineering.Beam/BaselineArrangements.cs
  CSharp/src/StructuralEngineering.Beam/BaselineDesignOperations.cs
  CSharp/src/StructuralEngineering.Beam/BaselineEvidence.cs
  CSharp/src/StructuralEngineering.Beam/BaselineInputMapper.cs
  CSharp/src/StructuralEngineering.Beam/BaselineReplay.cs
  CSharp/src/StructuralEngineering.Beam/BaselineServiceChecks.cs
  CSharp/src/StructuralEngineering.Beam/BaselineSnapshotIndex.cs
  CSharp/src/StructuralEngineering.Beam/BaselineStrengthDetailChecks.cs
  CSharp/src/StructuralEngineering.Beam/StructuralEngineering.Beam.csproj
  CSharp/src/StructuralEngineering.Beam/packages.lock.json
  CSharp/src/StructuralEngineering.Codes.IS456/BaselineContinuity.cs
  CSharp/src/StructuralEngineering.Codes.IS456/BaselineEligibility.cs
  CSharp/src/StructuralEngineering.Codes.IS456/BaselineFlexure.cs
  CSharp/src/StructuralEngineering.Codes.IS456/BaselineServiceability.cs
  CSharp/src/StructuralEngineering.Codes.IS456/BaselineStirrupAnchorage.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineDesignContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineDesignResultContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineDetailingContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineEligibilityContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineFlexureContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineProjectContextContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineReplayContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineServiceabilityContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BaselineStirrupContracts.cs
  CSharp/src/StructuralEngineering.ExcelDna/packages.lock.json
  CSharp/src/StructuralEngineering.Reporting/packages.lock.json
  CSharp/tests/StructAutomate.Tests/packages.lock.json
  CSharp/tests/StructuralEngineering.Tests/BaselineContinuityTests.cs
  CSharp/tests/StructuralEngineering.Tests/BaselineDesignTests.cs
  CSharp/tests/StructuralEngineering.Tests/BaselineEligibilityTests.cs
  CSharp/tests/StructuralEngineering.Tests/BaselineInputMapperTests.cs
  CSharp/tests/StructuralEngineering.Tests/BaselineRetainedReferenceTests.cs
  CSharp/tests/StructuralEngineering.Tests/BaselineServiceabilityTests.cs
  CSharp/tests/StructuralEngineering.Tests/BaselineStirrupTests.cs
  CSharp/tests/StructuralEngineering.Tests/Fixtures/wp11-owned-snapshot.sasnap
  CSharp/tests/StructuralEngineering.Tests/StructuralEngineering.Tests.csproj
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
Due: none

ci(wp11): validate native design and prevent observed delivery rework
  .github/workflows/fast-checks.yml
  .gitignore
  CSharp/README.md
  Python/tests/test_verification_control.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/code-data/is456/baseline-eligibility-v1.json
  contracts/structural-engineering/code-data/is456/baseline-serviceability-v1.json
  contracts/structural-engineering/code-data/is456/baseline-stirrup-v1.json
  docs/SESSION_LOG.md
  docs/library/reference/wp11-baseline-design.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp11-baseline-design-acceptance.json
  scripts/check_all.py
Due: check-python-version, check-markdown-links, check-doc-metadata

feat(excel): complete captured-beam baseline design workflow
  CSharp/packaging/excel/Invoke-BaselineDesignAcceptance.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignProjection.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignWork.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineInputSheet.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineWorkbookStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineReviewWindow.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineWorkbookStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/tests/StructAutomate.Tests/Wp11DesignProjectionTests.cs
  CSharp/tests/StructAutomate.Tests/Wp11DesignStoreTests.cs
  CSharp/tests/StructAutomate.Tests/Wp11InputSheetTests.cs
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp11-excel-design-acceptance.json
  docs/verification/wp11-excel-design-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(excel): complete captured-beam baseline design workflow (#983)
  CSharp/packaging/excel/Invoke-BaselineDesignAcceptance.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignProjection.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineDesignWork.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineInputSheet.cs
  CSharp/src/StructuralEngineering.ExcelDna/BaselineWorkbookStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineReviewWindow.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineWorkbookStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/tests/StructAutomate.Tests/Wp11DesignProjectionTests.cs
  CSharp/tests/StructAutomate.Tests/Wp11DesignStoreTests.cs
  CSharp/tests/StructAutomate.Tests/Wp11InputSheetTests.cs
  docs/SESSION_LOG.md
  docs/library/excel/README.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp11-excel-design-acceptance.json
  docs/verification/wp11-excel-design-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add repeatable API discovery foundation
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ApiInventoryCommand.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/beam-c0a-api-foundation-acceptance.json
  docs/verification/beam-c0a-api-foundation-evidence.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add repeatable API discovery foundation (#984)
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ApiInventoryCommand.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/beam-c0a-api-foundation-acceptance.json
  docs/verification/beam-c0a-api-foundation-evidence.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): define broader model coverage and qualification plan
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/beam-model-coverage-plan-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): define broader model coverage and qualification plan (#985)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/beam-model-coverage-plan-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): inspect model inventory before bounded frame sampling
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/tests/StructAutomate.Tests/Wp10InspectionTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/InspectionWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/beam-second-model-inventory-acceptance.json
  docs/verification/beam-second-model-inventory-receipt.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(build): keep locked restore on the exact qualified SDK
  CSharp/README.md
  CSharp/global.json
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-second-model-inventory-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): inspect model inventory before bounded frame sampling (#986)
  CSharp/README.md
  CSharp/global.json
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/tests/StructAutomate.Tests/Wp10InspectionTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/InspectionWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/beam-second-model-inventory-acceptance.json
  docs/verification/beam-second-model-inventory-receipt.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): map lifecycle and discover full API surface
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ApiInventoryCommand.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/etabs-api-lifecycle-map-acceptance.json
  docs/verification/etabs-api-lifecycle-map-receipt.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(session): correct API mapping recurrence record schema
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-api-lifecycle-map-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): map lifecycle and inventory full API surface (#987)
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ApiInventoryCommand.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/etabs-api-lifecycle-map-acceptance.json
  docs/verification/etabs-api-lifecycle-map-receipt.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add lightweight overview and scoped force acquisition
  CSharp/packaging/excel/Invoke-EtabsOverviewAcceptance.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.Contracts/EtabsOverviewContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsOverviewProjector.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsConnectionClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsConnectionCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsOverviewClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsOverviewCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineReviewWindow.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/tests/StructAutomate.Tests/Wp10BulkCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10InspectionTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10OverviewTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/OverviewWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/etabs-bounded-acquisition-acceptance.json
  docs/verification/etabs-bounded-acquisition-receipt.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add lightweight overview and scoped force acquisition (#988)
  CSharp/packaging/excel/Invoke-EtabsOverviewAcceptance.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/src/StructuralEngineering.Contracts/EtabsOverviewContracts.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsBulkCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionBroker.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsInspectionCapture.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsOverviewProjector.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsConnectionClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsConnectionCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsForceCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsOverviewClient.cs
  CSharp/src/StructuralEngineering.ExcelDna/EtabsOverviewCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/OfflineReviewWindow.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/tests/StructAutomate.Tests/Wp10BulkCaptureTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10ForceWorkerTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10InspectionTests.cs
  CSharp/tests/StructAutomate.Tests/Wp10OverviewTests.cs
  CSharp/tools/StructAutomate.EtabsWorker/ForceWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/OverviewWorker.cs
  CSharp/tools/StructAutomate.EtabsWorker/Program.cs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/etabs-bounded-acquisition-acceptance.json
  docs/verification/etabs-bounded-acquisition-receipt.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): audit data requirements and editable assumptions
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-data-requirements-acceptance.json
  docs/verification/beam-data-requirements-audit.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): audit data requirements and editable assumptions (#989)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-data-requirements-acceptance.json
  docs/verification/beam-data-requirements-audit.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): make assumed inputs the default demo continuation policy
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-assume-and-continue-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): make assumed inputs the default demo continuation policy (#990)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-assume-and-continue-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): prepare provisional review implementation milestone
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-next-work-plan-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(beam): prepare provisional review implementation milestone (#992)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/etabs-design-workflow.md
  docs/verification/beam-next-work-plan-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add portable API discovery and workflow guide
  .github/skills/api-discovery/SKILL.md
  .github/skills/beam-automation/SKILL.md
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  Python/tests/test_etabs_api.py
  Python/tests/test_repo_context.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/docs-canonical.json
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/reference/etabs-api-catalog.json.gz
  docs/reference/etabs-api-workflows.json
  docs/verification/etabs-api-guide-acceptance.json
  docs/verification/rework-recurrence-index.json
  run.sh
  scripts/automation-map.json
  scripts/context-manifest.json
  scripts/control-plane.json
  scripts/etabs_api.py
Due: check-markdown-links, check-doc-metadata

docs(etabs): record document integrity repair
  docs/SESSION_LOG.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): bind full Windows validation after hosted timeout
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-api-guide-acceptance.json
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): make the installed API discoverable for every agent (#993)
  .github/skills/api-discovery/SKILL.md
  .github/skills/beam-automation/SKILL.md
  CSharp/src/StructuralEngineering.Etabs/EtabsApiDiscovery.cs
  CSharp/tests/StructAutomate.Tests/EtabsApiDiscoveryTests.cs
  Python/tests/test_etabs_api.py
  Python/tests/test_repo_context.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/docs-canonical.json
  docs/guides/etabs-api-integration.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/reference/etabs-api-catalog.json.gz
  docs/reference/etabs-api-workflows.json
  docs/verification/etabs-api-guide-acceptance.json
  docs/verification/rework-recurrence-index.json
  run.sh
  scripts/automation-map.json
  scripts/context-manifest.json
  scripts/control-plane.json
  scripts/etabs_api.py
Due: check-markdown-links, check-doc-metadata
