Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

feat(import): add sample data button and 3D building view (#387)
  scripts/test_import_3d_pipeline.py
  scripts/test_vba_adapter.py
  streamlit_app/components/visualizations_3d.py
Due: check-performance-issues

fix(ai-v2): simplify multi-file upload to single unified uploader
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(ai): correct OpenAI model name from gpt-5-mini to gpt-4o-mini
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(ai-v1): move math import to module level per Python best practices
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs(streamlit): update README with AI Assistant v2 and current page structure
  streamlit_app/README.md
Due: none

fix(config): correct OpenAI model names in secrets.toml.example
  streamlit_app/.streamlit/secrets.toml.example
Due: none

feat(ai-v2): improve welcome message with step-by-step workflow
  streamlit_app/.streamlit/secrets.toml.example
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(ai-workspace): reuse adapter infrastructure from multi-format import
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

docs(copilot-instructions): add AI model knowledge limits section
  .github/copilot-instructions.md
Due: none

docs(copilot-instructions): add lesson about reusing infrastructure
  .github/copilot-instructions.md
Due: none

test: add adapter integration tests for ai_workspace
  streamlit_app/tests/test_ai_workspace_adapters.py
Due: check-performance-issues

docs: update TASKS.md and SESSION_LOG.md for session 57
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update next-session-brief for session 57 handoff
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(ai): update to gpt-5-mini and fix AST scanner false positives
  .github/workflows/streamlit-validation.yml
  .scanner-ignore.yml
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-python-version, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

TASK-AI-IMPORT-FIX: fix AI workspace to reuse adapter infrastructure from multi-format import (#393)
  .github/copilot-instructions.md
  .github/workflows/streamlit-validation.yml
  .scanner-ignore.yml
  docs/SESSION_LOG.md
  docs/TASKS.md
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
  streamlit_app/tests/test_ai_workspace_adapters.py
Due: check-python-version, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix: handle cached_design dict return and add OpenRouter support
  streamlit_app/.streamlit/secrets.toml.example
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: add AI assistant workspace integration research plan
  docs/research/ai-assistant-workspace-integration.md
Due: check-markdown-links, check-doc-metadata

feat(ai): add AI module with context injection and tool definitions
  streamlit_app/ai/README.md
  streamlit_app/ai/__init__.py
  streamlit_app/ai/context.py
  streamlit_app/ai/prompts/system.md
  streamlit_app/ai/tools.py
Due: check-performance-issues

docs: add Session 58 to session log
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat(ai): implement function calling with tool handlers for workspace actions
  streamlit_app/ai/__init__.py
  streamlit_app/ai/handlers.py
  streamlit_app/ai/prompts/system.md
  streamlit_app/ai/tools.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update Session 58 with function calling implementation details
  docs/SESSION_LOG.md
  docs/research/ai-assistant-workspace-integration.md
Due: check-markdown-links, check-doc-metadata

docs: add AI workspace expansion research V2 with optimization workspace and library integration plans
  docs/SESSION_LOG.md
  docs/research/ai-assistant-workspace-integration.md
  docs/research/ai-workspace-expansion-v2.md
Due: check-markdown-links, check-doc-metadata

docs: add Session 59 governance cleanup to session log
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs: add v0.19/v0.20 release roadmap and V3 foundation tasks
  docs/TASKS.md
  docs/guides/AI_AGENT_CODING_GUIDE.md
  docs/guides/CODE_REUSE_AND_LIBRARY_STRUCTURE.md
  docs/guides/TESTING_AND_CICD_STRATEGY.md
  docs/planning/8-week-development-plan.md
  docs/research/ai-workspace-expansion-v2.md
  docs/research/ai-workspace-expansion-v3.md
Due: check-markdown-links, check-doc-metadata

feat(viz): add PyVista CAD export module and evaluation research
  Python/pyproject.toml
  docs/research/pyvista-evaluation.md
  streamlit_app/components/visualization_export.py
Due: check-python-version, check-markdown-links, check-performance-issues, check-doc-metadata

chore(scripts): add branch cleanup automation script
  scripts/cleanup_stale_branches.py
Due: none

docs: update TASKS.md and SESSION_LOG for PyVista evaluation
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  scripts/index.json
Due: check-markdown-links, check-doc-metadata

test: add unit tests for visualization_export module
  streamlit_app/components/visualization_export.py
  tests/test_visualization_export.py
Due: check-performance-issues

feat(streamlit): enable DXF export and PDF report pages
  streamlit_app/pages/08_📐_dxf_export.py
  streamlit_app/pages/09_📄_report_generator.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(streamlit): add DXF quick export to beam design page
  streamlit_app/components/report_export.py
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(perf): integrate LOD system into multi-beam 3D visualization
  streamlit_app/components/visualizations_3d.py
Due: check-performance-issues

test: add report_export component tests for DXF/PDF export
  tests/test_report_export_component.py
Due: none

docs: update TASKS.md and SESSION_LOG for Session 59 Phase 3
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update next-session-brief with Phase 3 handoff
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat: integrate PyVista export UI, add LOD tests, fix issues
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/pages/08_📐_dxf_export.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  tests/test_lod_performance.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

refactor: consolidate pages and integrate DXF export
  docs/SESSION_LOG.md
  docs/planning/industry-usability-plan.md
  docs/planning/next-session-brief.md
  docs/research/pyvista-evaluation.md
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/07_📄_report_generator.py
  streamlit_app/pages/08_⚡_ai_assistant.py
  streamlit_app/pages/_hidden/_06_📤_etabs_import.py
  streamlit_app/pages/_hidden/_08_📐_dxf_export.py
  streamlit_app/pages/_hidden/_10_🤖_ai_assistant.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix(dxf): fix column name mismatch for DXF export in multi-format import
  scripts/cleanup_stale_branches.py
  scripts/test_import_3d_pipeline.py
  scripts/test_setup.py
  scripts/test_vba_adapter.py
  scripts/vba_validator.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/08_📐_dxf_export.py
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(pages): fix duplicate page numbers and remove redundant AI assistant page
  streamlit_app/pages/09_📐_dxf_export.py
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: add Session 60 entry to session log
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
