Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs(is456): hold raft implementation gate (#805)
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-raft-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-raft-g0-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-raft-g0-hold-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

test(is456): close cumulative INDIA-2 gates
  Python/tests/data/golden_vectors_is456.json
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/test_footing_api.py
  Python/tests/test_footing_detailing.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/index.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-final-closeout-evidence.md
Due: check-markdown-links, check-doc-metadata

docs(git): bind INDIA-2 closeout handoff
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-closeout-git-handoff-receipt.json
  docs/verification/india-2-closeout-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

test(is456): close cumulative INDIA-2 gates (#806)
  Python/tests/data/golden_vectors_is456.json
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/test_footing_api.py
  Python/tests/test_footing_detailing.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/index.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-closeout-git-handoff-receipt.json
  docs/verification/india-2-closeout-git-handoff-source-evidence.json
  docs/verification/india-2-final-closeout-evidence.md
Due: check-markdown-links, check-doc-metadata

docs(git): audit post-INDIA2 cleanup candidates
  docs/SESSION_LOG.md
  docs/_active/README.md
  docs/_archive/planning/git-workflow-hardening-plan.md
  docs/docs-index.json
  docs/research/git-governance/GIT-001-phase-2-incident-register.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/post-india2-cleanup-authorization-proposal.md
  docs/verification/post-india2-cleanup-disposition-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(git): audit post-INDIA2 cleanup candidates (#807)
  docs/SESSION_LOG.md
  docs/_active/README.md
  docs/_archive/planning/git-workflow-hardening-plan.md
  docs/docs-index.json
  docs/research/git-governance/GIT-001-phase-2-incident-register.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/post-india2-cleanup-authorization-proposal.md
  docs/verification/post-india2-cleanup-disposition-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(git): record post-INDIA2 cleanup execution
  docs/SESSION_LOG.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/post-india2-cleanup-execution-git-handoff-receipt.json
  docs/verification/post-india2-cleanup-execution-git-handoff-source-evidence.json
  docs/verification/post-india2-cleanup-execution-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(git): record post-INDIA2 cleanup execution (#808)
  docs/SESSION_LOG.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/post-india2-cleanup-execution-git-handoff-receipt.json
  docs/verification/post-india2-cleanup-execution-git-handoff-source-evidence.json
  docs/verification/post-india2-cleanup-execution-receipt.json
Due: check-markdown-links, check-doc-metadata

fix(governance): ignore hidden index artifacts
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/session-logs/2026-08-part-2.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/post-india2-index-local-artifact-evidence.json
  docs/verification/post-india2-index-local-artifact-git-handoff-receipt.json
  docs/verification/post-india2-index-local-artifact-git-handoff-source-evidence.json
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

fix(governance): ignore hidden index artifacts (#811)
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/session-logs/2026-08-part-2.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/post-india2-index-local-artifact-evidence.json
  docs/verification/post-india2-index-local-artifact-git-handoff-receipt.json
  docs/verification/post-india2-index-local-artifact-git-handoff-source-evidence.json
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

docs(governance): plan pre-release input safety
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-g0-git-handoff-receipt.json
  docs/verification/lib-pro-002-g0-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(governance): plan pre-release input safety (#812)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-g0-git-handoff-receipt.json
  docs/verification/lib-pro-002-g0-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(batch): enforce strict project beam input
  Python/structural_lib/services/batch.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/structural_lib/services/project_beam.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_batch.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-a-git-handoff-receipt.json
  docs/verification/lib-pro-002-a-git-handoff-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(governance): batch verification after implementation
  .github/skills/quality-gate/SKILL.md
  AGENTS.md
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/index.md
  docs/verification/implementation-first-verification-policy-git-handoff-receipt.json
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

docs(governance): repair policy handoff receipt discovery
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

docs(governance): batch verification after implementation (#813)
  .github/skills/quality-gate/SKILL.md
  AGENTS.md
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/index.md
  docs/verification/implementation-first-verification-policy-git-handoff-receipt.json
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

fix(batch): enforce strict project beam input (#814)
  AGENTS.md
  Python/structural_lib/services/batch.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/structural_lib/services/project_beam.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_batch.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/git-automation/git-workflow-single-source.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-a-forward-integration-git-handoff-receipt.json
  docs/verification/lib-pro-002-a-forward-integration-git-handoff-source-evidence.json
  docs/verification/lib-pro-002-a-git-handoff-receipt.json
  docs/verification/lib-pro-002-a-git-handoff-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(release): bind publication to exact review receipt
  .github/workflows/publish.yml
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/exact-candidate-review-receipt-template.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-a-g-git-handoff-receipt.json
  docs/verification/lib-pro-002-a-g-git-handoff-source-evidence.json
  docs/verification/release-artifact-evidence-template.md
  docs/verification/release-publication-authorization.json
  scripts/index.json
  scripts/index.md
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

docs(planning): refresh professional readiness after fixes
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-post-fix-recheck-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): add release signal closure packet
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
Due: check-markdown-links, check-doc-metadata

docs(planning): normalize release plan metadata
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
Due: check-markdown-links, check-doc-metadata

docs(planning): close remaining publication blockers (#818)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-post-fix-recheck-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

fix(release): converge hosted and preflight signals
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/exact-candidate-review-receipt-template.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-j-git-handoff-receipt.json
  scripts/index.json
  scripts/index.md
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(ci): keep weekly benchmark evidence transient
  .github/workflows/nightly.yml
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_ci_workflow_contract.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-j-hosted-repair-git-handoff-receipt.json
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(workflow): stop cyclical closeout rewrites
  .github/copilot-instructions.md
  AGENTS.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/agents/guides/index.json
  docs/agents/guides/index.md
  docs/contributing/end-of-session-workflow.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/contributing/repo-professionalism.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-j-closeout-determinism-git-handoff-receipt.json
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

fix(release): converge hosted and preflight signals (#820)
  .github/copilot-instructions.md
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  AGENTS.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_release_scripts.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/agents/guides/index.json
  docs/agents/guides/index.md
  docs/contributing/end-of-session-workflow.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/contributing/repo-professionalism.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-input-safety-and-professional-readiness-plan.md
  docs/verification/exact-candidate-review-receipt-template.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/lib-pro-002-j-closeout-determinism-git-handoff-receipt.json
  docs/verification/lib-pro-002-j-git-handoff-receipt.json
  docs/verification/lib-pro-002-j-hosted-repair-git-handoff-receipt.json
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
  scripts/release.py
  scripts/session.py
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): prepare 0.23.1a2
  .github/skills/release-preflight/SKILL.md
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  README.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

docs(release): record 0.23.1a2 candidate evidence
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/index.json
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/index.json
  docs/verification/alpha-0231a2-local-prepublication-rehearsal.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/release-0231a2-preparation-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(release): refresh 0.23.1a2 candidate indexes
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/release-0231a2-preparation-git-handoff-receipt.json
  fastapi_app/index.json
Due: check-markdown-links, check-doc-metadata

docs(release): authorize 0.23.1a2 publication
  docs/index.json
  docs/index.md
  docs/verification/alpha-0231a2-exact-candidate-review-receipt.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/release-publication-authorization.json
Due: check-markdown-links, check-doc-metadata

test(release): isolate default authorization fixture
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

docs(release): rebind 0.23.1a2 candidate evidence
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/verification/alpha-0231a2-local-prepublication-rehearsal.md
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
