Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

feat(ui): add unified editor mode with live checks and navigation
  docs/research/design-editor-workflow.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

docs: update editor roadmap with completed Phase 1
  docs/research/design-editor-workflow.md
Due: check-markdown-links, check-doc-metadata

feat(ui): add full-width editor mode and inline editor for multi-import page
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/08_⚡_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(editor): add batch optimize operations for failed and all beams
  docs/research/design-editor-workflow.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

feat(editor): fix navigation/optimize/reset, add table view and 3D toggle
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

docs: update design editor roadmap with phase 3 completion
  docs/research/design-editor-workflow.md
Due: check-markdown-links, check-doc-metadata

feat(scanner): add Phase 7 widget key conflict detection
  scripts/check_streamlit_issues.py
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(editor): add beam-line optimization for consistent rebar
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(table-editor): comprehensive Session 32 overhaul
  docs/research/design-editor-workflow.md
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/08_⚡_ai_assistant.py
  streamlit_app/utils/section_geometry.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

docs: update Session 32 progress in SESSION_LOG and TASKS
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix: move column cleanup before utilization calc to prevent NaN conversion error
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

fix: remove unsupported selection_mode parameter from data_editor
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(editor): redesign table editor with always-visible 3D, beam focus, and smart columns
  docs/research/engineer-workflow-table-editor.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

feat(table-editor): complete stirrup optimization and 3D auto-layout
  docs/research/engineer-workflow-table-editor.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

fix(editor): improve 3D view and shear reinforcement options
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/06_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(editor): complete shear checks and optimization
  docs/research/library-refactoring-strategy.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

feat(lib): add rebar optimization functions to library
  Python/structural_lib/optimization.py
  Python/tests/test_optimization_rebar.py
Due: mypy

feat(lib): add material takeoff function to BBS module
  Python/structural_lib/bbs.py
  Python/tests/test_material_takeoff.py
Due: mypy

docs: update library refactoring strategy with progress
  docs/research/library-refactoring-strategy.md
Due: check-markdown-links, check-doc-metadata

feat(lib): complete library refactoring phases 4-6
  Python/structural_lib/api.py
  Python/structural_lib/optimization.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_beam_line_optimization.py
  Python/tests/test_compute_rebar_layout.py
  docs/research/library-refactoring-strategy.md
  streamlit_app/components/ai_workspace.py
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-performance-issues, check-doc-metadata

docs: update library refactoring strategy with accurate audit
  docs/research/library-refactoring-strategy.md
Due: check-markdown-links, check-doc-metadata

docs: finalize library refactoring strategy - mark complete
  docs/research/library-refactoring-strategy.md
Due: check-markdown-links, check-doc-metadata

docs: add UI consolidation audit and Session 63 notes
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/research/ui-consolidation-audit.md
Due: check-markdown-links, check-doc-metadata

feat(utils): add rebar_layout.py and batch_design.py consolidation modules
  streamlit_app/utils/batch_design.py
  streamlit_app/utils/rebar_layout.py
Due: check-type-annotations, check-performance-issues

refactor: consolidate rebar layout to use shared utils
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/_hidden/_10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

refactor: use shared batch_design utilities in ai_workspace.py
  docs/TASKS.md
  streamlit_app/components/ai_workspace.py
  streamlit_app/utils/batch_design.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

refactor: import BAR_OPTIONS from shared rebar_layout module
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

docs: update SESSION_LOG with consolidation implementation
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs: update library refactoring strategy with Session 63 audit findings
  docs/research/library-refactoring-strategy.md
Due: check-markdown-links, check-doc-metadata

feat(utils): add shared rebar_optimization using library functions
  docs/research/ui-consolidation-audit.md
  streamlit_app/utils/rebar_optimization.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

fix(ui): resolve critical ZeroDivisionError risks in multi-format import
  streamlit_app/pages/06_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update TASKS.md with Session 63 findings
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update SESSION_LOG and next-session-brief for Session 63
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: deep research on library refactoring strategy
  docs/TASKS.md
  docs/research/library-refactoring-strategy.md
  streamlit_app/API_INDEX.md
Due: check-markdown-links, check-doc-metadata

fix: scanner false positives and safe_file_delete 170x speedup
  .scanner-ignore.yml
  docs/research/scanner-improvements.md
  scripts/safe_file_delete.py
Due: check-markdown-links, check-doc-metadata

docs: resolve TASK-354 and TASK-355 - scanner critical fixes
  .scanner-ignore.yml
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(scanner): detect nested functions in type hint check, eliminate false positives
  .scanner-ignore.yml
  docs/docs-index.json
  docs/getting-started/agent-bootstrap.md
  scripts/check_streamlit_issues.py
Due: check-markdown-links, check-doc-metadata

perf: safe_file_move.py now uses git grep (170x faster on iCloud)
  docs/SESSION_LOG.md
  scripts/safe_file_move.py
Due: check-markdown-links, check-doc-metadata

docs: add iCloud to local move analysis with migration plan
  docs/planning/icloud-to-local-move-analysis.md
Due: check-markdown-links, check-doc-metadata

feat(scanner): implement Phase 9 structural guarantee detection
  .scanner-ignore.yml
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/research/scanner-improvements.md
  scripts/check_streamlit_issues.py
  tests/test_check_streamlit_issues.py
Due: check-markdown-links, check-doc-metadata
