Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs: remove stale streamlit and VBA references from 10 docs
  docs/adr/0001-three-layer-architecture.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/developers/README.md
  docs/developers/integration-examples.md
  docs/developers/platform-guide.md
  docs/docs-canonical.json
  docs/getting-started/agent-bootstrap.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/file-operations-safety-guide.md
  docs/reference/3d-visualization-performance.md
Due: check-markdown-links, check-doc-metadata

fix: sync FastAPI API version from 0.1.0 to 0.20.0
  fastapi_app/__init__.py
  fastapi_app/config.py
Due: none

fix: sync FastAPI API version from 0.1.0 to 0.20.0 (#463)
  fastapi_app/__init__.py
  fastapi_app/config.py
Due: none

docs: update canonical registry and fix session infrastructure
  docs/TASKS.md
  docs/docs-canonical.json
Due: check-markdown-links, check-doc-metadata

chore: refresh test_stats.json to 3399 tests and add 4 new test modules
  Python/test_stats.json
  Python/tests/test_boq.py
  Python/tests/test_core_types.py
  Python/tests/test_dashboard.py
  Python/tests/test_report_svg.py
Due: none

fix: replace blind Exception with AttributeError in frozen dataclass tests (B017)
  Python/tests/test_core_types.py
Due: none

fix: rename maintenance-plan-v0.21-sprint.md to fix governance naming convention (dot in version)
  docs/_active/maintenance-plan-v0-21-sprint.md
Due: check-markdown-links, check-doc-metadata

TASK-WS2: Refresh test_stats.json from stale 2270 to 3399 tests, add 4 new test modules (test_boq, test_core_types, test_dashboard, test_report_svg) (#464)
  Python/test_stats.json
  Python/tests/test_boq.py
  Python/tests/test_core_types.py
  Python/tests/test_dashboard.py
  Python/tests/test_report_svg.py
  docs/_active/maintenance-plan-v0-21-sprint.md
Due: check-markdown-links, check-doc-metadata

fix: security hardening — JWT startup check, CORS restriction, error sanitization
  fastapi_app/auth.py
  fastapi_app/main.py
Due: none

test: update JWT error message assertions to match sanitized output
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_security.py
Due: none

TASK-WS4: Security hardening: JWT refuses default key in production, CORS headers restricted, JWT errors sanitized (#465)
  fastapi_app/auth.py
  fastapi_app/main.py
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_security.py
Due: none

docs: archive v4 blueprint, promote v5 as active plan, add Phase 1.5 tasks
  .github/agents/orchestrator.agent.md
  docs/TASKS.md
  docs/_archive/planning-completed-2026-03/library-expansion-blueprint-v4.md
  docs/docs-canonical.json
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

refactor(is456): move beam modules to beam/ subpackage (Phase 1.5, TASK-700-708)
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/beam/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/codes/is456/beam/serviceability.py
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/serviceability.py
  Python/structural_lib/codes/is456/shear.py
  Python/structural_lib/codes/is456/torsion.py
  Python/tests/integration/test_tables_and_materials_additional.py
Due: mypy

fix(lint): fix noqa placement in serviceability shim
  Python/structural_lib/codes/is456/serviceability.py
Due: mypy

fix(mypy): update root stubs and api.py to import from beam/ directly
  Python/structural_lib/detailing.py
  Python/structural_lib/flexure.py
  Python/structural_lib/serviceability.py
  Python/structural_lib/services/api.py
  Python/structural_lib/shear.py
  Python/structural_lib/torsion.py
Due: mypy

fix(ci): add beam/detailing.py layer exception in governance check
  scripts/check_governance.py
Due: none

refactor(is456): move beam modules to beam/ subpackage (Phase 1.5, TASK-700-708) (#466)
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/beam/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/codes/is456/beam/serviceability.py
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/serviceability.py
  Python/structural_lib/codes/is456/shear.py
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/detailing.py
  Python/structural_lib/flexure.py
  Python/structural_lib/serviceability.py
  Python/structural_lib/services/api.py
  Python/structural_lib/shear.py
  Python/structural_lib/torsion.py
  Python/tests/integration/test_tables_and_materials_additional.py
  scripts/check_governance.py
Due: mypy

docs: update TASKS.md and next-session-brief with Phase 1.5 completion
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

refactor(is13920): move ductile detailing to codes/is13920, fix upward import, archive stale roadmap
  Python/structural_lib/codes/is13920/__init__.py
  Python/structural_lib/codes/is13920/beam.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/ductile.py
  Python/structural_lib/ductile.py
  Python/structural_lib/services/report.py
  docs/_archive/planning-completed-2026-03/hygiene-suggestions-2026-01-07.md
  docs/_archive/planning-completed-2026-03/strategic-roadmap.md
  docs/_internal/README.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(governance): use unaliased warnings import in stub modules for governance check
  Python/structural_lib/codes/is456/ductile.py
  Python/structural_lib/ductile.py
Due: mypy

TASK-709: Phase 0 completion: IS 13920 separation + architecture fix (#467)
  Python/structural_lib/codes/is13920/__init__.py
  Python/structural_lib/codes/is13920/beam.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/ductile.py
  Python/structural_lib/ductile.py
  Python/structural_lib/services/report.py
  docs/_archive/planning-completed-2026-03/hygiene-suggestions-2026-01-07.md
  docs/_archive/planning-completed-2026-03/strategic-roadmap.md
  docs/_internal/README.md
Due: mypy, check-markdown-links, check-doc-metadata

docs: Phase 0 complete, update TASKS + next-session-brief + WORKLOG
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(shear): implement enhanced shear strength near supports (IS 456 Cl 40.3, TASK-712)
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/unit/test_shear.py
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy

docs: TASK-712 complete, update TASKS + next-session-brief + WORKLOG
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

TASK-712: Enhanced shear strength for concentrated loads within 2d of supports per IS 456 Cl 40.3. New function, 14 tests, API endpoint. (#468)
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/unit/test_shear.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(infra): test assertion helpers, top-level exports, unit plausibility guards (TASK-617, 618, 619
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  Python/tests/helpers/__init__.py
  Python/tests/helpers/is456_assertions.py
Due: mypy

docs: Phase 1 Batch 4 complete (TASK-617/618/619)
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

TASK-617: Phase 1 Batch 4 infrastructure: IS 456 test helpers, structural_lib top-level exports, unit plausibility guards (#469)
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  Python/tests/helpers/__init__.py
  Python/tests/helpers/is456_assertions.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(api): TASK-618/619 export types and plausibility guards
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  docs/planning/library-expansion-blueprint-v5.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(api): TASK-618/619 export types and plausibility guards (#470)
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  docs/planning/library-expansion-blueprint-v5.md
Due: mypy, check-markdown-links, check-doc-metadata

docs: audit blueprint v5.0 progress, plan column design (TASK-630-632)
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(column): add column classification, eccentricity, and axial capacity (IS 456 Cl 25.1.2, 25.4, 3
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/common/constants.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/codes/__init__.py
  Python/tests/codes/is456/__init__.py
  Python/tests/codes/is456/column/__init__.py
  Python/tests/codes/is456/column/test_axial.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  fastapi_app/main.py
  fastapi_app/models/column.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/column.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(column): correct clause references (39.3) and slenderness boundary (< 12), update docs and wirin
  CHANGELOG.md
  Python/pyproject.toml
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  README.md
  docs/WORKLOG.md
  fastapi_app/routers/__init__.py
  fastapi_app/routers/column.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix: add column variable names to ruff ignore-names for IS 456 naming conventions
  Python/pyproject.toml
Due: check-python-version

TASK-630: Add column classification, eccentricity, and axial capacity (IS 456 Cl 25.1.2, 25.4, 39.3) (#471)
  CHANGELOG.md
  Python/pyproject.toml
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/common/constants.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/codes/__init__.py
  Python/tests/codes/is456/__init__.py
  Python/tests/codes/is456/column/__init__.py
  Python/tests/codes/is456/column/test_axial.py
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  fastapi_app/main.py
  fastapi_app/models/column.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/column.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

docs: update WORKLOG and handoff after PR #471 merge
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(ops): improve PR merge workflow — add --continue flag, document --finish behavior
  .github/agents/ops.agent.md
  scripts/ai_commit.sh
Due: none

fix(ops): improve PR merge workflow — add --continue flag, document --finish behavior (#473)
  .github/agents/ops.agent.md
  scripts/ai_commit.sh
Due: none

docs: rewrite README with best-practice structure and accurate counts
  README.md
Due: none

docs: sync stale doc numbers (routers, endpoints, API functions)
  .github/copilot-instructions.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata
