Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

Deployed 06ec1b68 with MkDocs version: 1.6.1
  api-reference/index.html
Due: none

docs: update audit, tasks, worklog for Sprint 1 P0 fixes
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 5657bdfb with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: agent evolution feedback for Sprint 1 session
  .github/agents/api-developer.agent.md
  .github/agents/structural-math.agent.md
  .github/agents/tester.agent.md
Due: none

feat: v0.22.0 Sprint 2 — 8 P1 audit fixes
  Python/pyproject.toml
  fastapi_app/routers/imports.py
  fastapi_app/tests/test_geometry_full.py
Due: check-python-version

fix: resolve CI failures — mypy re-export, test guards, xfail markers
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/services/api.py
  docs/guidelines/governance-limits.json
  fastapi_app/tests/test_column_uniaxial.py
  fastapi_app/tests/test_endpoints.py
  fastapi_app/tests/test_export_bbs_dxf.py
Due: mypy

Deployed 61e6020f with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  guidelines/governance-limits.json
  objects.inv
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: resolve 6 external PyPI audit findings
  Python/MANIFEST.in
  Python/README.md
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/traceability.py
  Python/tests/test_assertion_helpers.py
Due: mypy

fix: move pytestmark after imports to resolve ruff E402
  Python/tests/test_assertion_helpers.py
Due: none

docs: update all docs after external PyPI audit fixes
  .github/copilot-instructions.md
  CHANGELOG.md
  CLAUDE.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 0a5ee435 with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  TASKS/index.html
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

chore(release): bump version to 0.21.4
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  CHANGELOG.md
  CITATION.cff
  Python/pyproject.toml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(docs): use HEAD ref in CHANGELOG compare link until tag exists
  CHANGELOG.md
Due: none

fix(docs): correct GitHub username casing in CHANGELOG compare link
  CHANGELOG.md
Due: none

TASK-RELEASE-0214: v0.21.4 release — P0/P1 sprint + external audit fixes (#533)
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  CHANGELOG.md
  CITATION.cff
  Python/pyproject.toml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 3839a969 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  getting-started/beginners-guide/index.html
  getting-started/releases/index.html
  getting-started/user-guide/index.html
  git-automation/git-workflow-single-source/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  reference/api-stability/index.html
  reference/api/index.html
  reference/fastapi-rest-api/index.html
  search/search_index.json
  verification/validation-pack/index.html
Due: none

add IS 456 Performance Benchmarks (pytest) benchmark result for 3839a969e53f5061df1451860b4f26e4c88685fd
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
Due: none

docs: fix CHANGELOG compare link for v0.21.4
  CHANGELOG.md
Due: none

feat: v0.21.5 stabilization — bug fixes, footing API, float sanitization
  Python/README.md
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/footing/__init__.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/performance/conftest.py
  Python/tests/test_footing.py
  Python/tests/unit/test_torsion.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/error_utils.py
  fastapi_app/routers/column.py
  fastapi_app/routers/design.py
  fastapi_app/tests/test_column_uniaxial.py
Due: mypy, check-markdown-links, check-doc-metadata

fix: add 'from None' to KeyError raise for ruff B904 compliance
  Python/structural_lib/core/data_types.py
Due: mypy

fix: resolve mypy errors in data_types.py and torsion.py
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/core/data_types.py
Due: mypy

Deployed 98185046 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
  objects.inv
  planning/next-session-brief/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: React test setup, CostProfile export, doc updates
  Python/structural_lib/__init__.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  react_app/src/test/setup.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix: React test setup, CostProfile export, doc updates (#537)
  Python/structural_lib/__init__.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  react_app/src/test/setup.ts
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 2c5da3ce with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  objects.inv
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: session end — worklog, next-session-brief, handoff updated
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed cf281f0b with MkDocs version: 1.6.1
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

feat: add TopBar badges, workflow breadcrumb, triangular loads, Pareto panel (TASK-526,527,516,519)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/services/api.py
  Python/tests/unit/test_load_analysis.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/optimization.py
  fastapi_app/routers/optimization.py
  react_app/src/api/client.ts
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ParetoPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/layout/SettingsPanel.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/ui/WorkflowBreadcrumb.tsx
  react_app/src/components/ui/index.ts
  react_app/src/hooks/index.ts
  react_app/src/hooks/useParetoDesign.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix: resolve ruff N806 lint errors in load analysis tests
  Python/tests/unit/test_load_analysis.py
Due: none

fix: resolve CI failures — add AnimatePresence to framer-motion mock, relax flaky latency threshold
  fastapi_app/tests/test_load.py
  react_app/src/components/__tests__/TopBar.test.tsx
Due: none

fix: add useLocation to react-router-dom mock in ImportView test
  react_app/src/components/__tests__/ImportView.test.tsx
Due: none

TASK-V22: v0.22 features: TopBar badges, workflow breadcrumb, triangular loads, Pareto panel (TASK-526,527,516,519) (#538)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/services/api.py
  Python/tests/unit/test_load_analysis.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/optimization.py
  fastapi_app/routers/optimization.py
  fastapi_app/tests/test_load.py
  react_app/src/api/client.ts
  react_app/src/components/__tests__/ImportView.test.tsx
  react_app/src/components/__tests__/TopBar.test.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ParetoPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/layout/SettingsPanel.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/ui/WorkflowBreadcrumb.tsx
  react_app/src/components/ui/index.ts
  react_app/src/hooks/index.ts
  react_app/src/hooks/useParetoDesign.ts
Due: mypy, check-markdown-links, check-doc-metadata

Deployed c4295d61 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: fix stale endpoint counts (59→60), add Pareto to bootstrap, session evolution log
  .claude/rules/fastapi.md
  AGENTS.md
  docs/getting-started/agent-bootstrap.md
Due: check-markdown-links, check-doc-metadata

Deployed ef98b75c with MkDocs version: 1.6.1
  getting-started/agent-bootstrap/index.html
  search/search_index.json
Due: none

docs: fix stale endpoint counts (59→60), add Pareto to bootstrap, session evolution log
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/agents/ops.agent.md
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/dashboard.py
  Python/structural_lib/services/multi_objective_optimizer.py
  Python/structural_lib/services/optimization.py
  Python/structural_lib/services/report.py
  fastapi_app/tests/test_optimization_pareto.py
  react_app/src/components/__tests__/ParetoPanel.test.tsx
  react_app/src/components/__tests__/WorkflowBreadcrumb.test.tsx
Due: mypy

docs: fix stale endpoint counts (59→60), add Pareto to bootstrap, session evolution log (#539)
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/agents/ops.agent.md
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/dashboard.py
  Python/structural_lib/services/multi_objective_optimizer.py
  Python/structural_lib/services/optimization.py
  Python/structural_lib/services/report.py
  fastapi_app/tests/test_optimization_pareto.py
  react_app/src/components/__tests__/ParetoPanel.test.tsx
  react_app/src/components/__tests__/WorkflowBreadcrumb.test.tsx
Due: mypy

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
