Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs(w3): integrate beam safety execution plan
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/etabs-w3-com-vba-and-reanalysis-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-beam-integrated-plan-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(w3): integrate beam safety execution plan (#942)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/etabs-w3-com-vba-and-reanalysis-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-beam-integrated-plan-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(w3): harden long-term execution plan
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/etabs-w3-com-vba-and-reanalysis-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-beam-long-term-plan-amendment-audit-evidence.json
  docs/verification/w3-beam-long-term-plan-amendment-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(w3): bind amendment to unique branch
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/w3-beam-long-term-plan-amendment-audit-evidence.json
  docs/verification/w3-beam-long-term-plan-amendment-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(w3): harden long-term execution plan (#943)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/etabs-w3-com-vba-and-reanalysis-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-beam-long-term-plan-amendment-audit-evidence.json
  docs/verification/w3-beam-long-term-plan-amendment-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(w3): bind G0 preflight authority
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/etabs-live-g0-route-gate-preflight-evidence.json
  docs/verification/etabs-live-g0-route-gate-preflight-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(w3): bind G0 preflight authority (#944)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/etabs-live-g0-route-gate-preflight-evidence.json
  docs/verification/etabs-live-g0-route-gate-preflight-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): gate live routes by default
  .env.example
  AGENTS.md
  Dockerfile.fastapi
  docker-compose.dev.yml
  docker-compose.yml
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guidelines/ai-token-efficiency.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/guides/week3-realtime-features-guide.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/etabs-live-g0-route-gate-evidence.json
  docs/verification/etabs-live-g0-route-gate-git-handoff-receipt.json
  fastapi_app/README.md
  fastapi_app/auth.py
  fastapi_app/config.py
  fastapi_app/etabs_live_policy.py
  fastapi_app/examples/test_client.py
  fastapi_app/examples/test_client.ts
  fastapi_app/main.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/etabs_bridge.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_config.py
  fastapi_app/tests/test_etabs_bridge.py
  fastapi_app/tests/test_etabs_live_gate.py
  fastapi_app/tests/test_security.py
  fastapi_app/tests/test_websocket.py
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/hooks/__tests__/useDesignWebSocket.test.ts
  react_app/src/hooks/useDesignWebSocket.ts
  scripts/launch_stack.sh
Due: check-markdown-links, check-doc-metadata

feat(etabs): gate live routes by default (#945)
  .env.example
  AGENTS.md
  Dockerfile.fastapi
  docker-compose.dev.yml
  docker-compose.yml
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guidelines/ai-token-efficiency.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/guides/week3-realtime-features-guide.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/etabs-live-g0-route-gate-evidence.json
  docs/verification/etabs-live-g0-route-gate-git-handoff-receipt.json
  fastapi_app/README.md
  fastapi_app/auth.py
  fastapi_app/config.py
  fastapi_app/etabs_live_policy.py
  fastapi_app/examples/test_client.py
  fastapi_app/examples/test_client.ts
  fastapi_app/main.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/etabs_bridge.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_config.py
  fastapi_app/tests/test_etabs_bridge.py
  fastapi_app/tests/test_etabs_live_gate.py
  fastapi_app/tests/test_security.py
  fastapi_app/tests/test_websocket.py
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/hooks/__tests__/useDesignWebSocket.test.ts
  react_app/src/hooks/useDesignWebSocket.ts
  scripts/launch_stack.sh
Due: check-markdown-links, check-doc-metadata

feat(etabs): add offline W3 foundation contracts
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_audit.py
  Python/structural_lib/services/beam_project_contracts.py
  Python/structural_lib/services/contracts/beam_supplied_check.py
  Python/structural_lib/services/etabs_acquisition_contracts.py
  Python/structural_lib/services/etabs_live_bridge.py
  Python/structural_lib/services/etabs_operation_control.py
  Python/structural_lib/services/etabs_session_guard.py
  Python/structural_lib/services/supplied_beam_check.py
  Python/tests/unit/test_beam_audit.py
  Python/tests/unit/test_beam_project_contracts.py
  Python/tests/unit/test_beam_supplied_check_v2.py
  Python/tests/unit/test_etabs_acquisition_contracts.py
  Python/tests/unit/test_etabs_live_bridge.py
  Python/tests/unit/test_etabs_operation_control.py
  Python/tests/unit/test_etabs_session_guard.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/repo-professionalism.md
  docs/guides/README.md
  docs/guides/etabs-api-integration.md
  docs/migration/beam-supplied-check-v2.md
  docs/planning/README.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/beam-supplied-check-websocket-v2.schema.json
  docs/verification/w3-offline-etabs-foundations-git-handoff-receipt.json
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_public_documentation_contract.py
  mkdocs.yml
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/api/client.ts
  scripts/automation-map.json
  scripts/check_all.py
  scripts/check_next_session_brief_length.py
  scripts/control-plane.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(etabs): add offline W3 foundation contracts (#947)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_audit.py
  Python/structural_lib/services/beam_project_contracts.py
  Python/structural_lib/services/contracts/beam_supplied_check.py
  Python/structural_lib/services/etabs_acquisition_contracts.py
  Python/structural_lib/services/etabs_live_bridge.py
  Python/structural_lib/services/etabs_operation_control.py
  Python/structural_lib/services/etabs_session_guard.py
  Python/structural_lib/services/supplied_beam_check.py
  Python/tests/unit/test_beam_audit.py
  Python/tests/unit/test_beam_project_contracts.py
  Python/tests/unit/test_beam_supplied_check_v2.py
  Python/tests/unit/test_etabs_acquisition_contracts.py
  Python/tests/unit/test_etabs_live_bridge.py
  Python/tests/unit/test_etabs_operation_control.py
  Python/tests/unit/test_etabs_session_guard.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/repo-professionalism.md
  docs/guides/README.md
  docs/guides/etabs-api-integration.md
  docs/migration/beam-supplied-check-v2.md
  docs/planning/README.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/beam-supplied-check-websocket-v2.schema.json
  docs/verification/w3-offline-etabs-foundations-git-handoff-receipt.json
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_public_documentation_contract.py
  mkdocs.yml
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/api/client.ts
  scripts/automation-map.json
  scripts/check_all.py
  scripts/check_next_session_brief_length.py
  scripts/control-plane.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(validation): freeze commit and PR consolidation plan
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/README.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/commit-pr-validation-consolidation-plan-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(session): use canonical outcome heading
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs(validation): plan lightweight commits and batched PR checks (#948)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/README.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/commit-pr-validation-consolidation-plan-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

ci(validation): establish complete hosted parity
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_verification_control.py
  fastapi_app/routers/export.py
  scripts/validation-coverage.json
  scripts/verification-manifest.json
  scripts/verification-manifest.schema.json
  scripts/verification.py
Due: check-python-version

chore(validation): reduce commits to safety guards
  .github/skills/development-rules/SKILL.md
  .github/skills/react-validation/SKILL.md
  .github/workflows/README.md
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_git_state.py
  Python/tests/test_verification_control.py
  agents/agent-9/workflows/LINK_GOVERNANCE.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_internal/git-governance.md
  docs/architecture/unified-architecture-v1.md
  docs/contributing/development-guide.md
  docs/contributing/repo-professionalism.md
  docs/contributing/session-issues.md
  docs/contributing/testing-strategy.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/guides/testing-and-cicd-strategy.md
  docs/learning-foundations/09-git.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/verification/commit-gate-consolidation-git-handoff-receipt.json
  scripts/README.md
  scripts/check_all.py
  scripts/check_codex_git_workflow.py
Due: check-python-version, check-markdown-links, check-doc-metadata

style(validation): format hook topology tests
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_git_state.py
Due: none

fix(validation): make import scan environment independent
  Python/tests/test_verification_control.py
  scripts/validate_imports.py
Due: none

ci(validation): consolidate checks in one batched PR (#949)
  .github/skills/development-rules/SKILL.md
  .github/skills/react-validation/SKILL.md
  .github/workflows/README.md
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_git_state.py
  Python/tests/test_verification_control.py
  agents/agent-9/workflows/LINK_GOVERNANCE.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_internal/git-governance.md
  docs/architecture/unified-architecture-v1.md
  docs/contributing/development-guide.md
  docs/contributing/repo-professionalism.md
  docs/contributing/session-issues.md
  docs/contributing/testing-strategy.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/guides/testing-and-cicd-strategy.md
  docs/learning-foundations/09-git.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/verification/commit-gate-consolidation-git-handoff-receipt.json
  fastapi_app/routers/export.py
  scripts/README.md
  scripts/check_all.py
  scripts/check_codex_git_workflow.py
  scripts/validate_imports.py
  scripts/validation-coverage.json
  scripts/verification-manifest.json
  scripts/verification-manifest.schema.json
  scripts/verification.py
Due: check-python-version, check-markdown-links, check-doc-metadata

feat(beam): add signed candidate feasibility owner
  Python/structural_lib/__init__.py
  Python/structural_lib/services/beam_candidate_evaluator.py
  Python/tests/unit/test_beam_candidate_evaluator.py
Due: mypy

feat(beam): add deterministic candidate search
  Python/structural_lib/__init__.py
  Python/structural_lib/services/beam_candidate_search.py
  Python/tests/unit/test_beam_candidate_evaluator.py
  Python/tests/unit/test_beam_candidate_search.py
Due: mypy

docs(w3): freeze evaluator search milestone
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-offline-candidate-evaluator-search-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

fix(w3): reconcile candidate batch validation
  Python/structural_lib/services/beam_candidate_evaluator.py
  Python/structural_lib/services/beam_candidate_search.py
  docs/SESSION_LOG.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(beam): converge W3 candidate evaluation and search (#950)
  Python/structural_lib/__init__.py
  Python/structural_lib/services/beam_candidate_evaluator.py
  Python/structural_lib/services/beam_candidate_search.py
  Python/tests/unit/test_beam_candidate_evaluator.py
  Python/tests/unit/test_beam_candidate_search.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/verification/w3-offline-candidate-evaluator-search-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(maintenance): record urgent repository hygiene cleanup
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/verification/repository-hygiene-closeout-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(maintenance): preserve suspended sibling lanes
  docs/SESSION_LOG.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/verification/repository-hygiene-closeout-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(maintenance): close urgent repository hygiene (#951)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/commit-pr-validation-consolidation-plan.md
  docs/planning/next-session-brief.md
  docs/verification/repository-hygiene-closeout-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): start installed readonly milestone
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
Due: check-markdown-links, check-doc-metadata

feat(etabs): add exact readonly preflight
  Python/structural_lib/__init__.py
  Python/structural_lib/services/etabs_session_guard.py
  Python/tests/unit/test_etabs_session_guard.py
Due: mypy

feat(etabs): inventory frozen sqlite exports
  Python/structural_lib/__init__.py
  Python/structural_lib/services/etabs_acquisition_contracts.py
  Python/tests/unit/test_etabs_acquisition_contracts.py
Due: mypy

feat(etabs): add supervised readonly capture
  Python/structural_lib/__init__.py
  Python/structural_lib/services/etabs_installed_readonly.py
  Python/structural_lib/services/etabs_session_guard.py
  Python/tests/unit/test_etabs_installed_readonly.py
  Python/tests/unit/test_etabs_session_guard.py
Due: mypy

fix(etabs): harden readonly evidence boundaries
  Python/structural_lib/services/etabs_acquisition_contracts.py
  Python/structural_lib/services/etabs_installed_readonly.py
  Python/structural_lib/services/etabs_session_guard.py
  Python/tests/unit/test_etabs_acquisition_contracts.py
  Python/tests/unit/test_etabs_installed_readonly.py
Due: mypy

docs(etabs): record installed target hold
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/verification/etabs-w3-a1-c1-preflight-hold-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(etabs): preserve strict broker payload types
  Python/structural_lib/services/etabs_installed_readonly.py
  Python/tests/unit/test_etabs_installed_readonly.py
Due: mypy

docs(etabs): freeze installed A1 C1 evidence
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/etabs-w3-a1-c1-installed-evidence-git-handoff-receipt.json
  docs/verification/etabs-w3-a1-c1-installed-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(validation): prevent API classification timeout
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-w3-a1-c1-installed-evidence-git-handoff-receipt.json
  scripts/check_all.py
Due: check-markdown-links, check-doc-metadata

fix(etabs): order public acquisition exports
  Python/structural_lib/__init__.py
Due: mypy

fix(etabs): justify schema-derived SQL identifier
  Python/structural_lib/services/etabs_acquisition_contracts.py
  Python/tests/unit/test_etabs_acquisition_contracts.py
Due: mypy

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
