Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

feat(import): add canonical ETABS snapshot
  Python/structural_lib/imports.py
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/etabs_snapshot.py
  Python/tests/fixtures/etabs/p5_trial_export/connectivity-frame.csv
  Python/tests/fixtures/etabs/p5_trial_export/element-forces-frames.csv
  Python/tests/fixtures/etabs/p5_trial_export/selected-table-catalog.xml
  Python/tests/fixtures/etabs/p5_trial_export/trial-hall-model.e2k
  Python/tests/integration/test_capability_semantics.py
  Python/tests/unit/test_etabs_snapshot.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/README.md
  docs/guides/etabs-exported-snapshot-v1.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/specs/csv-import-schema.md
  docs/verification/lib-pro-007-p5-etabs-snapshot-evidence.json
  docs/verification/lib-pro-007-p5-etabs-snapshot-git-handoff-receipt.json
  docs/verification/lib-pro-007-p5-etabs-snapshot-git-handoff-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(import): add canonical ETABS snapshot (#857)
  Python/structural_lib/imports.py
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/etabs_snapshot.py
  Python/tests/fixtures/etabs/p5_trial_export/connectivity-frame.csv
  Python/tests/fixtures/etabs/p5_trial_export/element-forces-frames.csv
  Python/tests/fixtures/etabs/p5_trial_export/selected-table-catalog.xml
  Python/tests/fixtures/etabs/p5_trial_export/trial-hall-model.e2k
  Python/tests/integration/test_capability_semantics.py
  Python/tests/unit/test_etabs_snapshot.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/README.md
  docs/guides/etabs-exported-snapshot-v1.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/specs/csv-import-schema.md
  docs/verification/lib-pro-007-p5-etabs-snapshot-evidence.json
  docs/verification/lib-pro-007-p5-etabs-snapshot-git-handoff-receipt.json
  docs/verification/lib-pro-007-p5-etabs-snapshot-git-handoff-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(parity): preserve canonical cross-surface identity
  Python/structural_lib/services/batch.py
  Python/tests/unit/test_batch.py
  Python/tests/unit/test_excel_workbench_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/README.md
  docs/guides/cross-surface-parity-v1.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/verification/lib-pro-007-p6-cross-surface-parity-evidence.json
  docs/verification/lib-pro-007-p6-cross-surface-parity-git-handoff-receipt.json
  docs/verification/lib-pro-007-p6-cross-surface-parity-git-handoff-source-evidence.json
  fastapi_app/tests/test_lib_pro_007_p6_parity.py
  react_app/src/features/building-gravity/client.test.ts
  react_app/src/features/building-gravity/client.ts
  react_app/src/hooks/__tests__/useBatchDesign.test.ts
  react_app/src/hooks/useBatchDesign.ts
  react_app/src/workspace/__tests__/importAdapter.test.ts
  react_app/src/workspace/importAdapter.ts
  react_app/src/workspace/resultRecords.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix(parity): preserve canonical cross-surface identity (#858)
  Python/structural_lib/services/batch.py
  Python/tests/unit/test_batch.py
  Python/tests/unit/test_excel_workbench_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/README.md
  docs/guides/cross-surface-parity-v1.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/verification/lib-pro-007-p6-cross-surface-parity-evidence.json
  docs/verification/lib-pro-007-p6-cross-surface-parity-git-handoff-receipt.json
  docs/verification/lib-pro-007-p6-cross-surface-parity-git-handoff-source-evidence.json
  fastapi_app/tests/test_lib_pro_007_p6_parity.py
  react_app/src/features/building-gravity/client.test.ts
  react_app/src/features/building-gravity/client.ts
  react_app/src/hooks/__tests__/useBatchDesign.test.ts
  react_app/src/hooks/useBatchDesign.ts
  react_app/src/workspace/__tests__/importAdapter.test.ts
  react_app/src/workspace/importAdapter.ts
  react_app/src/workspace/resultRecords.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix(m0): close cumulative product acceptance
  Python/tests/integration/test_tables_and_materials_additional.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/migration/lib-pro-007-p7-compatibility-convergence.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/indian-code-capability-coverage.json
  docs/verification/lib-pro-007-m0-cumulative-acceptance-evidence.json
  docs/verification/lib-pro-007-m0-cumulative-acceptance-git-handoff-receipt.json
  docs/verification/lib-pro-007-m0-cumulative-acceptance-git-handoff-source-evidence.json
  react_app/src/features/catalog/__tests__/CatalogBeamInputPanel.test.tsx
  react_app/src/features/catalog/__tests__/validation.test.ts
  react_app/src/features/catalog/client.ts
  react_app/src/features/catalog/types.ts
  react_app/src/features/catalog/validation.ts
  scripts/check_function_quality.py
Due: check-markdown-links, check-doc-metadata

fix(m0): close cumulative product acceptance (#860)
  Python/tests/integration/test_tables_and_materials_additional.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/migration/lib-pro-007-p7-compatibility-convergence.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/indian-code-capability-coverage.json
  docs/verification/lib-pro-007-m0-cumulative-acceptance-evidence.json
  docs/verification/lib-pro-007-m0-cumulative-acceptance-git-handoff-receipt.json
  docs/verification/lib-pro-007-m0-cumulative-acceptance-git-handoff-source-evidence.json
  react_app/src/features/catalog/__tests__/CatalogBeamInputPanel.test.tsx
  react_app/src/features/catalog/__tests__/validation.test.ts
  react_app/src/features/catalog/client.ts
  react_app/src/features/catalog/types.ts
  react_app/src/features/catalog/validation.ts
  scripts/check_function_quality.py
Due: check-markdown-links, check-doc-metadata

docs(india-3): freeze g0 truth audit readiness
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-3-g0-is13920-truth-audit.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-g0-truth-audit-git-handoff-receipt.json
  docs/verification/india-3-g0-truth-audit-git-handoff-source-evidence.json
  docs/verification/india-3-g0-truth-audit-readiness.json
Due: check-markdown-links, check-doc-metadata

docs(india-3): freeze g0 truth audit readiness (#861)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-3-g0-is13920-truth-audit.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-g0-truth-audit-git-handoff-receipt.json
  docs/verification/india-3-g0-truth-audit-git-handoff-source-evidence.json
  docs/verification/india-3-g0-truth-audit-readiness.json
Due: check-markdown-links, check-doc-metadata

fix(safety): close pre-india3 validation gaps
  .github/workflows/fast-checks.yml
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_compatibility_convergence.py
  Python/tests/test_visualization_geometry_3d.py
  Python/tests/unit/test_torsion.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/lib-pro-008-pre-india3-safety-evidence.json
  docs/verification/lib-pro-008-pre-india3-safety-git-handoff-receipt.json
  docs/verification/lib-pro-008-pre-india3-safety-git-handoff-source-evidence.json
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_websocket.py
  scripts/check_public_route_safety.py
  scripts/generate_api_classification.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix(compat): stabilize optional dependency ledger
  Python/tests/test_compatibility_convergence.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/lib-pro-008-pre-india3-safety-evidence.json
  docs/verification/lib-pro-008-pre-india3-safety-git-handoff-receipt.json
  docs/verification/lib-pro-008-pre-india3-safety-git-handoff-source-evidence.json
  scripts/generate_api_classification.py
Due: check-markdown-links, check-doc-metadata

fix(safety): close pre-india3 validation gaps (#862)
  .github/workflows/fast-checks.yml
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_compatibility_convergence.py
  Python/tests/test_visualization_geometry_3d.py
  Python/tests/unit/test_torsion.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/lib-pro-008-pre-india3-safety-evidence.json
  docs/verification/lib-pro-008-pre-india3-safety-git-handoff-receipt.json
  docs/verification/lib-pro-008-pre-india3-safety-git-handoff-source-evidence.json
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_websocket.py
  scripts/check_public_route_safety.py
  scripts/generate_api_classification.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

docs(india3): freeze IS 13920 G0 decision
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-3-g0-is13920-truth-audit.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-g0-audit-decision-git-handoff-receipt.json
  docs/verification/india-3-g0-audit-decision-git-handoff-source-evidence.json
  docs/verification/india-3-g0-is13920-audit-decision.json
Due: check-markdown-links, check-doc-metadata

docs(india3): refresh G0 compatibility evidence
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/india-3-g0-audit-decision-git-handoff-receipt.json
  docs/verification/india-3-g0-audit-decision-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(india3): freeze IS 13920 G0 decision (#863)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-3-g0-is13920-truth-audit.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/india-3-g0-audit-decision-git-handoff-receipt.json
  docs/verification/india-3-g0-audit-decision-git-handoff-source-evidence.json
  docs/verification/india-3-g0-is13920-audit-decision.json
Due: check-markdown-links, check-doc-metadata

docs(india3): repair private source metadata
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-source-meta-r1-evidence.json
  docs/verification/india-3-source-meta-r1-git-handoff-receipt.json
  docs/verification/india-3-source-meta-r1-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(india3): repair private source metadata (#864)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-source-meta-r1-evidence.json
  docs/verification/india-3-source-meta-r1-git-handoff-receipt.json
  docs/verification/india-3-source-meta-r1-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(is13920): repair joint scwb contract
  Python/structural_lib/codes/is13920/joint.py
  Python/structural_lib/core/errors.py
  Python/tests/codes/is13920/test_joint.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-joint-r1-evidence.json
  docs/verification/india-3-joint-r1-git-handoff-receipt.json
  docs/verification/india-3-joint-r1-git-handoff-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(is13920): repair joint scwb contract (#866)
  Python/structural_lib/codes/is13920/joint.py
  Python/structural_lib/core/errors.py
  Python/tests/codes/is13920/test_joint.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-joint-r1-evidence.json
  docs/verification/india-3-joint-r1-git-handoff-receipt.json
  docs/verification/india-3-joint-r1-git-handoff-source-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(is13920): repair beam ductility contract
  Python/structural_lib/codes/is13920/beam.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/beam_api.py
  Python/tests/codes/is13920/test_beam.py
  Python/tests/property/strategies.py
  Python/tests/property/test_ductile_hypothesis.py
  Python/tests/unit/test_ductile.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/clause-map.json
  docs/reference/clause-map.md
  docs/reference/error-codes.md
  docs/verification/india-3-beam-r1-evidence.json
  docs/verification/india-3-beam-r1-git-handoff-receipt.json
  docs/verification/india-3-beam-r1-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  fastapi_app/models/compliance.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/design.py
  fastapi_app/tests/test_design_compliance.py
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

chore(api): refresh compatibility evidence
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/verification/india-3-beam-r1-git-handoff-receipt.json
  docs/verification/india-3-beam-r1-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(is13920): repair beam ductility contract (#867)
  Python/structural_lib/codes/is13920/beam.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/beam_api.py
  Python/tests/codes/is13920/test_beam.py
  Python/tests/property/strategies.py
  Python/tests/property/test_ductile_hypothesis.py
  Python/tests/unit/test_ductile.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/clause-map.json
  docs/reference/clause-map.md
  docs/reference/error-codes.md
  docs/verification/india-3-beam-r1-evidence.json
  docs/verification/india-3-beam-r1-git-handoff-receipt.json
  docs/verification/india-3-beam-r1-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  fastapi_app/models/compliance.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/design.py
  fastapi_app/tests/test_design_compliance.py
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(is13920): repair column confinement contract
  Python/structural_lib/codes/is13920/column.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/column_api.py
  Python/tests/codes/is13920/test_column.py
  Python/tests/test_indian_code_manifest.py
  Python/tests/unit/test_param_deprecation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/reference/clause-map.json
  docs/reference/clause-map.md
  docs/reference/error-codes.md
  docs/verification/india-3-column-r1-evidence.json
  docs/verification/india-3-column-r1-git-handoff-receipt.json
  docs/verification/india-3-column-r1-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  fastapi_app/models/column.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/column.py
  fastapi_app/tests/test_maintenance_route_coverage.py
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(is13920): repair column confinement contract (#868)
  Python/structural_lib/codes/is13920/column.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/column_api.py
  Python/tests/codes/is13920/test_column.py
  Python/tests/test_indian_code_manifest.py
  Python/tests/unit/test_param_deprecation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/reference/clause-map.json
  docs/reference/clause-map.md
  docs/reference/error-codes.md
  docs/verification/india-3-column-r1-evidence.json
  docs/verification/india-3-column-r1-git-handoff-receipt.json
  docs/verification/india-3-column-r1-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  fastapi_app/models/column.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/column.py
  fastapi_app/tests/test_maintenance_route_coverage.py
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

test(is13920): accept bounded cumulative contracts
  Python/structural_lib/codes/is456/clauses.json
  Python/tests/test_indian_code_manifest.py
  Python/tests/test_visualization_integration.py
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/verification/india-3-is13920-m0-evidence.json
  docs/verification/india-3-is13920-m0-git-handoff-receipt.json
  docs/verification/india-3-is13920-m0-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

test(is13920): accept bounded cumulative contracts (#869)
  Python/structural_lib/codes/is456/clauses.json
  Python/tests/test_indian_code_manifest.py
  Python/tests/test_visualization_integration.py
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/verification/india-3-is13920-m0-evidence.json
  docs/verification/india-3-is13920-m0-git-handoff-receipt.json
  docs/verification/india-3-is13920-m0-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

fix(safety): close bounded release trust gaps
  Python/structural_lib/services/rebar.py
  Python/tests/test_indian_code_manifest.py
  Python/tests/unit/test_rebar.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/bounded-release-candidate-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/lib-pro-009-git-handoff-receipt.json
  docs/verification/lib-pro-009-git-handoff-source-evidence.json
  docs/verification/lib-pro-009-is13920-status-semantics.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(safety): close bounded release trust gaps (#870)
  Python/structural_lib/services/rebar.py
  Python/tests/test_indian_code_manifest.py
  Python/tests/unit/test_rebar.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/bounded-release-candidate-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/indian-code-capability-coverage.json
  docs/verification/lib-pro-009-git-handoff-receipt.json
  docs/verification/lib-pro-009-git-handoff-source-evidence.json
  docs/verification/lib-pro-009-is13920-status-semantics.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(release): refresh candidate inclusion evidence
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/bounded-release-candidate-plan.md
  docs/planning/next-session-brief.md
  docs/verification/footing-release-inclusion.json
  docs/verification/lib-pro-010-rc-git-handoff-receipt.json
  docs/verification/lib-pro-010-rc-git-handoff-source-evidence.json
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

fix(column): preserve inclusive steel ratio limits
  Python/structural_lib/codes/is456/column/_common.py
  Python/tests/codes/is456/column/test_axial.py
Due: mypy

chore(release): prepare bounded v0.24.0a1 candidate
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/tests/test_bump_version_semantics.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/lib-pro-010-rc-git-handoff-receipt.json
  docs/verification/lib-pro-010-rc-git-handoff-source-evidence.json
  docs/verification/lib-pro-010-rc-local-artifact.json
  docs/verification/lib-pro-010-rc-scope-freeze.json
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
  scripts/bump_version.py
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): prepare bounded v0.24.0a1 candidate (#871)
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/column/_common.py
  Python/tests/codes/is456/column/test_axial.py
  Python/tests/test_bump_version_semantics.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/bounded-release-candidate-plan.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/footing-release-inclusion.json
  docs/verification/lib-pro-010-rc-git-handoff-receipt.json
  docs/verification/lib-pro-010-rc-git-handoff-source-evidence.json
  docs/verification/lib-pro-010-rc-local-artifact.json
  docs/verification/lib-pro-010-rc-scope-freeze.json
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
  scripts/bump_version.py
  scripts/release.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix(release): stabilize exact hosted verification
  Python/tests/test_compatibility_convergence.py
  Python/tests/test_release_scripts.py
  Python/tests/test_repo_context.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/release-0240a1-git-handoff-receipt.json
  docs/verification/release-0240a1-git-handoff-source-evidence.json
  scripts/generate_api_classification.py
Due: check-markdown-links, check-doc-metadata

fix(release): preserve frozen handoff evidence
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/release-0240a1-git-handoff-receipt-2.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

feat(release): record explicit owner review waiver
  .github/workflows/README.md
  .github/workflows/publish.yml
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  docs/verification/release-0240a1-git-handoff-receipt-3.json
  docs/verification/release-0240a1-git-handoff-source-evidence-3.json
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): authorize owner-waived v0.24.0a1
  docs/verification/release-publication-authorization.json
Due: none

chore(release): date authorized v0.24.0a1
  CHANGELOG.md
  CITATION.cff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/release-0240a1-git-handoff-receipt-4.json
Due: check-markdown-links, check-doc-metadata

chore(release): rebind v0.24.0a1 authorization
  docs/verification/release-publication-authorization.json
Due: none

fix(release): streamline next publication
  .github/skills/release-preflight/SKILL.md
  .github/workflows/README.md
  Python/tests/test_bump_version_semantics.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/verification/release-smooth-001-git-handoff-receipt.json
  docs/verification/release-smooth-001-git-handoff-source-evidence.json
  run.sh
  scripts/bump_version.py
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
