Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(security): merge Docker CI jobs, add cap_drop, sanitize stack traces (TASK-620)
  .github/workflows/docker-build.yml
  .github/workflows/security.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/main.py
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(security): fix E402 import order in main.py
  fastapi_app/main.py
Due: none

TASK-620: CI/Docker optimization + TASK-620 stack trace sanitization (#480)
  .github/workflows/docker-build.yml
  .github/workflows/security.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/main.py
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 63bff713 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

feat(column): TASK-642 five-point steel curve (IS 456 Fig 23) + TASK-636 effective length (Cl 25.2)
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/test_column_axial.py
  Python/tests/test_is456_common.py
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_effective_length.py
Due: mypy

fix(lint): add strict=True to zip, use raise-from pattern
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/services/api.py
Due: mypy

TASK-642-636: TASK-642 five-point steel stress-strain curve (IS 456 Fig 23) + TASK-636 effective length calculation (Cl 25.2, Table 28) (#481)
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/test_column_axial.py
  Python/tests/test_is456_common.py
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_effective_length.py
Due: mypy

Deployed 42aa1b55 with MkDocs version: 1.6.1
  api-reference/index.html
Due: none

feat(column): biaxial bending IS 456 Cl 39.6
  =
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/biaxial.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/test_column_biaxial.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_biaxial.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(lint): add biaxial variable names to ruff ignore list
  Python/pyproject.toml
Due: check-python-version

fix(ci): remove accidental '=' file from root directory
  =
Due: none

TASK-635: Biaxial bending check per IS 456 Cl 39.6 with Bresler formula, 84+19 tests (#482)
  Python/pyproject.toml
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/biaxial.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/test_column_biaxial.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_biaxial.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 0de6ce93 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: sync documentation after column design — 15 files updated
  .claude/rules/fastapi.md
  .github/agents/api-developer.agent.md
  .github/instructions/fastapi.instructions.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_archive/2026-03/agent-evolver-plan-v1.md
  docs/architecture/project-overview.md
  docs/docs-canonical.json
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/guides/copilot-agents-usage-guide.md
  docs/index.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/README.md
  react_app/src/api/__tests__/endpoints.test.ts
  scripts/agent_context.py
Due: check-markdown-links, check-doc-metadata

docs: fix stale API function counts (29→31 public)
  .github/copilot-instructions.md
  CLAUDE.md
  llms.txt
Due: none

DOCS-sync: Sync documentation after column design sessions — 15 files, endpoint counts, api docs, canonical registry (#483)
  .claude/rules/fastapi.md
  .github/agents/api-developer.agent.md
  .github/copilot-instructions.md
  .github/instructions/fastapi.instructions.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_archive/2026-03/agent-evolver-plan-v1.md
  docs/architecture/project-overview.md
  docs/docs-canonical.json
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/guides/copilot-agents-usage-guide.md
  docs/index.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/README.md
  llms.txt
  react_app/src/api/__tests__/endpoints.test.ts
  scripts/agent_context.py
Due: check-markdown-links, check-doc-metadata

Deployed e7d3d8a2 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  architecture/project-overview/index.html
  docs-canonical.json
  getting-started/agent-bootstrap/index.html
  getting-started/mac-mini-setup/index.html
  guides/copilot-agents-usage-guide/index.html
  index.html
  planning/next-session-brief/index.html
  reference/api/index.html
  search/search_index.json
Due: none

feat(column): additional moment for slender columns per IS 456 Cl 39.7.1
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/slenderness.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_additional_moment.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_additional_moment.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(column): resolve ruff N806/N802/C408 linting violations in slenderness module
  Python/structural_lib/codes/is456/column/slenderness.py
  Python/tests/codes/is456/column/test_additional_moment.py
Due: mypy

TASK-637: TASK-637: Additional moment for slender columns per IS 456 Cl 39.7.1 (#485)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/slenderness.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_additional_moment.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_additional_moment.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 3776e54b with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  planning/library-expansion-blueprint-v5/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: add file creation guidance to terminal rules (prevent heredoc failures)
  .github/instructions/terminal-rules.instructions.md
Due: none

chore: update endpoint count 47→48 across docs and agent files
  .claude/rules/fastapi.md
  .github/DEVELOPMENT_TIMELINE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.yml
  .github/agents/api-developer.agent.md
  .github/instructions/fastapi.instructions.md
  .github/pull_request_template.md
  .github/workflows/cost-optimizer-analysis.yml
  .github/workflows/fast-checks.yml
  .github/workflows/python-tests.yml
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/index.md
  llms.txt
  react_app/src/api/__tests__/endpoints.test.ts
  scripts/agent_context.py
Due: check-python-version, check-markdown-links, check-doc-metadata

chore: update endpoint count 47→48 across docs and agent files (#486)
  .claude/rules/fastapi.md
  .github/DEVELOPMENT_TIMELINE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.yml
  .github/agents/api-developer.agent.md
  .github/instructions/fastapi.instructions.md
  .github/pull_request_template.md
  .github/workflows/cost-optimizer-analysis.yml
  .github/workflows/fast-checks.yml
  .github/workflows/python-tests.yml
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/index.md
  llms.txt
  react_app/src/api/__tests__/endpoints.test.ts
  scripts/agent_context.py
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed e9e44f88 with MkDocs version: 1.6.1
  getting-started/agent-bootstrap/index.html
  getting-started/mac-mini-setup/index.html
  index.html
  search/search_index.json
Due: none

feat: add agent infrastructure — routing, permissions, hooks, parity, pipeline (19/23 claw-code task
  agents/agent_registry.json
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/research/claw-code-harness-ideas.md
  run.sh
  scripts/_tmp_add_groups.py
  scripts/audit_permissions.py
  scripts/automation-map.json
  scripts/config_precedence.py
  scripts/find_automation.py
  scripts/hooks/__init__.py
  scripts/hooks/__main__.py
  scripts/hooks/post_commit.py
  scripts/hooks/pre_commit.py
  scripts/hooks/pre_route.py
  scripts/parity_dashboard.py
  scripts/pipeline_state.py
  scripts/prompt_router.py
  scripts/session.py
  scripts/session_store.py
  scripts/skill_tiers.py
  scripts/test_cli_smoke.py
  scripts/tool_permissions.py
  scripts/tool_registry.py
Due: check-markdown-links, check-doc-metadata

fix: add 11 new scripts to automation-map.json and regenerate scripts index
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
Due: none

TASK-CLAW: Agent infrastructure: routing, permissions, hooks, parity, pipeline (19/23 claw-code tasks) (#487)
  agents/agent_registry.json
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/research/claw-code-harness-ideas.md
  run.sh
  scripts/_tmp_add_groups.py
  scripts/audit_permissions.py
  scripts/automation-map.json
  scripts/config_precedence.py
  scripts/find_automation.py
  scripts/hooks/__init__.py
  scripts/hooks/__main__.py
  scripts/hooks/post_commit.py
  scripts/hooks/pre_commit.py
  scripts/hooks/pre_route.py
  scripts/index.json
  scripts/index.md
  scripts/parity_dashboard.py
  scripts/pipeline_state.py
  scripts/prompt_router.py
  scripts/session.py
  scripts/session_store.py
  scripts/skill_tiers.py
  scripts/test_cli_smoke.py
  scripts/tool_permissions.py
  scripts/tool_registry.py
Due: check-markdown-links, check-doc-metadata

Deployed f208e27d with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  research/claw-code-harness-ideas/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix(security): path traversal + JSON error handling
  .github/agents/agent-evolver.agent.md
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/agents/governance.agent.md
  .github/agents/library-expert.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/security.agent.md
  .github/agents/structural-engineer.agent.md
  .github/agents/structural-math.agent.md
  .github/agents/tester.agent.md
  .github/agents/ui-designer.agent.md
  .github/copilot-instructions.md
  .github/skills/skill_tiers.json
  AGENTS.md
  CLAUDE.md
  Python/tests/test_api_surface_snapshot.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/architecture/config-precedence.md
  docs/planning/next-session-brief.md
  docs/research/claw-code-harness-ideas.md
  scripts/pipeline_state.py
  scripts/session.py
  scripts/session_store.py
  scripts/tool_permissions.py
Due: check-markdown-links, check-doc-metadata

Deployed 9d9ef66c with MkDocs version: 1.6.1
  TASKS/index.html
  architecture/config-precedence/index.html
  planning/next-session-brief/index.html
  research/claw-code-harness-ideas/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: claw-code review complete — implementation status updated, session handoff
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed fd7ad098 with MkDocs version: 1.6.1
  TASKS/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

feat: add 6 IS 456 endpoints, ReadOnlyTerminal tier, auto-scoring, router discrimination
  Python/tests/test_pipeline_state.py
  Python/tests/test_session_store.py
  agents/agent_registry.json
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/research/claw-code-harness-ideas.md
  fastapi_app/models/__init__.py
  fastapi_app/models/compliance.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  scripts/_lib/scoring.py
  scripts/agent_evolve_instructions.py
  scripts/agent_scorer.py
  scripts/audit_permissions.py
  scripts/prompt_router.py
  scripts/tool_permissions.py
Due: check-markdown-links, check-doc-metadata

docs: sync stale doc numbers (54 endpoints, 32 API funcs)
  .github/copilot-instructions.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

fix: resolve ruff N802 and F841 lint errors for CI
  Python/tests/test_session_store.py
  scripts/agent_evolve_instructions.py
  scripts/prompt_router.py
Due: none

TASK-INFRA: 6 IS 456 endpoints, ReadOnlyTerminal tier, auto-scoring, router discrimination (#488)
  .github/copilot-instructions.md
  CLAUDE.md
  Python/tests/test_pipeline_state.py
  Python/tests/test_session_store.py
  agents/agent_registry.json
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  docs/research/claw-code-harness-ideas.md
  fastapi_app/models/__init__.py
  fastapi_app/models/compliance.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  llms.txt
  scripts/_lib/scoring.py
  scripts/agent_evolve_instructions.py
  scripts/agent_scorer.py
  scripts/audit_permissions.py
  scripts/prompt_router.py
  scripts/tool_permissions.py
Due: check-markdown-links, check-doc-metadata

Deployed ab2841d6 with MkDocs version: 1.6.1
  TASKS/index.html
  getting-started/agent-bootstrap/index.html
  planning/next-session-brief/index.html
  research/claw-code-harness-ideas/index.html
  search/search_index.json
Due: none

feat(scripts): add check_clause_coverage.py — IS 456 clause gap detection
  Python/structural_lib/core/errors.py
  docs/governance/maintenance-playbook.md
  run.sh
  scripts/automation-map.json
  scripts/check_clause_coverage.py
  scripts/check_function_quality.py
  scripts/check_new_element_completeness.py
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
