Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs: update session log and planning
  docs/SESSION_LOG.md
  docs/planning/8-week-development-plan.md
  docs/planning/next-session-brief.md
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
Due: check-markdown-links, check-doc-metadata

docs: add session 81 log
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs: clarify v3 parity plan status
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
Due: check-markdown-links, check-doc-metadata

feat(api): add building geometry + rebar + cross-section endpoints + React hooks
  Python/structural_lib/visualization/geometry_3d.py
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
  fastapi_app/models/geometry.py
  fastapi_app/routers/geometry.py
  react_app/src/hooks/index.ts
  react_app/src/hooks/useBuildingGeometry.ts
  react_app/src/hooks/useRebarValidation.ts
Due: mypy, check-markdown-links, check-doc-metadata

docs: update session log and next-session-brief for Phase 2 completion
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(insights): add dashboard, code-checks, rebar-suggest
  Python/structural_lib/__init__.py
  Python/structural_lib/insights/__init__.py
  Python/structural_lib/insights/dashboard.py
  fastapi_app/main.py
  fastapi_app/models/insights.py
  fastapi_app/routers/insights.py
  react_app/src/hooks/index.ts
  react_app/src/hooks/useInsights.ts
Due: mypy

docs: refresh v3 parity plan progress
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
Due: check-markdown-links, check-doc-metadata

fix: format issues and add missing BeamGeometry import
  Python/structural_lib/imports.py
  Python/structural_lib/rebar.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/unit/test_building_geometry.py
  Python/tests/unit/test_imports.py
Due: mypy

fix: format issues and add missing imports
  Python/structural_lib/imports.py
  Python/structural_lib/insights/dashboard.py
  Python/structural_lib/rebar.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/unit/test_building_geometry.py
  Python/tests/unit/test_imports.py
Due: mypy

feat(V3): Phase 4 UI integration - optimization endpoints, cross-section geometry, editor wiring + React hooks
  Python/structural_lib/insights/__init__.py
  Python/structural_lib/insights/wrappers.py
  Python/structural_lib/optimization.py
  Python/structural_lib/visualization/__init__.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/unit/test_cross_section_geometry.py
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
  fastapi_app/main.py
  fastapi_app/models/geometry.py
  fastapi_app/models/insights.py
  fastapi_app/models/optimization.py
  fastapi_app/models/rebar.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/insights.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/rebar.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/components/DesignView.tsx
  react_app/src/components/ImportView.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useBuildingGeometry.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarTools.ts
  react_app/src/store/importedBeamsStore.ts
Due: mypy, check-markdown-links, check-doc-metadata

docs: add React UI user flow guide + update session log
  docs/SESSION_LOG.md
  docs/guides/react-ui-user-flow.md
Due: check-markdown-links, check-doc-metadata

feat(react): UI refactoring - enhanced ImportView, DesignView, Viewport3D with cross-section view + beam status utils
  docs/SESSION_LOG.md
  react_app/package-lock.json
  react_app/package.json
  react_app/src/App.tsx
  react_app/src/components/CrossSectionView.tsx
  react_app/src/components/DesignView.tsx
  react_app/src/components/ImportView.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/HomePage.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/store/importedBeamsStore.ts
  react_app/src/types/csv.ts
  react_app/src/utils/beamStatus.ts
Due: check-markdown-links, check-doc-metadata

docs: update V3 Parity plan with PR progress and proof of work
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
Due: check-markdown-links, check-doc-metadata

docs: add Session 84 entry to session log
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat(api): add building geometry, cross-section, and rebar endpoints
  fastapi_app/main.py
  fastapi_app/models/geometry.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/rebar.py
Due: none

docs: update V3 Parity plan and Session 84 with FastAPI endpoints progress
  docs/SESSION_LOG.md
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
Due: check-markdown-links, check-doc-metadata

style: format FastAPI files with black
  fastapi_app/models/geometry.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/rebar.py
Due: none

feat(react): UI refactoring - enhanced ImportView, DesignView, Viewport3D with cross-section view + beam status utils (#418)
  react_app/package-lock.json
  react_app/package.json
  react_app/src/App.tsx
  react_app/src/components/CrossSectionView.tsx
  react_app/src/components/DesignView.tsx
  react_app/src/components/ImportView.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/HomePage.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/store/importedBeamsStore.ts
  react_app/src/types/csv.ts
  react_app/src/utils/beamStatus.ts
Due: none

fix: remove unused io import from imports router
  fastapi_app/routers/imports.py
Due: none

fix(ci): add python-multipart and docker load for CI
  .github/workflows/docker-build.yml
  .github/workflows/fast-checks.yml
Due: check-python-version

TASK-FASTAPI-ENDPOINTS: Add building geometry, cross-section, and rebar FastAPI endpoints (#419)
  .github/workflows/docker-build.yml
  .github/workflows/fast-checks.yml
  fastapi_app/main.py
  fastapi_app/models/geometry.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/rebar.py
Due: check-python-version

feat(api): add insights endpoints + React hooks for dashboard, code checks, rebar
  Python/structural_lib/dashboard.py
  fastapi_app/main.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/insights.py
  react_app/src/hooks/index.ts
  react_app/src/hooks/useGeometryAdvanced.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarEditor.ts
Due: mypy

docs: update V3 Parity plan - all phases complete
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
Due: check-markdown-links, check-doc-metadata

style: format Python files for CI
  Python/structural_lib/dashboard.py
  Python/structural_lib/rebar.py
  Python/tests/unit/test_imports.py
Due: mypy

fix: resolve ruff UP035/UP037/I001 errors
  Python/structural_lib/imports.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/unit/test_building_geometry.py
Due: mypy

fix: add type ignore comments for mypy errors
  Python/structural_lib/batch.py
  Python/structural_lib/imports.py
  Python/structural_lib/rebar.py
Due: mypy

TASK-INSIGHTS: Add insights endpoints and React hooks (#420)
  Python/structural_lib/batch.py
  Python/structural_lib/dashboard.py
  Python/structural_lib/imports.py
  Python/structural_lib/rebar.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/unit/test_building_geometry.py
  Python/tests/unit/test_imports.py
  fastapi_app/main.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/insights.py
  react_app/src/hooks/index.ts
  react_app/src/hooks/useGeometryAdvanced.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarEditor.ts
Due: mypy

docs: update TASKS.md and SESSION_LOG.md for Session 85
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(3d): improve visualization with labels, floor fade, and adjacent beams
  react_app/src/components/DesignView.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/hooks/useInsights.ts
Due: none

feat(3d): improve visualization with labels, floor fade, and adjacent beams (#421)
  react_app/src/components/DesignView.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/hooks/useInsights.ts
Due: none

docs: update SESSION_LOG for Session 86 (3D improvements)
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

fix(3d): center beam in design view, fix camera control after transition
  docs/SESSION_LOG.md
  react_app/src/components/Viewport3D.tsx
Due: check-markdown-links, check-doc-metadata

fix(3d): center beam in design view, fix camera control after transition (#422)
  docs/SESSION_LOG.md
  react_app/src/components/Viewport3D.tsx
Due: check-markdown-links, check-doc-metadata

docs: update agent guides with V3 stack details
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/agent-essentials.md
Due: check-markdown-links, check-doc-metadata

docs: update Session 87 progress in session log
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(react): resolve hooks error, 3D rendering, dual CSV UI
  docker-compose.dev.yml
  docker-compose.yml
  react_app/src/components/ImportView.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/ui/FileDropZone.tsx
Due: none

docs: consolidate agent instructions into thin entry points + shared bootstrap
  .claude/rules/docs.md
  .claude/rules/fastapi.md
  .claude/rules/python-core.md
  .claude/rules/react.md
  .claude/rules/streamlit.md
  .claude/rules/vba.md
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/python-core.instructions.md
  .github/instructions/react.instructions.md
  .github/instructions/streamlit.instructions.md
  .github/instructions/vba.instructions.md
  CLAUDE.md
  docs/README.md
  docs/agents/guides/agent-bootstrap-complete-review.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/contributing/agent-onboarding-message.md
  docs/contributing/learning-paths.md
  docs/getting-started/README.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/agent-essentials.md
  docs/getting-started/ai-context-pack.md
  docs/getting-started/index.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

feat: add migration scripts and update folder structure plan (Phase 0)
  .github/copilot-instructions.md
  .github/instructions/python-core.instructions.md
  .github/instructions/react.instructions.md
  CLAUDE.md
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  docs/SESSION_LOG.md
  docs/planning/folder-structure-migration-v2.md
  scripts/generate_enhanced_index.py
  scripts/migrate_python_module.py
  scripts/migrate_react_component.py
  scripts/validate_imports.py
Due: check-markdown-links, check-doc-metadata
