Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(deps): guard Python 3.11 compatibility (#712)
  .github/dependabot.yml
Due: none

docs(ui): archive superseded React UX plan
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/react-ux-improvement-plan.md
Due: check-markdown-links, check-doc-metadata

docs(ui): activate UIX-001 Session 1 (#718)
  .codex/config.toml
  Python/tests/test_model_picker.py
  Python/tests/test_token_efficiency.py
  agents/model_policy.json
  docs/TASKS.md
  docs/guidelines/ai-token-efficiency.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/react-ux-improvement-plan.md
  docs/planning/ui-experience-foundation-master-plan.md
  scripts/check_token_efficiency.py
  scripts/model_picker.py
Due: check-markdown-links, check-doc-metadata

docs(ui): lock Session 1 experience contracts
  docs/TASKS.md
  docs/index.json
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/ui-experience-foundation-master-plan.md
Due: check-markdown-links, check-doc-metadata

feat(ui): simplify workbench navigation shell
  react_app/src/App.tsx
  react_app/src/app/__tests__/navigation.test.ts
  react_app/src/app/navigation.ts
  react_app/src/components/__tests__/HomePage.test.tsx
  react_app/src/components/__tests__/TopBar.test.tsx
  react_app/src/components/__tests__/WorkbenchHomePage.test.tsx
  react_app/src/components/__tests__/WorkflowBreadcrumb.test.tsx
  react_app/src/components/index.json
  react_app/src/components/index.md
  react_app/src/components/layout/SettingsPanel.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/HomePage.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/components/ui/FloatingDock.tsx
  react_app/src/components/ui/WorkflowBreadcrumb.tsx
  react_app/src/components/workbench/WorkbenchShell.tsx
  react_app/src/components/workbench/index.json
  react_app/src/index.json
  react_app/src/index.md
  react_app/vite.config.ts
Due: none

feat(workspace): complete durable project state
  react_app/src/workspace/__tests__/autosave.test.ts
  react_app/src/workspace/__tests__/fakeIndexedDb.ts
  react_app/src/workspace/__tests__/persistence.test.ts
  react_app/src/workspace/__tests__/workspaceStore.test.ts
  react_app/src/workspace/autosave.ts
  react_app/src/workspace/persistence.ts
  react_app/src/workspace/types.ts
  react_app/src/workspace/workspaceStore.ts
Due: none

feat(workspace): connect durable autosave runtime
  react_app/src/App.tsx
  react_app/src/index.json
  react_app/src/index.md
  react_app/src/workspace/WorkspacePersistenceBridge.tsx
  react_app/src/workspace/__tests__/WorkspacePersistenceBridge.test.tsx
  react_app/src/workspace/index.json
  react_app/src/workspace/index.md
  react_app/src/workspace/workspaceStore.ts
Due: none

docs(ui): accept P2 and P3 foundations
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/ui-experience-foundation-master-plan.md
Due: check-markdown-links, check-doc-metadata

feat(ui): make quick design revision safe
  react_app/src/components/__tests__/DesignView.test.tsx
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/hooks/__tests__/useAutoDesign.test.ts
  react_app/src/hooks/__tests__/useLiveDesign.test.tsx
  react_app/src/hooks/useAutoDesign.ts
  react_app/src/hooks/useLiveDesign.ts
  react_app/src/store/__tests__/designStore.test.ts
  react_app/src/store/designStore.ts
Due: none

feat(ui): preserve imported project identity
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/imports.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/api/client.ts
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/hooks/useCSVImport.ts
  react_app/src/store/__tests__/importedBeamsStore.test.ts
  react_app/src/store/importedBeamsStore.ts
  react_app/src/types/csv.ts
  react_app/src/utils/sampleData.ts
  react_app/src/workspace/WorkspacePersistenceBridge.tsx
  react_app/src/workspace/__tests__/WorkspacePersistenceBridge.test.tsx
  react_app/src/workspace/__tests__/importAdapter.test.ts
  react_app/src/workspace/__tests__/workspaceStore.test.ts
  react_app/src/workspace/importAdapter.ts
  react_app/src/workspace/workspaceStore.ts
Due: none

feat(ui): bind batch evidence to workspace revisions
  Python/structural_lib/services/batch.py
  Python/tests/unit/test_batch.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/imports.py
  fastapi_app/tests/test_endpoints.py
  fastapi_app/tests/test_streaming.py
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/hooks/__tests__/useBatchDesign.test.ts
  react_app/src/hooks/useBatchDesign.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/workspace/importAdapter.ts
  react_app/src/workspace/resultRecords.ts
Due: mypy

feat(ui): add authoritative viewport inspection
  docs/reference/3d-json-contract.md
  docs/reference/index.json
  docs/reference/index.md
  react_app/src/components/viewport/BeamDetailLayer.tsx
  react_app/src/components/viewport/BuildingCameraRig.tsx
  react_app/src/components/viewport/BuildingScene.tsx
  react_app/src/components/viewport/DesignScene.tsx
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/components/viewport/ViewportOverlay.tsx
  react_app/src/components/viewport/__tests__/ViewportOverlay.test.tsx
  react_app/src/components/viewport/__tests__/viewportContracts.test.ts
  react_app/src/components/viewport/buildingGeometry.ts
  react_app/src/components/viewport/cameraModel.ts
  react_app/src/components/viewport/index.json
  react_app/src/components/viewport/index.md
  react_app/src/components/viewport/inspectionModel.ts
  react_app/src/components/viewport/renderPrimitives.tsx
  react_app/src/hooks/__tests__/useBeamGeometry.test.ts
  react_app/src/hooks/useBeamGeometry.ts
Due: check-markdown-links, check-doc-metadata

fix(ui): make viewport verification responsive
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/components/viewport/ViewportMetricsProbe.tsx
  react_app/src/components/viewport/ViewportOverlay.tsx
  react_app/src/components/viewport/index.json
  react_app/src/components/viewport/index.md
Due: none

fix(ui): keep project batch results reachable
  fastapi_app/routers/index.json
  fastapi_app/routers/streaming.py
  fastapi_app/tests/index.json
  fastapi_app/tests/test_streaming.py
  react_app/src/components/__tests__/WorkflowBreadcrumb.test.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/ui/WorkflowBreadcrumb.tsx
  react_app/src/hooks/__tests__/useBatchDesign.test.ts
  react_app/src/hooks/index.json
  react_app/src/hooks/useBatchDesign.ts
Due: none

docs(ui): accept session one closeout
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/ui-experience-foundation-master-plan.md
  fastapi_app/openapi_baseline.json
Due: check-markdown-links, check-doc-metadata

fix(agents): enforce root-cause session records
  .github/agents/doc-master.agent.md
  .github/agents/orchestrator.agent.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

feat(catalog): publish beam workflow discovery
  Python/structural_lib/services/api.py
  Python/structural_lib/services/workflow_catalog.py
  Python/tests/test_workflow_catalog.py
  docs/SESSION_LOG.md
  docs/reference/api-stability.md
  docs/reference/api.md
  fastapi_app/main.py
  fastapi_app/models/catalog.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/__init__.py
  fastapi_app/routers/catalog.py
  fastapi_app/tests/test_catalog.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(ui): render beam inputs from catalogue
  docs/SESSION_LOG.md
  react_app/src/App.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/features/catalog/CatalogBeamInputPanel.tsx
  react_app/src/features/catalog/__tests__/CatalogBeamInputPanel.test.tsx
  react_app/src/features/catalog/__tests__/validation.test.ts
  react_app/src/features/catalog/client.ts
  react_app/src/features/catalog/types.ts
  react_app/src/features/catalog/useWorkflowCatalog.ts
  react_app/src/features/catalog/validation.ts
  react_app/src/features/workflows/CatalogDesignView.tsx
Due: check-markdown-links, check-doc-metadata

feat(workflows): add bounded beam composer
  .env.example
  Python/structural_lib/services/workflow_runner.py
  Python/tests/test_session_automation.py
  Python/tests/test_workflow_runner.py
  docs/SESSION_LOG.md
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/models/workflows.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/__init__.py
  fastapi_app/routers/workflows.py
  fastapi_app/tests/test_workflows.py
  react_app/.env.example
  react_app/src/App.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/features/automation/WorkflowComposerPage.tsx
  react_app/src/features/automation/__tests__/WorkflowComposerPage.test.tsx
  react_app/src/features/automation/__tests__/draft.test.ts
  react_app/src/features/automation/client.ts
  react_app/src/features/automation/config.ts
  react_app/src/features/automation/draft.ts
  react_app/src/features/automation/types.ts
  react_app/src/features/catalog/CatalogBeamInputPanel.tsx
  react_app/src/vite-env.d.ts
  scripts/check_api.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(catalog): generate beam tool manifest
  .pre-commit-config.yaml
  Python/structural_lib/services/tool_manifest.py
  Python/structural_lib/services/workflow_catalog.py
  Python/tests/test_session_automation.py
  Python/tests/test_tool_manifest.py
  Python/tests/test_workflow_catalog.py
  docs/README.md
  docs/SESSION_LOG.md
  docs/reference/README.md
  docs/reference/beam-tool-manifest.json
  docs/reference/beam-tool-manifest.md
  react_app/src/features/catalog/__tests__/CatalogBeamInputPanel.test.tsx
  scripts/automation-map.json
  scripts/generate_beam_tool_manifest.py
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(ui): cut over canonical workbench routes
  docs/SESSION_LOG.md
  docs/guidelines/folder-structure-governance.md
  docs/guides/react-ui-user-flow.md
  react_app/.env.example
  react_app/src/App.tsx
  react_app/src/app/RouteGuards.tsx
  react_app/src/app/__tests__/RouteGuards.test.tsx
  react_app/src/components/__tests__/DesignView.test.tsx
  react_app/src/components/__tests__/WorkbenchHomePage.test.tsx
  react_app/src/components/__tests__/WorkflowBreadcrumb.test.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/components/ui/WorkflowBreadcrumb.tsx
  react_app/src/features/catalog/__tests__/config.test.ts
  react_app/src/features/catalog/config.ts
  react_app/src/vite-env.d.ts
Due: check-markdown-links, check-doc-metadata

fix(ui): complete integrated workbench acceptance
  CHANGELOG.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/ui-experience-foundation-master-plan.md
  docs/reference/api-manifest.json
  docs/reference/beam-tool-manifest.md
  docs/verification/README.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/ui-experience-session-2-acceptance.md
  react_app/src/app/RouteGuards.tsx
  react_app/src/app/__tests__/RouteGuards.test.tsx
  react_app/src/components/__tests__/DesignView.test.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/hooks/__tests__/useLiveDesign.test.tsx
  react_app/src/hooks/useLiveDesign.ts
Due: check-markdown-links, check-doc-metadata

fix(ui): satisfy clean React hooks lint
  docs/SESSION_LOG.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/ui-experience-session-2-acceptance.md
  react_app/src/hooks/useLiveDesign.ts
Due: check-markdown-links, check-doc-metadata

docs(is456): plan solid slab expansion
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-solid-slabs-master-plan.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(column): add experimental generalized pmm solver
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/index.json
  Python/structural_lib/codes/index.md
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/index.json
  Python/structural_lib/codes/is456/column/index.md
  Python/structural_lib/codes/is456/column/pmm.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/structural_lib/services/api.py
  Python/structural_lib/services/column_api.py
  Python/tests/codes/is456/column/test_pmm.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/planning/column-generalized-reinforcement-pmm-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  scripts/check_function_quality.py
  scripts/generate_all_indexes.sh
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): complete bounded solid slab workflows
  AGENTS.md
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/slab/__init__.py
  Python/structural_lib/codes/is456/slab/built_in_coefficients.py
  Python/structural_lib/codes/is456/slab/coefficients.py
  Python/structural_lib/codes/is456/slab/detailing.py
  Python/structural_lib/codes/is456/slab/one_way_continuous.py
  Python/structural_lib/codes/is456/slab/serviceability.py
  Python/structural_lib/codes/is456/slab/shear.py
  Python/structural_lib/codes/is456/slab/topology.py
  Python/structural_lib/codes/is456/slab/two_way_complete.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/slab_api.py
  Python/tests/codes/is456/slab/test_built_in_coefficients.py
  Python/tests/codes/is456/slab/test_extended_workflows.py
  Python/tests/integration/test_api_entrypoints_is456.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/is456-solid-slabs-master-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/is456-slab-evidence.md
  fastapi_app/models/library_core.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/library_core.py
  fastapi_app/tests/test_library_core.py
  react_app/src/App.tsx
  react_app/src/app/navigation.ts
  react_app/src/components/__tests__/WorkbenchHomePage.test.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/features/slabs/SlabPanelMap.tsx
  react_app/src/features/slabs/SlabWorkbenchPage.test.tsx
  react_app/src/features/slabs/SlabWorkbenchPage.tsx
  react_app/src/features/slabs/client.ts
  react_app/src/features/slabs/types.ts
Due: mypy, check-markdown-links, check-doc-metadata

feat(workflow): add lane-safe task intake
  .github/skills/session-management/SKILL.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  agents/agent_registry.json
  agents/index.json
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/index.md
  run.sh
  scripts/README.md
  scripts/automation-map.json
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/index.md
  scripts/prompt_router.py
  scripts/python_runtime.sh
  scripts/test_cli_smoke.py
Due: check-markdown-links, check-doc-metadata

docs(maintenance): sync slab API counts
  docs/SESSION_LOG.md
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

fix(workflow): make Git maintenance worktree-safe
  Python/index.json
  Python/index.md
  Python/tests/test_agent_governance_automation.py
  agents/agent-9/index.json
  agents/agent-9/index.md
  docs/SESSION_LOG.md
  docs/developers/index.json
  docs/developers/index.md
  docs/git-automation/git-workflow-single-source.md
  docs/index.json
  docs/research/index.json
  docs/research/index.md
  docs/verification/index.json
  scripts/generate_all_indexes.sh
  scripts/index.json
Due: check-markdown-links, check-doc-metadata

fix(is456): close slab workflow truth and review UI
  Python/structural_lib/codes/is456/slab/one_way.py
  Python/structural_lib/codes/is456/slab/one_way_detailing.py
  Python/structural_lib/codes/is456/slab/two_way_complete.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/slab_api.py
  Python/tests/codes/is456/slab/test_built_in_coefficients.py
  Python/tests/codes/is456/slab/test_extended_workflows.py
  docs/SESSION_LOG.md
  docs/planning/is456-solid-slabs-master-plan.md
  docs/verification/is456-slab-evidence.md
  fastapi_app/tests/test_library_core.py
  react_app/src/features/slabs/SlabWorkbenchPage.test.tsx
  react_app/src/features/slabs/SlabWorkbenchPage.tsx
Due: mypy, check-markdown-links, check-doc-metadata

feat(column): add rectangular review workflow
  Python/structural_lib/services/column_api.py
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  fastapi_app/models/column.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_review_response.py
  react_app/src/App.tsx
  react_app/src/components/__tests__/WorkbenchHomePage.test.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/features/columns/ColumnInputEditor.tsx
  react_app/src/features/columns/ColumnResultReviewer.tsx
  react_app/src/features/columns/ColumnReviewWorkspace.tsx
  react_app/src/features/columns/__tests__/ColumnReviewWorkspace.test.tsx
  react_app/src/features/columns/__tests__/api.test.ts
  react_app/src/features/columns/api.ts
  react_app/src/features/columns/defaults.ts
  react_app/src/features/columns/identity.ts
  react_app/src/features/columns/index.ts
  react_app/src/features/columns/types.ts
  scripts/python_runtime.sh
Due: mypy, check-markdown-links, check-doc-metadata

fix(column): expose slender end moments
  docs/SESSION_LOG.md
  react_app/src/features/columns/ColumnInputEditor.tsx
  react_app/src/features/columns/__tests__/ColumnReviewWorkspace.test.tsx
Due: check-markdown-links, check-doc-metadata

feat(beam): integrate primary torsion route
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/capabilities.py
  Python/structural_lib/services/evidence.py
  Python/structural_lib/services/workflow_catalog.py
  Python/tests/integration/test_beam_primary_route_torsion.py
  Python/tests/test_evidence.py
  Python/tests/test_workflow_catalog.py
  docs/SESSION_LOG.md
  docs/reference/api-manifest.json
  docs/reference/beam-tool-manifest.json
  fastapi_app/models/beam.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/design.py
  fastapi_app/routers/export.py
  fastapi_app/tests/test_beam_primary_route.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/api/client.ts
  react_app/src/components/__tests__/DesignView.test.tsx
  react_app/src/components/__tests__/ExportPanel.test.tsx
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ExportPanel.tsx
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/features/catalog/__tests__/CatalogBeamInputPanel.test.tsx
  react_app/src/features/catalog/__tests__/validation.test.ts
  react_app/src/features/catalog/client.ts
  react_app/src/features/catalog/types.ts
  react_app/src/features/catalog/validation.ts
  react_app/src/hooks/__tests__/useDesignWebSocket.test.ts
  react_app/src/hooks/__tests__/useLiveDesign.test.tsx
  react_app/src/hooks/useDesignWebSocket.ts
  react_app/src/hooks/useExport.ts
  react_app/src/hooks/useLiveDesign.ts
  react_app/src/store/designStore.ts
  react_app/src/utils/__tests__/trustPresentation.test.ts
  react_app/src/utils/trustPresentation.ts
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
