Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs: post-review fixes + Batch 3 API naming plan
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 27ad669f with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

refactor(api): standardize parameter naming convention (fck→fck_nmm2, fy→fy_nmm2)
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/column_api.py
  Python/tests/integration/test_contracts.py
  Python/tests/test_column_return_types.py
  Python/tests/unit/test_param_deprecation.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(tests): resolve ruff lint warnings in test_param_deprecation
  Python/tests/unit/test_param_deprecation.py
Due: none

fix(types): add type annotations to _resolve_deprecated_param helpers
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/column_api.py
Due: mypy

TASK-740: Batch 3: API naming convention — 12 functions across column_api + beam_api renamed with backward-compatible deprecated aliases (#546)
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/column_api.py
  Python/tests/integration/test_contracts.py
  Python/tests/test_column_return_types.py
  Python/tests/unit/test_param_deprecation.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed cc458a8b with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  architecture/unified-architecture-v1/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(types): resolve 28+ Pylance type errors via TypeVar in deprecated param helper
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/column_api.py
  Python/tests/unit/test_coverage_boost_is456.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  pyrightconfig.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(ci): bump root file limit to 20 for pyrightconfig.json
  docs/guidelines/governance-limits.json
Due: none

TASK-746: Resolve 28+ Pylance type errors via TypeVar in deprecated param helper (#547)
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/column_api.py
  Python/tests/unit/test_coverage_boost_is456.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guidelines/governance-limits.json
  docs/planning/next-session-brief.md
  pyrightconfig.json
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 56abf14c with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  guidelines/governance-limits.json
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: 4-agent review — fix TASK ID conflicts, severity corrections, add AR-* findings
  agents/agent_registry.json
  docs/TASKS.md
  docs/audit/audit-readiness.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

docs: v0.21.7 execution plan — 14 tasks, 7 priority groups, 4-session timeline
  docs/_active/v0217-execution-plan.md
Due: check-markdown-links, check-doc-metadata

feat(api): v0.21.7 P1-P3 security hardening
  CHANGELOG.md
  Python/README.md
  Python/tests/test_api_stability.py
  docs/TASKS.md
  docs/git-automation/README.md
  docs/planning/next-session-brief.md
  fastapi_app/error_utils.py
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/column.py
  fastapi_app/models/geometry.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/rebar.py
  fastapi_app/tests/test_error_sanitization.py
  fastapi_app/tests/test_plausibility_validators.py
Due: check-markdown-links, check-doc-metadata

fix: correct CHANGELOG compare links and remove broken doc link
  CHANGELOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

ci: exclude GitHub compare URLs from link checker (unreleased tags always 404)
  .github/workflows/link-check.yml
Due: check-python-version

feat(api): v0.21.7 P1-P3 security hardening (#549)
  .github/workflows/link-check.yml
  CHANGELOG.md
  Python/README.md
  Python/tests/test_api_stability.py
  docs/TASKS.md
  docs/git-automation/README.md
  docs/planning/next-session-brief.md
  fastapi_app/error_utils.py
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/column.py
  fastapi_app/models/geometry.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/rebar.py
  fastapi_app/tests/test_error_sanitization.py
  fastapi_app/tests/test_plausibility_validators.py
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed b127fe35 with MkDocs version: 1.6.1
  TASKS/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(ci): resolve 5 daily CI failures on main
  .github/workflows/nightly.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  Python/structural_lib/insights/design_suggestions.py
  Python/structural_lib/insights/smart_designer.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/research/research_generative_design.py
  Python/structural_lib/services/multi_objective_optimizer.py
  Python/structural_lib/services/optimization.py
  Python/tests/test_timing_regression.py
  fastapi_app/openapi_baseline.json
Due: mypy, check-python-version

fix(ci): resolve 5 daily CI failures on main (#550)
  .github/workflows/nightly.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  Python/structural_lib/insights/design_suggestions.py
  Python/structural_lib/insights/smart_designer.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/research/research_generative_design.py
  Python/structural_lib/services/multi_objective_optimizer.py
  Python/structural_lib/services/optimization.py
  Python/tests/test_timing_regression.py
  fastapi_app/openapi_baseline.json
Due: mypy, check-python-version

Deployed 7452a7cd with MkDocs version: 1.6.1
  api-reference/index.html
  search/search_index.json
Due: none

docs: update logs for CI fixes (PR #550)
  CHANGELOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 719286ad with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: agent evolution updates — 6 instruction improvements (EVO-022–027)
  .github/agents/agent-evolver.agent.md
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/ops.agent.md
  .github/agents/security.agent.md
  .github/agents/tester.agent.md
Due: none

docs: enforce full agent file reading in orchestrator handoff template
  .github/agents/orchestrator.agent.md
Due: none

fix(ci): update OpenAPI baseline to match current schema (23 drift diffs)
  fastapi_app/openapi_baseline.json
Due: none

fix(ci): update OpenAPI baseline to match current schema (23 drift diffs) (#551)
  fastapi_app/openapi_baseline.json
Due: none

chore(release): v0.21.6 version sync + preflight docs
  Python/structural_lib/services/common_api.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/src/components/layout/SettingsPanel.tsx
  scripts/bump_version.py
Due: mypy, check-markdown-links, check-doc-metadata

chore(release): v0.21.6 version sync + preflight docs (#552)
  Python/structural_lib/services/common_api.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/src/components/layout/SettingsPanel.tsx
  scripts/bump_version.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 0d6a0152 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  getting-started/releases/index.html
  getting-started/user-guide/index.html
  git-automation/git-workflow-single-source/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  reference/api-stability/index.html
  reference/api/index.html
  reference/fastapi-rest-api/index.html
  search/search_index.json
  verification/validation-pack/index.html
Due: none

docs: fix 3 CI failures — api.md symbols, api-stability sync, session heading
  docs/planning/next-session-brief.md
  docs/reference/api-stability.md
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

Deployed 99d18b5a with MkDocs version: 1.6.1
  planning/next-session-brief/index.html
  reference/api-stability/index.html
  reference/api/index.html
  search/search_index.json
Due: none

docs: fix 7 version pattern warnings and session brief structure
  Python/README.md
  docs/TASKS.md
  docs/getting-started/python-quickstart.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api.md
  docs/verification/examples.md
Due: check-markdown-links, check-doc-metadata

Deployed 62d939f0 with MkDocs version: 1.6.1
  TASKS/index.html
  getting-started/python-quickstart/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  reference/api/index.html
  search/search_index.json
  verification/examples/index.html
Due: none

docs: add SESSION_LOG entry for 2026-04-07 (CI fix)
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

Deployed e08865a6 with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  search/search_index.json
Due: none

add IS 456 Performance Benchmarks (pytest) benchmark result for e08865a69444f79ebc9a5e3f56bc7222615cf5b1
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
Due: none

docs: add SESSION_LOG entry for 2026-04-07 (CI fix)
  docs/migration/01-adr-library-separation.md
  docs/migration/02-library-research.md
  docs/migration/03-library-repo-blueprint.md
  docs/migration/04-app-repo-blueprint.md
  docs/migration/05-agents-and-automation.md
  docs/migration/06-ci-cd-and-tooling.md
  docs/migration/07-migration-steps.md
  docs/migration/08-naming-and-accounts.md
  docs/migration/09-standards-and-rules.md
  docs/migration/10-function-classification.md
  docs/migration/11-complete-function-enumeration.md
  docs/migration/README.md
  docs/research/2026-python-toolchain-report.md
  docs/research/2026-state-of-the-art-report.md
  docs/research/claw-code-harness-ideas.md
Due: check-markdown-links, check-doc-metadata

Deployed 3049419a with MkDocs version: 1.6.1
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
  migration/01-adr-library-separation/index.html
  migration/02-library-research/index.html
  migration/03-library-repo-blueprint/index.html
  migration/04-app-repo-blueprint/index.html
  migration/05-agents-and-automation/index.html
  migration/06-ci-cd-and-tooling/index.html
  migration/07-migration-steps/index.html
  migration/08-naming-and-accounts/index.html
  migration/09-standards-and-rules/index.html
  migration/10-function-classification/index.html
  migration/11-complete-function-enumeration/index.html
  research/2026-python-toolchain-report/index.html
  research/2026-state-of-the-art-report/index.html
  research/claw-code-harness-ideas/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tags.json
Due: none

docs(migration): update all docs to v2 with multi-code and 2026 tooling
  docs/migration/01-adr-library-separation.md
  docs/migration/02-library-research.md
  docs/migration/03-library-repo-blueprint.md
  docs/migration/04-app-repo-blueprint.md
  docs/migration/05-agents-and-automation.md
  docs/migration/06-ci-cd-and-tooling.md
  docs/migration/07-migration-steps.md
  docs/migration/08-naming-and-accounts.md
  docs/migration/09-standards-and-rules.md
  docs/migration/10-function-classification.md
  docs/migration/README.md
Due: check-markdown-links, check-doc-metadata
