Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

add IS 456 Performance Benchmarks (pytest) benchmark result for fa854e0ff463ea5b50e3aae7c379b852d49b191a
  dev/benchmark-data/data.js
Due: none

fix(maintenance): restore Mac baseline and nightly pipeline
  .github/workflows/fast-checks.yml
  .github/workflows/nightly.yml
  .nvmrc
  .python-version
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_active/unified-cli-upgrade-plan.md
  docs/_archive/2026-02/folder-structure-migration-v2.md
  docs/_archive/planning-completed-2026-03/github-fix-plan.md
  docs/_archive/planning-completed-2026-03/post-cleanup-issues.md
  docs/getting-started/installation-notes.md
  docs/getting-started/mac-mini-setup.md
  docs/migration/01-adr-library-separation.md
  docs/migration/learning/day-05-columns.md
  docs/migration/learning/day-28-innovation-tools.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
  docs/reference/automation-catalog.md
  react_app/package-lock.json
  react_app/package.json
  run.sh
  scripts/_archive/test_import_3d_pipeline.py
  scripts/automation-map.json
  scripts/test_import_pipeline.py
  scripts/test_sample_endpoint.py
  scripts/validate_imports.py
Due: check-python-version, check-markdown-links, check-doc-metadata

docs(maintenance): finalize recovery handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/maintenance-recovery-audit-2026-08-07.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(maintenance): restore full-stack runtime confidence
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
  fastapi_app/routers/imports.py
  fastapi_app/tests/test_endpoints.py
  fastapi_app/tests/test_maintenance_route_coverage.py
  react_app/src/components/design/ProjectBOQPanel.tsx
  react_app/src/components/import/BeamTable.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
  react_app/src/types/csv.ts
  react_app/src/utils/__tests__/beamStatus.test.ts
  react_app/src/utils/__tests__/quantities.test.ts
  react_app/src/utils/beamStatus.ts
  react_app/src/utils/quantities.ts
  scripts/launch_stack.sh
Due: none

docs(maintenance): record full-stack confidence checkpoint
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_active/maintenance-plan-v0-21-sprint.md
  docs/audit/maintenance-recovery-audit-2026-08-07.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(maintenance): align live design and session tooling
  Python/tests/test_session_automation.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_websocket.py
  react_app/src/api/client.ts
  react_app/src/hooks/__tests__/useDesignWebSocket.test.ts
  react_app/src/hooks/useDesignWebSocket.ts
  scripts/session.py
Due: none

fix(ops): align release preflight with Mac runtime
  Python/tests/test_release_environment.py
  scripts/release.py
Due: none

fix(release): install verification test dependencies
  Python/tests/test_release_scripts.py
  scripts/release.py
Due: none

fix(session): read multiline session history
  Python/tests/test_session_automation.py
  scripts/session.py
Due: none

docs(maintenance): close repository recovery session
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/maintenance-recovery-audit-2026-08-07.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(maintenance): record final preflight count
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/audit/maintenance-recovery-audit-2026-08-07.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(maintenance): refresh final handoff indexes
  docs/SESSION_LOG.md
  docs/audit/index.json
  docs/audit/index.md
  docs/planning/index.json
  docs/planning/index.md
Due: check-markdown-links, check-doc-metadata

fix(ops): harden recovered Docker preflight
  Dockerfile.fastapi
  Python/tests/test_release_scripts.py
  docker-compose.preflight.yml
  scripts/release.py
Due: none

chore(agents): enforce low-token Codex policy
  .codex/config.toml
  .github/agents/orchestrator.agent.md
  AGENTS.md
  CLAUDE.md
  Python/tests/test_token_efficiency.py
  docs/contributing/agent-collaboration-framework.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  run.sh
  scripts/automation-map.json
  scripts/check_all.py
  scripts/check_token_efficiency.py
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

chore(agents): add task-aware model picker
  .codex/config.toml
  AGENTS.md
  Python/tests/test_model_picker.py
  Python/tests/test_token_efficiency.py
  agents/index.json
  agents/index.md
  agents/model_policy.json
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/automation-map.json
  scripts/check_token_efficiency.py
  scripts/index.json
  scripts/index.md
  scripts/model_picker.py
Due: check-markdown-links, check-doc-metadata

docs: close model-efficiency session
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

chore(agents): require Sol High orchestration
  .codex/config.toml
  .github/agents/orchestrator.agent.md
  AGENTS.md
  Python/tests/test_model_picker.py
  Python/tests/test_token_efficiency.py
  agents/index.json
  agents/model_policy.json
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/contributing/agent-collaboration-framework.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/guidelines/ai-token-efficiency.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/automation-map.json
  scripts/check_token_efficiency.py
  scripts/index.json
  scripts/index.md
  scripts/model_picker.py
Due: check-markdown-links, check-doc-metadata

docs: record Sol High orchestration policy
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: record maintenance workflow closeout
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: fix stale index generator reference
  docs/docs-index.json
  docs/reference/automation-catalog.md
  docs/reference/index.json
  docs/reference/index.md
Due: check-markdown-links, check-doc-metadata

fix(session): preserve current maintenance handoff
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  docs/docs-index.json
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: none

fix(maintenance): close CI root causes and narrow reviews
  .github/agents/reviewer.agent.md
  .github/copilot-instructions.md
  .github/prompts/code-review.prompt.md
  .github/workflows/auto-format.yml
  .github/workflows/governance-health.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  Python/pyproject.toml
  docs/SESSION_LOG.md
  docs/audit/evidence-bundle-template.md
  docs/guidelines/ai-token-efficiency.md
  requirements-lock.txt
  requirements.txt
Due: check-python-version, check-markdown-links, check-doc-metadata

docs(maintenance): record complete closeout
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/maintenance-recovery-audit-2026-08-07.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

chore(codex): respect user-selected model
  .codex/config.toml
  .github/agents/orchestrator.agent.md
  AGENTS.md
  Python/tests/test_model_picker.py
  Python/tests/test_token_efficiency.py
  agents/model_policy.json
  docs/contributing/agent-collaboration-framework.md
  docs/guidelines/ai-token-efficiency.md
  scripts/automation-map.json
  scripts/check_token_efficiency.py
  scripts/model_picker.py
Due: check-markdown-links, check-doc-metadata

docs(planning): add compact modernization execution plan
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/compact-modernization-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

chore(agents): repair compact skill control plane
  .github/skills/agent-evolution/SKILL.md
  .github/skills/api-discovery/SKILL.md
  .github/skills/architecture-check/SKILL.md
  .github/skills/development-rules/SKILL.md
  .github/skills/function-quality-pipeline/SKILL.md
  .github/skills/innovation-research/SKILL.md
  .github/skills/is456-verification/SKILL.md
  .github/skills/new-structural-element/SKILL.md
  .github/skills/quality-gate/SKILL.md
  .github/skills/react-validation/SKILL.md
  .github/skills/release-preflight/SKILL.md
  .github/skills/safe-file-ops/SKILL.md
  .github/skills/session-management/SKILL.md
  .github/skills/skill_tiers.json
  .github/skills/user-acceptance-test/SKILL.md
  agents/agent_registry.json
  docs/TASKS.md
  docs/planning/compact-modernization-plan.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/agent_evolve_instructions.py
  scripts/check_architecture_boundaries.py
  scripts/discover_api_signatures.py
  scripts/evolve.py
  scripts/release.py
  scripts/skill_tiers.py
Due: check-markdown-links, check-doc-metadata

fix(agents): remove hidden session mutations
  .github/agents/agent-evolver.agent.md
  .github/agents/doc-master.agent.md
  .github/agents/governance.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  .github/prompts/master-workflow.prompt.md
  .github/prompts/session-end.prompt.md
  .github/prompts/session-start.prompt.md
  AGENTS.md
  CLAUDE.md
  docs/planning/compact-modernization-plan.md
  run.sh
  scripts/agent_context.py
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(maintenance): close MAINT-008 skills handoff
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed b611f6b3 with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  TASKS/index.html
  WORKLOG/index.html
  planning/compact-modernization-plan/index.html
  planning/memory/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

ci: add truthful aggregate PR gate
  .github/workflows/fast-checks.yml
Due: check-python-version

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
