Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

fix(ci): validate YAML syntax without constructing tags
  .github/workflows/fast-checks.yml
Due: check-python-version

ci: remove superseded pull request workflows
  .github/workflows/README.md
  .github/workflows/auto-format.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-build.yml
  .github/workflows/git-workflow-tests.yml
  .github/workflows/leading-indicator-alerts.yml
  .github/workflows/link-check.yml
  .github/workflows/performance.yml
  .github/workflows/root-file-limit.yml
  .github/workflows/security.yml
Due: check-python-version

docs: record Packet A approval checkpoint
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/compact-modernization-plan.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

MAINT-008-A: Add truthful aggregate PR Gate (#690)
  .github/workflows/README.md
  .github/workflows/auto-format.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-build.yml
  .github/workflows/fast-checks.yml
  .github/workflows/git-workflow-tests.yml
  .github/workflows/leading-indicator-alerts.yml
  .github/workflows/link-check.yml
  .github/workflows/performance.yml
  .github/workflows/root-file-limit.yml
  .github/workflows/security.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/compact-modernization-plan.md
  docs/planning/next-session-brief.md
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed ce3a2c5b with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/compact-modernization-plan/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(ci): align OpenAPI baseline for weekly verification
  fastapi_app/openapi_baseline.json
Due: none

Deployed 056bfad7 with MkDocs version: 1.6.1
  TASKS/index.html
  agents/guides/agent-8-git-ops/index.html
  architecture/unified-architecture-v1/index.html
  audit/audit-readiness/index.html
  audit/evidence-bundle-template/index.html
  contributing/development-guide/index.html
  contributing/git-workflow-testing/index.html
  contributing/github-workflow/index.html
  contributing/testing-strategy/index.html
  guides/ai-agent-coding-guide/index.html
  guides/testing-and-cicd-strategy/index.html
  learning-foundations/10-ci-cd/index.html
  migration/learning/day-23-ci-cd/index.html
  planning/compact-modernization-plan/index.html
  planning/dependency-security-baseline/index.html
  planning/next-session-brief/index.html
  reference/automation-catalog/index.html
  search/search_index.json
  verification/insights-verification-pack/index.html
Due: none

docs(is456): record green owner-review gate
  docs/planning/is456-library-first-master-plan.md
  docs/planning/pre-release-checklist.md
Due: check-markdown-links, check-doc-metadata

fix(tooling): remove stale sorter and clear React warning
  Python/pyproject.toml
  docs/guides/testing-and-cicd-strategy.md
  docs/migration/learning/day-25-code-quality.md
  docs/migration/learning/day-26-pypi-packaging.md
  docs/reference/third-party-licenses.md
  react_app/src/hooks/useLiveDesign.ts
  requirements-lock.txt
  requirements.txt
  run.sh
  scripts/check_all.py
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): prepare v0.23.0 without publication
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  docs/TASKS.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_config.py
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
  scripts/bump_version.py
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(automation): close governance and control gaps
  .github/agents/agent-evolver.agent.md
  .github/skills/agent-evolution/SKILL.md
  .pre-commit-config.yaml
  Python/tests/test_agent_governance_automation.py
  docs/audit/automation-scripts-audit-2026-08-09.md
  docs/audit/index.json
  docs/audit/index.md
  docs/governance/maintenance-playbook.md
  run.sh
  scripts/_lib/agent_data.py
  scripts/agent_compliance_checker.py
  scripts/agent_context.py
  scripts/agent_drift_detector.py
  scripts/agent_trends.py
  scripts/audit_permissions.py
  scripts/automation-map.json
  scripts/check_governance.py
  scripts/index.json
  scripts/index.md
  scripts/tool_permissions.py
  scripts/tool_registry.py
  scripts/validate_script_refs.py
  tests/test_evolver_infrastructure.py
Due: check-markdown-links, check-doc-metadata

fix(automation): resolve Python across worktrees
  .pre-commit-config.yaml
  Python/tests/test_agent_governance_automation.py
  docs/audit/automation-scripts-audit-2026-08-09.md
  docs/audit/index.json
  docs/audit/index.md
  run.sh
  scripts/automation-map.json
  scripts/check_all.py
  scripts/index.json
  scripts/index.md
  scripts/python_runtime.sh
  scripts/test_cli_smoke.py
Due: check-markdown-links, check-doc-metadata

fix(automation): close governance and control gaps
  .github/agents/agent-evolver.agent.md
  .github/skills/agent-evolution/SKILL.md
  .pre-commit-config.yaml
  Python/tests/test_agent_governance_automation.py
  docs/audit/automation-scripts-audit-2026-08-09.md
  docs/audit/index.json
  docs/audit/index.md
  docs/governance/maintenance-playbook.md
  run.sh
  scripts/_lib/agent_data.py
  scripts/agent_compliance_checker.py
  scripts/agent_context.py
  scripts/agent_drift_detector.py
  scripts/agent_trends.py
  scripts/audit_permissions.py
  scripts/automation-map.json
  scripts/check_all.py
  scripts/check_governance.py
  scripts/index.json
  scripts/index.md
  scripts/python_runtime.sh
  scripts/test_cli_smoke.py
  scripts/tool_permissions.py
  scripts/tool_registry.py
  scripts/validate_script_refs.py
  tests/test_evolver_infrastructure.py
Due: check-markdown-links, check-doc-metadata

Deployed f812eb3f with MkDocs version: 1.6.1
  audit/automation-scripts-audit-2026-08-09/index.html
  audit/index.html
  audit/index.json
  governance/maintenance-playbook/index.html
  search/search_index.json
Due: none

docs(plan): activate bounded IS 456 closeout
  .codex/config.toml
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  .github/skills/react-validation/SKILL.md
  AGENTS.md
  CHANGELOG.md
  CITATION.cff
  CLAUDE.md
  Python/README.md
  Python/tests/test_release_environment.py
  Python/tests/test_session_automation.py
  agents/model_policy.json
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_archive/planning-completed-2026-03/library-expansion-blueprint.md
  docs/architecture/unified-architecture-v1.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
  docs/planning/professional-library-remediation-plan.md
  llms.txt
  run.sh
  scripts/README.md
  scripts/launch_stack.sh
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

docs(plan): advance bounded milestone to UAT
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(plan): normalize active closeout metadata
  docs/planning/index.json
  docs/planning/is456-library-first-master-plan.md
Due: check-markdown-links, check-doc-metadata

ci(automation): install package before CLI smoke
  .github/workflows/fast-checks.yml
  Python/tests/test_agent_governance_automation.py
  docs/audit/automation-scripts-audit-2026-08-09.md
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(frontend): restore live batch SSE and close C2
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/is456-library-first-evidence.md
  react_app/vite.config.ts
Due: check-markdown-links, check-doc-metadata

fix(release): make candidate builds contamination-safe
  .github/skills/release-preflight/SKILL.md
  Python/MANIFEST.in
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/test_packaging.py
Due: none

docs(plan): freeze bounded IS 456 evidence
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/professional-library-remediation-plan.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/is456-library-first-evidence.md
Due: check-markdown-links, check-doc-metadata

chore(release): authorize v0.23.0 alpha publication
  .github/skills/function-quality-pipeline/SKILL.md
  .github/skills/is456-verification/SKILL.md
  .github/skills/new-structural-element/SKILL.md
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/releases.md
  docs/planning/README.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/professional-library-remediation-plan.md
  docs/verification/is456-library-first-evidence.md
Due: check-markdown-links, check-doc-metadata

fix(release): support authorized release metadata
  .github/skills/release-preflight/SKILL.md
  Python/tests/test_release_environment.py
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

Deployed 71e74a7e with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  architecture/unified-architecture-v1/index.html
  contributing/development-guide/index.html
  getting-started/agent-bootstrap/index.html
  getting-started/beginners-guide/index.html
  getting-started/python-quickstart/index.html
  getting-started/releases/index.html
  getting-started/user-guide/index.html
  guidelines/ai-token-efficiency/index.html
  index.html
  index.json
  planning/index.html
  planning/index.json
  planning/is456-library-first-master-plan/index.html
  planning/library-expansion-blueprint-v5/index.html
  planning/memory/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  planning/professional-library-remediation-plan/index.html
  reference/api-manifest.json
  reference/api-stability/index.html
  reference/api/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  verification/examples/index.html
  verification/index.html
  verification/index.json
  verification/is456-library-first-evidence/index.html
  verification/validation-pack/index.html
Due: none

fix(ci): use active interpreter in release tests
  Python/tests/test_token_efficiency.py
Due: none

fix(ci): use active interpreter in release tests (#697)
  Python/tests/test_token_efficiency.py
Due: none

chore(release): record v0.23.0 publication
  .github/workflows/publish.yml
  Python/tests/test_release_scripts.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/releases.md
  docs/planning/README.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/professional-library-remediation-plan.md
  docs/verification/is456-library-first-evidence.md
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): record v0.23.0 publication (#698)
  .github/workflows/publish.yml
  Python/tests/test_release_scripts.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/releases.md
  docs/planning/README.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/professional-library-remediation-plan.md
  docs/verification/is456-library-first-evidence.md
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed b7548146 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  getting-started/releases/index.html
  planning/is456-library-first-master-plan/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  planning/professional-library-remediation-plan/index.html
  search/search_index.json
  verification/is456-library-first-evidence/index.html
Due: none

Deployed 0d01fa1f with MkDocs version: 1.6.1
  audit/automation-scripts-audit-2026-08-09/index.html
  planning/compact-modernization-plan/index.html
  search/search_index.json
Due: none

fix(ci): pin mypy before 2.x migration
  Python/pyproject.toml
  Python/tests/test_release_environment.py
  requirements-lock.txt
  requirements.txt
Due: check-python-version
