Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(footing): correct depth and directional shear inputs
  Python/structural_lib/codes/is456/footing/_common.py
  Python/structural_lib/codes/is456/footing/flexure.py
  Python/structural_lib/codes/is456/footing/one_way_shear.py
  Python/tests/test_footing.py
  docs/SESSION_LOG.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(footing): add concentric isolated design service
  Python/structural_lib/services/footing_api.py
  Python/tests/test_footing_api.py
  docs/SESSION_LOG.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(footing): add isolated footing reinforcement detailing
  Python/structural_lib/codes/is456/footing/detailing.py
  Python/structural_lib/services/footing_api.py
  Python/tests/test_footing_api.py
  Python/tests/test_footing_detailing.py
  docs/SESSION_LOG.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(api): add concentric isolated footing route
  docs/SESSION_LOG.md
  fastapi_app/main.py
  fastapi_app/models/footing.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/__init__.py
  fastapi_app/routers/footing.py
  fastapi_app/tests/test_footing.py
Due: check-markdown-links, check-doc-metadata

feat(footing): add isolated footing workbench
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  react_app/src/App.tsx
  react_app/src/app/__tests__/navigation.test.ts
  react_app/src/app/navigation.ts
  react_app/src/components/__tests__/WorkbenchHomePage.test.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/WorkbenchHomePage.tsx
  react_app/src/features/footing/ConcentricIsolatedFootingPage.tsx
  react_app/src/features/footing/FootingInputForm.tsx
  react_app/src/features/footing/FootingResults.tsx
  react_app/src/features/footing/__tests__/ConcentricIsolatedFootingPage.test.tsx
  react_app/src/features/footing/__tests__/client.test.ts
  react_app/src/features/footing/client.ts
  react_app/src/features/footing/draft.ts
  react_app/src/features/footing/types.ts
Due: check-markdown-links, check-doc-metadata

chore(release): enforce permission and footing gates
  .github/workflows/publish.yml
  AGENTS.md
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/is456-solid-slabs-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/verification/footing-release-inclusion.json
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/is456-library-first-evidence.md
  docs/verification/is456-public-distribution-permission.json
  docs/verification/is456-slab-evidence.md
  docs/verification/release-artifact-evidence-template.md
  run.sh
  scripts/index.json
  scripts/index.md
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

docs(release): record final preflight state
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

test(fastapi): make performance tests deterministic in PR lane
  .github/workflows/fast-checks.yml
  .github/workflows/nightly.yml
  fastapi_app/pytest.ini
  fastapi_app/tests/test_load.py
  scripts/benchmark_api.py
Due: check-python-version

ci(fastapi): remove shared-runner latency gate from required tests
  docs/SESSION_LOG.md
  fastapi_app/tests/test_load.py
Due: check-markdown-links, check-doc-metadata

docs(ci): correct FastAPI session handoff state
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

test(is456): align capability schema assertion
  Python/tests/integration/test_api_entrypoints_is456.py
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs(integration): record footing preservation evidence
  docs/SESSION_LOG.md
  docs/reference/api-manifest.json
Due: check-markdown-links, check-doc-metadata

docs(release): document Alpha version policy
  .github/skills/release-preflight/SKILL.md
Due: none

chore(release): prepare 0.23.1a1 candidate source
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/user-guide.md
  docs/planning/pre-release-checklist.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): record alpha candidate evidence state
  CHANGELOG.md
  CITATION.cff
  docs/getting-started/releases.md
Due: check-markdown-links, check-doc-metadata

fix(release): isolate exact wheel preflight install
  Python/tests/test_release_scripts.py
  scripts/release.py
Due: none

fix(release): harden candidate verification
  Python/tests/test_bump_version_semantics.py
  Python/tests/test_release_scripts.py
  Python/tests/test_research_prototypes.py
  scripts/bump_version.py
  scripts/release.py
Due: none

docs(release): record local alpha rehearsal
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/verification/alpha-0231-local-prepublication-rehearsal.md
Due: check-markdown-links, check-doc-metadata

docs(release): normalize rehearsal metadata
  docs/SESSION_LOG.md
  docs/verification/alpha-0231-local-prepublication-rehearsal.md
Due: check-markdown-links, check-doc-metadata

docs(release): bind clean preflight evidence
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/alpha-0231-local-prepublication-rehearsal.md
Due: check-markdown-links, check-doc-metadata

docs(release): link candidate draft review
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

test(fastapi): bind BOQ evidence to app version
  docs/SESSION_LOG.md
  fastapi_app/tests/test_insights_dashboard.py
Due: check-markdown-links, check-doc-metadata

fix(tooling): prevent release debug regressions
  .github/instructions/docs.instructions.md
  .github/instructions/python-core.instructions.md
  .github/instructions/react.instructions.md
  .github/instructions/terminal-rules.instructions.md
  .github/skills/agent-evolution/SKILL.md
  .github/skills/api-discovery/SKILL.md
  .github/skills/architecture-check/SKILL.md
  .github/skills/function-quality-pipeline/SKILL.md
  .github/skills/is456-verification/SKILL.md
  .github/skills/new-structural-element/SKILL.md
  .github/skills/quality-gate/SKILL.md
  .github/skills/release-preflight/SKILL.md
  .github/skills/safe-file-ops/SKILL.md
  .github/skills/session-management/SKILL.md
  .github/skills/skill_tiers.json
  .github/skills/user-acceptance-test/SKILL.md
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_release_scripts.py
  Python/tests/test_session_automation.py
  docker-compose.preflight.yml
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  scripts/agent_start.sh
  scripts/automation-map.json
  scripts/check_docs.py
  scripts/find_automation.py
  scripts/index.json
  scripts/index.md
  scripts/python_runtime.sh
  scripts/release.py
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(release): record hardened preflight evidence
  docs/SESSION_LOG.md
  docs/verification/alpha-0231-local-prepublication-rehearsal.md
Due: check-markdown-links, check-doc-metadata

chore(release): authorize v0.23.1a1 publication
  CHANGELOG.md
  CITATION.cff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
Due: check-markdown-links, check-doc-metadata

fix(ci): install release validation dependencies
  .github/workflows/publish.yml
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(release): harden Alpha publication closeout
  Python/README.md
  Python/tests/test_bump_version_semantics.py
  Python/tests/test_release_scripts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  scripts/bump_version.py
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

chore(agents): preserve Spark program draft
  agents/README.md
  agents/index.md
  agents/model_policy.json
  agents/spark-worker-packet-template.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guidelines/ai-token-efficiency.md
  docs/index.json
  docs/index.md
  docs/planning/gpt-5-3-codex-spark-work-program.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(agents): support unpriced Spark picker
  Python/index.json
  Python/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_model_picker.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/gpt-5-3-codex-spark-work-program.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  scripts/index.json
  scripts/index.md
  scripts/model_picker.py
Due: check-markdown-links, check-doc-metadata

docs(agents): record Spark publication closeout
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(git): start governance research program
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-lifecycle-research.md
  docs/research/git-governance/GIT-001-official-evidence-register.md
  docs/research/git-governance/GIT-001-phase-0-preservation-baseline.md
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
  docs/research/index.json
  docs/research/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): start governance research program (#735)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-lifecycle-research.md
  docs/research/git-governance/GIT-001-official-evidence-register.md
  docs/research/git-governance/GIT-001-phase-0-preservation-baseline.md
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
  docs/research/index.json
  docs/research/index.md
Due: check-markdown-links, check-doc-metadata

feat(workflow): restore lane-safe task intake
  Python/tests/test_session_automation.py
  run.sh
  scripts/generate_all_indexes.sh
  scripts/prompt_router.py
Due: none

docs(git): record preservation and workflow recovery
  Python/index.json
  Python/index.md
  Python/tests/index.json
  Python/tests/index.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-lifecycle-research.md
  docs/research/git-governance/GIT-001-official-evidence-register.md
  docs/research/git-governance/GIT-001-phase-0-preservation-baseline.md
  docs/research/git-governance/GIT-001-phase-7A-preservation-workflow-recovery.md
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
  docs/research/index.json
  docs/research/index.md
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

feat(workflow): recover lane-safe task intake (#736)
  Python/index.json
  Python/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-lifecycle-research.md
  docs/research/git-governance/GIT-001-official-evidence-register.md
  docs/research/git-governance/GIT-001-phase-0-preservation-baseline.md
  docs/research/git-governance/GIT-001-phase-7A-preservation-workflow-recovery.md
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
  docs/research/index.json
  docs/research/index.md
  run.sh
  scripts/generate_all_indexes.sh
  scripts/index.json
  scripts/index.md
  scripts/prompt_router.py
Due: check-markdown-links, check-doc-metadata

docs(git): close workflow recovery packet
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-phase-7A-preservation-workflow-recovery.md
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): close workflow recovery packet (#737)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-phase-7A-preservation-workflow-recovery.md
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
Due: check-markdown-links, check-doc-metadata

feat(is456): add benchmarked experimental column PMM surface
  Python/index.json
  Python/index.md
  Python/structural_lib/codes/index.json
  Python/structural_lib/codes/index.md
  Python/structural_lib/codes/is456/column/index.json
  Python/structural_lib/codes/is456/column/index.md
  Python/structural_lib/codes/is456/column/pmm.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/tests/codes/is456/column/test_pmm.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_function_quality_checker.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/column-pmm-benchmark.md
  docs/verification/index.json
  docs/verification/index.md
  scripts/check_function_quality.py
  scripts/index.json
  scripts/index.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): add benchmarked experimental column PMM surface (#738)
  Python/index.json
  Python/index.md
  Python/structural_lib/codes/index.json
  Python/structural_lib/codes/index.md
  Python/structural_lib/codes/is456/column/index.json
  Python/structural_lib/codes/is456/column/index.md
  Python/structural_lib/codes/is456/column/pmm.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/tests/codes/is456/column/test_pmm.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_function_quality_checker.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/column-pmm-benchmark.md
  docs/verification/index.json
  docs/verification/index.md
  scripts/check_function_quality.py
  scripts/index.json
  scripts/index.md
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
