Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(governance): remove optional schema runtime dependency
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_control_plane.py
  docs/SESSION_LOG.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/maint-012-control-plane-modernization.md
  scripts/control_plane/__init__.py
Due: check-markdown-links, check-doc-metadata

refactor(ci): add exact verification evidence
  .github/actions/verification-evidence/action.yml
  .github/workflows/README.md
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_control_plane.py
  Python/tests/test_verification_control.py
  agents/agent-9/workflows/LINK_GOVERNANCE.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_internal/git-governance.md
  docs/contributing/testing-strategy.md
  docs/guidelines/ai-token-efficiency.md
  docs/migration/learning/day-23-ci-cd.md
  docs/planning/maint-012-control-plane-modernization.md
  docs/planning/next-session-brief.md
  docs/reference/automation-catalog.md
  docs/verification/maint-012c-git-handoff-receipt.json
  run.sh
  scripts/README.md
  scripts/automation-map.json
  scripts/check_all.py
  scripts/check_codex_git_workflow.py
  scripts/check_scripts_index.py
  scripts/context-manifest.json
  scripts/control-plane.json
  scripts/control_plane/__init__.py
  scripts/test_changed.py
  scripts/test_cli_smoke.py
  scripts/verification-manifest.json
  scripts/verification-manifest.schema.json
  scripts/verification.py
Due: check-python-version, check-markdown-links, check-doc-metadata

refactor(ci): add exact verification evidence (#842)
  .github/actions/verification-evidence/action.yml
  .github/workflows/README.md
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_control_plane.py
  Python/tests/test_verification_control.py
  agents/agent-9/workflows/LINK_GOVERNANCE.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_internal/git-governance.md
  docs/contributing/testing-strategy.md
  docs/guidelines/ai-token-efficiency.md
  docs/migration/learning/day-23-ci-cd.md
  docs/planning/maint-012-control-plane-modernization.md
  docs/planning/next-session-brief.md
  docs/reference/automation-catalog.md
  docs/verification/maint-012c-git-handoff-receipt.json
  run.sh
  scripts/README.md
  scripts/automation-map.json
  scripts/check_all.py
  scripts/check_codex_git_workflow.py
  scripts/check_scripts_index.py
  scripts/context-manifest.json
  scripts/control-plane.json
  scripts/control_plane/__init__.py
  scripts/test_changed.py
  scripts/test_cli_smoke.py
  scripts/verification-manifest.json
  scripts/verification-manifest.schema.json
  scripts/verification.py
Due: check-python-version, check-markdown-links, check-doc-metadata

refactor(governance): make file operations transactional
  .github/agents/doc-master.agent.md
  .github/agents/governance.agent.md
  .github/prompts/file-move.prompt.md
  .github/skills/safe-file-ops/SKILL.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_control_plane.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/agents/guides/agent-9-quick-start.md
  docs/architecture/self-evolving-system.md
  docs/git-automation/git-recovery-case-study-column-pmm.md
  docs/governance/maintenance-playbook.md
  docs/guidelines/file-operations-safety-guide.md
  docs/guidelines/folder-cleanup-workflow.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0130-git-handoff-receipt.json
  scripts/README.md
  scripts/_archive/README.md
  scripts/_archive/archive_old_files.sh
  scripts/_lib/safe_file_ops.py
  scripts/agent_context.py
  scripts/automation-map.json
  scripts/batch_migrate_runner.py
  scripts/check_links.py
  scripts/control-plane.json
  scripts/evolve.py
  scripts/migrate_python_module.py
  scripts/migrate_react_component.py
  scripts/safe_file_delete.py
  scripts/safe_file_move.py
  tests/fixtures/migration/golden/batch_runner_dry_run.json
  tests/fixtures/migration/golden/migrate_python_module_dry_run.json
  tests/fixtures/migration/golden/migrate_react_component_dry_run.json
  tests/fixtures/migration/golden/safe_file_move_dry_run.json
  tests/integration/test_migration_scripts.py
  tests/integration/test_safe_file_transactions.py
Due: check-markdown-links, check-doc-metadata

fix(governance): restore safe-file entrypoint modes
  docs/SESSION_LOG.md
  scripts/safe_file_delete.py
  scripts/safe_file_move.py
Due: check-markdown-links, check-doc-metadata

fix(governance): make batch rollback CI-portable
  docs/SESSION_LOG.md
  scripts/batch_migrate_runner.py
  tests/integration/test_migration_scripts.py
Due: check-markdown-links, check-doc-metadata

refactor(governance): make file operations transactional (#844)
  .github/agents/doc-master.agent.md
  .github/agents/governance.agent.md
  .github/prompts/file-move.prompt.md
  .github/skills/safe-file-ops/SKILL.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_control_plane.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/agents/guides/agent-9-quick-start.md
  docs/architecture/self-evolving-system.md
  docs/git-automation/git-recovery-case-study-column-pmm.md
  docs/governance/maintenance-playbook.md
  docs/guidelines/file-operations-safety-guide.md
  docs/guidelines/folder-cleanup-workflow.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0130-git-handoff-receipt.json
  scripts/README.md
  scripts/_archive/README.md
  scripts/_archive/archive_old_files.sh
  scripts/_lib/safe_file_ops.py
  scripts/agent_context.py
  scripts/automation-map.json
  scripts/batch_migrate_runner.py
  scripts/check_links.py
  scripts/control-plane.json
  scripts/evolve.py
  scripts/migrate_python_module.py
  scripts/migrate_react_component.py
  scripts/safe_file_delete.py
  scripts/safe_file_move.py
  tests/fixtures/migration/golden/batch_runner_dry_run.json
  tests/fixtures/migration/golden/migrate_python_module_dry_run.json
  tests/fixtures/migration/golden/migrate_react_component_dry_run.json
  tests/fixtures/migration/golden/safe_file_move_dry_run.json
  tests/integration/test_migration_scripts.py
  tests/integration/test_safe_file_transactions.py
Due: check-markdown-links, check-doc-metadata

fix(governance): make efficiency controls executable
  .github/skills/agent-evolution/SKILL.md
  AGENTS.md
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/end-of-session-workflow.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0131-git-handoff-receipt.json
  scripts/README.md
  scripts/session.py
  scripts/verification-manifest.json
  tests/integration/test_migration_scripts.py
Due: check-markdown-links, check-doc-metadata

fix(governance): make efficiency controls executable (#845)
  .github/skills/agent-evolution/SKILL.md
  AGENTS.md
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/end-of-session-workflow.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0131-git-handoff-receipt.json
  scripts/README.md
  scripts/session.py
  scripts/verification-manifest.json
  tests/integration/test_migration_scripts.py
Due: check-markdown-links, check-doc-metadata

chore(governance): measure session efficiency end to end
  .github/skills/session-management/SKILL.md
  AGENTS.md
  Python/tests/test_control_plane.py
  Python/tests/test_session_automation.py
  Python/tests/test_token_efficiency.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/handoff.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0132-git-handoff-receipt.json
  run.sh
  scripts/README.md
  scripts/agent_brief.sh
  scripts/agent_start.sh
  scripts/automation-map.json
  scripts/check_all.py
  scripts/control-plane.json
  scripts/prompt_router.py
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

chore(governance): measure session efficiency end to end (#846)
  .github/skills/session-management/SKILL.md
  AGENTS.md
  Python/tests/test_control_plane.py
  Python/tests/test_session_automation.py
  Python/tests/test_token_efficiency.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/handoff.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0132-git-handoff-receipt.json
  run.sh
  scripts/README.md
  scripts/agent_brief.sh
  scripts/agent_start.sh
  scripts/automation-map.json
  scripts/check_all.py
  scripts/control-plane.json
  scripts/prompt_router.py
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

docs(governance): freeze cleanup authorization inventory
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/maint-0133-cleanup-inventory-and-authorization.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0133-cleanup-batch.json
  docs/verification/maint-0133-cleanup-inventory.json
  docs/verification/maint-0133-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(governance): freeze cleanup authorization inventory (#847)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/maint-0133-cleanup-inventory-and-authorization.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0133-cleanup-batch.json
  docs/verification/maint-0133-cleanup-inventory.json
  docs/verification/maint-0133-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(governance): execute approved cleanup packet
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/_archive/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/README.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/maint-0133-cleanup-inventory-and-authorization.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0133b-execution-evidence.json
  docs/verification/maint-0133b-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(governance): execute approved cleanup packet (#848)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/_archive/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/README.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/maint-0133-cleanup-inventory-and-authorization.md
  docs/planning/next-session-brief.md
  docs/verification/maint-0133b-execution-evidence.json
  docs/verification/maint-0133b-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(india-3): establish private source library boundary
  .gitignore
  Python/tests/test_private_source_boundary.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-g0-private-source-library-evidence.md
  docs/verification/india-3-g0-private-source-library-git-handoff-receipt.json
  docs/verification/india-3-g0-private-source-library-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(india-3): establish private source library boundary (#849)
  .gitignore
  Python/tests/test_private_source_boundary.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/india-3-g0-private-source-library-evidence.md
  docs/verification/india-3-g0-private-source-library-git-handoff-receipt.json
  docs/verification/india-3-g0-private-source-library-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(governance): repair session outcome contract
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat(gravity): improve workflow usability foundation
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/gravity_builder.py
  Python/structural_lib/services/gravity_calculation_book.py
  Python/structural_lib/services/gravity_workflow.py
  Python/structural_lib/services/workflow_catalog.py
  Python/tests/test_workflow_catalog.py
  Python/tests/unit/test_gravity_builder_v1.py
  Python/tests/unit/test_gravity_workflow_v1.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/reference/beam-tool-manifest.json
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-006-gravity-usability-foundation-evidence.json
  docs/verification/lib-pro-006-gravity-usability-foundation-git-handoff-receipt.json
  fastapi_app/models/catalog.py
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_building_gravity.py
  react_app/src/features/building-gravity/BuildingGravityReviewPage.test.tsx
  react_app/src/features/building-gravity/BuildingGravityReviewPage.tsx
  react_app/src/features/building-gravity/types.ts
Due: mypy, check-markdown-links, check-doc-metadata

feat(gravity): improve workflow usability foundation (#851)
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/gravity_builder.py
  Python/structural_lib/services/gravity_calculation_book.py
  Python/structural_lib/services/gravity_workflow.py
  Python/structural_lib/services/workflow_catalog.py
  Python/tests/test_workflow_catalog.py
  Python/tests/unit/test_gravity_builder_v1.py
  Python/tests/unit/test_gravity_workflow_v1.py
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/reference/beam-tool-manifest.json
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-006-gravity-usability-foundation-evidence.json
  docs/verification/lib-pro-006-gravity-usability-foundation-git-handoff-receipt.json
  fastapi_app/models/catalog.py
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_building_gravity.py
  react_app/src/features/building-gravity/BuildingGravityReviewPage.test.tsx
  react_app/src/features/building-gravity/BuildingGravityReviewPage.tsx
  react_app/src/features/building-gravity/types.ts
Due: mypy, check-markdown-links, check-doc-metadata

docs(product): freeze product foundation contracts
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/verification/lib-pro-007-g0-product-contract-evidence.json
  docs/verification/lib-pro-007-g0-product-contract-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(product): freeze product foundation contracts (#852)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/verification/lib-pro-007-g0-product-contract-evidence.json
  docs/verification/lib-pro-007-g0-product-contract-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

fix(optimization): make beam cost contract truthful
  Python/structural_lib/__init__.py
  Python/structural_lib/insights/cost_optimization.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/api_results.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/optimization.py
  Python/tests/integration/test_api_cost_optimization.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/developers/platform-guide.md
  docs/getting-started/cost-optimization-guide.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/verification/lib-pro-007-p1-optimization-truth-evidence.json
  docs/verification/lib-pro-007-p1-optimization-truth-git-handoff-receipt.json
  fastapi_app/models/optimization.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/optimization.py
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/test/api-fixtures.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix(analysis): preserve failed design when cost is infeasible
  Python/structural_lib/insights/smart_designer.py
  Python/tests/integration/test_smart_designer.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/verification/lib-pro-007-p1-optimization-truth-evidence.json
  docs/verification/lib-pro-007-p1-optimization-truth-git-handoff-receipt.json
  fastapi_app/routers/analysis.py
  fastapi_app/tests/test_endpoints.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(optimization): make beam cost contract truthful (#853)
  Python/structural_lib/__init__.py
  Python/structural_lib/insights/cost_optimization.py
  Python/structural_lib/insights/smart_designer.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/api_results.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/optimization.py
  Python/tests/integration/test_api_cost_optimization.py
  Python/tests/integration/test_smart_designer.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/developers/platform-guide.md
  docs/getting-started/cost-optimization-guide.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/verification/lib-pro-007-p1-optimization-truth-evidence.json
  docs/verification/lib-pro-007-p1-optimization-truth-git-handoff-receipt.json
  fastapi_app/models/optimization.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/analysis.py
  fastapi_app/routers/optimization.py
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/test/api-fixtures.ts
Due: mypy, check-markdown-links, check-doc-metadata

feat(beam): evaluate supplied reinforcement truth
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/gravity_workflow.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/beam_reinforcement.py
  Python/structural_lib/services/gravity_builder.py
  Python/structural_lib/services/gravity_workflow.py
  Python/structural_lib/services/rebar_optimizer.py
  Python/tests/integration/test_rebar_optimizer.py
  Python/tests/unit/test_beam_reinforcement.py
  Python/tests/unit/test_detailing.py
  Python/tests/unit/test_gravity_builder_v1.py
  Python/tests/unit/test_gravity_workflow_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-007-p2-supplied-beam-reinforcement-evidence.json
  docs/verification/lib-pro-007-p2-supplied-beam-reinforcement-git-handoff-receipt.json
  docs/verification/lib-pro-007-p2-supplied-beam-reinforcement-git-handoff-source-evidence.json
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_building_gravity.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(beam): evaluate supplied reinforcement truth (#854)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/gravity_workflow.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/beam_reinforcement.py
  Python/structural_lib/services/gravity_builder.py
  Python/structural_lib/services/gravity_workflow.py
  Python/structural_lib/services/rebar_optimizer.py
  Python/tests/integration/test_rebar_optimizer.py
  Python/tests/unit/test_beam_reinforcement.py
  Python/tests/unit/test_detailing.py
  Python/tests/unit/test_gravity_builder_v1.py
  Python/tests/unit/test_gravity_workflow_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-007-p2-supplied-beam-reinforcement-evidence.json
  docs/verification/lib-pro-007-p2-supplied-beam-reinforcement-git-handoff-receipt.json
  docs/verification/lib-pro-007-p2-supplied-beam-reinforcement-git-handoff-source-evidence.json
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_building_gravity.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(footing): evaluate supported end anchorage
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/footing/detailing.py
  Python/structural_lib/core/gravity_workflow.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/footing_api.py
  Python/structural_lib/services/gravity_workflow.py
  Python/tests/test_footing_api.py
  Python/tests/test_footing_detailing.py
  Python/tests/unit/test_detailing.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-007-p3-footing-anchorage-evidence.json
  docs/verification/lib-pro-007-p3-footing-anchorage-git-handoff-receipt.json
  docs/verification/lib-pro-007-p3-footing-anchorage-git-handoff-source-evidence.json
  fastapi_app/models/footing.py
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_footing.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(footing): evaluate supported end anchorage (#855)
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/footing/detailing.py
  Python/structural_lib/core/gravity_workflow.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/footing_api.py
  Python/structural_lib/services/gravity_workflow.py
  Python/tests/test_footing_api.py
  Python/tests/test_footing_detailing.py
  Python/tests/unit/test_detailing.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-007-p3-footing-anchorage-evidence.json
  docs/verification/lib-pro-007-p3-footing-anchorage-git-handoff-receipt.json
  docs/verification/lib-pro-007-p3-footing-anchorage-git-handoff-source-evidence.json
  fastapi_app/models/footing.py
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_footing.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(gravity): reconcile explicit practical actions
  Python/structural_lib/__init__.py
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/building_gravity.py
  Python/structural_lib/core/gravity_workflow.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/gravity_builder.py
  Python/structural_lib/services/gravity_calculation_book.py
  Python/structural_lib/services/gravity_loads.py
  Python/structural_lib/services/gravity_workflow.py
  Python/tests/unit/test_building_gravity_v1.py
  Python/tests/unit/test_gravity_builder_v1.py
  Python/tests/unit/test_gravity_workflow_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-007-p4-practical-actions-evidence.json
  docs/verification/lib-pro-007-p4-practical-actions-git-handoff-receipt.json
  docs/verification/lib-pro-007-p4-practical-actions-git-handoff-source-evidence.json
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_building_gravity.py
  react_app/src/features/building-gravity/BuildingGravityReviewPage.test.tsx
  react_app/src/features/building-gravity/BuildingGravityReviewPage.tsx
  react_app/src/features/building-gravity/types.ts
Due: mypy, check-markdown-links, check-doc-metadata

feat(gravity): reconcile explicit practical actions (#856)
  Python/structural_lib/__init__.py
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/building_gravity.py
  Python/structural_lib/core/gravity_workflow.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/gravity_builder.py
  Python/structural_lib/services/gravity_calculation_book.py
  Python/structural_lib/services/gravity_loads.py
  Python/structural_lib/services/gravity_workflow.py
  Python/tests/unit/test_building_gravity_v1.py
  Python/tests/unit/test_gravity_builder_v1.py
  Python/tests/unit/test_gravity_workflow_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/lib-pro-007-product-foundation-convergence.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/specs/building-gravity-v1.md
  docs/verification/lib-pro-007-p4-practical-actions-evidence.json
  docs/verification/lib-pro-007-p4-practical-actions-git-handoff-receipt.json
  docs/verification/lib-pro-007-p4-practical-actions-git-handoff-source-evidence.json
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_building_gravity.py
  react_app/src/features/building-gravity/BuildingGravityReviewPage.test.tsx
  react_app/src/features/building-gravity/BuildingGravityReviewPage.tsx
  react_app/src/features/building-gravity/types.ts
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
