Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(services): correct ShearResult field accesses in calculation_report.py
  Python/structural_lib/services/calculation_report.py
  Python/tests/test_calculation_report.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(services): correct ShearResult field accesses in calculation_report.py (#499)
  Python/structural_lib/services/calculation_report.py
  Python/tests/test_calculation_report.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 839edab9 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

feat: fix 4 known limitations (TASK-671)
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/geometry.py
  Python/structural_lib/core/inputs.py
  Python/structural_lib/core/models.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/services/beam_pipeline.py
  Python/structural_lib/services/calculation_report.py
  Python/tests/integration/test_api_contracts.py
  Python/tests/test_calculation_report.py
  Python/tests/test_design_from_input.py
  Python/tests/test_inputs.py
  Python/tests/test_research_prototypes.py
  Python/tests/unit/test_data_types.py
  Python/tests/unit/test_models.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy, check-markdown-links, check-doc-metadata

feat: fix 4 known limitations (TASK-671)
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/geometry.py
  Python/structural_lib/core/inputs.py
  Python/structural_lib/core/models.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/services/beam_pipeline.py
  Python/tests/integration/test_api_contracts.py
  Python/tests/test_design_from_input.py
  Python/tests/test_inputs.py
  Python/tests/test_research_prototypes.py
  Python/tests/unit/test_data_types.py
  Python/tests/unit/test_models.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy, check-markdown-links, check-doc-metadata

fix: use Field(default=) for mypy compatibility with SectionProperties
  Python/structural_lib/core/models.py
Due: mypy

TASK-671: Fix 4 known limitations — effective depth, serviceability, multi-layer rebar, failure story (TASK-671) (#501)
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/geometry.py
  Python/structural_lib/core/inputs.py
  Python/structural_lib/core/models.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/services/beam_pipeline.py
  Python/tests/integration/test_api_contracts.py
  Python/tests/test_design_from_input.py
  Python/tests/test_inputs.py
  Python/tests/test_research_prototypes.py
  Python/tests/unit/test_data_types.py
  Python/tests/unit/test_models.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 8019ec46 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  objects.inv
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

add IS 456 Performance Benchmarks (pytest) benchmark result for 8019ec46a12d97c9f22d5cbdd8cd537ebbd0dede
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
Due: none

feat(column): add column detailing per IS 456 Cl 26.5.3 (TASK-645)
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/detailing.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_detailing.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_detailing.py
Due: mypy, check-markdown-links, check-doc-metadata

style(column): fix ruff N806 variable naming violations in detailing
  Python/structural_lib/codes/is456/column/detailing.py
  Python/tests/codes/is456/column/test_detailing.py
Due: mypy

TASK-645: Column detailing per IS 456 Cl 26.5.3 (#503)
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/detailing.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_detailing.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_detailing.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 00fe0600 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
  planning/library-expansion-blueprint-v5/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(scripts): detect fastapi/react as production code, fix naming globs
  Python/pyproject.toml
  docs/WORKLOG.md
  scripts/ai_commit.sh
  scripts/should_use_pr.sh
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(scripts): detect fastapi/react as production code, fix naming globs (#504)
  Python/pyproject.toml
  docs/WORKLOG.md
  scripts/ai_commit.sh
  scripts/should_use_pr.sh
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 61fc2cf8 with MkDocs version: 1.6.1
  WORKLOG/index.html
  search/search_index.json
Due: none

Deployed 37d9ed77 with MkDocs version: 1.6.1
  TASKS/index.html
  blog-drafts/is456-compliance-automation/index.html
  blog-drafts/performance-engineering-structural-calcs/index.html
  blog-drafts/smart-design-analysis-deep-dive/index.html
  blog-drafts/type-safety-engineering-software/index.html
  guidelines/function-signature-standard/index.html
  planning/next-session-brief/index.html
  publications/research-paper-git-infrastructure/index.html
  reference/insights-api/index.html
  reference/sdk-api-contract-v1/index.html
  search/search_index.json
  specs/csv-import-schema/index.html
  specs/v0.9-job-schema/index.html
Due: none

docs: fix stale counts (48→58 endpoints, 32→36 API funcs), backfill WORKLOG, add reviewer safeguards
  .claude/rules/fastapi.md
  .claude/rules/python-core.md
  .github/agents/agent-evolver.agent.md
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/structural-engineer.agent.md
  .github/copilot-instructions.md
  .github/instructions/fastapi.instructions.md
  .github/instructions/python-core.instructions.md
  .github/skills/api-discovery/SKILL.md
  AGENTS.md
  CLAUDE.md
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_active/agent-evolver-plan.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/democratization-vision.md
  llms.txt
  react_app/src/api/__tests__/endpoints.test.ts
  scripts/agent_context.py
Due: check-markdown-links, check-doc-metadata

docs: fix stale counts (48→58 endpoints, 32→36 API funcs), backfill WORKLOG, add reviewer safeguards (#506)
  .claude/rules/fastapi.md
  .claude/rules/python-core.md
  .github/agents/agent-evolver.agent.md
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/structural-engineer.agent.md
  .github/copilot-instructions.md
  .github/instructions/fastapi.instructions.md
  .github/instructions/python-core.instructions.md
  .github/skills/api-discovery/SKILL.md
  AGENTS.md
  CLAUDE.md
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_active/agent-evolver-plan.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/democratization-vision.md
  llms.txt
  react_app/src/api/__tests__/endpoints.test.ts
  scripts/agent_context.py
Due: check-markdown-links, check-doc-metadata

Deployed 250a130b with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  getting-started/agent-bootstrap/index.html
  getting-started/mac-mini-setup/index.html
  planning/democratization-vision/index.html
  search/search_index.json
Due: none

feat: IS 13920 column ductile detailing, PyJWT migration, React test coverage
  .claude/rules/fastapi.md
  .github/agents/api-developer.agent.md
  .github/instructions/fastapi.instructions.md
  .github/workflows/fast-checks.yml
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is13920/__init__.py
  Python/structural_lib/codes/is13920/column.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is13920/__init__.py
  Python/tests/codes/is13920/test_column.py
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/democratization-vision.md
  docs/planning/next-session-brief.md
  fastapi_app/auth.py
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_security.py
  llms.txt
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/components/__tests__/BeamForm.test.tsx
  react_app/src/components/__tests__/CrossSectionView.test.tsx
  react_app/src/components/__tests__/ErrorBoundary.test.tsx
  react_app/src/components/__tests__/ExportPanel.test.tsx
  react_app/src/components/__tests__/ImportView.test.tsx
  react_app/src/components/__tests__/TopBar.test.tsx
  requirements.txt
  scripts/agent_context.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

docs: update CHANGELOG, WORKLOG, indexes, meta-files for TASK-690/691/692
  .claude/rules/fastapi.md
  .github/instructions/fastapi.instructions.md
  CHANGELOG.md
  Python/structural_lib/codes/is456/column/index.json
  Python/structural_lib/codes/is456/column/index.md
  docs/WORKLOG.md
Due: check-markdown-links, check-doc-metadata

docs: sync stale numbers, log session feedback
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

fix(tests): update PM interaction point count assertion for pure axial cap
  fastapi_app/tests/test_column_pm_interaction.py
Due: none

Deployed 6b412719 with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  getting-started/agent-bootstrap/index.html
  getting-started/mac-mini-setup/index.html
  planning/democratization-vision/index.html
  planning/library-expansion-blueprint-v5/index.html
  planning/next-session-brief/index.html
  reference/api/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: update README with accurate stats and complete feature list
  README.md
Due: none

feat(ops): add CI diagnosis script and enhanced PR planning workflow
  .github/agents/ops.agent.md
  .github/agents/reviewer.agent.md
  run.sh
  scripts/diagnose_ci.py
Due: none

fix(ci): add diagnose_ci.py to automation-map and index
  scripts/automation-map.json
  scripts/index.json
Due: none

TASK-CI-DIAG: Add CI diagnosis script (diagnose_ci.py) and enhanced PR planning workflow in ops agent (#509)
  .github/agents/ops.agent.md
  .github/agents/reviewer.agent.md
  run.sh
  scripts/automation-map.json
  scripts/diagnose_ci.py
  scripts/index.json
Due: none

chore: release v0.21.0
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/footing/index.json
  Python/structural_lib/codes/is456/footing/index.md
  Python/test_stats.json
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
  react_app/src/components/__tests__/BeamForm.test.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

chore: release v0.21.0 (#510)
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/footing/index.json
  Python/structural_lib/codes/is456/footing/index.md
  Python/test_stats.json
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
  react_app/src/components/__tests__/BeamForm.test.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 58fa56d4 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  contributing/development-guide/index.html
  getting-started/beginners-guide/index.html
  getting-started/python-quickstart/index.html
  getting-started/releases/index.html
  getting-started/user-guide/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  reference/api-stability/index.html
  reference/api/index.html
  search/search_index.json
  verification/examples/index.html
  verification/validation-pack/index.html
Due: none

fix: resolve all 5 P0 audit findings (S-1 auth, T-1 tests, OPS-1 CI, UX-6 WCAG, API-7 batch)
  .github/workflows/nightly.yml
  Python/tests/test_is456_common.py
  docs/audit/comprehensive-library-audit-2026-04-04.md
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/streaming.py
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ProjectBOQPanel.tsx
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/import/CSVImportPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/index.css
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(a11y): fix 3 remaining WCAG AA contrast violations caught by reviewer
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/CrossSectionView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
Due: none

fix: resolve 6 P1 audit findings (SM-1/2/3 validation, IS-5/7 warnings, FE-6 ErrorBoundary)
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/materials.py
  Python/structural_lib/core/validation.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_uniaxial.py
  Python/tests/test_is456_common.py
  Python/tests/unit/test_torsion.py
  Python/tests/unit/test_validation.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  react_app/src/App.tsx
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
