Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs(examples): add canonical data workflow example demonstrating full pipeline
  Python/examples/canonical_data_workflow.py
Due: none

feat(adapters): integrate Pydantic models with etabs_import and add VBA envelope support
  Python/structural_lib/adapters.py
  Python/structural_lib/etabs_import.py
  Python/tests/test_etabs_import_integration.py
Due: mypy

feat(adapters): add SAFEAdapter for CSI SAFE slab strip imports
  Python/structural_lib/adapters.py
  Python/tests/unit/test_safe_adapter.py
Due: mypy

feat(adapters): add STAADAdapter for STAAD.Pro CSV imports
  Python/structural_lib/adapters.py
  Python/tests/unit/test_staad_adapter.py
Due: mypy

feat(adapters): add GenericCSVAdapter for Excel/manual input
  Python/structural_lib/adapters.py
  Python/tests/unit/test_generic_csv_adapter.py
Due: mypy

style: fix formatting and ruff B017 errors
  Python/examples/canonical_data_workflow.py
  Python/structural_lib/etabs_import.py
  Python/structural_lib/models.py
  Python/structural_lib/serialization.py
  Python/tests/test_etabs_import_integration.py
  Python/tests/unit/test_adapters.py
  Python/tests/unit/test_etabs_import.py
  Python/tests/unit/test_models.py
  Python/tests/unit/test_safe_adapter.py
  Python/tests/unit/test_serialization.py
Due: mypy

style: fix black 26.1.0 formatting compatibility
  Python/examples/professional_workflow.py
  Python/structural_lib/report.py
  Python/tests/unit/test_safe_adapter.py
Due: mypy

fix: add mypy type annotations to adapters.py
  Python/structural_lib/adapters.py
Due: mypy

fix: add mypy overrides for Pydantic v2 compatibility
  Python/pyproject.toml
Due: check-python-version

fix: reduce root file count and normalize doc filenames
  docs/_archive/VALIDATION_COMPLETE.md
  docs/vba/etabs-export-journey-session-31.md
  docs/vba/etabs-export-production-plan.md
  scripts/test_setup.py
Due: check-markdown-links, check-doc-metadata

fix(security): refactor feedback path handling to pass CodeQL
  streamlit_app/pages/90_feedback.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update session 41-42 progress - PR #381 merged
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: refresh onboarding and fix links
  Python/index.json
  Python/index.md
  README.md
  agents/index.json
  agents/index.md
  agents/roles/index.json
  agents/roles/index.md
  docs/SESSION_LOG.md
  docs/agents/guides/agent-9-governance-hub.md
  docs/agents/guides/agent-9-quick-start.md
  docs/agents/guides/agent-bootstrap-complete-review.md
  docs/architecture/index.json
  docs/architecture/index.md
  docs/contributing/commit-message-conventions.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/index.json
  docs/planning/documentation-structure.md
  docs/planning/next-session-brief.md
  docs/planning/task-3d-002-implementation-plan.md
  docs/reference/3d-json-contract.md
  docs/reference/index.json
  docs/reference/index.md
  docs/reference/vendor/etabs/README.md
  docs/vba/etabs-export-journey-session-31.md
  scripts/agent_setup.sh
  scripts/create_task_pr.sh
Due: check-markdown-links, check-doc-metadata

docs: refresh onboarding and fix links (#382)
  Python/index.json
  Python/index.md
  README.md
  agents/index.json
  agents/index.md
  agents/roles/index.json
  agents/roles/index.md
  docs/SESSION_LOG.md
  docs/agents/guides/agent-9-governance-hub.md
  docs/agents/guides/agent-9-quick-start.md
  docs/agents/guides/agent-bootstrap-complete-review.md
  docs/architecture/index.json
  docs/architecture/index.md
  docs/contributing/commit-message-conventions.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/index.json
  docs/planning/documentation-structure.md
  docs/planning/next-session-brief.md
  docs/planning/task-3d-002-implementation-plan.md
  docs/reference/3d-json-contract.md
  docs/reference/index.json
  docs/reference/index.md
  docs/reference/vendor/etabs/README.md
  docs/vba/etabs-export-journey-session-31.md
  scripts/agent_setup.sh
  scripts/create_task_pr.sh
Due: check-markdown-links, check-doc-metadata

docs: update session log and handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: standardize bootstrap python and harden create_task_pr
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/getting-started/agent-bootstrap.md
  docs/index.json
  docs/reference/index.json
  docs/reference/index.md
  scripts/create_task_pr.sh
Due: check-markdown-links, check-doc-metadata

GOV-003: harden create_task_pr and standardize bootstrap python (#383)
  docs/SESSION_LOG.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/getting-started/agent-bootstrap.md
  docs/index.json
  docs/planning/next-session-brief.md
  docs/reference/index.json
  docs/reference/index.md
  scripts/create_task_pr.sh
Due: check-markdown-links, check-doc-metadata

docs: update session log and handoff
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat: add multi-format import page and LOD manager
  streamlit_app/pages/07_📥_multi_format_import.py
  streamlit_app/utils/lod_manager.py
  tests/test_lod_manager.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

docs: update TASKS.md and SESSION_LOG for session 42
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(lod): adjust thresholds for real-world projects (1-150 HIGH, 151-400 MEDIUM) - validates feasibility of 200-beam full-detail visualization
  docs/research/lod-threshold-validation.md
  streamlit_app/utils/lod_manager.py
  tests/test_lod_manager.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

docs: update session 43 progress and LOD threshold validation
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(scanner): detect Path expressions in BinOp for path_like_vars assignment
  scripts/check_streamlit_issues.py
Due: none

TASK-LOD-THRESHOLD: Adjust LOD thresholds for real-world projects - validates 200-beam full-detail visualization (#385)
  docs/research/lod-threshold-validation.md
  scripts/check_streamlit_issues.py
  streamlit_app/utils/lod_manager.py
  tests/test_lod_manager.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

feat(lod): raise HIGH to 250 beams, add geometry caching and progressive loading
  docs/research/lod-threshold-validation.md
  streamlit_app/utils/lod_manager.py
  tests/test_lod_manager.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

feat(lod): raise HIGH to 250 beams, add geometry caching and progressive loading (#386)
  docs/research/lod-threshold-validation.md
  streamlit_app/utils/lod_manager.py
  tests/test_lod_manager.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

feat(import): add sample data button and 3D building view
  scripts/test_import_3d_pipeline.py
  scripts/test_vba_adapter.py
  streamlit_app/components/visualizations_3d.py
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix: resolve VBA import errors in pages 06 and 07
  Python/tests/unit/test_models.py
  streamlit_app/pages/06_📤_etabs_import.py
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: add Session 46 log - VBA import bug fixes
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat: add 3D building visualization to multi-format import page
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: clean up TASKS.md - archive bloated version with session log data
  docs/TASKS.md
  docs/_archive/TASKS_old_20260119.md
Due: check-markdown-links, check-doc-metadata

docs: archive obsolete planning files and update next-session-brief
  docs/_archive/planning-20260119/agent-1-tasks.md
  docs/_archive/planning-20260119/agent-2-tasks.md
  docs/_archive/planning-20260119/agent-6-tasks-streamlit.md
  docs/_archive/planning-20260119/session-12-planning.md
  docs/_archive/planning-20260119/session-14-lessons-learned.md
  docs/_archive/planning-20260119/session-19p8-work-plan.md
  docs/_archive/planning-20260119/session-2026-01-10-session3-issues.md
  docs/_archive/planning-20260119/session-2026-01-10-session4-issues.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: update SESSION_LOG and TASKS with complete Session 46 summary
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat: upgrade 3D visualization to solid beam boxes with lighting
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update 8-week plan with Phase 2 completion and Session 46 achievements
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata
