Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

refactor(pages): remove redundant DXF export page - integrated in multi-format import
  streamlit_app/pages/09_📐_dxf_export.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(dxf): add industry-standard beam grouping and schedule table
  Python/structural_lib/dxf_export.py
  docs/research/industry-cad-standards-bbs.md
  streamlit_app/pages/06_📥_multi_format_import.py
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs: update Session 60 with industry-standard CAD improvements
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat: release v0.19.0 - DXF polish, model fix, Streamlit API index
  CHANGELOG.md
  Python/pyproject.toml
  Python/structural_lib/dxf_export.py
  docs/reference/api.md
  streamlit_app/API_INDEX.md
  streamlit_app/README.md
  streamlit_app/pages/08_⚡_ai_assistant.py
  streamlit_app/pages/_hidden/_10_🤖_ai_assistant.py
Due: mypy, check-python-version, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs: update Session 61 log and mark v0.19.0 released
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update handoff after PR
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(ai): add DXF and report generation tools for AI assistant
  streamlit_app/ai/handlers.py
  streamlit_app/ai/tools.py
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/08_⚡_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(rebar): add optimization button and constructability score
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

docs: add industry report practices research
  docs/research/industry-report-practices.md
Due: check-markdown-links, check-doc-metadata

docs: update agent bootstrap with index references and expand generate_all_indexes
  docs/getting-started/agent-bootstrap.md
  scripts/generate_all_indexes.sh
Due: check-markdown-links, check-doc-metadata

docs: update session 62b progress and TASKS
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(ai): fix DXF/report exports and add manual export buttons
  streamlit_app/ai/handlers.py
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/08_⚡_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update Session 62c progress and task board
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(ai): fix report batch error, add PDF export, improve AI config
  streamlit_app/ai/handlers.py
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/08_⚡_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix: prevent ZeroDivisionError in rebar layout calculation
  streamlit_app/pages/06_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix: add zero check for area division in bar layout
  streamlit_app/pages/06_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai-assistant): 3D beam highlighting and inline table editing
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

fix(ai-assistant): auto-optimize rebar button now works reliably
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

test: regenerate golden files for updated CSS styling
  Python/scripts/regenerate_golden_files.py
  Python/tests/fixtures/report/report_batch_beam_G_B1.html
  Python/tests/fixtures/report/report_batch_index_80.html
  Python/tests/fixtures/report/report_single_1.html
  Python/tests/fixtures/report/report_single_79.html
Due: none

feat(pdf): add batch PDF report for all beams in one document
  streamlit_app/components/ai_workspace.py
  streamlit_app/utils/pdf_generator.py
Due: check-type-annotations, check-performance-issues

style(report): professional CSS styling for HTML reports
  Python/structural_lib/report.py
Due: mypy

style: format regenerate_golden_files.py with black
  Python/scripts/regenerate_golden_files.py
Due: none

fix: resolve E712, E722 lint errors in production code
  scripts/comprehensive_validator.py
  scripts/generate_folder_index.py
  streamlit_app/ai/handlers.py
  streamlit_app/components/__init__.py
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/08_⚡_ai_assistant.py
  streamlit_app/tests/test_session_manager.py
  streamlit_app/utils/__init__.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

fix: PDF report data structure to match generator expectations
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

fix: optimize button now updates widget session state keys
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat: add live cross-section preview in rebar editor
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

refactor: hide report generator page (redundant with AI workspace)
  streamlit_app/pages/_hidden/07_📄_report_generator.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix: resolve B905 and B007 lint errors in dxf_export.py
  Python/structural_lib/dxf_export.py
Due: mypy

style: format dxf_export.py with black
  Python/structural_lib/dxf_export.py
Due: mypy

fix: resolve CI test failures (mypy, st.page_link, test file path)
  Python/structural_lib/dxf_export.py
  streamlit_app/pages/01_🏗️_beam_design.py
  tests/apptest/test_page_08_ai_assistant.py
Due: mypy, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix: rename uppercase doc files to kebab-case, fix test assertion
  README.md
  docs/README.md
  docs/docs-index.json
  docs/guides/ai-agent-coding-guide.md
  docs/guides/code-reuse-and-library-structure.md
  docs/guides/testing-and-cicd-strategy.md
  tests/apptest/test_page_08_ai_assistant.py
Due: check-markdown-links, check-doc-metadata

FIX-PDF-ZEROS: fix PDF report showing zeros for ETABS imports (#397)
  Python/structural_lib/dxf_export.py
  README.md
  docs/README.md
  docs/docs-index.json
  docs/guides/ai-agent-coding-guide.md
  docs/guides/code-reuse-and-library-structure.md
  docs/guides/testing-and-cicd-strategy.md
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/_hidden/07_📄_report_generator.py
  tests/apptest/test_page_08_ai_assistant.py
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

perf: add directory exclusions to safe_file_move.py (0.89s vs infinite)
  scripts/safe_file_move.py
Due: none

docs: add installation notes and package status (Jan 22, 2026)
  INSTALLATION_NOTES.md
Due: none

fix: handle NaN values in editable results table and fix bar positioning in 2D section view
  docs/research/design-editor-workflow.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
