Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(ci): add docs/audit to allowed dated-file locations
  scripts/check_governance.py
Due: none

fix(ci): resolve mypy type errors in imports.py and streaming.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/streaming.py
Due: none

fix(ci): add pydantic-settings to FastAPI CI dependencies
  .github/workflows/fast-checks.yml
Due: check-python-version

TASK-AUDIT-P0: Resolve all P0 + P1 audit findings (11 items fixed, grade B- → B+) (#511)
  .github/workflows/fast-checks.yml
  .github/workflows/nightly.yml
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/materials.py
  Python/structural_lib/core/validation.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_uniaxial.py
  Python/tests/test_is456_common.py
  Python/tests/unit/test_torsion.py
  Python/tests/unit/test_validation.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/streaming.py
  react_app/src/App.tsx
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/CrossSectionView.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ProjectBOQPanel.tsx
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/import/CSVImportPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/index.css
  scripts/check_governance.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 62d58efd with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: batch 1 P1 audit fixes (A-1, A-3, API-6, FE-7)
  Python/structural_lib/cli/__init__.py
  Python/structural_lib/cli/clause_cli.py
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/core/data_types.py
  docs/TASKS.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  fastapi_app/routers/design.py
  fastapi_app/routers/streaming.py
  react_app/src/components/viewport/Viewport3D.tsx
  scripts/check_architecture_boundaries.py
Due: mypy, check-markdown-links, check-doc-metadata

fix: update streaming test for 404 job-not-found response
  fastapi_app/tests/test_streaming.py
Due: none

ci: exclude wooledge.org from link check (transient 502)
  .github/workflows/link-check.yml
Due: check-python-version

TASK-AUDIT-B1: Batch 1 P1 audit fixes: A-1, A-3, API-6, FE-7 (#512)
  .github/workflows/link-check.yml
  Python/structural_lib/cli/__init__.py
  Python/structural_lib/cli/clause_cli.py
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/core/data_types.py
  docs/TASKS.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  fastapi_app/routers/design.py
  fastapi_app/routers/streaming.py
  fastapi_app/tests/test_streaming.py
  react_app/src/components/viewport/Viewport3D.tsx
  scripts/check_architecture_boundaries.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 36527da5 with MkDocs version: 1.6.1
  TASKS/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: batch 2 P1 audit fixes (API-5, OPS-3, DOC-4, DOC-5)
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  docs/reference/clause-map.json
  docs/reference/clause-map.md
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/column.py
  fastapi_app/models/geometry.py
  requirements-lock.txt
Due: check-markdown-links, check-doc-metadata

fix: bump root file limit to 19 for requirements-lock.txt
  docs/guidelines/governance-limits.json
Due: none

TASK-AUDIT-B2: Batch 2 P1 audit fixes: API-5 OpenAPI examples, OPS-3 dependency lock file, DOC-4 footing docs, DOC-5 clause mapping (#513)
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/guidelines/governance-limits.json
  docs/planning/next-session-brief.md
  docs/reference/api.md
  docs/reference/clause-map.json
  docs/reference/clause-map.md
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/column.py
  fastapi_app/models/geometry.py
  requirements-lock.txt
Due: check-markdown-links, check-doc-metadata

Deployed 410fb881 with MkDocs version: 1.6.1
  audit/comprehensive-library-audit-2026-04-04/index.html
  guidelines/governance-limits.json
  reference/api/index.html
  reference/clause-map.json
  reference/clause-map/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix(a11y): FE-1a accessibility — ARIA landmarks, skip-to-content, Canvas role, nav labels
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  react_app/src/App.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/ui/FloatingDock.tsx
  react_app/src/components/viewport/Viewport3D.tsx
Due: check-markdown-links, check-doc-metadata

fix(a11y): FE-1a accessibility — ARIA landmarks, skip-to-content, Canvas role, nav labels (#514)
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  react_app/src/App.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/ui/FloatingDock.tsx
  react_app/src/components/viewport/Viewport3D.tsx
Due: check-markdown-links, check-doc-metadata

Deployed c6e3e5ae with MkDocs version: 1.6.1
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(audit): P2 Batch 1 — error sanitize, frozen dataclasses, float tolerance, API typing, DXF MIME
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/core/data_types.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/export.py
  fastapi_app/routers/websocket.py
Due: mypy, check-markdown-links, check-doc-metadata

fix: move _sanitize_float below imports to resolve E402 lint
  fastapi_app/routers/design.py
Due: none

TASK-AUDIT-P2B1: P2 Batch 1: S-15 error sanitize, S-18 float-inf JSON, SM-6 ShearResult frozen, SM-8 bearing tolerance, SM-10 ColumnAxialResult frozen, API-8 BarAreasResponse, API-10 DXF MIME (#515)
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/core/data_types.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/export.py
  fastapi_app/routers/websocket.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed eedc444a with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

add IS 456 Performance Benchmarks (pytest) benchmark result for eedc444a66ecb3985e4b1c1dd230c2f8d0867378
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
Due: none

fix(audit): P2 Batch 2 — validation, toast, CLI safety, API, IPv6
  CHANGELOG.md
  Dockerfile.fastapi
  Python/structural_lib/__main__.py
  Python/structural_lib/codes/is456/column/_common.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/codes/is456/materials.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/dxf_export.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  react_app/src/App.tsx
  react_app/src/hooks/useBatchDesign.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/hooks/useExport.ts
  scripts/dxf_render.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(docker): revert IPv6 binding — 0.0.0.0 for CI compat
  Dockerfile.fastapi
Due: none

Deployed f65975db with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: P2 Batch 3 — 7 audit fixes (S-19, API-9, A-2, U-2, PH-3, IS-3, T-8)
  .github/workflows/fast-checks.yml
  Python/structural_lib/codes/is13920/beam.py
  Python/structural_lib/codes/is13920/column.py
  Python/structural_lib/codes/is456/traceability.py
  Python/tests/test_clause_traceability.py
  README.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/reference/fastapi-rest-api.md
  fastapi_app/routers/export.py
  fastapi_app/routers/health.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix: resolve mypy no-redef error in traceability.py _CLAUSE_DB
  Python/structural_lib/codes/is456/traceability.py
Due: mypy

TASK-P2B3: P2 Batch 3: sanitize_filename, health smoke calc, importlib.resources, IS 13920 @clause, React CI, doc fixes (#518)
  .github/workflows/fast-checks.yml
  Python/structural_lib/codes/is13920/beam.py
  Python/structural_lib/codes/is13920/column.py
  Python/structural_lib/codes/is456/traceability.py
  Python/tests/test_clause_traceability.py
  README.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/reference/fastapi-rest-api.md
  fastapi_app/routers/export.py
  fastapi_app/routers/health.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 54b7e2d8 with MkDocs version: 1.6.1
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  git-automation/git-workflow-single-source/index.html
  planning/next-session-brief/index.html
  reference/fastapi-rest-api/index.html
  search/search_index.json
Due: none

fix: P2 Batch 4 — security deps, auth logging, Docker ro, Hypothesis, tooltips
  .claude/rules/python-core.md
  .github/instructions/python-core.instructions.md
  AGENTS.md
  CONTRIBUTING.md
  Python/tests/property/test_serviceability_hypothesis.py
  docker-compose.dev.yml
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  fastapi_app/auth.py
  react_app/src/components/design/BeamForm.tsx
  requirements.txt
Due: check-markdown-links, check-doc-metadata

fix: resolve pre-existing ESLint errors for CI
  react_app/eslint.config.js
  react_app/src/components/CommandPalette.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/components/ui/ErrorBoundary.tsx
  react_app/src/components/ui/Toast.tsx
Due: none

TASK-P2B4: P2 Batch 4: S-20 dep pins, S-21 auth logging, S-23 Docker ro, T-13 Hypothesis tests, BE-2 function counts, GOV-4 release docs, FE-4 tooltips, OPS-6 closure (#519)
  .claude/rules/python-core.md
  .github/instructions/python-core.instructions.md
  AGENTS.md
  CONTRIBUTING.md
  Python/tests/property/test_serviceability_hypothesis.py
  docker-compose.dev.yml
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  fastapi_app/auth.py
  react_app/eslint.config.js
  react_app/src/components/CommandPalette.tsx
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/components/ui/ErrorBoundary.tsx
  react_app/src/components/ui/Toast.tsx
  requirements.txt
Due: check-markdown-links, check-doc-metadata

Deployed e658ea6e with MkDocs version: 1.6.1
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  getting-started/agent-bootstrap/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: P2 Batch 5 — DOC-1, DOC-2, DOC-3, OPS-2, OPS-7, UX-7, FE-8
  .github/workflows/link-check.yml
  .github/workflows/publish.yml
  Python/MANIFEST.in
  Python/examples/README.md
  Python/pyproject.toml
  docker-compose.yml
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  react_app/src/components/pages/HomePage.tsx
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/hooks/useReducedMotion.ts
  react_app/src/hooks/useWebGLContextLoss.ts
  react_app/src/index.css
Due: check-python-version, check-markdown-links, check-doc-metadata

TASK-P2B5: P2 Batch 5 — DOC-1, DOC-2, DOC-3, OPS-2, OPS-7, UX-7, FE-8 (#520)
  .github/workflows/link-check.yml
  .github/workflows/publish.yml
  Python/MANIFEST.in
  Python/examples/README.md
  Python/pyproject.toml
  docker-compose.yml
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  react_app/src/components/pages/HomePage.tsx
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/hooks/useReducedMotion.ts
  react_app/src/hooks/useWebGLContextLoss.ts
  react_app/src/index.css
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 67885af6 with MkDocs version: 1.6.1
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: CI failures and ops agent CI bypass prevention
  .github/agents/ops.agent.md
  .github/workflows/docker-build.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  react_app/src/components/__tests__/DesignView.test.tsx
  scripts/finish_task_pr.sh
Due: check-python-version, check-markdown-links, check-doc-metadata

fix: CI failures and ops agent CI bypass prevention (#521)
  .github/agents/ops.agent.md
  .github/workflows/docker-build.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  react_app/src/components/__tests__/DesignView.test.tsx
  scripts/finish_task_pr.sh
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed e1757c26 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: close remaining CI bypass escape hatches in finish_task_pr.sh and global instructions
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  scripts/finish_task_pr.sh
Due: none

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
