Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

feat(footing): add bounded strap analysis (#794)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/strap_footing/__init__.py
  Python/structural_lib/codes/is456/strap_footing/analysis.py
  Python/structural_lib/codes/is456/strap_footing/index.json
  Python/structural_lib/codes/is456/strap_footing/index.md
  Python/structural_lib/codes/is456/strap_footing/models.py
  Python/tests/codes/is456/strap_footing/__init__.py
  Python/tests/codes/is456/strap_footing/index.json
  Python/tests/codes/is456/strap_footing/index.md
  Python/tests/codes/is456/strap_footing/test_analysis.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-2-foundation-strap-a-analysis-evidence.md
  docs/verification/india-2-foundation-strap-a-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-a-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(footing): add strap strength checks
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/strap_footing/__init__.py
  Python/structural_lib/codes/is456/strap_footing/index.json
  Python/structural_lib/codes/is456/strap_footing/index.md
  Python/structural_lib/codes/is456/strap_footing/models.py
  Python/structural_lib/codes/is456/strap_footing/strength.py
  Python/tests/codes/is456/strap_footing/index.json
  Python/tests/codes/is456/strap_footing/index.md
  Python/tests/codes/is456/strap_footing/test_strength.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-2-foundation-strap-b-strength-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(footing): bind strap strength handoff
  docs/verification/india-2-foundation-strap-b-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-b-git-handoff-source-evidence.json
Due: none

feat(footing): add strap strength checks (#795)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/strap_footing/__init__.py
  Python/structural_lib/codes/is456/strap_footing/index.json
  Python/structural_lib/codes/is456/strap_footing/index.md
  Python/structural_lib/codes/is456/strap_footing/models.py
  Python/structural_lib/codes/is456/strap_footing/strength.py
  Python/tests/codes/is456/strap_footing/index.json
  Python/tests/codes/is456/strap_footing/index.md
  Python/tests/codes/is456/strap_footing/test_strength.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-2-foundation-strap-b-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-b-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-strap-b-strength-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(footing): publish strap Python workflow
  Python/structural_lib/__init__.py
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/structural_lib/services/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/structural_lib/services/strap_footing_api.py
  Python/tests/integration/test_strap_footing_publication.py
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/india-2-foundation-strap-c-public-workflow-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(footing): bind strap Python handoff
  docs/verification/india-2-foundation-strap-c-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-c-git-handoff-source-evidence.json
Due: none

feat(footing): publish strap Python workflow (#796)
  Python/structural_lib/__init__.py
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/structural_lib/services/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/structural_lib/services/strap_footing_api.py
  Python/tests/integration/test_strap_footing_publication.py
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/india-2-foundation-strap-c-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-c-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-strap-c-public-workflow-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(git): bind strap D handoff receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-d-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-d-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(api): isolate strap transport test fixture
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_strap_footing.py
Due: check-markdown-links, check-doc-metadata

docs(verification): refresh strap d handoff receipt
  docs/verification/index.json
  docs/verification/india-2-foundation-strap-d-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-d-git-handoff-source-evidence.json
Due: none

fix(api): stabilize strap OpenAPI schema mode
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-d-publication-evidence.md
  fastapi_app/models/index.json
  fastapi_app/models/index.md
  fastapi_app/models/strap_footing.py
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_strap_footing.py
Due: check-markdown-links, check-doc-metadata

docs(verification): rebind strap d corrected candidate
  docs/verification/index.json
  docs/verification/india-2-foundation-strap-d-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-d-git-handoff-source-evidence.json
Due: none

test(is456): accept strap footing family
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-acceptance-nonfrozen-replay.json
  docs/verification/india-2-foundation-strap-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(git): bind strap acceptance handoff receipt
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-acceptance-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-acceptance-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(verification): finalize strap acceptance counts
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/india-2-foundation-strap-family-acceptance-evidence.md
Due: check-markdown-links, check-doc-metadata

docs(verification): finalize strap acceptance receipt
  docs/verification/index.json
  docs/verification/india-2-foundation-strap-acceptance-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-acceptance-git-handoff-source-evidence.json
Due: none

test(is456): accept strap footing family (#798)
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-acceptance-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-strap-acceptance-nonfrozen-replay.json
  docs/verification/india-2-foundation-strap-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(planning): sequence git and issue repairs
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-next-agent-disposition-plan.md
  docs/research/git-governance/GIT-001-phase-7E-semantic-handoff.md
Due: check-markdown-links, check-doc-metadata

docs(git): bind next-session plan receipt
  docs/SESSION_LOG.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/next-session-git-issues-plan-git-handoff-receipt.json
  docs/verification/next-session-git-issues-plan-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(planning): sequence Git and issue repairs (#799)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-next-agent-disposition-plan.md
  docs/research/git-governance/GIT-001-phase-7E-semantic-handoff.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/next-session-git-issues-plan-git-handoff-receipt.json
  docs/verification/next-session-git-issues-plan-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(planning): deepen next INDIA-2 execution handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(verification): add next-agent plan handoff receipt
  docs/SESSION_LOG.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-next-agent-plan-refresh-git-handoff-receipt.json
  docs/verification/india-2-next-agent-plan-refresh-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(planning): deepen next INDIA-2 execution handoff (#800)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-next-agent-plan-refresh-git-handoff-receipt.json
  docs/verification/india-2-next-agent-plan-refresh-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(git): close phase 8 adoption
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/git-automation/git-workflow-single-source.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-next-agent-disposition-plan.md
  docs/research/git-governance/GIT-001-phase-8-adoption-closeout.md
  docs/research/git-governance/GIT-001-phase-8-adoption-evidence.json
  docs/research/git-governance/GIT-001-phase-8-excel-disposition-evidence.json
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
  docs/verification/git-001-phase-8-reconciliation-git-handoff-receipt.json
  docs/verification/git-001-phase-8-reconciliation-git-handoff-source-evidence.json
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

docs(git): refresh phase 8 evidence
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/research/git-governance/GIT-001-phase-8-adoption-evidence.json
  docs/research/git-governance/GIT-001-phase-8-excel-disposition-evidence.json
  docs/research/git-governance/index.json
  docs/verification/git-001-phase-8-reconciliation-git-handoff-receipt.json
  docs/verification/git-001-phase-8-reconciliation-git-handoff-source-evidence.json
  docs/verification/index.json
Due: check-markdown-links, check-doc-metadata

docs(git): close phase 8 adoption (#801)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/git-automation/git-workflow-single-source.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/research/git-governance/GIT-001-README.md
  docs/research/git-governance/GIT-001-next-agent-disposition-plan.md
  docs/research/git-governance/GIT-001-phase-8-adoption-closeout.md
  docs/research/git-governance/GIT-001-phase-8-adoption-evidence.json
  docs/research/git-governance/GIT-001-phase-8-excel-disposition-evidence.json
  docs/research/git-governance/index.json
  docs/research/git-governance/index.md
  docs/verification/git-001-phase-8-reconciliation-git-handoff-receipt.json
  docs/verification/git-001-phase-8-reconciliation-git-handoff-source-evidence.json
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

fix(docs): enforce frontmatter validation
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/india-2-deep-family-acceptance-evidence.md
  docs/verification/india-2-flat-family-acceptance-evidence.md
  docs/verification/india-2-foundation-combined-c-public-workflow-evidence.md
  docs/verification/india-2-foundation-strap-a-analysis-evidence.md
  docs/verification/india-2-foundation-strap-b-strength-evidence.md
  docs/verification/india-2-foundation-strap-c-public-workflow-evidence.md
  docs/verification/india-2-wall-family-acceptance-evidence.md
  scripts/check_docs.py
  tests/test_check_docs.py
Due: check-markdown-links, check-doc-metadata

fix(docs): enforce frontmatter validation (#802)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/is456-library-first-master-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/india-2-deep-family-acceptance-evidence.md
  docs/verification/india-2-flat-family-acceptance-evidence.md
  docs/verification/india-2-foundation-combined-c-public-workflow-evidence.md
  docs/verification/india-2-foundation-strap-a-analysis-evidence.md
  docs/verification/india-2-foundation-strap-b-strength-evidence.md
  docs/verification/india-2-foundation-strap-c-public-workflow-evidence.md
  docs/verification/india-2-wall-family-acceptance-evidence.md
  scripts/check_docs.py
  tests/test_check_docs.py
Due: check-markdown-links, check-doc-metadata

docs(git): add flexure truth handoff receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-truth-hygiene-38-2-evidence.md
  docs/verification/india-2-truth-hygiene-38-2-git-handoff-receipt.json
  docs/verification/india-2-truth-hygiene-38-2-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

test(fastapi): refresh exact flexure evidence
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-truth-hygiene-38-2-evidence.md
  fastapi_app/tests/test_bundled_sample_evidence.py
  fastapi_app/tests/test_footing.py
Due: check-markdown-links, check-doc-metadata

docs(git): refresh flexure repair handoff
  docs/verification/index.json
  docs/verification/india-2-truth-hygiene-38-2-git-handoff-receipt.json
  docs/verification/india-2-truth-hygiene-38-2-git-handoff-source-evidence.json
Due: none

docs(is456): hold pile-cap implementation gate
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-pile-cap-g0-hold-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
  scripts/index.json
Due: check-markdown-links, check-doc-metadata

docs(git): record pile-cap G0 handoff
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-pile-cap-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-pile-cap-g0-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(is456): hold pile-cap implementation gate (#804)
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-pile-cap-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-pile-cap-g0-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-pile-cap-g0-hold-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
  scripts/index.json
Due: check-markdown-links, check-doc-metadata

docs(is456): hold raft implementation gate
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-raft-g0-hold-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(git): record raft G0 handoff
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-raft-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-raft-g0-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata
