Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(streamlit): correct import path in 3d viewer demo page
  docs/planning/3d-visualization-strategic-decision.md
  streamlit_app/pages/05_3d_viewer_demo.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs(planning): expand 3d strategy for ai chat
  docs/planning/3d-visualization-strategic-decision.md
Due: check-markdown-links, check-doc-metadata

docs(planning): refocus automation vision and research
  docs/planning/automation-platform-vision.md
Due: check-markdown-links, check-doc-metadata

docs(planning): deepen automation research steps
  docs/planning/automation-platform-vision.md
Due: check-markdown-links, check-doc-metadata

docs(planning): tighten phase 0 research plan
  docs/planning/automation-platform-phase-0-research.md
  docs/planning/automation-platform-vision.md
  docs/planning/brainstorming_platform_pivot.md
  docs/planning/documentation-structure.md
  docs/planning/library-improvement-master-plan.md
  docs/planning/multi-code-architecture.md
  docs/planning/structural-automation-platform-phase-0-research-plan.md
  docs/reference/sdk-api-contract-v1.md
  docs/research/structural-automation-platform/competitor-scan.md
  streamlit_app/pages/90_feedback.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs(planning): expand phase 0 steps 1-2
  docs/planning/automation-platform-phase-0-research.md
Due: check-markdown-links, check-doc-metadata

fix: security hardening and Copilot review fixes
  .github/copilot-instructions.md
  Python/structural_lib/visualization/geometry_3d.py
  docs/planning/3d-visualization-strategic-decision.md
  docs/research/3d-technology-deep-dive-research.md
  docs/research/chat-ui-product-strategy-research.md
  docs/research/live-3d-visualization-architecture.md
  docs/research/threejs-visualization-source-of-truth.md
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/pages/90_feedback.py
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix: remove key parameter from components.html() calls
  streamlit_app/components/beam_viewer_3d.py
Due: check-performance-issues

fix: reorder 90_feedback.py functions for AST scanner and fix Path division detection
  streamlit_app/pages/90_feedback.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

TASK-3D-01: 3D Visualization Phase 0 MVP - geometry_3d module, Three.js viewer, 59 tests (#373)
  .github/copilot-instructions.md
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/visualization/__init__.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_visualization_geometry_3d.py
  Python/tests/test_visualization_integration.py
  docs/TASKS.md
  docs/planning/3d-visualization-strategic-decision.md
  docs/planning/automation-platform-phase-0-research.md
  docs/planning/automation-platform-vision.md
  docs/planning/brainstorming_platform_pivot.md
  docs/planning/documentation-structure.md
  docs/planning/library-improvement-master-plan.md
  docs/planning/multi-code-architecture.md
  docs/planning/structural-automation-platform-phase-0-research-plan.md
  docs/reference/3d-json-contract.md
  docs/reference/api.md
  docs/reference/sdk-api-contract-v1.md
  docs/research/3d-technology-deep-dive-research.md
  docs/research/chat-ui-product-strategy-research.md
  docs/research/live-3d-visualization-architecture.md
  docs/research/structural-automation-platform/competitor-scan.md
  docs/research/threejs-visualization-source-of-truth.md
  streamlit_app/components/beam_viewer_3d.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/pages/90_feedback.py
  streamlit_app/static/beam_viewer_3d.html
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs: mark 3D Visualization Phase 0 complete (PR #373 merged)
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update next-session-brief for Session 36
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(automation): add Streamlit launch and commit validation
  docs/TASKS.md
  docs/contributing/commit-message-conventions.md
  scripts/check_streamlit_issues.py
  scripts/hooks/commit-msg
  scripts/index.json
  scripts/install_hooks.sh
  scripts/launch_streamlit.sh
Due: check-markdown-links, check-doc-metadata

feat(automation): add Streamlit launch and commit validation (#374)
  docs/TASKS.md
  docs/contributing/commit-message-conventions.md
  scripts/check_streamlit_issues.py
  scripts/hooks/commit-msg
  scripts/index.json
  scripts/install_hooks.sh
  scripts/launch_streamlit.sh
Due: check-markdown-links, check-doc-metadata

docs: add Streamlit launch and commit conventions to guide
  .github/copilot-instructions.md
Due: none

docs: update SESSION_LOG with Part 2 automation work
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat(viz): add Plotly 3D mesh generation for beams
  streamlit_app/components/visualizations_3d.py
  tests/test_visualizations_3d.py
Due: check-performance-issues

feat(beam): integrate Plotly 3D visualization into beam design page
  scripts/check_streamlit_issues.py
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(beam): add @st.fragment for live 3D updates with caching
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update SESSION_LOG and TASKS for Session 36 progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(beam): use consistent bar_dia key name for API compliance
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update session handoff for Session 36 completion
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(streamlit): replace use_container_width usage
  .github/copilot-instructions.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_internal/cost-optimizer-complete-audit.md
  docs/_internal/cost-optimizer-issues-round3.md
  docs/contributing/commit-message-conventions.md
  docs/planning/agent-6-tasks-streamlit.md
  docs/planning/ui-layout-implementation-plan.md
  docs/reference/agent-automation-pitfalls.md
  docs/research/IMPLEMENTATION-DETAILED-PLAN.md
  docs/research/_online-research/API-CAPABILITY-ANALYSIS.md
  docs/research/live-3d-visualization-architecture.md
  docs/research/ui-layout-final-decision.md
  streamlit_app/QUICK_START.md
  streamlit_app/components/visualizations.py
  streamlit_app/components/visualizations_3d.py
  streamlit_app/docs/DESIGN-SYSTEM-QUICK-REFERENCE.md
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/utils/fragments.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

feat(ui): add status display with utilization percentages
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs(tasks): update Phase 1 status + add Phase 2 planning
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs(perf): add 3D visualization performance benchmarks
  docs/reference/3d-visualization-performance.md
  tests/test_visualizations_3d.py
Due: check-markdown-links, check-doc-metadata

docs(session): add Session 37 log + update TASKS.md
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(scripts): add code scanner to Streamlit launch checks
  scripts/launch_streamlit.sh
Due: none

TASK-3D-11: Phase 1 completion - status display and performance docs (#377)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/reference/3d-visualization-performance.md
  scripts/launch_streamlit.sh
  streamlit_app/pages/01_🏗️_beam_design.py
  tests/test_visualizations_3d.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix(viz): resolve 3D beam cache not refreshing on design changes
  streamlit_app/components/visualizations_3d.py
  streamlit_app/pages/01_🏗️_beam_design.py
  tests/test_visualizations_3d.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ui): compact 2-column input layout for beam design
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/utils/layout.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

feat(ui): hide Design Preview after design is computed
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(csv): add CSV import schema spec and SAFE format support
  Python/structural_lib/etabs_import.py
  docs/specs/csv-import-schema.md
Due: mypy, check-markdown-links, check-doc-metadata

docs: update Session 38 progress and mark TASK-CSV-01 complete
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

TASK-UI-01: UI improvements and Phase 2 CSV schema (#378)
  Python/structural_lib/etabs_import.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/specs/csv-import-schema.md
  streamlit_app/components/visualizations_3d.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/utils/layout.py
  tests/test_visualizations_3d.py
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

chore(docs): refresh indexes and release notes
  Python/index.json
  Python/index.md
  README.md
  agents/index.json
  agents/index.md
  agents/roles/index.json
  agents/roles/index.md
  docs/README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/architecture/index.json
  docs/architecture/index.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/getting-started/releases.md
  docs/index.json
  docs/planning/8-week-development-plan.md
  docs/planning/next-session-brief.md
  docs/reference/3d-visualization-performance.md
  docs/reference/index.json
  docs/reference/index.md
  scripts/generate_all_indexes.sh
  scripts/generate_folder_index.py
Due: check-markdown-links, check-doc-metadata

docs: expand ETABS add-in plan
  docs/docs-index.json
  docs/planning/etabs-automation-bridge-plan.md
Due: check-markdown-links, check-doc-metadata

docs: finalize ETABS plan index updates
  docs/docs-index.json
  docs/planning/etabs-automation-bridge-plan.md
Due: check-markdown-links, check-doc-metadata

docs: add ETABS VBA export recipe
  docs/docs-index.json
  docs/research/etabs-vba-export-macro.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
