Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs: update all agent docs with run.sh as primary CLI interface
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/_active/unified-cli-upgrade-plan.md
  docs/agents/guides/agent-quick-reference.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  scripts/README.md
Due: check-markdown-links, check-doc-metadata

feat: add --changed, --pre-commit flags and zsh completions to run.sh
  docs/_active/unified-cli-upgrade-plan.md
  run.sh
  scripts/check_all.py
Due: check-markdown-links, check-doc-metadata

docs: fix stale numbers and update task board for Phase 4 completion
  README.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix: resolve CI failures - root file limit, governance, scripts index, automation-map, PR review com
  docs/guidelines/governance-limits.json
  scripts/agent_start.sh
  scripts/automation-map.json
  scripts/check_governance.py
  scripts/check_root_file_count.sh
  scripts/check_scripts_index.py
  scripts/index.json
  scripts/index.md
  scripts/session.py
Due: none

docs: add git workflow audit and session end updates
  docs/TASKS.md
  docs/audit/git-workflow-audit-pr436.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix: resolve 7 git workflow issues from audit
  docs/audit/git-workflow-audit-pr436.md
  scripts/archive_old_files.sh
  scripts/check_root_file_count.sh
  scripts/finish_task_pr.sh
  scripts/safe_push.sh
Due: check-markdown-links, check-doc-metadata

fix: resolve 9 pre-existing check_all.py failures (TASK-501)
  docs/TASKS.md
  docs/guides/etabs-vba-user-guide.md
  docs/guides/fastapi-deployment-guide.md
  docs/planning/etabs-automation-bridge-plan.md
  docs/planning/next-session-brief.md
  docs/reference/3d-json-contract.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/research/etabs-addin-integration.md
  docs/research/etabs-automation-integration.md
  docs/research/etabs-vba-export-macro.md
  docs/research/etabs-vba-implementation-plan.md
  docs/research/etabs-vba-questions-answered.md
  fastapi_app/openapi_baseline.json
  scripts/check_docs.py
Due: check-markdown-links, check-doc-metadata

docs: session end — TASK-501 handoff updates
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix: apply black formatting to auth.py and export.py
  fastapi_app/auth.py
  fastapi_app/routers/export.py
Due: none

fix: remove unused json import in export.py (ruff F401)
  fastapi_app/routers/export.py
Due: none

TASK-501: Fix 9 pre-existing check_all.py failures: API validation, stability sync, manifest, doc frontmatter, OpenAPI snapshot, TASKS.md format, links, brief trimming (19/28 → 25/28) (#437)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/etabs-vba-user-guide.md
  docs/guides/fastapi-deployment-guide.md
  docs/planning/etabs-automation-bridge-plan.md
  docs/planning/next-session-brief.md
  docs/reference/3d-json-contract.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/research/etabs-addin-integration.md
  docs/research/etabs-automation-integration.md
  docs/research/etabs-vba-export-macro.md
  docs/research/etabs-vba-implementation-plan.md
  docs/research/etabs-vba-questions-answered.md
  fastapi_app/auth.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/export.py
  scripts/check_docs.py
Due: check-markdown-links, check-doc-metadata

docs: add weak points audit doc + TASK-506-509 to task board
  docs/TASKS.md
  docs/planning/weak-points-audit.md
Due: check-markdown-links, check-doc-metadata

fix: TASK-507 fix architecture violations - use stub imports in Streamlit + delete dead test
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/utils/api_wrapper.py
  tests/test_validation_system.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

docs: mark TASK-507 as done
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat: TASK-506 add React test infrastructure - Vitest + 5 smoke test suites (23 tests)
  react_app/package-lock.json
  react_app/package.json
  react_app/src/components/__tests__/DesignView.test.tsx
  react_app/src/hooks/__tests__/useAutoDesign.test.ts
  react_app/src/hooks/__tests__/useBeamGeometry.test.ts
  react_app/src/hooks/__tests__/useCSVImport.test.ts
  react_app/src/store/__tests__/designStore.test.ts
  react_app/src/test/setup.ts
  react_app/tsconfig.app.json
  react_app/vitest.config.ts
Due: none

docs: mark TASK-506 as done
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(react): wire REST fallback in DesignView when WebSocket disconnects (TASK-503)
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/ui/ConnectionStatus.tsx
  react_app/src/hooks/useLiveDesign.ts
Due: none

docs: mark TASK-503 as done
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

refactor(streamlit): split ai_workspace.py into 6 modules (TASK-508)
  streamlit_app/components/ai_workspace/__init__.py
  streamlit_app/components/ai_workspace/design_handler.py
  streamlit_app/components/ai_workspace/export_handler.py
  streamlit_app/components/ai_workspace/import_handler.py
  streamlit_app/components/ai_workspace/rebar_handler.py
  streamlit_app/components/ai_workspace/ui_renderers.py
  streamlit_app/components/ai_workspace/workspace_state.py
  streamlit_app/components/ai_workspace_ORIGINAL_BACKUP.py
Due: check-performance-issues

docs: mark TASK-508 done, update priorities
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix: delete ai_workspace backup + repair SESSION_LOG broken link
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  streamlit_app/components/ai_workspace_ORIGINAL_BACKUP.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

fix(test): fix flaky slenderness monotonicity test (float precision edge case)
  Python/tests/property/test_slenderness_hypothesis.py
Due: none

feat(react): code-split React bundle — lazy routes + manual chunks (TASK-502)
  docs/SESSION_LOG.md
  docs/TASKS.md
  react_app/src/App.tsx
  react_app/vite.config.ts
Due: check-markdown-links, check-doc-metadata

docs: add launch instructions and tech stack rationale to bootstrap
  .vite/deps/_metadata.json
  .vite/deps/package.json
  Python/structural_lib/codes/is456/ductile.py
  docs/getting-started/agent-bootstrap.md
Due: mypy, check-markdown-links, check-doc-metadata

docs: optimize bootstrap for AI agents — add quick-scan, session checklist, move tech rationale to r
  Python/index.json
  Python/index.md
  agents/agent-9/index.json
  agents/agent-9/index.md
  agents/index.json
  agents/index.md
  agents/roles/index.json
  agents/roles/index.md
  docs/agents/guides/index.json
  docs/agents/guides/index.md
  docs/architecture/index.json
  docs/architecture/index.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/developers/index.json
  docs/developers/index.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/index.json
  docs/planning/index.json
  docs/planning/index.md
  docs/reference/index.json
  docs/reference/index.md
  docs/reference/tech-stack-rationale.md
  docs/research/index.json
  docs/research/index.md
  docs/verification/index.json
  docs/verification/index.md
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

feat: add preflight check, smart test runner, session context scripts
  docs/getting-started/agent-bootstrap.md
  run.sh
  scripts/preflight.py
  scripts/session.py
  scripts/test_changed.py
Due: check-markdown-links, check-doc-metadata

docs: sync stale doc numbers (81 scripts)
  README.md
Due: none

chore: phase 1+2 cleanup — delete stale files, add Streamlit deprecation markers
  .gitignore
  docs/_references/README.md
  git_operations_log/2026-01-08-operations.log
  git_operations_log/2026-01-08.md
  git_operations_log/2026-01.log
  metrics/doc_consolidation_metrics.json
  metrics/metrics_2026-01-10.json
  streamlit_app/README.md
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/08_⚡_ai_assistant.py
  streamlit_app/pages/_archived/_06_📐_dxf_export.py
  streamlit_app/pages/_archived/_07_📄_report_generator.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs: fix broken link to deleted git_operations_log
  docs/agents/README.md
Due: check-markdown-links, check-doc-metadata

feat: TASK-509 add type annotations to all Streamlit functions (100% coverage)
  streamlit_app/components/ai_workspace/import_handler.py
  streamlit_app/components/ai_workspace/ui_renderers.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/08_⚡_ai_assistant.py
  streamlit_app/pages/_hidden/07_📄_report_generator.py
  streamlit_app/pages/_hidden/_05_📋_bbs_generator.py
  streamlit_app/pages/_hidden/_06_📤_etabs_import.py
  streamlit_app/pages/_hidden/_08_📊_batch_design.py
  streamlit_app/pages/_hidden/_08_📐_dxf_export.py
  streamlit_app/pages/_hidden/_10_🤖_ai_assistant.py
  streamlit_app/pages/_hidden/_12_📖_clause_traceability.py
  streamlit_app/utils/cost_optimizer_error_boundary.py
  streamlit_app/utils/error_handler.py
  streamlit_app/utils/fragments.py
  streamlit_app/utils/lod_manager.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

docs: update TASKS.md — shift focus to React migration, add TASK-510/511/512
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(react): TASK-510 batch design page with SSE streaming progress
  react_app/src/App.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/hooks/useBatchDesign.ts
Due: none

docs: update TASKS.md and next-session-brief for TASK-510 progress
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(react): add TopBar nav links + ModeSelect quick access + update TASKS after feature audit
  docs/TASKS.md
  docs/planning/next-session-brief.md
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/ModeSelectPage.tsx
Due: check-markdown-links, check-doc-metadata

test: TASK-505 API integration tests — 86 tests across 12 routers (Vitest)
  README.md
  docs/TASKS.md
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/hooks/__tests__/useBatchDesign.test.ts
  react_app/src/hooks/__tests__/useInsights.test.ts
  react_app/src/store/__tests__/importedBeamsStore.test.ts
  react_app/src/test/api-fixtures.ts
Due: check-markdown-links, check-doc-metadata

docs: add v0.21 library expansion plan with 8 tasks (TASK-514 to TASK-521)
  docs/TASKS.md
  docs/planning/next-phase-improvements-plan.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: add React UX improvement plan with 3-phase visual audit
  docs/planning/react-ux-improvement-plan.md
Due: check-markdown-links, check-doc-metadata

feat(react): TASK-526 cross-section annotations — utilization color, actual barDia/barCount, badge
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/react-ux-improvement-plan.md
  react_app/src/App.tsx
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/CrossSectionView.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/viewport/Viewport3D.tsx
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
