Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

test(is456): accept deep beam family
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-deep-acceptance-git-handoff-receipt.json
  docs/verification/india-2-deep-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-deep-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

test(is456): accept deep beam family (#779)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-deep-acceptance-git-handoff-receipt.json
  docs/verification/india-2-deep-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-deep-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(is456): freeze flat slab scope
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-g0-git-handoff-receipt.json
  docs/verification/india-2-flat-g0-git-handoff-source-evidence.json
  docs/verification/india-2-flat-g0-scope-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(is456): freeze flat slab scope (#780)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-g0-git-handoff-receipt.json
  docs/verification/india-2-flat-g0-git-handoff-source-evidence.json
  docs/verification/india-2-flat-g0-scope-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

feat(is456): add flat slab geometry kernel
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/geometry.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/models.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/flat_slab/__init__.py
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_geometry.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-a-geometry-evidence.md
  docs/verification/india-2-flat-a-git-handoff-receipt.json
  docs/verification/india-2-flat-a-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(governance): record flat slab handoff issue
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

feat(is456): add flat slab geometry kernel (#781)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/geometry.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/models.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/flat_slab/__init__.py
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_geometry.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-a-geometry-evidence.md
  docs/verification/india-2-flat-a-git-handoff-receipt.json
  docs/verification/india-2-flat-a-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): add flat slab moment distribution
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/moments.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_moments.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-b-git-handoff-receipt.json
  docs/verification/india-2-flat-b-git-handoff-source-evidence.json
  docs/verification/india-2-flat-b-moment-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): add flat slab moment distribution (#782)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/moments.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_moments.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-b-git-handoff-receipt.json
  docs/verification/india-2-flat-b-git-handoff-source-evidence.json
  docs/verification/india-2-flat-b-moment-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): check flat slab reinforcement
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/reinforcement.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_reinforcement.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-c-git-handoff-receipt.json
  docs/verification/india-2-flat-c-git-handoff-source-evidence.json
  docs/verification/india-2-flat-c-reinforcement-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): check flat slab reinforcement (#783)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/reinforcement.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_reinforcement.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-c-git-handoff-receipt.json
  docs/verification/india-2-flat-c-git-handoff-source-evidence.json
  docs/verification/india-2-flat-c-reinforcement-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): check flat slab punching
  Python/structural_lib/codes/index.json
  Python/structural_lib/codes/index.md
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/punching.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_punching.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-d-git-handoff-receipt.json
  docs/verification/india-2-flat-d-git-handoff-source-evidence.json
  docs/verification/india-2-flat-d-punching-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): check flat slab punching (#784)
  Python/structural_lib/codes/index.json
  Python/structural_lib/codes/index.md
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/flat_slab/__init__.py
  Python/structural_lib/codes/is456/flat_slab/index.json
  Python/structural_lib/codes/is456/flat_slab/index.md
  Python/structural_lib/codes/is456/flat_slab/punching.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/tests/codes/is456/flat_slab/index.json
  Python/tests/codes/is456/flat_slab/index.md
  Python/tests/codes/is456/flat_slab/test_punching.py
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/unit/test_clauses_json.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-d-git-handoff-receipt.json
  docs/verification/india-2-flat-d-git-handoff-source-evidence.json
  docs/verification/india-2-flat-d-punching-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

test(is456): accept flat slab family
  Python/tests/integration/test_capability_semantics.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-acceptance-git-handoff-receipt.json
  docs/verification/india-2-flat-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-flat-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

test(is456): accept flat slab family (#786)
  Python/tests/integration/test_capability_semantics.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-flat-acceptance-git-handoff-receipt.json
  docs/verification/india-2-flat-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-flat-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(is456): freeze combined footing scope
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-g0-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-g0-scope-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(is456): freeze combined footing scope (#787)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-g0-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-g0-scope-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

feat(is456): add combined footing action kernel
  Python/structural_lib/codes/is456/combined_footing/__init__.py
  Python/structural_lib/codes/is456/combined_footing/analysis.py
  Python/structural_lib/codes/is456/combined_footing/index.json
  Python/structural_lib/codes/is456/combined_footing/index.md
  Python/structural_lib/codes/is456/combined_footing/models.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/combined_footing/__init__.py
  Python/tests/codes/is456/combined_footing/index.json
  Python/tests/codes/is456/combined_footing/index.md
  Python/tests/codes/is456/combined_footing/test_analysis.py
  Python/tests/codes/is456/index.json
  Python/tests/codes/is456/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_function_quality_checker.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-a-analysis-evidence.md
  docs/verification/india-2-foundation-combined-a-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-a-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
  scripts/check_function_quality.py
  scripts/index.json
  scripts/index.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): add combined footing action kernel (#788)
  Python/structural_lib/codes/is456/combined_footing/__init__.py
  Python/structural_lib/codes/is456/combined_footing/analysis.py
  Python/structural_lib/codes/is456/combined_footing/index.json
  Python/structural_lib/codes/is456/combined_footing/index.md
  Python/structural_lib/codes/is456/combined_footing/models.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/combined_footing/__init__.py
  Python/tests/codes/is456/combined_footing/index.json
  Python/tests/codes/is456/combined_footing/index.md
  Python/tests/codes/is456/combined_footing/test_analysis.py
  Python/tests/codes/is456/index.json
  Python/tests/codes/is456/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_function_quality_checker.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-a-analysis-evidence.md
  docs/verification/india-2-foundation-combined-a-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-a-git-handoff-source-evidence.json
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
  scripts/check_function_quality.py
  scripts/index.json
  scripts/index.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): add combined footing strength checks
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/combined_footing/__init__.py
  Python/structural_lib/codes/is456/combined_footing/index.json
  Python/structural_lib/codes/is456/combined_footing/index.md
  Python/structural_lib/codes/is456/combined_footing/models.py
  Python/structural_lib/codes/is456/combined_footing/strength.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/combined_footing/index.json
  Python/tests/codes/is456/combined_footing/index.md
  Python/tests/codes/is456/combined_footing/test_strength.py
  Python/tests/codes/is456/index.json
  Python/tests/codes/is456/index.md
  Python/tests/index.json
  Python/tests/index.md
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-b-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-b-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-b-strength-evidence.md
  docs/verification/indian-code-capability-coverage.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(india2): prepare combined footing publication handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-b-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-b-strength-evidence.md
Due: check-markdown-links, check-doc-metadata

fix(india2): reconcile held combined footing truth
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/india-2-foundation-combined-b-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-b-strength-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(india2): preserve unrelated git state in handoff
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(is456): add combined footing strength checks (#789)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/combined_footing/__init__.py
  Python/structural_lib/codes/is456/combined_footing/index.json
  Python/structural_lib/codes/is456/combined_footing/index.md
  Python/structural_lib/codes/is456/combined_footing/models.py
  Python/structural_lib/codes/is456/combined_footing/strength.py
  Python/structural_lib/codes/is456/index.json
  Python/structural_lib/codes/is456/index.md
  Python/tests/codes/is456/combined_footing/index.json
  Python/tests/codes/is456/combined_footing/index.md
  Python/tests/codes/is456/combined_footing/test_strength.py
  Python/tests/codes/is456/index.json
  Python/tests/codes/is456/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-b-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-b-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-b-strength-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(is456): publish combined footing Python workflow
  Python/structural_lib/__init__.py
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/structural_lib/services/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/combined_footing_api.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/integration/test_combined_footing_publication.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-b-strength-evidence.md
  docs/verification/india-2-foundation-combined-c-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-c-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-c-public-workflow-evidence.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(governance): distinguish held combined footing preview
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-c-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-c-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-c-public-workflow-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

feat(is456): publish combined footing Python workflow (#790)
  Python/structural_lib/__init__.py
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/structural_lib/services/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/combined_footing_api.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/integration/test_combined_footing_publication.py
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-b-strength-evidence.md
  docs/verification/india-2-foundation-combined-c-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-c-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-c-public-workflow-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(api): correct combined schema count
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/india-2-foundation-combined-d-publication-evidence.md
Due: check-markdown-links, check-doc-metadata

test(is456): accept combined footing family
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-acceptance-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

fix(evidence): bind nonfrozen combined replay
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-acceptance-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-acceptance-nonfrozen-replay.json
  docs/verification/india-2-foundation-combined-family-acceptance-evidence.md
Due: check-markdown-links, check-doc-metadata

test(is456): accept combined footing family (#792)
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_indian_code_manifest.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-combined-acceptance-git-handoff-receipt.json
  docs/verification/india-2-foundation-combined-acceptance-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-combined-acceptance-nonfrozen-replay.json
  docs/verification/india-2-foundation-combined-family-acceptance-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(is456): decide strap footing scope
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-g0-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-strap-g0-scope-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

docs(is456): decide strap footing scope (#793)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/india-2-remaining-is456-elements-plan.md
  docs/planning/indian-code-completion-plan.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
  docs/verification/india-2-foundation-strap-g0-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-g0-git-handoff-source-evidence.json
  docs/verification/india-2-foundation-strap-g0-scope-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: check-markdown-links, check-doc-metadata

feat(footing): add bounded strap analysis
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/strap_footing/__init__.py
  Python/structural_lib/codes/is456/strap_footing/analysis.py
  Python/structural_lib/codes/is456/strap_footing/index.json
  Python/structural_lib/codes/is456/strap_footing/index.md
  Python/structural_lib/codes/is456/strap_footing/models.py
  Python/tests/codes/is456/strap_footing/__init__.py
  Python/tests/codes/is456/strap_footing/index.json
  Python/tests/codes/is456/strap_footing/index.md
  Python/tests/codes/is456/strap_footing/test_analysis.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/india-2-next-session-publication-and-closeout-plan.md
  docs/planning/next-session-brief.md
  docs/verification/india-2-foundation-strap-a-analysis-evidence.md
  docs/verification/indian-code-capability-coverage.json
  scripts/_lib/indian_code_manifest.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(footing): bind strap analysis handoff
  docs/verification/india-2-foundation-strap-a-git-handoff-receipt.json
  docs/verification/india-2-foundation-strap-a-git-handoff-source-evidence.json
Due: none

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
