Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

Deployed ec4f51db with MkDocs version: 1.6.1
  api-reference/index.html
  search/search_index.json
Due: none

fix(react): unwrap FastAPI response envelope in all API calls
  CHANGELOG.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/api/client.ts
  react_app/src/components/import/ImportView.tsx
  react_app/src/hooks/__tests__/useCSVImport.test.ts
  react_app/src/hooks/useBeamGeometry.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/hooks/useGeometryAdvanced.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarEditor.ts
Due: check-markdown-links, check-doc-metadata

fix(react): unwrap FastAPI response envelope in all API calls (#540)
  CHANGELOG.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  react_app/src/api/__tests__/endpoints.test.ts
  react_app/src/api/client.ts
  react_app/src/components/import/ImportView.tsx
  react_app/src/hooks/__tests__/useCSVImport.test.ts
  react_app/src/hooks/useBeamGeometry.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/hooks/useGeometryAdvanced.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarEditor.ts
Due: check-markdown-links, check-doc-metadata

Deployed 54dda60a with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(react): unwrap FastAPI response envelope in all API calls (#540)
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 04786786 with MkDocs version: 1.6.1
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(react): unwrap FastAPI response envelope in all API calls (#540)
  docs/TASKS.md
  docs/WORKLOG.md
  docs/_archive/tasks-history.md
  docs/architecture/unified-architecture-v1.md
  docs/docs-canonical.json
  docs/planning/library-expansion-blueprint-v5.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 9bd2a61d with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  architecture/unified-architecture-v1/index.html
  docs-canonical.json
  planning/library-expansion-blueprint-v5/index.html
  planning/next-session-brief/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: fix 14 verified inaccuracies in unified-architecture-v1.md
  docs/architecture/unified-architecture-v1.md
Due: check-markdown-links, check-doc-metadata

Deployed dfeff678 with MkDocs version: 1.6.1
  architecture/unified-architecture-v1/index.html
  search/search_index.json
Due: none

test(is456): v0.21.5 golden vectors, contract tests, coverage boost + CI gate
  .github/workflows/python-tests.yml
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/tests/conftest.py
  Python/tests/data/golden_vectors_is456.json
  Python/tests/integration/test_contracts.py
  Python/tests/regression/test_golden_vectors_column.py
  Python/tests/regression/test_golden_vectors_footing.py
  Python/tests/regression/test_golden_vectors_is456.py
  Python/tests/test_report_edge_cases.py
  Python/tests/test_visualization_edge_cases.py
  Python/tests/unit/test_coverage_boost_is456.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/planning/next-session-brief.md
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix(tests): lint fixes for test_contracts and test_coverage_boost
  Python/tests/integration/test_contracts.py
  Python/tests/unit/test_coverage_boost_is456.py
Due: none

fix(tests): resolve ruff F811 duplicate name and C408 dict literal
  Python/tests/unit/test_coverage_boost_is456.py
Due: none

TASK-720: v0.21.5: Golden vector baselines (42+), contract tests (18), coverage boost (19), CI gate, report/3D tests (71), @clause fix (#541)
  .github/workflows/python-tests.yml
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/tests/conftest.py
  Python/tests/data/golden_vectors_is456.json
  Python/tests/integration/test_contracts.py
  Python/tests/regression/test_golden_vectors_column.py
  Python/tests/regression/test_golden_vectors_footing.py
  Python/tests/regression/test_golden_vectors_is456.py
  Python/tests/test_report_edge_cases.py
  Python/tests/test_visualization_edge_cases.py
  Python/tests/unit/test_coverage_boost_is456.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/planning/next-session-brief.md
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 0bb60421 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  architecture/unified-architecture-v1/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

chore(release): v0.21.5 — test coverage & regression prevention
  .github/agents/api-developer.agent.md
  .github/agents/structural-math.agent.md
  .github/agents/tester.agent.md
  CHANGELOG.md
  CITATION.cff
  Python/pyproject.toml
  Python/test_stats.json
  Python/tests/integration/test_adapter_e2e.py
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

chore(release): v0.21.5 — test coverage & regression prevention (#542)
  .github/agents/api-developer.agent.md
  .github/agents/structural-math.agent.md
  .github/agents/tester.agent.md
  CHANGELOG.md
  CITATION.cff
  Python/pyproject.toml
  Python/test_stats.json
  Python/tests/integration/test_adapter_e2e.py
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 9d2ebfee with MkDocs version: 1.6.1
  WORKLOG/index.html
  architecture/unified-architecture-v1/index.html
  getting-started/beginners-guide/index.html
  getting-started/releases/index.html
  getting-started/user-guide/index.html
  git-automation/git-workflow-single-source/index.html
  planning/pre-release-checklist/index.html
  reference/api-stability/index.html
  reference/api/index.html
  reference/fastapi-rest-api/index.html
  search/search_index.json
  verification/validation-pack/index.html
Due: none

chore(release): v0.21.5 — test coverage & regression prevention (#542)
  Python/tests/unit/test_coverage_boost_is456.py
Due: none

add IS 456 Performance Benchmarks (pytest) benchmark result for 9029c18a6e31f140b0a009b4e470f2bbb415f26f
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
Due: none

feat: implement check_code() self-validation (TASK-724)
  Python/MANIFEST.in
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/bbs.py
  Python/structural_lib/services/common_api.py
  Python/structural_lib/services/etabs_import.py
  Python/tests/test_packaging.py
  Python/tests/unit/test_etabs_import.py
  fastapi_app/routers/export.py
Due: mypy, check-python-version

fix: remediate 8 external audit findings (units, types, packaging, README)
  CHANGELOG.md
  Python/structural_lib/__init__.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/common_api.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

ci: add OpenAPI baseline drift check (TASK-726)
  .github/workflows/python-tests.yml
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/common_api.py
  fastapi_app/openapi_baseline.json
  scripts/check_openapi_drift.py
Due: mypy, check-python-version

test: add tests for check_code and show_versions (TASK-724, TASK-725)
  Python/tests/unit/test_check_code.py
  Python/tests/unit/test_show_versions.py
Due: none

docs: add function limitation sections to IS 456 docstrings (TASK-727)
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/codes/is456/beam/serviceability.py
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/column/detailing.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/codes/is456/footing/flexure.py
  Python/structural_lib/codes/is456/footing/one_way_shear.py
  Python/structural_lib/codes/is456/footing/punching_shear.py
Due: mypy

docs: v0.21.6 release — update CHANGELOG, TASKS, architecture, WORKLOG, next-session-brief
  CHANGELOG.md
  Python/pyproject.toml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/architecture/unified-architecture-v1.md
  docs/planning/next-session-brief.md
  llms.txt
Due: check-python-version, check-markdown-links, check-doc-metadata

fix: add check_openapi_drift.py to automation-map.json
  scripts/automation-map.json
Due: none

Deployed e609af0a with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  agents/guides/index.html
  agents/guides/index.json
  agents/index.html
  agents/index.json
  api-reference/index.html
  architecture/index.html
  architecture/index.json
  architecture/unified-architecture-v1/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  contributing/index.html
  contributing/index.json
  dev/benchmark-data/data.js
  dev/benchmark-data/index.html
  getting-started/index.html
  getting-started/index.json
  guides/index.html
  guides/index.json
  index.html
  index.json
  planning/index.html
  planning/index.json
  planning/next-session-brief/index.html
  reference/index.html
  reference/index.json
  search/search_index.json
Due: none

docs: sync version to 0.21.6, fix endpoint counts (59→60), clarify unreleased status
  .github/agents/api-developer.agent.md
  .github/instructions/fastapi.instructions.md
  .github/skills/release-preflight/SKILL.md
  CITATION.cff
  CLAUDE.md
  Python/README.md
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/democratization-vision.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  react_app/package.json
Due: check-markdown-links, check-doc-metadata

docs: sync version 0.21.6, fix endpoint counts (59→60), clarify unreleased status
  .github/agents/api-developer.agent.md
  .github/instructions/fastapi.instructions.md
  CITATION.cff
  CLAUDE.md
  Python/README.md
  README.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/democratization-vision.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  react_app/package.json
Due: check-markdown-links, check-doc-metadata

Deployed cf20a04c with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  getting-started/mac-mini-setup/index.html
  planning/democratization-vision/index.html
  planning/next-session-brief/index.html
  planning/pre-release-checklist/index.html
  search/search_index.json
Due: none

chore(agents): apply 9 evolution items (EVO-004,-007,-014-020) to 5 agent files
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/ops.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/tester.agent.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed d017a5bf with MkDocs version: 1.6.1
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: audit remediation — ductile import, reports fallback, README pin, smoke tests
  Python/README.md
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/reports/generator.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/dxf_export.py
  Python/structural_lib/services/excel_integration.py
  Python/structural_lib/services/rebar.py
  Python/structural_lib/services/rebar_optimizer.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/property/test_ductile_hypothesis.py
  Python/tests/test_packaging.py
  Python/tests/unit/test_anchorage_check.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

fix: audit remediation — ductile import, reports fallback, README pin, smoke tests (#545)
  Python/README.md
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/reports/generator.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/dxf_export.py
  Python/structural_lib/services/excel_integration.py
  Python/structural_lib/services/rebar.py
  Python/structural_lib/services/rebar_optimizer.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/property/test_ductile_hypothesis.py
  Python/tests/test_packaging.py
  Python/tests/unit/test_anchorage_check.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 613dce1f with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  objects.inv
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: canonicalize remaining deprecated import paths
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_visualization_integration.py
Due: mypy

Deployed d5adc470 with MkDocs version: 1.6.1
  api-reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
