Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

chore: make governance scripts executable
  docs/research/etabs-vba-export-macro.md
  scripts/analyze_release_cadence.py
  scripts/governance_health_score.py
  scripts/predict_velocity.py
  scripts/run_vba_smoke_tests.py
Due: check-markdown-links, check-doc-metadata

docs: add comprehensive ETABS VBA implementation plan with performance and error handling
  docs/research/etabs-vba-implementation-plan.md
Due: check-markdown-links, check-doc-metadata

docs: answer ETABS VBA questions with decisions and roadmap
  docs/research/etabs-vba-questions-answered.md
Due: check-markdown-links, check-doc-metadata

feat(vba): add complete ETABS export with 7 modules and user guide
  VBA/ETABS_Export/.!34470!mod_Types.bas
  VBA/ETABS_Export/.!35354!mod_Types.bas
  VBA/ETABS_Export/mod_Analysis.bas
  VBA/ETABS_Export/mod_Connection.bas
  VBA/ETABS_Export/mod_Export.bas
  VBA/ETABS_Export/mod_Logging.bas
  VBA/ETABS_Export/mod_Main.bas
  VBA/ETABS_Export/mod_Types.bas
  VBA/ETABS_Export/mod_Utils.bas
  VBA/ETABS_Export/mod_Validation.bas
  docs/guides/etabs-vba-user-guide.md
Due: check-markdown-links, check-doc-metadata

docs: update session 36 with VBA implementation (PR #379)
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(tests): skip report tests when jinja2 not installed
  Python/tests/test_reports.py
Due: none

fix(vba): improve robustness with better column mapping and validation
  VBA/ETABS_Export/mod_Connection.bas
  VBA/ETABS_Export/mod_Export.bas
  VBA/ETABS_Export/mod_Main.bas
  VBA/ETABS_Export/mod_Validation.bas
Due: none

feat(ui): add ETABS CSV import page with batch design and 3D grid view
  streamlit_app/pages/06_📤_etabs_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(scanner): improve Path operator and guard clause detection (Phase 8)
  scripts/check_streamlit_issues.py
Due: none

test(examples): add sample ETABS export CSV for import testing
  Python/examples/sample_etabs_export.csv
Due: none

chore: remove CHM internal folders with invalid names
  docs/reference/vendor/etabs/etabs_chm/$WWAssociativeLinks/Property
  docs/reference/vendor/etabs/etabs_chm/$WWKeywordLinks/BTree
  docs/reference/vendor/etabs/etabs_chm/$WWKeywordLinks/Data
  docs/reference/vendor/etabs/etabs_chm/$WWKeywordLinks/Map
  docs/reference/vendor/etabs/etabs_chm/$WWKeywordLinks/Property
Due: none

TASK-VBA-001: Complete ETABS VBA export implementation (#379)
  VBA/ETABS_Export/.!34470!mod_Types.bas
  VBA/ETABS_Export/.!35354!mod_Types.bas
  VBA/ETABS_Export/mod_Analysis.bas
  VBA/ETABS_Export/mod_Connection.bas
  VBA/ETABS_Export/mod_Export.bas
  VBA/ETABS_Export/mod_Logging.bas
  VBA/ETABS_Export/mod_Main.bas
  VBA/ETABS_Export/mod_Types.bas
  VBA/ETABS_Export/mod_Utils.bas
  VBA/ETABS_Export/mod_Validation.bas
  docs/guides/etabs-vba-user-guide.md
Due: check-markdown-links, check-doc-metadata

docs: add session 39 - ETABS import UI + scanner improvements
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

fix: remove macOS cloud sync lock files and update gitignore
  .gitignore
Due: none

docs: Add consolidated VBA critical reference guide
  structural_engineering_lib/VBA/VBA_CRITICAL_GUIDE.md
Due: none

docs: Add legacy VBA code archive and API research (2019-2021)
  structural_engineering_lib/VBA/Legacy_2019_2021/BASE_REACTIONS.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/BEAM_DESIGN.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/BeamType.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/COLUMNS.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/LoadCombo.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/README.md
  structural_engineering_lib/VBA/Legacy_2019_2021/SCALING.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/ShearWall.bas
  structural_engineering_lib/VBA/Legacy_2019_2021/torsional_irregularity.bas
  structural_engineering_lib/docs/research/etabs-api-quick-reference.md
  structural_engineering_lib/docs/research/integration-recommendations.md
  structural_engineering_lib/docs/research/legacy-vba-code-analysis-2019-2021.md
Due: none

feat(vba): ETABS Export v2.1 - Consolidated two-file solution
  structural_engineering_lib/VBA/ETABS_Export_v2/README.md
  structural_engineering_lib/VBA/ETABS_Export_v2/TEST_CHECKLIST.md
  structural_engineering_lib/VBA/ETABS_Export_v2/mod_ETABS_Core.bas
  structural_engineering_lib/VBA/ETABS_Export_v2/mod_ETABS_Export.bas
Due: none

fix(vba): ETABS Export v2.2 - fix unit detection and load case selection
  VBA/ETABS_Export_v2/mod_ETABS_Core.bas
  VBA/ETABS_Export_v2/mod_ETABS_Export.bas
Due: none

fix(vba): prioritize Helper method for ETABS connection
  VBA/ETABS_Export_v2/mod_ETABS_Core.bas
Due: none

fix(vba): handle ETABS API enum inconsistencies
  VBA/ETABS_Export_v2/mod_ETABS_Core.bas
  VBA/ETABS_Export_v2/mod_ETABS_Export.bas
Due: none

fix(vba): v2.3 - don't enumerate load cases (legacy pattern)
  VBA/ETABS_Export_v2/mod_ETABS_Core.bas
  VBA/ETABS_Export_v2/mod_ETABS_Export.bas
Due: none

debug(vba): add detailed error logging to identify failing API call
  VBA/ETABS_Export_v2/mod_ETABS_Export.bas
Due: none

feat(vba): add 3 alternative export approaches for testing
  VBA/ETABS_Export_v2/APPROACH_1_DatabaseTablesOnly.bas
  VBA/ETABS_Export_v2/APPROACH_2_LegacyPattern.bas
  VBA/ETABS_Export_v2/APPROACH_3_MinimalAPI.bas
Due: none

feat(vba): add step-by-step diagnostic tool
  VBA/ETABS_Export_v2/DIAGNOSTIC_Simple.bas
Due: none

feat(vba): add solutions for Error #430
  VBA/ETABS_Export_v2/INSTRUCTIONS_AddReference.bas
  VBA/ETABS_Export_v2/SOLUTION_DatabaseTablesAll.bas
Due: none

feat(vba): complete ETABS export system for 3D visualization
  VBA/ETABS_Export_v2/ETABS_ComprehensiveExport.bas
  VBA/ETABS_Export_v2/ETABS_Export_Config.bas
  VBA/ETABS_Export_v2/ETABS_Export_Production.bas
  VBA/ETABS_Export_v2/ETABS_Export_Production_v1.bas
  VBA/ETABS_Export_v2/ETABS_OneClick_Export.bas
  VBA/ETABS_Export_v2/ETABS_SimpleExport.bas
  VBA/ETABS_Export_v2/Etabs_output/2026-01-17_222801/beam_forces.csv
  VBA/ETABS_Export_v2/Etabs_output/2026-01-17_222801/frames_geometry.csv
  VBA/ETABS_Export_v2/Etabs_output/2026-01-17_222801/frames_properties.csv
  VBA/ETABS_Export_v2/Etabs_output/2026-01-17_222801/stories.csv
  VBA/ETABS_Export_v2/Etabs_output/beam_design_data.csv
  VBA/ETABS_Export_v2/GUIDE_Implementation.md
  VBA/ETABS_Export_v2/README.md
  VBA/ETABS_Export_v2/TESTING_CHECKLIST.md
  VBA/ETABS_Export_v2/_archive/README.md
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DEBUG_Step1_CheckAnalysis.bas
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DEBUG_Step2_SingleFrame.bas
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DEBUG_Step3_AllFrames.bas
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DEBUG_Step4_CaseSelection.bas
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DEBUG_Step5_RawExport.bas
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DEBUG_Step6_DatabaseTables.bas
  VBA/ETABS_Export_v2/_archive/session31_diagnostics/DIAGNOSTIC_Simple.bas
  VBA/ETABS_Export_v2/_archive/session31_solutions/INSTRUCTIONS_AddReference.bas
  VBA/ETABS_Export_v2/_archive/session31_solutions/SOLUTION_DatabaseTablesAll.bas
  VBA/ETABS_Export_v2/_archive/session31_trials/APPROACH_1_DatabaseTablesOnly.bas
  VBA/ETABS_Export_v2/_archive/session31_trials/APPROACH_2_LegacyPattern.bas
  VBA/ETABS_Export_v2/_archive/session31_trials/APPROACH_3_MinimalAPI.bas
  VBA/ETABS_Export_v2/_archive/session31_trials/mod_ETABS_Core.bas
  VBA/ETABS_Export_v2/_archive/session31_trials/mod_ETABS_Export.bas
  docs/vba/ETABS-Export-Journey-Session31.md
  docs/vba/ETABS-Export-Production-Plan.md
  structural_engineering_lib/docs/learning/README.md
  structural_engineering_lib/docs/learning/concepts-map.md
  structural_engineering_lib/docs/learning/exercises.md
  structural_engineering_lib/docs/learning/glossary.md
  structural_engineering_lib/docs/learning/guides.md
  structural_engineering_lib/docs/learning/learning-plan.md
Due: check-markdown-links, check-doc-metadata

feat(etabs): add frame geometry import with 3D coordinates
  Python/structural_lib/etabs_import.py
Due: mypy

docs: add TASK-3D-002 implementation plan
  docs/planning/task-3d-002-implementation-plan.md
  streamlit_app/pages/06_📤_etabs_import.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs(plan): mark Phase 1 complete, add TASK-3D-002 to task board
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

feat(etabs): implement real 3D building coordinates from frames_geometry.csv
  streamlit_app/pages/06_📤_etabs_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

test(etabs): add FrameGeometry and frames_geometry tests
  Python/tests/unit/test_etabs_import.py
Due: none

docs(specs): add frames_geometry.csv schema for 3D visualization
  docs/specs/csv-import-schema.md
Due: check-markdown-links, check-doc-metadata

docs: update session 39 log and handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

style: fix black formatting across all Python files
  docs/_internal/quality-assessments/2026-01-04/scripts/api_stats.py
  docs/_internal/quality-assessments/2026-01-04/scripts/test_api_stability.py
  docs/_internal/quality-assessments/2026-01-04/scripts/test_extensibility.py
  docs/_internal/quality-assessments/2026-01-04/scripts/test_feature_completeness.py
  docs/_internal/quality-assessments/2026-01-04/scripts/test_smart_features.py
  docs/_internal/quality-assessments/2026-01-04/scripts/test_visuals.py
  docs/architecture/tools/generate_dependency_graph.py
  scripts/_vba_tools_archive_2025-01-17/check_quotes_hex.py
  scripts/_vba_tools_archive_2025-01-17/fix_vba_bytes.py
  scripts/_vba_tools_archive_2025-01-17/fix_vba_quotes.py
  scripts/analyze_release_cadence.py
  scripts/check_fragment_violations.py
  scripts/check_streamlit_issues.py
  scripts/governance_health_score.py
  scripts/predict_velocity.py
  scripts/run_vba_smoke_tests.py
  scripts/vba_validator.py
  streamlit_app/components/beam_viewer_3d.py
  streamlit_app/components/visualizations_3d.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/pages/06_📤_etabs_import.py
  streamlit_app/pages/90_feedback.py
  tests/apptest/test_all_pages_smoke.py
  tests/apptest/test_integration_workflows.py
  tests/apptest/test_page_01_beam_design.py
  tests/apptest/test_page_02_cost_optimizer.py
  tests/test_check_streamlit_issues.py
  tests/test_quality_assessment.py
  tests/test_scanner_detection.py
  tests/test_validation_system.py
  tests/test_xlwings_bridge.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(models): add Pydantic-based canonical data models for stable input handling
  Python/pyproject.toml
  Python/structural_lib/__init__.py
  Python/structural_lib/models.py
  Python/tests/unit/test_models.py
  docs/TASKS.md
  docs/architecture/canonical-data-format.md
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

feat(adapters): add ETABS CSV adapter for canonical data conversion
  Python/structural_lib/__init__.py
  Python/structural_lib/adapters.py
  Python/tests/unit/test_adapters.py
Due: mypy

feat(serialization): add JSON serialization utilities for canonical models
  Python/structural_lib/__init__.py
  Python/structural_lib/serialization.py
  Python/tests/unit/test_serialization.py
Due: mypy

docs: update TASKS.md and SESSION_LOG.md with Session 40 progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata
