Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs(is456): map amendment impacts to supported callers
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
Due: check-markdown-links, check-doc-metadata

docs(is456): include basic one-way detailing in amendment mapping
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
Due: check-markdown-links, check-doc-metadata

fix(slab): apply amended distribution spacing limit
  Python/structural_lib/codes/is456/slab/detailing.py
  Python/structural_lib/codes/is456/slab/one_way_detailing.py
  Python/structural_lib/codes/is456/slab/two_way_complete.py
  Python/structural_lib/services/slab_api.py
  Python/tests/codes/is456/slab/test_one_way_detailing.py
Due: mypy

fix(slab): apply amended solid-slab maximum shear
  Python/structural_lib/codes/is456/slab/shear.py
Due: mypy

test(slab): verify issued amendments across supported callers
  Python/tests/integration/test_slab_issued_amendments.py
  docs/reference/api-compatibility-ledger.json
Due: none

docs(is456): record bounded slab amendment corrections
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
  docs/verification/slab-issued-amendment-corrections.md
Due: check-markdown-links, check-doc-metadata

test(slab): align amendment imports with hosted lint context
  Python/tests/codes/is456/slab/test_one_way_detailing.py
  Python/tests/integration/test_slab_issued_amendments.py
Due: none

docs(maintenance): refresh qualification handoff after merged corrections
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
  docs/verification/rework-recurrence-index.json
  docs/verification/slab-issued-amendment-corrections.md
Due: check-markdown-links, check-doc-metadata

docs(is456): reconcile ordered amendments 1 and 2 with maintained callers
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/is456-official-source-inventory.json
  docs/verification/library-supported-scope-completion.md
Due: check-markdown-links, check-doc-metadata

fix(is456): apply amended staircase distribution spacing ceiling
  Python/structural_lib/codes/is456/staircase/design.py
  Python/structural_lib/services/staircase_api.py
  Python/tests/codes/is456/staircase/test_design.py
  Python/tests/integration/test_staircase_publication.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
  docs/verification/slab-issued-amendment-corrections.md
  fastapi_app/tests/test_staircase.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(is456): reconcile current concrete-bearing amendment applicability
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
Due: check-markdown-links, check-doc-metadata

fix(cli): retain failed test suite and readiness exit statuses
  Python/tests/test_run_test_cli.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/README.md
Due: check-markdown-links, check-doc-metadata

docs(session): preserve required Library closeout record
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs(is456): bound isolated-footing shear applicability and outcomes
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
Due: check-markdown-links, check-doc-metadata

docs(is456): reconcile selected isolated-footing bar roles
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/is456-amendment-impact.json
  docs/verification/is456-amendment-impact.md
  docs/verification/library-supported-scope-completion.md
Due: check-markdown-links, check-doc-metadata

feat(library): add explicit member intent and input readiness
  CSharp/src/StructuralEngineering.Beam/BeamReadinessOperations.cs
  CSharp/src/StructuralEngineering.Beam/BeamReviewFields.cs
  CSharp/src/StructuralEngineering.Beam/BeamReviewResolver.cs
  CSharp/src/StructuralEngineering.Contracts/BeamReadinessContracts.cs
  CSharp/src/StructuralEngineering.Contracts/BeamReviewContracts.cs
  CSharp/tests/StructuralEngineering.Tests/BeamReadinessTests.cs
  Python/structural_lib/beam_readiness.py
  Python/structural_lib/core/beam_readiness.py
  Python/structural_lib/services/beam_readiness.py
  Python/tests/unit/test_beam_readiness.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/conformance/beam-readiness-cases-v1.json
  contracts/structural-engineering/conformance/beam-readiness-v1.gz
  contracts/structural-engineering/schemas/beam-readiness.schema.json
  docs/library/reference/wp11-baseline-design.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(library): keep readiness freshness within core boundary
  Python/structural_lib/beam/semantics.py
  Python/structural_lib/core/freshness.py
  Python/structural_lib/services/beam_readiness.py
  Python/tests/unit/test_beam_readiness.py
Due: mypy

feat(library): prepare v0.25.0 readiness workflow and public delivery
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/examples/member_readiness_workflow.py
  Python/pyproject.toml
  Python/tests/integration/test_member_readiness_example.py
  README.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/release-status.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/library/reference/wp11-baseline-design.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/openapi_baseline.json
  react_app/package-lock.json
  react_app/package.json
  react_app/src/components/layout/SettingsPanel.tsx
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(release): reconcile candidate publication claims and client versions
  Python/README.md
  README.md
  clients/python/structural_client/client.py
  clients/typescript/src/index.ts
  docs/getting-started/release-status.md
Due: check-markdown-links, check-doc-metadata

fix(release): preserve publication state during version synchronization
  Python/tests/test_release_scripts.py
  scripts/bump_version.py
Due: none

docs(release): bind generated examples to the v0.25.0 candidate
  Python/tests/test_bump_version_semantics.py
  docs/cookbook/python/beam-design.md
  docs/cookbook/python/beam-supplied-check.md
  docs/cookbook/python/column-supplied-steel-check.md
  docs/cookbook/python/combined-footing-symmetric.md
  docs/cookbook/python/deep-beam-simply-supported.md
  docs/cookbook/python/family-facades.md
  docs/cookbook/python/flat-slab-regular-interior.md
  docs/cookbook/python/isolated-footing-concentric.md
  docs/cookbook/python/slab-continuous-one-way.md
  docs/cookbook/python/slab-one-way.md
  docs/cookbook/python/slab-two-way.md
  docs/cookbook/python/staircase-straight-flight.md
  docs/cookbook/python/strap-footing-property-line.md
  docs/cookbook/python/torsion-design.md
  docs/cookbook/python/wall-braced-axial.md
  docs/reference/beam-facade.md
  docs/reference/family-facade-contracts.md
Due: check-markdown-links, check-doc-metadata

chore(release): authorize reviewed v0.25.0 publication
  CHANGELOG.md
  CITATION.cff
  docs/getting-started/releases.md
  docs/verification/library-0250-exact-candidate-review.json
  docs/verification/release-publication-authorization.json
Due: check-markdown-links, check-doc-metadata
