Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs(TASK-145): add bmd_sfd_example.py with 5 verified examples
  Python/examples/bmd_sfd_example.py
Due: none

style: fix Black formatting in bmd_sfd_example.py
  Python/examples/bmd_sfd_example.py
Due: none

feat(TASK-145.9): Integrate BMD/SFD visualization into Streamlit beam design page
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/utils/api_wrapper.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

style: fix Black formatting in 5 Streamlit files
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/pages/_hidden/_07_📄_report_generator.py
  streamlit_app/utils/constants.py
  streamlit_app/utils/fragments.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

docs(TASK-145): update session 34 docs with TASK-145.9 completion
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(lint): resolve ruff F541/F401/F841 errors in BMD/SFD files
  Python/examples/bmd_sfd_example.py
  Python/tests/unit/test_load_analysis.py
Due: none

fix(tests): resolve CI failures for hidden pages lookup
  streamlit_app/tests/test_critical_journeys.py
  tests/apptest/conftest.py
Due: check-performance-issues

feat(TASK-145): Add BMD/SFD computation module (#371)
  Python/examples/bmd_sfd_example.py
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/data_types.py
  Python/tests/unit/test_load_analysis.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  streamlit_app/components/visualizations.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/pages/_hidden/_07_📄_report_generator.py
  streamlit_app/tests/test_critical_journeys.py
  streamlit_app/tests/test_visualizations.py
  streamlit_app/utils/api_wrapper.py
  streamlit_app/utils/constants.py
  streamlit_app/utils/fragments.py
  tests/apptest/conftest.py
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

feat(detailing): add anchorage check at simple supports (IS 456 Cl 26.2.3.3)
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/detailing.py
  Python/tests/unit/test_anchorage_check.py
Due: mypy, contract-tests, check-api-manifest

feat(detailing): add anchorage check at simple supports (IS 456 Cl 26.2.3.3) (#365)
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/detailing.py
  Python/tests/unit/test_anchorage_check.py
Due: mypy, contract-tests, check-api-manifest

docs(research): complete TASK-146/147 research analysis
  docs/research/task-146-147-research-summary.md
Due: check-markdown-links, check-doc-metadata

feat(docs): add comprehensive developer platform guide - Major docs/developers/README.md + platform-guide.md + integration-examples.md
  docs/developers/README.md
  docs/developers/integration-examples.md
  docs/developers/platform-guide.md
Due: check-markdown-links, check-doc-metadata

feat(docs): add extension guide and API stability policy
  docs/developers/api-stability.md
  docs/developers/extension-guide.md
Due: check-markdown-links, check-doc-metadata

docs: add developer documentation to navigation
  README.md
  docs/README.md
Due: check-markdown-links, check-doc-metadata

docs: add developer docs index and fix broken links
  docs/developers/README.md
  docs/developers/index.json
Due: check-markdown-links, check-doc-metadata

docs(session): update TASKS and SESSION_LOG for TASK-147 completion
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: fix broken link in SESSION_LOG
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat(governance): add predictive velocity modeling (TASK-287)
  docs/research/agent-9-advanced-optimization-research.md
  scripts/analyze_release_cadence.py
  scripts/governance_health_score.py
  scripts/predict_velocity.py
Due: check-markdown-links, check-doc-metadata

docs: add governance scripts to index.json (TASK-287,288,289)
  scripts/index.json
Due: none

docs: mark TASK-287,288,289 complete in TASKS.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: add Session 34 Part 3 entry to SESSION_LOG.md
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

ci: add governance-health.yml workflow (TASK-289)
  .github/workflows/governance-health.yml
Due: check-python-version

docs: update next-session-brief with Session 34 Part 3 summary
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: add consolidated chat UI and product strategy research
  docs/research/chat-ui-product-strategy-research.md
Due: check-markdown-links, check-doc-metadata

docs: add product strategy followup and agent coding standards
  docs/contributing/agent-coding-standards.md
  docs/research/product-strategy-followup.md
Due: check-markdown-links, check-doc-metadata

docs: consolidate strategy research into single source
  docs/research/chat-ui-product-strategy-research.md
  docs/research/product-strategy-followup.md
Due: check-markdown-links, check-doc-metadata

docs: add comprehensive Streamlit Cloud deployment plan
  docs/research/streamlit-cloud-professional-deployment-plan.md
Due: check-markdown-links, check-doc-metadata

docs: complete live 3D visualization architecture (1,900+ lines)
  docs/research/live-3d-visualization-architecture.md
Due: check-markdown-links, check-doc-metadata

docs: add 8-week development plan with quality-focused timeline
  .github/DEVELOPMENT_TIMELINE.md
  .github/copilot-instructions.md
  docs/planning/8-week-development-plan.md
  docs/research/live-3d-visualization-architecture.md
Due: check-markdown-links, check-doc-metadata

docs: comprehensive 3D visualization technology research
  docs/research/3d-technology-deep-dive-research.md
Due: check-markdown-links, check-doc-metadata

feat(visualization): add geometry_3d module for 3D coordinate computation
  Python/structural_lib/visualization/__init__.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_visualization_geometry_3d.py
  docs/TASKS.md
  docs/reference/3d-json-contract.md
  docs/research/3d-technology-deep-dive-research.md
  docs/research/live-3d-visualization-architecture.md
  streamlit_app/components/beam_viewer_3d.py
  streamlit_app/pages/05_3d_viewer_demo.py
  streamlit_app/static/beam_viewer_3d.html
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

test: add integration tests for beam_to_3d_geometry
  Python/tests/test_visualization_integration.py
Due: none

feat(api): export 3D visualization functions from main API
  Python/structural_lib/api.py
Due: mypy, contract-tests, check-api-manifest

docs(api): add 3D Visualization section to API reference
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

docs(tasks): mark 3D visualization Phase 0 tasks complete
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(streamlit): stabilize 3d demo generation
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_visualization_integration.py
  docs/TASKS.md
  docs/reference/api.md
  streamlit_app/components/beam_viewer_3d.py
  streamlit_app/pages/05_3d_viewer_demo.py
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix(visualization): validate 3d geometry inputs
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_visualization_geometry_3d.py
  docs/reference/3d-json-contract.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(visualization): add detailing validity metadata
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/test_visualization_integration.py
  docs/reference/3d-json-contract.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(streamlit): show detailing status in 3d viewer
  streamlit_app/components/beam_viewer_3d.py
Due: check-performance-issues

docs(api): refresh 3d metadata example
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata
