Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs(release): refresh exact publication authorization
  docs/verification/alpha-0231a2-exact-candidate-review-receipt.json
  docs/verification/index.json
  docs/verification/release-publication-authorization.json
Due: none

fix(test): align canonical depth boundary fixture
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/a1-canonical-transport-git-handoff-receipt.json
  docs/verification/a1-canonical-transport-git-handoff-source-evidence.json
  docs/verification/index.json
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_beam_primary_route.py
Due: check-markdown-links, check-doc-metadata

test(api): require explicit smart-analysis inputs
  docs/SESSION_LOG.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_plausibility_validators.py
Due: check-markdown-links, check-doc-metadata

feat(gravity): add v1 model and load ledger
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/building_gravity.py
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  Python/structural_lib/services/__init__.py
  Python/structural_lib/services/gravity_loads.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_docs_index_generator.py
  Python/tests/unit/test_building_gravity_v1.py
  docs/SESSION_LOG.md
  docs/_archive/2026-08/lesson-incomplete-implementation.md
  docs/_archive/2026-08/research-paper-git-infrastructure.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  docs/specs/building-gravity-v1.md
  docs/specs/index.json
  docs/specs/index.md
  docs/verification/b1-gravity-model-load-ledger-evidence.md
  docs/verification/index.json
  docs/verification/index.md
  scripts/generate_docs_index.py
  scripts/index.json
Due: mypy, check-markdown-links, check-doc-metadata

feat(gravity): add V1 model and load ledger (#824)
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/building_gravity.py
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  Python/structural_lib/services/__init__.py
  Python/structural_lib/services/gravity_loads.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_docs_index_generator.py
  Python/tests/unit/test_building_gravity_v1.py
  docs/SESSION_LOG.md
  docs/_archive/2026-08/lesson-incomplete-implementation.md
  docs/_archive/2026-08/research-paper-git-infrastructure.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  docs/specs/building-gravity-v1.md
  docs/specs/index.json
  docs/specs/index.md
  docs/verification/b1-gravity-model-load-ledger-evidence.md
  docs/verification/index.json
  docs/verification/index.md
  scripts/generate_docs_index.py
  scripts/index.json
Due: mypy, check-markdown-links, check-doc-metadata

test(fastapi): isolate gravity fixture
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_building_gravity.py
Due: none

docs(excel): freeze E1 next-session plan
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/e1-excel-routine-workbench-v1-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/e1-excel-routine-workbench-git-handoff-receipt.json
  docs/verification/e1-excel-routine-workbench-git-handoff-source-evidence.json
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

docs(excel): complete E1 handoff record
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs(excel): record Windows W0 maintenance handoff
  .github/copilot-instructions.md
  CLAUDE.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  Python/tests/index.json
  Python/tests/index.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/e1-excel-routine-workbench-v1-evidence.md
  docs/verification/e1-w0-maintenance-git-handoff-receipt.json
  docs/verification/e1-w0-maintenance-git-handoff-source-evidence.json
  docs/verification/e1-windows-w0-setup-evidence.md
  docs/verification/index.json
  docs/verification/index.md
  fastapi_app/index.json
  fastapi_app/index.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

docs(session): bind maintenance handoff receipt
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
Due: check-markdown-links, check-doc-metadata

fix(excel): guard blank workbook startup
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/e1-blank-workbook-guard-evidence.md
  docs/verification/e1-blank-workbook-guard-git-handoff-receipt.json
  docs/verification/e1-blank-workbook-guard-git-handoff-source-evidence.json
  docs/verification/e1-excel-routine-workbench-v1-evidence.md
  docs/verification/e1-windows-w0-setup-evidence.md
  docs/verification/index.json
  docs/verification/index.md
  excel_addin/README.md
  excel_addin/taskpane-office.mjs
  excel_addin/taskpane.mjs
  excel_addin/tests/taskpane-office.test.mjs
Due: check-markdown-links, check-doc-metadata

fix(excel): serve blank workbook guard module
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/e1-blank-workbook-guard-evidence.md
  docs/verification/e1-blank-workbook-guard-repair-git-handoff-receipt.json
  docs/verification/e1-blank-workbook-guard-repair-git-handoff-source-evidence.json
  docs/verification/e1-windows-w0-setup-evidence.md
  docs/verification/index.json
  docs/verification/index.md
  excel_addin/serve.mjs
  excel_addin/tests/serve-static-files.test.mjs
Due: check-markdown-links, check-doc-metadata

feat(excel): add deterministic review bundle export
  Python/structural_lib/core/excel_workbook.py
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  Python/structural_lib/services/excel_workbench.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/tests/unit/test_excel_workbench_v1.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/e1-excel-routine-workbench-v1-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/e1-blank-workbook-guard-evidence.md
  docs/verification/e1-excel-routine-workbench-v1-evidence.md
  docs/verification/e1-review-bundle-export-evidence.md
  docs/verification/e1-review-bundle-export-git-handoff-receipt.json
  docs/verification/e1-review-bundle-export-git-handoff-source-evidence.json
  docs/verification/index.json
  docs/verification/index.md
  excel_addin/README.md
  excel_addin/taskpane-core.mjs
  excel_addin/taskpane.css
  excel_addin/taskpane.html
  excel_addin/taskpane.mjs
  excel_addin/tests/serve-static-files.test.mjs
  excel_addin/tests/taskpane-core.test.mjs
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/excel_workbench.py
  fastapi_app/routers/index.json
  fastapi_app/routers/index.md
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_excel_workbench.py
  scripts/index.json
  scripts/index.md
  scripts/verify_excel_workbench_artifact.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(excel): repair desktop workbook open
  Python/structural_lib/data/excel/outputs/e1-excel-routine-workbench/structural-lib-rectangular-beam-workbench-v1.xlsx
  Python/structural_lib/data/excel/outputs/e1-excel-routine-workbench/workbook-manifest.json
  Python/structural_lib/services/excel_workbench.py
  Python/tests/unit/test_excel_workbench_v1.py
  Python/tests/unit/test_excel_workbook_artifact.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/e1-excel-routine-workbench-v1-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/specs/excel-routine-workbench-v1.md
  docs/verification/e1-excel-routine-workbench-v1-evidence.md
  docs/verification/e1-review-bundle-export-evidence.md
  docs/verification/e1-workbook-open-repair-evidence.md
  docs/verification/e1-workbook-open-repair-git-handoff-receipt.json
  docs/verification/e1-workbook-open-repair-git-handoff-source-evidence.json
  fastapi_app/index.json
  fastapi_app/index.md
  fastapi_app/tests/index.json
  fastapi_app/tests/test_excel_workbench.py
  scripts/generate_e1_workbook.mjs
  scripts/index.json
  scripts/index.md
  scripts/verify_excel_workbench_artifact.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(excel): close G3 and reconcile next work
  CHANGELOG.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/getting-started/releases.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/verification/e1-g3-closeout-git-handoff-receipt.json
  docs/verification/e1-g3-closeout-git-handoff-source-evidence.json
  docs/verification/e1-workbook-open-repair-evidence.md
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

docs(excel): close G3 and reconcile next work (#831)
  CHANGELOG.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/getting-started/releases.md
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/verification/e1-g3-closeout-git-handoff-receipt.json
  docs/verification/e1-g3-closeout-git-handoff-source-evidence.json
  docs/verification/e1-workbook-open-repair-evidence.md
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

fix(evidence): represent unbounded beam failures
  Python/structural_lib/services/evidence.py
  Python/structural_lib/services/index.json
  Python/structural_lib/services/index.md
  Python/tests/index.json
  Python/tests/index.md
  Python/tests/test_evidence.py
  docs/SESSION_LOG.md
  docs/index.json
  docs/index.md
  docs/verification/index.json
  docs/verification/lib-pro-003-c-failure-contracts-evidence.json
  docs/verification/lib-pro-003-c-git-handoff-receipt.json
  docs/verification/lib-pro-003-c-git-handoff-source-evidence.json
  fastapi_app/index.json
  fastapi_app/models/beam.py
  fastapi_app/models/index.json
  fastapi_app/models/index.md
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/index.json
  fastapi_app/tests/index.md
  fastapi_app/tests/test_beam_primary_route.py
  fastapi_app/tests/test_endpoints.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(scripts): restore input auditor executable mode
  docs/SESSION_LOG.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  scripts/audit_input_validation.py
Due: check-markdown-links, check-doc-metadata

docs(git): correct handoff receipt identity
  docs/SESSION_LOG.md
  docs/docs-index.json
  docs/index.json
  docs/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/maint-011-developer-gate-hygiene-follow-up.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata
