Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs: add enterprise testing gap analysis
  docs/reference/automation-catalog.md
Due: check-markdown-links, check-doc-metadata

docs: add duplication and quality research plan
  docs/reference/automation-catalog.md
Due: check-markdown-links, check-doc-metadata

docs: trim automation catalog to script listings
  docs/reference/automation-catalog.md
Due: check-markdown-links, check-doc-metadata

docs: move automation research into dedicated doc
  docs/reference/automation-catalog.md
  docs/research/README.md
  docs/research/automation-audit-readiness-research.md
Due: check-markdown-links, check-doc-metadata

feat(audit): add audit evidence framework with templates
  docs/audit/README.md
  docs/audit/audit-readiness.md
  docs/audit/evidence-bundle-template.md
  docs/audit/reports/.gitkeep
Due: check-markdown-links, check-doc-metadata

feat(scripts): add audit_readiness_report.py for evidence collection
  scripts/audit_readiness_report.py
Due: none

perf(ci): add path-based job filtering to fast-checks.yml
  .github/workflows/fast-checks.yml
Due: check-python-version

feat(ci): add SBOM generation workflow for supply-chain security
  .github/workflows/sbom.yml
Due: check-python-version

feat(ci): add audit evidence bundle job to python-tests.yml
  .github/workflows/python-tests.yml
Due: check-python-version

docs: update automation indexes and mark research implemented
  docs/research/automation-audit-readiness-research.md
  scripts/automation-map.json
  scripts/index.json
Due: check-markdown-links, check-doc-metadata

fix: sync scripts/index.json with actual scripts
  scripts/index.json
Due: none

ci(security): add OpenSSF Scorecard workflow for supply-chain security assessment
  .github/workflows/scorecard.yml
Due: check-python-version

test(api): add contract tests for Pydantic models (41 tests covering schema stability)
  Python/tests/integration/test_api_contracts.py
Due: none

feat(validation): add UI duplication scanner for detecting redundant code patterns
  scripts/check_ui_duplication.py
  scripts/index.json
Due: none

feat(validation): add architecture boundary linter to enforce 3-layer design
  scripts/check_architecture_boundaries.py
  scripts/index.json
Due: none

ci(perf): add performance baseline workflow for regression detection
  .github/workflows/performance.yml
Due: check-python-version

fix: correct formatting and remove unused variables in CI audit tools
  Python/tests/integration/test_api_contracts.py
  scripts/check_ui_duplication.py
Due: none

refactor: consolidate safe_int and get_beam_design_from_session into shared utilities
  streamlit_app/pages/_hidden/_05_📋_bbs_generator.py
  streamlit_app/pages/_hidden/_06_📐_dxf_export.py
  streamlit_app/pages/_hidden/_08_📐_dxf_export.py
  streamlit_app/pages/_hidden/_09_🔬_advanced_analysis.py
  streamlit_app/utils/session_helpers.py
  streamlit_app/utils/type_helpers.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

fix: improve architecture linter to skip docstrings and add traceability exclusion
  scripts/check_architecture_boundaries.py
Due: none

fix: skip 3D viewer in smoke tests and fix chat_input assertion
  tests/apptest/test_all_pages_smoke.py
  tests/apptest/test_page_08_ai_assistant.py
Due: none

fix: address PR reviewer comments (5 items)
  .github/workflows/performance.yml
  .github/workflows/scorecard.yml
  scripts/check_architecture_boundaries.py
  scripts/check_ui_duplication.py
Due: check-python-version

feat: add openai_helpers.py shared utility for AI pages
  streamlit_app/utils/openai_helpers.py
Due: check-type-annotations, check-performance-issues

TASK-CI-AUDIT: Audit automation and V3 prep tools (#403)
  .github/workflows/performance.yml
  .github/workflows/scorecard.yml
  Python/tests/integration/test_api_contracts.py
  scripts/check_architecture_boundaries.py
  scripts/check_ui_duplication.py
  scripts/index.json
  streamlit_app/pages/_hidden/_05_📋_bbs_generator.py
  streamlit_app/pages/_hidden/_06_📐_dxf_export.py
  streamlit_app/pages/_hidden/_08_📐_dxf_export.py
  streamlit_app/pages/_hidden/_09_🔬_advanced_analysis.py
  streamlit_app/utils/openai_helpers.py
  streamlit_app/utils/session_helpers.py
  streamlit_app/utils/type_helpers.py
  tests/apptest/test_all_pages_smoke.py
  tests/apptest/test_page_08_ai_assistant.py
Due: check-python-version, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

docs: add 3 ADRs for architecture, Pydantic models, and contract testing
  docs/adr/0001-three-layer-architecture.md
  docs/adr/0002-pydantic-models-for-api.md
  docs/adr/0003-contract-testing-for-v3.md
  docs/adr/README.md
Due: check-markdown-links, check-doc-metadata

docs: update SESSION_LOG + next-session-brief for Session 71
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: Session 72 - contract testing, WebSocket research, learning documentation
  Python/tests/integration/schema_snapshots.json
  docs/SESSION_LOG.md
  docs/adr/README.md
  docs/planning/next-session-brief.md
  docs/reference/automation-catalog.md
  docs/research/websocket-live-updates-research.md
  scripts/index.json
  scripts/validate_schema_snapshots.py
  streamlit_app/pages/_archived/_06_📐_dxf_export.py
  streamlit_app/pages/_archived/_07_📄_report_generator.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

docs: update 8-week plan to V3 React migration roadmap
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

feat(api): add FastAPI backend with complete endpoint coverage
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/models/__init__.py
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/common.py
  fastapi_app/models/geometry.py
  fastapi_app/models/optimization.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/health.py
  fastapi_app/routers/optimization.py
  fastapi_app/tests/__init__.py
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_endpoints.py
Due: none

feat(api): add FastAPI backend with complete endpoint coverage (#404)
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/models/__init__.py
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/common.py
  fastapi_app/models/geometry.py
  fastapi_app/models/optimization.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/health.py
  fastapi_app/routers/optimization.py
  fastapi_app/tests/__init__.py
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_endpoints.py
Due: none

feat: add API signature discovery to prevent wrapper mistakes
  .github/copilot-instructions.md
  docs/getting-started/agent-essentials.md
  docs/research/api-integration-mistakes-analysis.md
  scripts/automation-map.json
  scripts/check_architecture_boundaries.py
  scripts/check_ui_duplication.py
  scripts/discover_api_signatures.py
  scripts/index.json
  scripts/validate_schema_snapshots.py
Due: check-markdown-links, check-doc-metadata

feat(api): add WebSocket endpoint for live design updates
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  fastapi_app/main.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_websocket.py
Due: check-markdown-links, check-doc-metadata

docs: update session 73 log and handoff brief
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(api): add WebSocket endpoint for live design updates (#405)
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  fastapi_app/main.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_websocket.py
Due: check-markdown-links, check-doc-metadata

feat(auth): add JWT authentication and rate limiting module
  fastapi_app/auth.py
  fastapi_app/examples/test_client.py
  fastapi_app/main.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/streaming.py
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_streaming.py
Due: none

docs(guides): add Week 3 real-time features guide
  docs/guides/week3-realtime-features-guide.md
Due: check-markdown-links, check-doc-metadata

TASK-AUTH-001: JWT auth, rate limiting, SSE streaming for Week 3 (#406)
  docs/guides/week3-realtime-features-guide.md
  fastapi_app/auth.py
  fastapi_app/examples/test_client.py
  fastapi_app/main.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/streaming.py
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_streaming.py
Due: check-markdown-links, check-doc-metadata

chore: sync Week 3 changes and update automation catalog
  docs/git-automation/automation-scripts.md
  docs/planning/8-week-development-plan.md
  docs/reference/automation-catalog.md
  docs/research/automation-audit-readiness-research.md
  docs/research/fastapi-week3-review.md
  fastapi_app/auth.py
  fastapi_app/examples/test_client.py
  fastapi_app/routers/streaming.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_streaming.py
  requirements.txt
  scripts/README.md
Due: check-markdown-links, check-doc-metadata

docs(research): add V3 infrastructure and automation gap analysis
  docs/research/automation-gaps-manual-work-analysis.md
  docs/research/v3-infrastructure-gap-analysis.md
Due: check-markdown-links, check-doc-metadata

fix(fastapi): fix security test paths and assertions
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  fastapi_app/tests/test_security.py
  scripts/check_fastapi_issues.py
Due: check-python-version

feat(fastapi): add API benchmarks and contract validation
  .github/workflows/fast-checks.yml
  fastapi_app/openapi_baseline.json
  scripts/benchmark_api.py
  scripts/validate_api_contracts.py
Due: check-python-version
