Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$

chore(TASK-458): add metadata headers to all docs/planning files
  docs/planning/README.md
  docs/planning/agent-1-tasks.md
  docs/planning/agent-2-tasks.md
  docs/planning/agent-6-tasks-streamlit.md
  docs/planning/agent8-week1-handoff.md
  docs/planning/api-improvement-research-specs.md
  docs/planning/bbs-dxf-improvement-plan.md
  docs/planning/data-model-compatibility-checklist.md
  docs/planning/hygiene-suggestions-2026-01-07.md
  docs/planning/library-api-expansion.md
  docs/planning/memory.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/project-needs-assessment-2026-01-09.md
  docs/planning/project-status-deep-dive.md
  docs/planning/research-ai-enhancements.md
  docs/planning/research-detailing.md
  docs/planning/session-14-lessons-learned.md
  docs/planning/session-2026-01-10-session3-issues.md
  docs/planning/session-2026-01-10-session4-issues.md
  docs/planning/streamlit-phase-3-implementation-plan.md
  docs/planning/ui-layout-implementation-plan.md
  docs/planning/v017-implementation-guide.md
  docs/planning/v020-stabilization-checklist.md
Due: check-markdown-links

chore(TASK-458): add metadata headers to all docs/guidelines files
  docs/guidelines/README.md
  docs/guidelines/api-design-guidelines.md
  docs/guidelines/api-evolution-standard.md
  docs/guidelines/blog-writing-guide.md
  docs/guidelines/documentation-standard.md
  docs/guidelines/error-handling-standard.md
  docs/guidelines/file-operations-safety-guide.md
  docs/guidelines/folder-cleanup-workflow.md
  docs/guidelines/function-signature-standard.md
  docs/guidelines/migration-preflight-checklist.md
  docs/guidelines/migration-workflow-guide.md
  docs/guidelines/result-object-standard.md
Due: check-markdown-links

docs: update session docs for 19P20 (6 commits, automation discovery, 91 files archived)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(debug+api): complete Phase 1+2 - diagnostics bundle, API guardrails, scripts index check
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  docs/TASKS.md
  docs/_archive/tasks-history.md
  docs/contributing/streamlit-maintenance-guide.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/session-19p21-review-and-plan.md
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/reference/troubleshooting.md
  scripts/README.md
  scripts/check_scripts_index.py
  scripts/collect_diagnostics.py
  scripts/generate_api_manifest.py
  scripts/index.json
  streamlit_app/utils/error_handler.py
Due: check-python-version, check-markdown-links

feat(debug): IMP-02/03 - add diagnostics reminders and debug checklist
  docs/contributing/handoff.md
  docs/planning/next-session-brief.md
  scripts/agent_start.sh
  scripts/end_session.py
Due: check-markdown-links

docs: update session log and handoff for 19P21
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/session-19p21-review-and-plan.md
Due: check-markdown-links

chore: pre-commit fixes - whitespace, line endings, ruff UP038
  Python/tests/integration/test_design_suggestions.py
  Python/tests/regression/test_vba_parity.py
  docs/_archive/research-completed/agent-8-optimization-research.md
  docs/_archive/research-completed/comprehensive-quality-improvement-research.md
  docs/_internal/cost-optimizer-fix-results.md
  docs/research/_online-research/API-CAPABILITY-ANALYSIS.md
  docs/research/autonomous-agent-workflow-research.md
  docs/research/file-metadata-standards-research.md
  metrics/doc_consolidation_metrics.json
  streamlit_app/docs/_archive/agent-6-sessions/AGENT-6-SESSION-IMPL-007-HANDOFF.md
  streamlit_app/docs/_archive/agent-6-sessions/AGENT-6-STATUS-2026-01-09.md
  streamlit_app/docs/_archive/completed-tasks/IMPL-007-IMPLEMENTATION-LOG.md
  streamlit_app/docs/_archive/completed-tasks/READY-FOR-USER-IMPL-007-PLANNING.md
  streamlit_app/pages/01_🏗️_beam_design.py.bak
  streamlit_app/utils/caching.py
Due: check-markdown-links

chore: release v0.17.0
  CHANGELOG.md
  Python/README.md
  Python/pyproject.toml
  README.md
  VBA/Modules/M08_API.bas
  docs/contributing/development-guide.md
  docs/contributing/vba-testing-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/excel-tutorial.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/validation-pack.md
Due: check-python-version, check-markdown-links

docs: update session log and task board for v0.17.0 release
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

docs: post-release v0.17.0 documentation updates
  README.md
  docs/getting-started/releases.md
  docs/git-automation/README.md
  docs/git-automation/research/README.md
  docs/planning/v0.17.0-post-release-audit.md
Due: check-markdown-links

fix: rename v0.17.0-post-release-audit.md to comply with naming convention
  docs/planning/v0170-post-release-audit.md
Due: check-markdown-links

docs: update session log and handoff for 19P21 extended session
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

docs: add comprehensive session 19P21 summary with human discussion
  docs/planning/session-19p21-comprehensive-summary.md
Due: check-markdown-links

refactor: archive session 19P21 planning documents to 2026-01
  docs/_archive/2026-01/session-19p21-comprehensive-summary.md
  docs/_archive/2026-01/v017-implementation-guide.md
  docs/_archive/2026-01/v0170-post-release-audit.md
Due: check-markdown-links

research: DOC-ONB-01/02 guide consolidation strategy and implementation plan
  docs/research/doc-onb-01-02-consolidation-plan.md
Due: check-markdown-links

feat(docs): enhance quick-reference with first session workflow and guide hierarchy
  docs/agents/guides/agent-quick-reference.md
Due: check-markdown-links

docs: add guide hierarchy navigation to bootstrap and master-guide
  docs/agents/guides/agent-workflow-master-guide.md
  docs/getting-started/agent-bootstrap.md
Due: check-markdown-links

refactor: archive agent-onboarding.md after guide consolidation
  docs/README.md
  docs/_archive/2026-01/agent-onboarding.md
  docs/contributing/README.md
Due: check-markdown-links

docs: update TASKS.md and SESSION_LOG.md for DOC-ONB-01/02 completion
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

research: critical infrastructure gap analysis for v0.18.0 (24KB)
  docs/research/critical-infrastructure-gaps-v018.md
Due: check-markdown-links

ci(TASK-501): add cross-platform testing (macOS + Windows + Ubuntu)
  .github/workflows/python-tests.yml
  docs/TASKS.md
Due: check-python-version, check-markdown-links

ci(TASK-503): add performance regression tracking to nightly workflow
  .github/workflows/nightly.yml
Due: check-python-version

ci(TASK-505): migrate issue templates to GitHub Issue Forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.md
  .github/ISSUE_TEMPLATE/support.yml
Due: none

docs(TASK-505): add PyPI stats and feedback links
  README.md
  streamlit_app/app.py
Due: none

test(TASK-504): add critical user journey integration tests
  docs/TASKS.md
  streamlit_app/tests/test_critical_journeys.py
Due: check-markdown-links

docs: finalize Session 20 Phase 1 infrastructure work
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

TASK-501: Phase 1 Critical Infrastructure: Cross-platform CI, Performance Tracking, User Feedback, Integration Tests (#356)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.md
  .github/ISSUE_TEMPLATE/support.yml
  .github/workflows/nightly.yml
  .github/workflows/python-tests.yml
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  streamlit_app/app.py
  streamlit_app/tests/test_critical_journeys.py
Due: check-python-version, check-markdown-links

fix: repair CI workflows and refactor core library to remove deprecations
  .github/workflows/auto-format.yml
  .github/workflows/codeql.yml
  .github/workflows/cost-optimizer-analysis.yml
  .github/workflows/fast-checks.yml
  .github/workflows/git-workflow-tests.yml
  .github/workflows/leading-indicator-alerts.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/python-tests.yml
  .github/workflows/root-file-limit.yml
  .github/workflows/security.yml
  .github/workflows/streamlit-validation.yml
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/shear.py
  scripts/check_doc_versions.py
Due: mypy, check-python-version

fix: syntax error in comprehensive_validator.py script
  scripts/comprehensive_validator.py
Due: none

docs: update session log and handoff for session 21
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

fix(tests): update unit tests to use errors list instead of deprecated remarks/error_message fields
  Python/tests/unit/test_compliance.py
  Python/tests/unit/test_error_schema.py
  Python/tests/unit/test_input_validation.py
  Python/tests/unit/test_shear.py
  Python/tests/unit/test_structural.py
  docs/research/sessions-20-21-review-2026-01-13.md
Due: check-markdown-links

docs: mark sessions 20-21 review as complete
  docs/research/sessions-20-21-review-2026-01-13.md
Due: check-markdown-links

docs: update session log and handoff for session 22 (PR #357)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

style: apply black formatting to test files
  Python/structural_lib/codes/is456/compliance.py
  Python/tests/unit/test_input_validation.py
  Python/tests/unit/test_shear.py
Due: mypy

fix(lint): remove unused variables and imports flagged by ruff
  Python/structural_lib/codes/is456/flexure.py
  Python/tests/unit/test_shear.py
  Python/tests/unit/test_structural.py
Due: mypy

fix(tests): update integration tests to use errors list
  Python/tests/integration/test_flexure_edges_additional.py
Due: none

TASK-506: Core library error handling refactor and test updates (#357)
  .github/workflows/auto-format.yml
  .github/workflows/codeql.yml
  .github/workflows/cost-optimizer-analysis.yml
  .github/workflows/fast-checks.yml
  .github/workflows/git-workflow-tests.yml
  .github/workflows/leading-indicator-alerts.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/python-tests.yml
  .github/workflows/root-file-limit.yml
  .github/workflows/security.yml
  .github/workflows/streamlit-validation.yml
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/shear.py
  Python/tests/integration/test_flexure_edges_additional.py
  Python/tests/unit/test_compliance.py
  Python/tests/unit/test_error_schema.py
  Python/tests/unit/test_input_validation.py
  Python/tests/unit/test_shear.py
  Python/tests/unit/test_structural.py
  docs/research/sessions-20-21-review-2026-01-13.md
  scripts/check_doc_versions.py
  scripts/comprehensive_validator.py
Due: mypy, check-python-version, check-markdown-links

docs: update session 22 documentation after PR #357 merge
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(tests): add Hypothesis property-based testing with 43 new tests
  Python/tests/conftest.py
  Python/tests/property/__init__.py
  Python/tests/property/conftest.py
  Python/tests/property/strategies.py
  Python/tests/property/test_ductile_hypothesis.py
  Python/tests/property/test_flexure_hypothesis.py
  Python/tests/property/test_shear_hypothesis.py
  docs/research/v018-library-expansion-feasibility.md
Due: check-markdown-links

docs: add Hypothesis property testing section and enable CI profile in nightly workflow
  .github/workflows/nightly.yml
  docs/contributing/testing-strategy.md
Due: check-python-version, check-markdown-links
