Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(pdf): add data transformation for PDF report generator
  streamlit_app/pages/07_📄_report_generator.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(test): add AppTest automation framework for Streamlit pages
  docs/research/streamlit-automation-testing-research.md
  streamlit_app/tests/conftest.py
  tests/apptest/__init__.py
  tests/apptest/conftest.py
  tests/apptest/test_all_pages_smoke.py
  tests/apptest/test_page_01_beam_design.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

ci: add AppTest smoke tests to Streamlit validation workflow
  .github/workflows/streamlit-validation.yml
Due: check-python-version

test(apptest): add tests for cost optimizer and report generator
  tests/apptest/test_page_02_cost_optimizer.py
  tests/apptest/test_page_07_report_generator.py
Due: none

docs: update TASKS.md and SESSION_LOG for session 26
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

style: format test_shear.py
  Python/tests/unit/test_shear.py
Due: none

fix: resolve ruff linting errors in multi_objective_optimizer
  Python/structural_lib/multi_objective_optimizer.py
  Python/tests/test_multi_objective_optimizer.py
Due: mypy

fix: add type annotation for clauses variable in multi_objective_optimizer
  Python/structural_lib/multi_objective_optimizer.py
Due: mypy

feat(test): add integration workflow tests and enhanced AppTest fixtures
  tests/apptest/conftest.py
  tests/apptest/test_integration_workflows.py
Due: none

feat(streamlit): add fragment utilities and modern patterns research
  docs/research/streamlit-modern-patterns-research.md
  streamlit_app/tests/test_fragments.py
  streamlit_app/utils/fragments.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

ci: add AppTest and Streamlit validation to nightly workflow
  .github/workflows/nightly.yml
Due: check-python-version

docs: update TASKS.md with TASK-601 progress
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(ci): correct AppTest path in nightly workflow
  .github/workflows/nightly.yml
Due: check-python-version

docs: update session log for Session 27 (PR #364)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

TASK-601: Enhanced AppTest framework and modern Streamlit patterns (#364)
  .github/workflows/nightly.yml
  docs/TASKS.md
  docs/research/streamlit-modern-patterns-research.md
  streamlit_app/tests/test_fragments.py
  streamlit_app/utils/fragments.py
  tests/apptest/conftest.py
  tests/apptest/test_integration_workflows.py
Due: check-python-version, check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

feat(ui): add auto-refresh cache stats and status badges to beam design
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ui): add modern badges to cost optimizer Pareto results
  streamlit_app/pages/02_💰_cost_optimizer.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

refactor(ui): extract shared constants to utils/constants.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/utils/constants.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues

docs: clean up TASKS.md - 57% reduction (344→148 lines)
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: add Session 28 entry to SESSION_LOG.md
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs: update next-session-brief.md for Session 29 planning
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(ui): focus app on 4 core pages, hide 8 secondary pages
  docs/TASKS.md
  streamlit_app/app.py
  streamlit_app/pages/01_🏗️_beam_design.py.bak
  streamlit_app/pages/_05_📋_bbs_generator.py
  streamlit_app/pages/_06_📐_dxf_export.py
  streamlit_app/pages/_07_📄_report_generator.py
  streamlit_app/pages/_08_📊_batch_design.py
  streamlit_app/pages/_09_🔬_advanced_analysis.py
  streamlit_app/pages/_10_📚_learning_center.py
  streamlit_app/pages/_11_🎬_demo_showcase.py
  streamlit_app/pages/_12_📖_clause_traceability.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

feat(ui): improve input UX and add Pareto explanation
  docs/TASKS.md
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix(ui): move hidden pages to _hidden subfolder
  streamlit_app/pages/_hidden/_05_📋_bbs_generator.py
  streamlit_app/pages/_hidden/_06_📐_dxf_export.py
  streamlit_app/pages/_hidden/_07_📄_report_generator.py
  streamlit_app/pages/_hidden/_08_📊_batch_design.py
  streamlit_app/pages/_hidden/_09_🔬_advanced_analysis.py
  streamlit_app/pages/_hidden/_10_📚_learning_center.py
  streamlit_app/pages/_hidden/_11_🎬_demo_showcase.py
  streamlit_app/pages/_hidden/_12_📖_clause_traceability.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

test: update test expectations for practical shear spacing
  Python/tests/data/golden_vectors_is456.json
  Python/tests/data/parity_test_vectors.json
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/property/test_slenderness_hypothesis.py
  Python/tests/regression/test_verification_pack.py
Due: none

feat(ui): add st.fragment to beam_design input section (TASK-603.1a)
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ui): add st.fragment to cost_optimizer manual input (TASK-603.1b)
  streamlit_app/pages/02_💰_cost_optimizer.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ui): add st.fragment to compliance manual input (TASK-603.1c)
  streamlit_app/pages/03_✅_compliance.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ui): add auto-refreshing cache stats to cost_optimizer (TASK-603.3)
  streamlit_app/pages/02_💰_cost_optimizer.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: mark TASK-603 complete with comprehensive session-30 summary
  docs/TASKS.md
  docs/_active/session-30-summary.md
Due: check-markdown-links, check-doc-metadata

research: analyze fragment API restrictions and scanner gaps
  docs/research/fragment-api-restrictions-analysis.md
Due: check-markdown-links, check-doc-metadata

fix(ui): remove theme toggle from fragment to prevent sidebar API violation
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(ui): move fragments inside sidebar context + add fragment validator
  scripts/check_fragment_violations.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
Due: check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

chore(ci): add fragment API validator to pre-commit and CI
  .github/workflows/streamlit-validation.yml
  .pre-commit-config.yaml
Due: check-python-version

docs(guidelines): add Streamlit fragment best practices guide
  docs/guidelines/streamlit-fragment-best-practices.md
Due: check-markdown-links, check-doc-metadata

docs(summary): Session 30 fragment crisis - complete technical analysis
  docs/planning/session-30-fragment-crisis-resolution.md
Due: check-markdown-links, check-doc-metadata

fix(ui): remove broken CacheStatsFragment from cost_optimizer
  docs/TASKS.md
  streamlit_app/pages/02_💰_cost_optimizer.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

feat(ci): add AppTest runtime validation to pre-commit + fix test fixtures
  .pre-commit-config.yaml
  tests/apptest/conftest.py
Due: none

docs(handoff): Session 30 complete - fragment crisis resolved with 9 commits
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/contributing/development-guide.md
  docs/contributing/index.json
  docs/contributing/index.md
  docs/contributing/vba-testing-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/excel-tutorial.md
  docs/getting-started/index.json
  docs/getting-started/index.md
  docs/guidelines/index.json
  docs/guidelines/index.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api.md
  docs/reference/index.json
  docs/reference/index.md
  docs/verification/examples.md
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
