Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(ci): pin mypy before 2.x migration (#699)
  Python/pyproject.toml
  Python/tests/test_release_environment.py
  requirements-lock.txt
  requirements.txt
Due: check-python-version

fix(ci): constrain numpy for Python 3.11 typing
  Python/pyproject.toml
  Python/tests/test_release_environment.py
  requirements.txt
Due: check-python-version

fix(ci): constrain numpy for Python 3.11 typing (#700)
  Python/pyproject.toml
  Python/tests/test_release_environment.py
  requirements.txt
Due: check-python-version

docs(maintenance): close post-release session
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(maintenance): close post-release session (#701)
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed a8255a89 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(agents): use versioned session handoff
  .github/agents/orchestrator.agent.md
  scripts/agent_brief.sh
Due: none

fix(agents): use versioned session handoff (#702)
  .github/agents/orchestrator.agent.md
  scripts/agent_brief.sh
Due: none

docs(product): polish public project presentation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.yml
  .github/SUPPORT.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/getting-started/product-tour.md
  docs/images/README.md
  docs/images/product/README.md
  docs/images/product/beam-inspector.jpg
  docs/images/product/building-editor.jpg
  docs/images/product/design-dashboard.jpg
  docs/images/product/import-preview.jpg
  react_app/index.html
  react_app/public/structlib.svg
Due: check-markdown-links, check-doc-metadata

docs(product): complete tour metadata
  docs/getting-started/product-tour.md
Due: check-markdown-links, check-doc-metadata

fix(health): resolve Python in linked worktrees
  Python/tests/test_agent_governance_automation.py
  scripts/project_health.py
Due: none

fix(health): resolve Python in linked worktrees (#703)
  Python/tests/test_agent_governance_automation.py
  scripts/project_health.py
Due: none

docs(product): professionalize public project presentation (#704)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.yml
  .github/SUPPORT.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/getting-started/product-tour.md
  docs/images/README.md
  docs/images/product/README.md
  docs/images/product/beam-inspector.jpg
  docs/images/product/building-editor.jpg
  docs/images/product/design-dashboard.jpg
  docs/images/product/import-preview.jpg
  react_app/index.html
  react_app/public/structlib.svg
Due: check-markdown-links, check-doc-metadata

Deployed 44e85587 with MkDocs version: 1.6.1
  getting-started/product-tour/index.html
  images/product/beam-inspector.jpg
  images/product/building-editor.jpg
  images/product/design-dashboard.jpg
  images/product/import-preview.jpg
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tags.json
Due: none

fix(docs): make public API examples executable
  Python/tests/test_packaging.py
  docs/TASKS.md
  docs/planning/adoption-trust-surface-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/reference/api-levels.md
  docs/reference/fastapi-rest-api.md
  docs/reference/index.json
  docs/reference/index.md
  fastapi_app/tests/test_public_documentation_contract.py
Due: check-markdown-links, check-doc-metadata

docs(worklog): record trust surface packet A
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(api): expose canonical capability discovery
  .github/copilot-instructions.md
  CLAUDE.md
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/capabilities.py
  Python/tests/integration/test_api_entrypoints_is456.py
  Python/tests/integration/test_cli.py
  docs/cookbook/cli-reference.md
  docs/getting-started/agent-bootstrap.md
  docs/reference/api-manifest.json
  docs/reference/api-stability.md
  docs/reference/api.md
  fastapi_app/main.py
  fastapi_app/models/capabilities.py
  fastapi_app/routers/capabilities.py
  fastapi_app/tests/test_capabilities.py
  llms.txt
Due: mypy, check-markdown-links, check-doc-metadata

docs(product): add branded social preview
  docs/images/README.md
  docs/images/social-preview.jpg
Due: check-markdown-links, check-doc-metadata

feat(api): publish typed success contracts
  Python/tests/test_generated_clients.py
  clients/python/structural_client/client.py
  clients/typescript/src/index.ts
  docs/reference/fastapi-rest-api.md
  fastapi_app/main.py
  fastapi_app/models/column.py
  fastapi_app/models/common.py
  fastapi_app/models/library_core.py
  fastapi_app/models/metadata.py
  fastapi_app/models/response.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/analysis.py
  fastapi_app/routers/column.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/insights.py
  fastapi_app/routers/library_core.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/rebar.py
  fastapi_app/routers/streaming.py
  fastapi_app/tests/test_typed_response_contracts.py
  scripts/check_fastapi_issues.py
  scripts/generate_client_sdks.py
Due: check-markdown-links, check-doc-metadata

fix(api): fail closed in production auth
  .env.example
  docker-compose.yml
  docs/reference/fastapi-rest-api.md
  fastapi_app/auth.py
  fastapi_app/config.py
  fastapi_app/tests/test_config.py
Due: check-markdown-links, check-doc-metadata

feat(evidence): bind beam results to calculation identity
  Python/structural_lib/services/evidence.py
  Python/structural_lib/services/report.py
  Python/tests/test_evidence.py
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
  fastapi_app/routers/export.py
  fastapi_app/tests/test_endpoints.py
Due: mypy

feat(ui): bind trust evidence to sample results
  Python/tests/test_generated_clients.py
  docs/TASKS.md
  docs/audit/maintenance-recovery-audit-2026-08-07.md
  docs/planning/compact-modernization-plan.md
  docs/planning/memory.md
  docs/verification/bundled-sample-boq-evidence.md
  fastapi_app/models/boq.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/imports.py
  fastapi_app/routers/insights.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_bundled_sample_evidence.py
  fastapi_app/tests/test_endpoints.py
  fastapi_app/tests/test_insights_dashboard.py
  fastapi_app/tests/test_websocket.py
  react_app/src/api/client.ts
  react_app/src/components/__tests__/ExportPanel.test.tsx
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ExportPanel.tsx
  react_app/src/components/design/ProjectBOQPanel.tsx
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/pages/BatchDesignPage.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/hooks/useDesignWebSocket.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useLiveDesign.ts
  react_app/src/store/designStore.ts
  react_app/src/types/csv.ts
  react_app/src/utils/__tests__/trustPresentation.test.ts
  react_app/src/utils/sampleData.ts
  react_app/src/utils/trustPresentation.ts
  scripts/validate_imports.py
Due: check-markdown-links, check-doc-metadata

ci(release): enforce alpha publication policy
  .github/workflows/README.md
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  Python/pyproject.toml
  Python/tests/test_release_scripts.py
  README.md
  docs/getting-started/releases.md
  mkdocs.yml
  run.sh
  scripts/bump_version.py
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(report): preserve legacy html without evidence
  Python/structural_lib/services/report.py
Due: mypy

docs(closeout): complete adoption trust packets
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/adoption-trust-surface-plan.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/verification/index.json
  docs/verification/index.md
Due: check-markdown-links, check-doc-metadata

docs(worklog): record adoption closeout
  docs/WORKLOG.md
Due: check-markdown-links, check-doc-metadata

docs(product): add branded social preview (#705)
  docs/images/README.md
  docs/images/social-preview.jpg
Due: check-markdown-links, check-doc-metadata

Deployed 67b85302 with MkDocs version: 1.6.1
  images/social-preview.jpg
  sitemap.xml
  sitemap.xml.gz
Due: none

docs(plan): archive completed adoption plan
  docs/planning/adoption-trust-surface-plan.md
  docs/planning/index.json
Due: check-markdown-links, check-doc-metadata

ci: align Black formatter across validation
  .pre-commit-config.yaml
  Python/pyproject.toml
  Python/structural_lib/services/report.py
  fastapi_app/config.py
  fastapi_app/models/common.py
  fastapi_app/tests/test_config.py
  fastapi_app/tests/test_typed_response_contracts.py
  requirements.txt
Due: mypy, check-python-version

chore(deps): align Python 3.11 compatibility
  .pre-commit-config.yaml
  Python/pyproject.toml
  fastapi_app/ruff.toml
  requirements-lock.txt
  requirements.txt
Due: check-python-version

chore(deps): update compatible React packages
  react_app/package-lock.json
  react_app/package.json
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
Due: none

chore(deps): align Python 3.11 compatibility (#708)
  .pre-commit-config.yaml
  Python/pyproject.toml
  fastapi_app/ruff.toml
  requirements-lock.txt
  requirements.txt
Due: check-python-version

docs(governance): allow green in-scope PR merges
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  .github/skills/release-preflight/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/git-automation/git-workflow-single-source.md
Due: check-markdown-links, check-doc-metadata

chore(deps): update compatible React packages (#709)
  react_app/package-lock.json
  react_app/package.json
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
Due: none

docs(governance): allow green in-scope PR merges (#710)
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  .github/skills/release-preflight/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/git-automation/git-workflow-single-source.md
Due: check-markdown-links, check-doc-metadata

fix(deps): guard Python 3.11 compatibility
  .github/dependabot.yml
Due: none

chore(agents): route subagents through Terra
  .codex/config.toml
  Python/tests/test_model_picker.py
  Python/tests/test_token_efficiency.py
  agents/model_policy.json
  docs/guidelines/ai-token-efficiency.md
  scripts/check_token_efficiency.py
  scripts/model_picker.py
Due: check-markdown-links, check-doc-metadata

docs(ui): activate two-session experience plan
  docs/TASKS.md
  docs/index.json
  docs/index.md
  docs/planning/README.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  docs/planning/react-ux-improvement-plan.md
  docs/planning/ui-experience-foundation-master-plan.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
