Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$

docs: update README badge and TASKS.md for Python 3.11 upgrade (TASK-451)
  README.md
  docs/TASKS.md
Due: check-markdown-links

refactor: modernize type hints with PEP 604 syntax (TASK-454)
  .pre-commit-config.yaml
  Python/structural_lib/api.py
  Python/structural_lib/api_results.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/traceability.py
  Python/structural_lib/core/registry.py
  Python/structural_lib/costing.py
  Python/structural_lib/data_types.py
  Python/structural_lib/dxf_export.py
  Python/structural_lib/error_messages.py
  Python/structural_lib/errors.py
  Python/structural_lib/excel_bridge.py
  Python/structural_lib/excel_integration.py
  Python/structural_lib/insights/comparison.py
  Python/structural_lib/insights/cost_optimization.py
  Python/structural_lib/insights/sensitivity.py
  Python/structural_lib/insights/smart_designer.py
  Python/structural_lib/optimization.py
  Python/structural_lib/utilities.py
  Python/structural_lib/validation.py
  scripts/add_future_annotations.py
Due: mypy, contract-tests

chore: release v0.16.6 - Python 3.11 baseline (TASK-455)
  CHANGELOG.md
  Python/README.md
  Python/pyproject.toml
  README.md
  VBA/Modules/M08_API.bas
  docs/TASKS.md
  docs/contributing/development-guide.md
  docs/contributing/vba-testing-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/excel-tutorial.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
Due: check-python-version, check-markdown-links

fix: add strict parameter to zip() calls (B905 compliance)
  Python/structural_lib/bbs.py
  Python/tests/integration/test_bbs.py
  Python/tests/property/test_property_invariants.py
Due: mypy

fix: correct type annotation checker threshold logic
  scripts/check_type_annotations.py
Due: none

chore: sync doc version references to 0.16.6 and fix releases.md
  docs/SESSION_LOG.md
  docs/_internal/SESSION_13_PART_8_SUMMARY.md
  docs/_internal/cost-optimizer-prevention-system-guide.md
  docs/contributing/streamlit-comprehensive-prevention-system.md
  docs/contributing/streamlit-issues-catalog.md
  docs/contributing/streamlit-maintenance-guide.md
  docs/contributing/streamlit-prevention-system-review.md
  docs/git-automation/README.md
  docs/git-automation/advanced-coordination.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/efficient-agent-usage.md
  docs/git-automation/mistakes-prevention.md
  docs/git-automation/research/README.md
  docs/git-automation/workflow-guide.md
  docs/guidelines/api-evolution-standard.md
  docs/legal/certification-template.md
  docs/legal/verification-checklist.md
  docs/planning/next-session-brief.md
  docs/reference/deprecation-policy.md
  docs/reference/dxf-layer-standards.md
  docs/reference/vba-udt-reference.md
  docs/research/agent-8-git-automation-comprehensive-research.md
  docs/research/git-automation-improvement-plan.md
  docs/research/v017-security-liability-plan.md
Due: check-markdown-links

docs: update README for v0.16.6 (TASK-456)
  README.md
Due: none

docs: update SESSION_LOG and TASKS.md for Session 19 completion
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

docs: update next-session-brief for v0.16.6 completion
  docs/planning/next-session-brief.md
Due: check-markdown-links

chore: make add_future_annotations.py executable
  scripts/add_future_annotations.py
Due: none

refactor: add future annotations to 12 core modules (Python 3.11 follow-up)
  Python/structural_lib/api.py
  Python/structural_lib/api_results.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/costing.py
  Python/structural_lib/dxf_export.py
  Python/structural_lib/excel_bridge.py
  Python/structural_lib/excel_integration.py
  Python/structural_lib/insights/cost_optimization.py
  Python/structural_lib/insights/smart_designer.py
  Python/structural_lib/optimization.py
  Python/structural_lib/validation.py
Due: mypy, contract-tests

refactor: add future annotations to 12 core modules (Python 3.11 follow-up) (#344)
  Python/structural_lib/api.py
  Python/structural_lib/api_results.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/costing.py
  Python/structural_lib/dxf_export.py
  Python/structural_lib/excel_bridge.py
  Python/structural_lib/excel_integration.py
  Python/structural_lib/insights/cost_optimization.py
  Python/structural_lib/insights/smart_designer.py
  Python/structural_lib/optimization.py
  Python/structural_lib/validation.py
Due: mypy, contract-tests

fix: remove invalid 'local' keyword in finish_task_pr.sh + update TASKS.md
  docs/TASKS.md
  scripts/finish_task_pr.sh
Due: check-markdown-links

docs: update next-session-brief with Session 19P3 achievements
  docs/planning/next-session-brief.md
Due: check-markdown-links

docs: add Session 19P3 entry to SESSION_LOG.md
  docs/SESSION_LOG.md
Due: check-markdown-links

fix(scripts): improve git workflow - error clarity, policy-aware merge, doc consistency
  docs/contributing/git-workflow-ai-agents.md
  scripts/ci_monitor_daemon.sh
  scripts/safe_push.sh
Due: check-markdown-links

feat(scripts): add enforcement hook for manual git prevention
  docs/TASKS.md
  scripts/ai_commit.sh
  scripts/install_enforcement_hook.sh
  scripts/safe_push.sh
Due: check-markdown-links

docs: add Session 19P4 git workflow improvements to logs
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

fix(scripts): automation-first recovery and hook diagnostics
  .github/copilot-instructions.md
  docs/SESSION_LOG.md
  docs/git-automation/workflow-guide.md
  scripts/ci_monitor_daemon.sh
  scripts/recover_git_state.sh
  scripts/safe_push.sh
Due: check-markdown-links

docs(git-automation): add enforcement hook and CI monitor docs
  docs/git-automation/automation-scripts.md
  docs/git-automation/mistakes-prevention.md
Due: check-markdown-links

refactor(docs): consolidate git workflow docs and update navigation
  README.md
  docs/_archive/research/git-automation/git-automation-improvement-plan.md
  docs/_archive/research/git-automation/git-workflow-production-stage.md
  docs/_archive/research/git-automation/git-workflow-recurring-issues.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/research/README.md
Due: check-markdown-links

docs: update TASKS.md with GITDOC completion
  docs/TASKS.md
Due: check-markdown-links

GITDOC: Git workflow automation-first improvements (#345)
  .github/copilot-instructions.md
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/research/git-automation/git-automation-improvement-plan.md
  docs/_archive/research/git-automation/git-workflow-production-stage.md
  docs/_archive/research/git-automation/git-workflow-recurring-issues.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/mistakes-prevention.md
  docs/git-automation/workflow-guide.md
  docs/research/README.md
  scripts/ci_monitor_daemon.sh
  scripts/recover_git_state.sh
  scripts/safe_push.sh
Due: check-markdown-links

docs: add Session 19P5 GITDOC achievements to logs
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(git): add versioned hook enforcement and automation-first recovery
  docs/SESSION_LOG.md
  docs/git-automation/mistakes-prevention.md
  docs/git-automation/workflow-guide.md
  scripts/agent_start.sh
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/git_automation_health.sh
  scripts/git_ops.sh
  scripts/install_git_hooks.sh
  scripts/recover_git_state.sh
Due: check-markdown-links

docs: add new git tools to all agent guides (GITDOC-24)
  .github/copilot-instructions.md
  README.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
Due: check-markdown-links

docs: update automation-scripts.md with new tools (GITDOC-25/26)
  docs/git-automation/automation-scripts.md
Due: check-markdown-links

test: add tests for hook enforcement, git_ops.sh, and health check (GITDOC-28)
  scripts/test_git_workflow.sh
Due: none

docs: add Session 19P6 hook enforcement achievements to logs
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

GITDOC-P6: Hook Enforcement System & Automation-First Recovery (#346)
  .github/copilot-instructions.md
  README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/mistakes-prevention.md
  docs/git-automation/workflow-guide.md
  scripts/agent_start.sh
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/git_automation_health.sh
  scripts/git_ops.sh
  scripts/install_git_hooks.sh
  scripts/recover_git_state.sh
  scripts/test_git_workflow.sh
Due: check-markdown-links

feat(git): add mistake report and safer recovery (review validation)
  docs/SESSION_LOG.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/workflow-guide.md
  scripts/agent_mistakes_report.sh
  scripts/agent_start.sh
  scripts/git_automation_health.sh
  scripts/recover_git_state.sh
Due: check-markdown-links

docs(git): consolidate entrypoints and add automation banners
  README.md
  docs/agents/guides/agent-8-mistakes-prevention-guide.md
  docs/getting-started/copilot-quick-start.md
  docs/git-automation/efficient-agent-usage.md
  scripts/install_enforcement_hook.sh
Due: check-markdown-links

feat(ops): add QA validation and mistake tracking
  docs/contributing/session-issues.md
  scripts/check_session_docs.py
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/git_automation_health.sh
Due: check-markdown-links

docs(session): update SESSION_LOG and next-session-brief for 19P7
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

DOC-P7: Documentation Cleanup and Tier-0 Entrypoints (#347)
  README.md
  docs/SESSION_LOG.md
  docs/agents/guides/agent-8-mistakes-prevention-guide.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/contributing/session-issues.md
  docs/getting-started/copilot-quick-start.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/efficient-agent-usage.md
  docs/git-automation/workflow-guide.md
  docs/planning/next-session-brief.md
  scripts/agent_mistakes_report.sh
  scripts/agent_start.sh
  scripts/check_session_docs.py
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/git_automation_health.sh
  scripts/install_enforcement_hook.sh
  scripts/recover_git_state.sh
Due: check-markdown-links

feat(hooks): improve clarity with 'why' and recovery guidance
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
Due: none

feat(hooks): improve clarity with 'why' and recovery guidance (#348)
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
Due: none

feat(hooks): improve clarity with 'why' and recovery guidance (#348)
  docs/planning/session-19p8-phase2-executive-summary.md
  docs/planning/session-19p8-strategic-analysis.md
  docs/planning/session-19p8-work-plan.md
Due: check-markdown-links

docs(planning): create P8 work plan (strategic session template for future sessions)
  docs/planning/session-19p8-work-plan.md
Due: check-markdown-links
