Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$

docs: update session docs with TASK-457 + TASK-458 achievements (9 commits)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(streamlit): add input bridge and report export integration for TASK-276-279
  streamlit_app/components/report_export.py
  streamlit_app/utils/input_bridge.py
Due: none

test(streamlit): add integration tests for input bridge (TASK-276-279)
  streamlit_app/tests/test_input_bridge.py
Due: none

docs(tasks): add TASK-276-279 Streamlit integration status
  docs/TASKS.md
Due: check-markdown-links

feat(streamlit): add Export tab with report generation and audit trail (TASK-276-279)
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, pylint-streamlit

feat(streamlit): add report_export and input_bridge to module exports
  streamlit_app/components/__init__.py
  streamlit_app/utils/__init__.py
Due: none

docs(session): add Session 19P13 log for TASK-276-279 integration
  docs/SESSION_LOG.md
Due: check-markdown-links

docs(session): add Session 19P13 summary with PR #351
  docs/SESSION_LOG.md
Due: check-markdown-links

fix(ci): skip research folder in filename validation (legacy naming convention)
  scripts/validate_folder_structure.py
Due: none

TASK-276: Integrate professional features (reports, audit) into Streamlit UI (#351)
  docs/SESSION_LOG.md
  docs/TASKS.md
  streamlit_app/components/__init__.py
  streamlit_app/components/report_export.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/tests/test_input_bridge.py
  streamlit_app/utils/__init__.py
  streamlit_app/utils/input_bridge.py
Due: check-markdown-links, check-streamlit-issues, pylint-streamlit

feat(ci): add pre-commit metadata check in warning mode (TASK-458 Phase 2)
  .pre-commit-config.yaml
  docs/TASKS.md
  scripts/check_doc_metadata.py
Due: check-markdown-links

docs(session): add Session 19P14 entry and update next-session-brief
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

docs(metadata): add metadata headers to 3 key documentation files (TASK-458 Phase 3 start)
  docs/architecture/project-overview.md
  docs/contributing/testing-strategy.md
  docs/contributing/vba-guide.md
Due: check-markdown-links

docs(metadata): add metadata to 3 more key files (excel-addin, known-pitfalls, governance)
  docs/contributing/excel-addin-guide.md
  docs/guidelines/folder-structure-governance.md
  docs/reference/known-pitfalls.md
Due: check-markdown-links

chore: sync doc version references to 0.16.6
  docs/architecture/project-overview.md
  docs/contributing/development-guide.md
  docs/contributing/vba-testing-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/excel-tutorial.md
  docs/planning/pre-release-checklist.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api.md
  docs/verification/examples.md
Due: check-markdown-links

docs(git): remove manual git examples in active docs
  docs/_internal/copilot-tasks/README.md
  docs/_internal/cost-optimizer-fix-results.md
  docs/_internal/git-governance.md
  docs/_internal/session-issues-2026-01-06.md
  docs/agents/guides/agent-6-comprehensive-onboarding.md
  docs/agents/guides/agent-8-git-ops.md
  docs/agents/guides/agent-8-mistakes-prevention-guide.md
  docs/agents/guides/agent-8-multi-agent-coordination.md
  docs/agents/guides/agent-bootstrap-complete-review.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/agents/sessions/2026-01/agent-8-week1-completion-summary.md
  docs/agents/sessions/2026-01/agent-8-week2-plan.md
  docs/contributing/background-agent-guide.md
  docs/contributing/git-workflow-testing.md
  docs/contributing/streamlit-maintenance-guide.md
  docs/getting-started/copilot-quick-start.md
  docs/getting-started/releases.md
  docs/git-automation/README.md
  docs/guidelines/folder-cleanup-workflow.md
  docs/planning/agent-1-tasks.md
  docs/planning/agent-2-tasks.md
  docs/planning/agent-6-tasks-streamlit.md
  docs/planning/hygiene-suggestions-2026-01-07.md
  docs/planning/session-14-lessons-learned.md
  docs/reference/agent-automation-pitfalls.md
  docs/reference/automation-catalog.md
  docs/reference/streamlit-validation.md
  scripts/agent_start.sh
  scripts/lint_docs_git_examples.sh
Due: check-markdown-links

docs(git): remove manual git examples in active docs (#352)
  docs/_internal/copilot-tasks/README.md
  docs/_internal/cost-optimizer-fix-results.md
  docs/_internal/git-governance.md
  docs/_internal/session-issues-2026-01-06.md
  docs/agents/guides/agent-6-comprehensive-onboarding.md
  docs/agents/guides/agent-8-git-ops.md
  docs/agents/guides/agent-8-mistakes-prevention-guide.md
  docs/agents/guides/agent-8-multi-agent-coordination.md
  docs/agents/guides/agent-bootstrap-complete-review.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/agents/sessions/2026-01/agent-8-week1-completion-summary.md
  docs/agents/sessions/2026-01/agent-8-week2-plan.md
  docs/contributing/background-agent-guide.md
  docs/contributing/git-workflow-testing.md
  docs/contributing/streamlit-maintenance-guide.md
  docs/getting-started/copilot-quick-start.md
  docs/getting-started/releases.md
  docs/git-automation/README.md
  docs/guidelines/folder-cleanup-workflow.md
  docs/planning/agent-1-tasks.md
  docs/planning/agent-2-tasks.md
  docs/planning/agent-6-tasks-streamlit.md
  docs/planning/hygiene-suggestions-2026-01-07.md
  docs/planning/session-14-lessons-learned.md
  docs/reference/agent-automation-pitfalls.md
  docs/reference/automation-catalog.md
  docs/reference/streamlit-validation.md
  scripts/agent_start.sh
  scripts/lint_docs_git_examples.sh
Due: check-markdown-links

docs: update session log and handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(git): improve session docs reminders
  docs/contributing/background-agent-guide.md
  scripts/finish_task_pr.sh
  scripts/update_handoff.py
Due: check-markdown-links

GITDOC-31: Session docs reminders + handoff label (#353)
  docs/SESSION_LOG.md
  docs/contributing/background-agent-guide.md
  docs/planning/next-session-brief.md
  scripts/finish_task_pr.sh
  scripts/update_handoff.py
Due: check-markdown-links

fix(streamlit): fix page_header() signature and reportlab dependency
  Python/pyproject.toml
  scripts/check_doc_metadata.py
  streamlit_app/pages/07_📄_report_generator.py
  streamlit_app/pages/08_📊_batch_design.py
  streamlit_app/pages/09_🔬_advanced_analysis.py
  streamlit_app/pages/10_📚_learning_center.py
  streamlit_app/pages/11_🎬_demo_showcase.py
  streamlit_app/utils/pdf_generator.py
Due: check-python-version, check-streamlit-issues, pylint-streamlit

refactor(streamlit): migrate use_container_width to width parameter
  streamlit_app/components/polish.py
  streamlit_app/components/preview.py
  streamlit_app/components/visualizations.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/04_📚_documentation.py
  streamlit_app/pages/05_📋_bbs_generator.py
  streamlit_app/pages/06_📐_dxf_export.py
  streamlit_app/pages/07_📄_report_generator.py
  streamlit_app/pages/08_📊_batch_design.py
  streamlit_app/pages/09_🔬_advanced_analysis.py
  streamlit_app/pages/11_🎬_demo_showcase.py
  streamlit_app/pages/12_📖_clause_traceability.py
  streamlit_app/tests/conftest.py
  streamlit_app/utils/design_system_demo.py
Due: check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

feat(scripts): add Streamlit import validation script
  scripts/check_streamlit_imports.py
  streamlit_app/utils/pdf_generator.py
Due: none

TASK-460: Fix Streamlit runtime errors and deprecations (#354)
  Python/pyproject.toml
  scripts/check_doc_metadata.py
  scripts/check_streamlit_imports.py
  streamlit_app/components/polish.py
  streamlit_app/components/preview.py
  streamlit_app/components/visualizations.py
  streamlit_app/pages/01_🏗️_beam_design.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/04_📚_documentation.py
  streamlit_app/pages/05_📋_bbs_generator.py
  streamlit_app/pages/06_📐_dxf_export.py
  streamlit_app/pages/07_📄_report_generator.py
  streamlit_app/pages/08_📊_batch_design.py
  streamlit_app/pages/09_🔬_advanced_analysis.py
  streamlit_app/pages/10_📚_learning_center.py
  streamlit_app/pages/11_🎬_demo_showcase.py
  streamlit_app/pages/12_📖_clause_traceability.py
  streamlit_app/tests/conftest.py
  streamlit_app/utils/design_system_demo.py
  streamlit_app/utils/pdf_generator.py
Due: check-python-version, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

docs: TASK-457 Phase 2 - archive 3 session-specific files
  docs/_archive/2026-01/SESSION-SUMMARY-JAN-13.md
  docs/_archive/2026-01/session-19p8-workflow-analysis.md
  docs/_archive/2026-01/session-2026-01-06-documentation-enhancement.md
  docs/research/README.md
  metrics/doc_consolidation_metrics.json
Due: check-markdown-links

docs: update SESSION_LOG and TASKS.md for session 19P17
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

docs: TASK-458 Phase 3 - add metadata to 7 docs (specs, contributing, blog-drafts)
  docs/blog-drafts/is456-compliance-automation.md
  docs/blog-drafts/performance-engineering-structural-calcs.md
  docs/blog-drafts/smart-design-analysis-deep-dive.md
  docs/blog-drafts/type-safety-engineering-software.md
  docs/contributing/lesson-incomplete-implementation.md
  docs/specs/v0.7-data-mapping.md
  docs/specs/v0.9-job-schema.md
Due: check-markdown-links

feat(git): tighten session logging rules
  docs/contributing/end-of-session-workflow.md
  scripts/should_use_pr.sh
Due: check-markdown-links

GITDOC-32: Session log corrections + PR guardrails (#355)
  docs/SESSION_LOG.md
  docs/contributing/end-of-session-workflow.md
  docs/planning/next-session-brief.md
  scripts/should_use_pr.sh
Due: check-markdown-links

chore(TASK-458): add Blog, Specification, Lesson to valid doc types + add metadata to 3 more docs
  docs/blog-drafts/is456-compliance-automation.md
  docs/blog-drafts/performance-engineering-structural-calcs.md
  docs/blog-drafts/smart-design-analysis-deep-dive.md
  docs/blog-drafts/type-safety-engineering-software.md
  docs/contributing/quickstart-checklist.md
  docs/contributing/vba-testing-guide.md
  docs/contributing/workflow-professional-review.md
  scripts/check_doc_metadata.py
Due: check-markdown-links

fix(scripts): add skip-known flag to Streamlit import checker to reduce false positives
  docs/TASKS.md
  scripts/check_streamlit_imports.py
Due: check-markdown-links

chore(TASK-458): add metadata headers to 12 contributing docs
  docs/contributing/development-guide.md
  docs/contributing/doc-template.md
  docs/contributing/docstring-style-guide.md
  docs/contributing/end-of-session-workflow.md
  docs/contributing/git-workflow-testing.md
  docs/contributing/github-workflow.md
  docs/contributing/learning-paths.md
  docs/contributing/naming-conventions.md
  docs/contributing/repo-professionalism.md
  docs/contributing/solo-maintainer-operating-system.md
  docs/contributing/streamlit-comprehensive-prevention-system.md
  docs/contributing/streamlit-issues-catalog.md
Due: check-markdown-links

chore(TASK-458): add metadata headers to 6 architecture docs
  docs/architecture/architecture-review-2025-12-27.md
  docs/architecture/data-flow-diagrams.md
  docs/architecture/deep-project-map.md
  docs/architecture/dependencies.md
  docs/architecture/mission-and-principles.md
  docs/architecture/visual-architecture.md
Due: check-markdown-links

chore(TASK-458): add metadata headers to 13 getting-started docs
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/ai-context-pack.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/colab-workflow.md
  docs/getting-started/copilot-quick-start.md
  docs/getting-started/cost-optimization-guide.md
  docs/getting-started/design-suggestions-guide.md
  docs/getting-started/excel-quickstart.md
  docs/getting-started/excel-tutorial.md
  docs/getting-started/fix-copilot-terminal.md
  docs/getting-started/insights-guide.md
  docs/getting-started/python-quickstart.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
Due: check-markdown-links

docs: update SESSION_LOG and TASKS.md for session 19P19
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

docs: add comprehensive automation discovery for AI agents
  .github/workflows/README.md
  scripts/README.md
  scripts/index.json
Due: none

chore(TASK-458): add metadata headers to all docs/reference files
  docs/reference/README.md
  docs/reference/agent-automation-pitfalls.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/automation-catalog.md
  docs/reference/bbs-dxf-contract.md
  docs/reference/deferred-integrations.md
  docs/reference/deprecation-policy.md
  docs/reference/dxf-layer-standards.md
  docs/reference/error-schema.md
  docs/reference/index.md
  docs/reference/insights-api.md
  docs/reference/is456-formulas.md
  docs/reference/library-contract.md
  docs/reference/repo-health-baseline-2026-01-07.md
  docs/reference/streamlit-validation.md
  docs/reference/third-party-licenses.md
  docs/reference/troubleshooting.md
  docs/reference/vba-api-reference.md
  docs/reference/vba-udt-reference.md
Due: check-markdown-links
