Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix: improve automation scripts - handle relative imports, add bare import pattern
  scripts/batch_migrate_modules.py
  scripts/validate_imports.py
Due: none

refactor: consolidate 4 script groups, archive 17 more scripts (163→97 active)
  .pre-commit-config.yaml
  scripts/_archive/archive_deprecated_scripts.py
  scripts/_archive/batch_migrate_modules.py
  scripts/_archive/benchmark_api_latency.py
  scripts/_archive/check_doc_frontmatter.py
  scripts/_archive/check_doc_metadata.py
  scripts/_archive/check_doc_similarity.py
  scripts/_archive/check_docs_index.py
  scripts/_archive/check_docs_index_links.py
  scripts/_archive/check_duplicate_docs.py
  scripts/_archive/check_folder_readmes.py
  scripts/_archive/check_folder_structure.py
  scripts/_archive/check_handoff_ready.py
  scripts/_archive/check_readme_quality.py
  scripts/_archive/check_streamlit_imports.py
  scripts/_archive/generate_api_routes.py
  scripts/_archive/validate_fastapi_schema.py
  scripts/_archive/validate_stub_exports.py
  scripts/benchmark_api.py
  scripts/check_docs.py
  scripts/validate_api_contracts.py
  scripts/validate_folder_structure.py
Due: none

refactor: move IS 456 materials.py to codes/is456/materials.py, resolve naming conflict
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/materials.py
  Python/structural_lib/materials.py
Due: mypy

fix: repair broken imports in 5 scripts, add shared utils, improve CLI interfaces
  scripts/_lib/__init__.py
  scripts/_lib/utils.py
  scripts/create_test_scaffold.py
  scripts/discover_api_signatures.py
  scripts/lint_vba.py
  scripts/test_api_parity.py
  scripts/test_import_3d_pipeline.py
  scripts/test_vba_adapter.py
  scripts/validate_schema_snapshots.py
  scripts/validate_streamlit_page.py
Due: none

docs: add session 88 next-moves plan, update handoff brief
  docs/_active/next-moves-session-88.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix: resolve 4 CI failures - StrEnum migration, test fixture path, archived script refs
  .github/workflows/git-workflow-tests.yml
  Python/structural_lib/core/errors.py
  Python/structural_lib/core/models.py
  streamlit_app/components/ai_workspace.py
  tests/apptest/conftest.py
Due: mypy, check-python-version, check-performance-issues

fix: update mypy overrides for moved modules (models→core, serialization/etabs→services)
  Python/pyproject.toml
Due: check-python-version

refactor: move 9 root modules (bbs, reports, dxf, excel, job) to services/
  Python/structural_lib/bbs.py
  Python/structural_lib/calculation_report.py
  Python/structural_lib/dxf_export.py
  Python/structural_lib/excel_bridge.py
  Python/structural_lib/excel_integration.py
  Python/structural_lib/job_cli.py
  Python/structural_lib/job_runner.py
  Python/structural_lib/report.py
  Python/structural_lib/report_svg.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/bbs.py
  Python/structural_lib/services/calculation_report.py
  Python/structural_lib/services/dxf_export.py
  Python/structural_lib/services/excel_bridge.py
  Python/structural_lib/services/excel_integration.py
  Python/structural_lib/services/job_cli.py
  Python/structural_lib/services/job_runner.py
  Python/structural_lib/services/report.py
  Python/structural_lib/services/report_svg.py
  Python/tests/integration/test_bbs.py
  Python/tests/integration/test_dxf_export_edges.py
  Python/tests/integration/test_excel_integration.py
  Python/tests/integration/test_excel_integration_edges.py
  Python/tests/integration/test_job_cli.py
  Python/tests/integration/test_report.py
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/performance/test_benchmarks.py
  Python/tests/test_calculation_report.py
  streamlit_app/components/report_export.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/_archived/_06_📐_dxf_export.py
  streamlit_app/pages/_hidden/_05_📋_bbs_generator.py
  streamlit_app/pages/_hidden/_08_📐_dxf_export.py
  streamlit_app/tests/test_api_integration.py
  streamlit_app/tests/test_bbs_generator.py
  streamlit_app/tests/test_dxf_export.py
  tests/test_report_export_component.py
Due: mypy, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

style: fix import sorting in test_bbs.py and test_benchmarks.py
  Python/tests/integration/test_bbs.py
  Python/tests/performance/test_benchmarks.py
Due: none

fix: resolve CI lint errors — update per-file-ignores for services/, move logger after imports
  Python/pyproject.toml
  Python/structural_lib/services/excel_integration.py
Due: mypy, check-python-version

refactor: Phase 3 — move 9 root modules to services/ (#425)
  Python/pyproject.toml
  Python/structural_lib/bbs.py
  Python/structural_lib/calculation_report.py
  Python/structural_lib/dxf_export.py
  Python/structural_lib/excel_bridge.py
  Python/structural_lib/excel_integration.py
  Python/structural_lib/job_cli.py
  Python/structural_lib/job_runner.py
  Python/structural_lib/report.py
  Python/structural_lib/report_svg.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/bbs.py
  Python/structural_lib/services/calculation_report.py
  Python/structural_lib/services/dxf_export.py
  Python/structural_lib/services/excel_bridge.py
  Python/structural_lib/services/excel_integration.py
  Python/structural_lib/services/job_cli.py
  Python/structural_lib/services/job_runner.py
  Python/structural_lib/services/report.py
  Python/structural_lib/services/report_svg.py
  Python/tests/integration/test_bbs.py
  Python/tests/integration/test_dxf_export_edges.py
  Python/tests/integration/test_excel_integration.py
  Python/tests/integration/test_excel_integration_edges.py
  Python/tests/integration/test_job_cli.py
  Python/tests/integration/test_report.py
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/performance/test_benchmarks.py
  Python/tests/test_calculation_report.py
  streamlit_app/components/report_export.py
  streamlit_app/pages/06_📥_multi_format_import.py
  streamlit_app/pages/_archived/_06_📐_dxf_export.py
  streamlit_app/pages/_hidden/_05_📋_bbs_generator.py
  streamlit_app/pages/_hidden/_08_📐_dxf_export.py
  streamlit_app/tests/test_api_integration.py
  streamlit_app/tests/test_bbs_generator.py
  streamlit_app/tests/test_dxf_export.py
  tests/test_report_export_component.py
Due: mypy, check-python-version, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

refactor: React component feature grouping + root cleanup (Phase 4-5)
  docs/planning/folder-structure-migration-v2.md
  react_app/src/App.tsx
  react_app/src/components/design/BeamForm.css
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/CrossSectionView.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ResultsPanel.css
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/design/index.json
  react_app/src/components/design/index.md
  react_app/src/components/design/index.ts
  react_app/src/components/import/BeamTable.tsx
  react_app/src/components/import/CSVImportPanel.css
  react_app/src/components/import/CSVImportPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/import/index.json
  react_app/src/components/import/index.md
  react_app/src/components/import/index.ts
  react_app/src/components/index.json
  react_app/src/components/index.md
  react_app/src/components/index.ts
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/viewport/LandingView.tsx
  react_app/src/components/viewport/Viewport3D.css
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/components/viewport/WorkspaceLayout.css
  react_app/src/components/viewport/WorkspaceLayout.tsx
  react_app/src/components/viewport/index.json
  react_app/src/components/viewport/index.md
  react_app/src/components/viewport/index.ts
  structural_engineering_lib/docs/learning/README.md
  structural_engineering_lib/docs/learning/concepts-map.md
  structural_engineering_lib/docs/learning/exercises.md
  structural_engineering_lib/docs/learning/glossary.md
  structural_engineering_lib/docs/learning/guides.md
  structural_engineering_lib/docs/learning/learning-plan.md
Due: check-markdown-links, check-doc-metadata

refactor: React component feature grouping + root cleanup (Phase 4-5) (#426)
  docs/planning/folder-structure-migration-v2.md
  react_app/src/App.tsx
  react_app/src/components/design/BeamForm.css
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/CrossSectionView.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/design/ResultsPanel.css
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/design/index.json
  react_app/src/components/design/index.md
  react_app/src/components/design/index.ts
  react_app/src/components/import/BeamTable.tsx
  react_app/src/components/import/CSVImportPanel.css
  react_app/src/components/import/CSVImportPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/import/index.json
  react_app/src/components/import/index.md
  react_app/src/components/import/index.ts
  react_app/src/components/index.json
  react_app/src/components/index.md
  react_app/src/components/index.ts
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/viewport/LandingView.tsx
  react_app/src/components/viewport/Viewport3D.css
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/components/viewport/WorkspaceLayout.css
  react_app/src/components/viewport/WorkspaceLayout.tsx
  react_app/src/components/viewport/index.json
  react_app/src/components/viewport/index.md
  react_app/src/components/viewport/index.ts
  structural_engineering_lib/docs/learning/README.md
  structural_engineering_lib/docs/learning/concepts-map.md
  structural_engineering_lib/docs/learning/exercises.md
  structural_engineering_lib/docs/learning/glossary.md
  structural_engineering_lib/docs/learning/guides.md
  structural_engineering_lib/docs/learning/learning-plan.md
Due: check-markdown-links, check-doc-metadata

refactor: post-migration cleanup — CSS→Tailwind, governance v3, archive plan, scripts research
  .github/instructions/react.instructions.md
  docs/_archive/2026-02/folder-structure-migration-v2.md
  docs/guidelines/folder-structure-governance.md
  docs/research/scripts-improvement-research.md
  react_app/src/components/design/BeamForm.css
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/ResultsPanel.css
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/import/CSVImportPanel.css
  react_app/src/components/import/CSVImportPanel.tsx
  react_app/src/components/viewport/Viewport3D.css
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/components/viewport/WorkspaceLayout.css
  react_app/src/components/viewport/WorkspaceLayout.tsx
  react_app/src/index.css
Due: check-markdown-links, check-doc-metadata

refactor: post-migration cleanup — CSS→Tailwind, governance v3, archive plan, scripts research (#427)
  .github/instructions/react.instructions.md
  docs/_archive/2026-02/folder-structure-migration-v2.md
  docs/guidelines/folder-structure-governance.md
  docs/research/scripts-improvement-research.md
  react_app/src/components/design/BeamForm.css
  react_app/src/components/design/BeamForm.tsx
  react_app/src/components/design/ResultsPanel.css
  react_app/src/components/design/ResultsPanel.tsx
  react_app/src/components/import/CSVImportPanel.css
  react_app/src/components/import/CSVImportPanel.tsx
  react_app/src/components/viewport/Viewport3D.css
  react_app/src/components/viewport/Viewport3D.tsx
  react_app/src/components/viewport/WorkspaceLayout.css
  react_app/src/components/viewport/WorkspaceLayout.tsx
  react_app/src/index.css
Due: check-markdown-links, check-doc-metadata

refactor: consolidate scripts - archive 7 dead scripts, merge 8→3 (check_api, check_governance, check_links), fix 2 broken CI refs, update indexes
  .github/workflows/fast-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/streamlit-validation.yml
  scripts/_archive/agent_preflight.sh
  scripts/_archive/agent_setup.sh
  scripts/_archive/check_api_doc_signatures.py
  scripts/_archive/check_api_docs_sync.py
  scripts/_archive/check_api_signatures.py
  scripts/_archive/check_governance_compliance.py
  scripts/_archive/check_links.py
  scripts/_archive/comprehensive_validator.py
  scripts/_archive/copilot_setup.sh
  scripts/_archive/fix_broken_links.py
  scripts/_archive/test_setup.py
  scripts/_archive/validate_folder_structure.py
  scripts/_archive/validate_streamlit_page.py
  scripts/_archive/vba_validator.py
  scripts/automation-map.json
  scripts/check_api.py
  scripts/check_governance.py
  scripts/check_links.py
  scripts/end_session.py
  scripts/index.json
Due: check-python-version

docs: update session 89 handoff + research progress
  docs/planning/next-session-brief.md
  docs/research/scripts-improvement-research.md
Due: check-markdown-links, check-doc-metadata

refactor: scripts consolidation phase 1 (#428)
  .github/workflows/fast-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/streamlit-validation.yml
  docs/planning/next-session-brief.md
  docs/research/scripts-improvement-research.md
  scripts/_archive/agent_preflight.sh
  scripts/_archive/agent_setup.sh
  scripts/_archive/check_api_doc_signatures.py
  scripts/_archive/check_api_docs_sync.py
  scripts/_archive/check_api_signatures.py
  scripts/_archive/check_governance_compliance.py
  scripts/_archive/check_links.py
  scripts/_archive/comprehensive_validator.py
  scripts/_archive/copilot_setup.sh
  scripts/_archive/fix_broken_links.py
  scripts/_archive/test_setup.py
  scripts/_archive/validate_folder_structure.py
  scripts/_archive/validate_streamlit_page.py
  scripts/_archive/vba_validator.py
  scripts/automation-map.json
  scripts/check_api.py
  scripts/check_governance.py
  scripts/check_links.py
  scripts/end_session.py
  scripts/index.json
Due: check-python-version, check-markdown-links, check-doc-metadata

refactor: consolidate session, release, and streamlit scripts (Phase 2)
  .claude/rules/streamlit.md
  .github/instructions/streamlit.instructions.md
  .github/workflows/README.md
  .github/workflows/nightly.yml
  .github/workflows/python-tests.yml
  .github/workflows/streamlit-validation.yml
  .pre-commit-config.yaml
  scripts/README.md
  scripts/_archive/check_fragment_violations.py
  scripts/_archive/check_pre_release_checklist.py
  scripts/_archive/check_release_docs.py
  scripts/_archive/check_session_docs.py
  scripts/_archive/check_streamlit_issues.py
  scripts/_archive/end_session.py
  scripts/_archive/start_session.py
  scripts/_archive/update_handoff.py
  scripts/_archive/verify_release.py
  scripts/agent_start.sh
  scripts/audit_readiness_report.py
  scripts/automation-map.json
  scripts/check_fastapi_issues.py
  scripts/check_streamlit.py
  scripts/finish_task_pr.sh
  scripts/index.json
  scripts/launch_streamlit.sh
  scripts/release.py
  scripts/session.py
  scripts/watch_tests.sh
  streamlit_app/README.md
Due: check-python-version

refactor: consolidate session, release, and streamlit scripts (Phase 2) (#429)
  .claude/rules/streamlit.md
  .github/instructions/streamlit.instructions.md
  .github/workflows/README.md
  .github/workflows/nightly.yml
  .github/workflows/python-tests.yml
  .github/workflows/streamlit-validation.yml
  .pre-commit-config.yaml
  scripts/README.md
  scripts/_archive/check_fragment_violations.py
  scripts/_archive/check_pre_release_checklist.py
  scripts/_archive/check_release_docs.py
  scripts/_archive/check_session_docs.py
  scripts/_archive/check_streamlit_issues.py
  scripts/_archive/end_session.py
  scripts/_archive/start_session.py
  scripts/_archive/update_handoff.py
  scripts/_archive/verify_release.py
  scripts/agent_start.sh
  scripts/audit_readiness_report.py
  scripts/automation-map.json
  scripts/check_fastapi_issues.py
  scripts/check_streamlit.py
  scripts/finish_task_pr.sh
  scripts/index.json
  scripts/launch_streamlit.sh
  scripts/release.py
  scripts/session.py
  scripts/watch_tests.sh
  streamlit_app/README.md
Due: check-python-version

docs: fix remaining stale script refs in 11 additional files
  .scanner-ignore.yml
  docs/agents/guides/agent-9-quick-start.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/contributing/agent-coding-standards.md
  docs/contributing/development-guide.md
  docs/contributing/quickstart-checklist.md
  docs/getting-started/releases.md
  docs/guidelines/file-operations-safety-guide.md
  docs/guidelines/folder-structure-governance.md
  docs/guidelines/streamlit-fragment-best-practices.md
  docs/planning/folder-migration-progress.md
Due: check-markdown-links, check-doc-metadata

refactor: Phase 3 — create _lib/output.py + _lib/ast_helpers.py, migrate 10 scripts to shared _lib/utils
  docs/research/scripts-improvement-research.md
  scripts/_lib/__init__.py
  scripts/_lib/ast_helpers.py
  scripts/_lib/output.py
  scripts/check_api.py
  scripts/check_architecture_boundaries.py
  scripts/check_docs.py
  scripts/check_governance.py
  scripts/check_links.py
  scripts/check_streamlit.py
  scripts/generate_api_manifest.py
  scripts/release.py
  scripts/session.py
  scripts/validate_imports.py
Due: check-markdown-links, check-doc-metadata

feat: add 4-layer migration gates, batch runner, and JSON outputs
  .github/workflows/fast-checks.yml
  scripts/batch_migrate_runner.py
  scripts/check_governance.py
  scripts/index.json
  scripts/migrate_python_module.py
  scripts/migrate_react_component.py
  scripts/safe_file_move.py
Due: check-python-version

feat: add 4-layer migration gates, batch runner, and JSON outputs (#430)
  .github/workflows/fast-checks.yml
  scripts/batch_migrate_runner.py
  scripts/check_governance.py
  scripts/index.json
  scripts/migrate_python_module.py
  scripts/migrate_react_component.py
  scripts/safe_file_move.py
Due: check-python-version

feat: lock 4-layer governance and add migration integration tests
  .github/workflows/fast-checks.yml
  Python/structural_lib/_migration_fixtures/__init__.py
  Python/structural_lib/_migration_fixtures/sample_module.py
  Python/structural_lib/services/rebar_optimizer.py
  docs/guidelines/folder-structure-governance.md
  docs/guidelines/governance-limits.json
  react_app/src/__fixtures__/migration/Host.tsx
  react_app/src/__fixtures__/migration/SampleWidget.css
  react_app/src/__fixtures__/migration/SampleWidget.tsx
  scripts/batch_migrate_runner.py
  scripts/check_governance.py
  scripts/migrate_python_module.py
  scripts/migrate_react_component.py
  tests/fixtures/migration/docs/__4layer_fixture_ref_qzv9.md
  tests/fixtures/migration/docs/__4layer_fixture_source_qzv9.md
  tests/fixtures/migration/golden/batch_runner_dry_run.json
  tests/fixtures/migration/golden/migrate_python_module_dry_run.json
  tests/fixtures/migration/golden/migrate_react_component_dry_run.json
  tests/fixtures/migration/golden/safe_file_move_dry_run.json
  tests/fixtures/migration/plans/batch_plan_python_fixture.json
  tests/integration/test_migration_scripts.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

feat: merge 4layer-lock-hardening governance + migration tests
  docs/_active/resumption-feb-27-2026.md
Due: check-markdown-links, check-doc-metadata

feat(react): wire dashboard insights, code checks, and rebar suggestions into UI
  react_app/src/App.tsx
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/layout/TopBar.tsx
  react_app/src/components/pages/DashboardPage.tsx
Due: none

feat(export): add export panel with BBS, DXF, and report downloads
  fastapi_app/main.py
  fastapi_app/routers/export.py
  react_app/src/components/design/ExportPanel.tsx
  react_app/src/components/pages/BeamDetailPage.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useExport.ts
Due: none

docs: bootstrap overhaul — fix 4-layer arch, API paths, hooks/routes tables, refresh TASKS and session brief
  .github/copilot-instructions.md
  CLAUDE.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: fact-check pass — add 2 missing hooks, expand to all 35 endpoints, remove phantom useUIStore, trim TASKS.md 308→81 lines
  .github/copilot-instructions.md
  CLAUDE.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: fix stale numbers — README (3194 tests, 96 scripts), llms.txt (4-layer arch, 35 endpoints)
  README.md
  llms.txt
Due: none

feat: add sync_numbers.py + session.py summary/sync — simplify agent doc workflow
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  docs/planning/agent-workflow-improvements.md
  llms.txt
  scripts/session.py
  scripts/sync_numbers.py
Due: check-markdown-links, check-doc-metadata

refactor: clean phantom script refs + expand sync_numbers + scripts plan
  docs/planning/agent-workflow-improvements.md
  scripts/agent_start.sh
  scripts/sync_numbers.py
Due: check-markdown-links, check-doc-metadata

feat: complete automation-map (81/81 scripts), post-commit stale check, enhanced script index
  docs/planning/agent-workflow-improvements.md
  scripts/ai_commit.sh
  scripts/automation-map.json
  scripts/check_scripts_index.py
  scripts/index.json
  scripts/sync_numbers.py
Due: check-markdown-links, check-doc-metadata

feat: add when-to-use docstrings, session auto-detect, bootstrap freshness checker
  docs/planning/agent-workflow-improvements.md
  scripts/automation-map.json
  scripts/check_api.py
  scripts/check_architecture_boundaries.py
  scripts/check_bootstrap_freshness.py
  scripts/check_governance.py
  scripts/check_links.py
  scripts/check_scripts_index.py
  scripts/check_streamlit.py
  scripts/create_doc.py
  scripts/discover_api_signatures.py
  scripts/find_automation.py
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/safe_file_delete.py
  scripts/safe_file_move.py
  scripts/session.py
  scripts/sync_numbers.py
  scripts/validate_imports.py
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
