Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(ci): resolve all GitHub Actions failures, fix Windows Unicode encoding, enhance README
  .gitattributes
  .github/workflows/python-tests.yml
  .github/workflows/scorecard.yml
  .gitignore
  Python/README.md
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/services/bbs.py
  README.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/guidelines/blog-writing-guide.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  docs/verification/examples.md
  mkdocs.yml
  scripts/bump_version.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix(ci): resolve all GitHub Actions failures, fix Windows Unicode encoding, enhance README (#474)
  .gitattributes
  .github/workflows/python-tests.yml
  .github/workflows/scorecard.yml
  .gitignore
  Python/README.md
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/services/bbs.py
  README.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/guidelines/blog-writing-guide.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  docs/verification/examples.md
  mkdocs.yml
  scripts/bump_version.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix(ci): add missing API docs, trim next-session-brief, create pre-release checklist, clean bump_ver
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api.md
  scripts/bump_version.py
Due: check-markdown-links, check-doc-metadata

fix(ci): add missing API docs, trim next-session-brief, create pre-release checklist, clean bump_ver (#475)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api.md
  scripts/bump_version.py
Due: check-markdown-links, check-doc-metadata

Deployed 5b287d41 with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  planning/pre-release-checklist/index.html
  reference/api/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix(ci): add UTF-8 encoding to bump_version.py, fix api docs and session brief
  docs/planning/next-session-brief.md
  docs/reference/api.md
  scripts/bump_version.py
Due: check-markdown-links, check-doc-metadata

Deployed ee34e002 with MkDocs version: 1.6.1
  planning/next-session-brief/index.html
  reference/api/index.html
  search/search_index.json
Due: none

docs: add CI failure prevention rules to agent docs
  .github/agents/ops.agent.md
  .github/instructions/python-core.instructions.md
  docs/getting-started/agent-bootstrap.md
Due: check-markdown-links, check-doc-metadata

Deployed 9c93e039 with MkDocs version: 1.6.1
  getting-started/agent-bootstrap/index.html
  search/search_index.json
Due: none

docs: add agent-evolver plan v2.0
  docs/SESSION_LOG.md
  docs/_active/agent-evolver-plan.md
  docs/_active/agent-evolver-plan.md.bak
  scripts/bump_version.py
Due: check-markdown-links, check-doc-metadata

Deployed 3198b165 with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(evolver): add shared libraries and session collector (P3+P4)
  scripts/_lib/__init__.py
  scripts/_lib/agent_data.py
  scripts/_lib/agent_registry.py
  scripts/_lib/scoring.py
  scripts/agent_session_collector.py
Due: none

feat(evolver): add scorer, drift detector, compliance checker (P5+P6+P7)
  scripts/agent_compliance_checker.py
  scripts/agent_drift_detector.py
  scripts/agent_scorer.py
Due: none

fix(evolver): remove unused variable in compliance checker
  scripts/agent_compliance_checker.py
Due: none

feat(evolver): add trend analysis and paper export (P8+P10)
  scripts/agent_trends.py
  scripts/export_paper_data.py
  scripts/test_file.txt
Due: none

feat(evolver): add instruction evolver with security guardrails (P9)
  scripts/agent_evolve_instructions.py
  scripts/test_file.txt
Due: none

feat(evolver): add agent-evolver definition, skill, and doc updates (P2)
  .github/agents/agent-evolver.agent.md
  .github/skills/agent-evolution/SKILL.md
  AGENTS.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

test(evolver): add 84 unit tests + fix agent_registry name extraction bug
  scripts/_lib/agent_registry.py
  tests/test_evolver_infrastructure.py
Due: none

docs(evolver): update docs for 84 tests + registry bugfix
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(scripts): add 7 evolver scripts to index.json and automation-map.json
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
Due: none

TASK-800: TASK-800: agent evolver infrastructure — 10 scripts, 84 tests (#476)
  .github/agents/agent-evolver.agent.md
  .github/skills/agent-evolution/SKILL.md
  AGENTS.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  scripts/_lib/__init__.py
  scripts/_lib/agent_data.py
  scripts/_lib/agent_registry.py
  scripts/_lib/scoring.py
  scripts/agent_compliance_checker.py
  scripts/agent_drift_detector.py
  scripts/agent_evolve_instructions.py
  scripts/agent_scorer.py
  scripts/agent_session_collector.py
  scripts/agent_trends.py
  scripts/automation-map.json
  scripts/export_paper_data.py
  scripts/index.json
  scripts/index.md
  tests/test_evolver_infrastructure.py
Due: check-markdown-links, check-doc-metadata

Deployed 9cfbb395 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: add evolve --status to session-end workflow (P12 burn-in)
  .github/copilot-instructions.md
  .github/prompts/session-end.prompt.md
  .github/skills/session-management/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
Due: check-markdown-links, check-doc-metadata

Deployed fa0c9d91 with MkDocs version: 1.6.1
  getting-started/agent-bootstrap/index.html
  search/search_index.json
Due: none

feat(column): implement uniaxial bending Cl 39.5 — PIPELINE STEP 3 DONE
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/common/constants.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
Due: mypy

test(column): add 6-type test suite for uniaxial bending — PIPELINE STEP 4 DONE
  Python/tests/codes/is456/column/test_uniaxial.py
Due: none

feat(column): wire uniaxial bending into services/api.py — PIPELINE STEP 6 DONE
  Python/structural_lib/services/api.py
Due: mypy

feat(api): add POST /api/v1/design/column/uniaxial endpoint — PIPELINE STEP 7 DONE
  Python/structural_lib/services/api.py
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_uniaxial.py
Due: mypy

docs: update TASKS, WORKLOG, next-session-brief, api.md for TASK-633 — PIPELINE STEP 8 DONE
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

fix(lint): suppress N80x for engineering naming in uniaxial module
  Python/pyproject.toml
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_uniaxial.py
Due: mypy, check-python-version

feat(column): TASK-633 short column uniaxial bending (Cl 39.5) (#477)
  Python/pyproject.toml
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/codes/is456/common/constants.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_uniaxial.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_uniaxial.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 8ce0bc02 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  planning/next-session-brief/index.html
  reference/api/index.html
  search/search_index.json
Due: none

feat(column): add P-M interaction curve for IS 456 column (Cl 39.5)
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_pm_interaction.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_pm_interaction.py
Due: mypy, check-markdown-links, check-doc-metadata

docs: sync stale doc numbers (29 API funcs, 45 endpoints)
  .github/copilot-instructions.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

fix: resolve ruff lint errors (B905 zip strict, N806 variable naming)
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/tests/codes/is456/column/test_pm_interaction.py
Due: mypy

TASK-634: TASK-634: P-M interaction curve for IS 456 column (Cl 39.5) — core function, API wrapper, FastAPI endpoint, 45 tests, agent rule updates (#478)
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/copilot-instructions.md
  CLAUDE.md
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/column/axial.py
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/codes/is456/column/test_pm_interaction.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
  fastapi_app/tests/test_column_pm_interaction.py
  llms.txt
Due: mypy, check-markdown-links, check-doc-metadata

Deployed f2161e48 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  getting-started/agent-bootstrap/index.html
  planning/next-session-brief/index.html
  reference/api/index.html
  search/search_index.json
Due: none

fix(column): address reviewer items — docstring, d_prime bound, ValueError for n_points
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/core/data_types.py
  Python/tests/codes/is456/column/test_pm_interaction.py
  fastapi_app/models/column.py
Due: mypy

fix(column): address reviewer items — docstring, d_prime bound, ValueError for n_points (#479)
  Python/structural_lib/codes/is456/column/uniaxial.py
  Python/structural_lib/core/data_types.py
  Python/tests/codes/is456/column/test_pm_interaction.py
  fastapi_app/models/column.py
Due: mypy

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
