Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

feat(models): add BuildingStatistics utility for building metrics
  Python/structural_lib/models.py
  Python/tests/unit/test_models.py
Due: mypy

feat: integrate BuildingStatistics into 3D view with concrete volume metrics
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update TASKS.md and SESSION_LOG with session 46+ progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update next-session-brief with 3D upgrade and BuildingStatistics
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: add 3D visualization differentiation strategy research
  docs/research/3d-visualization-differentiation-strategy.md
Due: check-markdown-links, check-doc-metadata

docs: add Phase 2.5 polish and Phase 3 rebar visualization to 8-week plan
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

feat: add story filter, color modes, and camera presets to 3D view
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update TASKS.md and SESSION_LOG with session 47 strategic work
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: update next-session-brief with strategic rebar focus
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: add democratization vision and update 8-week plan with expanded strategy
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  docs/planning/democratization-vision.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: add AI chat architecture v2 research with tool calling design
  docs/research/ai-chat-architecture-v2.md
Due: check-markdown-links, check-doc-metadata

feat(ui): add AI assistant page with ChatGPT-like split layout
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ui): add SmartDashboard component for visual analysis display
  streamlit_app/components/smart_dashboard.py
Due: check-performance-issues

feat(ai): add LLM tool definitions for OpenAI function calling
  streamlit_app/utils/llm_tools.py
Due: check-type-annotations, check-performance-issues

docs: update TASKS.md and 8-week plan with AI chat phase
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

docs: add secrets.toml.example for OpenAI API configuration
  streamlit_app/.streamlit/secrets.toml.example
Due: none

docs: update session log with AI chat implementation details
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

style: format models.py with black
  Python/structural_lib/models.py
Due: mypy

fix: use traditional pattern for chat_input to avoid AST scanner false positive
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

TASK-AI-CHAT: AI Chat Assistant with ChatGPT-like UI and SmartDesigner integration (#388)
  Python/structural_lib/models.py
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  streamlit_app/.streamlit/secrets.toml.example
  streamlit_app/components/smart_dashboard.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/utils/llm_tools.py
Due: mypy, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

fix(ai): resolve ComplianceCaseResult attribute errors in AI Assistant
  .gitignore
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add configurable OpenAI model with secrets.toml support
  streamlit_app/.streamlit/secrets.toml.example
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): redesign UI with compact professional layout and ETABS integration
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update TASKS.md and 8-week plan with Session 48 progress
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

refactor(ai): move _handle_quick_action before usage for static analyzer
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: Session 48 log and handoff brief
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(ai): resolve ComplianceCaseResult.geometry bug and add gpt-5-mini support
  .gitignore
  streamlit_app/.streamlit/secrets.toml.example
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

fix(ai): fix workspace panel attribute errors in Results and 3D tabs
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): enhance chat panel with welcome message, clear button, and helper function
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update 8-week plan and TASKS with Session 49 AI fixes
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

feat(ai): add natural language parameter parsing from user messages
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

test(ai): add tests for AI assistant page
  tests/apptest/test_page_10_ai_assistant.py
Due: none

docs: add Session 49 entry to SESSION_LOG
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

fix(scanner): use max() pattern for division to satisfy AST scanner
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

TASK-AI-FIX: AI Assistant Bug Fixes and Enhancements - Session 49 (#390)
  .gitignore
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  streamlit_app/.streamlit/secrets.toml.example
  streamlit_app/pages/07_📥_multi_format_import.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  tests/apptest/test_page_10_ai_assistant.py
Due: check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

fix(ai): correct 3D figure params and improve error messages
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add CSV import tab with batch design capability
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update 8-week plan and add AI usage research
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  docs/research/ai-effective-usage-patterns.md
Due: check-markdown-links, check-doc-metadata

docs: add Session 50 entry to SESSION_LOG
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

fix(ai): resolve SmartDesigner geometry error and type mismatch
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues
