Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs: streamline copilot-instructions for immediate agent productivity
  .github/copilot-instructions.md
Due: none

docs: comprehensive copilot instructions with in-depth research
  .github/copilot-instructions.md
Due: none

docs: fix copilot instructions self-link
  .github/copilot-instructions.md
Due: none

docs: link session docs in workflow guidance
  .github/copilot-instructions.md
Due: none

docs: link automation index references
  .github/copilot-instructions.md
Due: none

docs: link key architecture files
  .github/copilot-instructions.md
Due: none

docs: link scripts index in key scripts section
  .github/copilot-instructions.md
Due: none

docs: refine agent professionalism and next-task planning
  .github/copilot-instructions.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(vba): add smoke test automation harness
  VBA/README.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  scripts/index.json
  scripts/run_vba_smoke_tests.py
Due: check-markdown-links, check-doc-metadata

chore(governance): complete TASK-284 validation and fixes
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/index.json
  docs/planning/index.md
  docs/planning/next-session-brief.md
  scripts/generate_folder_index.py
  scripts/index.json
  scripts/run_vba_smoke_tests.py
Due: check-markdown-links, check-doc-metadata

docs(research): update library direction and v0.18 feasibility
  docs/research/comprehensive-repo-analysis-2026-01-14.md
  docs/research/v018-library-expansion-feasibility.md
Due: check-markdown-links, check-doc-metadata

docs: Session 32 validated audit - correct TASKS.md backlog
  docs/TASKS.md
  docs/research/session-32-library-audit.md
Due: check-markdown-links, check-doc-metadata

docs: sync api.md to v0.17.5, add check_beam_slenderness
  docs/reference/api-manifest.json
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

feat(detailing): add anchorage functions for hooks and bends (TASK-087)
  Python/structural_lib/codes/is456/detailing.py
  Python/tests/unit/test_detailing.py
Due: mypy

docs: add anchorage functions to api.md, update TASKS.md
  docs/TASKS.md
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

chore: add IS 456 Cl 26.2.2 anchorage clauses to database
  Python/structural_lib/codes/is456/clauses.json
Due: none

docs: Session 32 summary - validated audit + anchorage implementation
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat: Implement torsion design module (TASK-085)
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/data_types.py
  Python/tests/unit/test_torsion.py
Due: mypy, contract-tests

docs(torsion): add API exports, wrapper, clause refs & docs for IS 456 Cl 41
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/torsion.py
  docs/reference/api.md
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-doc-metadata

feat(vba): add slenderness check + anchorage functions for Python parity (TASK-082)
  VBA/Modules/M02_Types.bas
  VBA/Modules/M15_Detailing.bas
  VBA/Modules/M17_Serviceability.bas
  VBA/README.md
Due: none

feat(vba): add slenderness check + anchorage functions for Python parity (TASK-082) (#367)
  VBA/Modules/M02_Types.bas
  VBA/Modules/M15_Detailing.bas
  VBA/Modules/M17_Serviceability.bas
  VBA/README.md
Due: none

docs: Session 33 - torsion module + VBA parity (TASK-085, TASK-082)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

style: fix Black formatting in torsion module
  Python/structural_lib/codes/is456/torsion.py
  Python/tests/unit/test_torsion.py
Due: mypy

fix(torsion): use DesignError instead of ComplianceError for mypy
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/errors.py
Due: mypy

style: fix ruff import ordering in torsion module
  Python/structural_lib/codes/is456/torsion.py
Due: mypy

TASK-085: Add IS 456 Clause 41 Torsion Design Module (#366)
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/data_types.py
  Python/structural_lib/errors.py
  Python/structural_lib/torsion.py
  Python/tests/unit/test_torsion.py
  docs/reference/api.md
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-doc-metadata

feat(serviceability): add Level C deflection with separate creep/shrinkage
  Python/structural_lib/codes/is456/serviceability.py
  Python/structural_lib/data_types.py
  Python/tests/unit/test_serviceability.py
Due: mypy, contract-tests

feat(etabs): add ETABS CSV import module for beam forces
  Python/structural_lib/__init__.py
  Python/structural_lib/etabs_import.py
  Python/tests/unit/test_etabs_import.py
Due: mypy

feat(etabs): add ETABS CSV import module for beam forces (#369)
  Python/structural_lib/__init__.py
  Python/structural_lib/etabs_import.py
  Python/tests/unit/test_etabs_import.py
Due: mypy

fix(serviceability): add explicit type annotations for mypy compliance
  Python/structural_lib/codes/is456/serviceability.py
Due: mypy

TASK-081: Level C serviceability deflection with separate creep/shrinkage (#368)
  Python/structural_lib/codes/is456/serviceability.py
  Python/structural_lib/data_types.py
  Python/tests/unit/test_serviceability.py
Due: mypy, contract-tests

feat(api): add ETABS import exports and update docs with Level C + ETABS sections
  Python/structural_lib/api.py
  docs/reference/api.md
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-doc-metadata

docs: update TASKS.md and SESSION_LOG for Session 34 completion
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(api): correct import ordering for ruff
  Python/structural_lib/api.py
Due: mypy, contract-tests, check-api-manifest

TASK-139: Add ETABS exports to API and update documentation (#370)
  Python/structural_lib/api.py
  docs/reference/api.md
Due: mypy, contract-tests, check-api-manifest, check-markdown-links, check-doc-metadata

feat(TASK-145): Add BMD/SFD computation module with 25 tests
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/data_types.py
  Python/tests/unit/test_load_analysis.py
Due: mypy, contract-tests, check-api-manifest

docs(TASK-145): Add BMD/SFD API documentation to api.md
  docs/reference/api.md
Due: check-markdown-links, check-doc-metadata

feat(TASK-145): Add create_bmd_sfd_diagram Plotly visualization with 7 tests
  streamlit_app/components/visualizations.py
  streamlit_app/tests/test_visualizations.py
Due: check-performance-issues

style: fix Black formatting for load_analysis tests and visualizations
  Python/tests/unit/test_load_analysis.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  streamlit_app/components/visualizations.py
  streamlit_app/tests/test_visualizations.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

docs(TASK-145): update session 34 docs and next-session-brief
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
