Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

fix(excel): support Windows PowerShell packaging defaults
  CSharp/packaging/excel/Common.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/packaging/excel/New-ValidationCertificate.ps1
  CSharp/packaging/excel/Test-Preflight.ps1
  CSharp/tests/StructAutomate.Tests/WorkbookCommandEngineTests.cs
Due: none

fix(excel): register add-in with an active workbook
  CSharp/packaging/excel/Install-PerUser.ps1
  CSharp/packaging/excel/Uninstall-PerUser.ps1
Due: none

fix(excel): locate standalone preflight receipt per user
  CSharp/packaging/excel/Test-Preflight.ps1
Due: none

fix(excel): verify installed startup registration
  CSharp/packaging/excel/Common.ps1
  CSharp/packaging/excel/Install-PerUser.ps1
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  CSharp/packaging/excel/Uninstall-PerUser.ps1
  docs/library/excel/README.md
  docs/planning/xll-product/wp09-standalone-excel.md
Due: check-markdown-links, check-doc-metadata

fix(excel): measure and release host resources precisely
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommands.cs
Due: none

fix(excel): stabilize cold readiness acceptance
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  docs/planning/xll-product/library-definition/pf9/baseline.json
  docs/planning/xll-product/wp09-standalone-excel.md
Due: check-markdown-links, check-doc-metadata

fix(excel): time the exact cold-ready boundary
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  docs/planning/xll-product/library-definition/pf9/baseline.json
  docs/planning/xll-product/wp09-standalone-excel.md
Due: check-markdown-links, check-doc-metadata

fix(excel): bind currentness to installed runtime
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommandEngine.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookContracts.cs
  CSharp/tests/StructAutomate.Tests/WorkbookCommandEngineTests.cs
  docs/library/excel/README.md
Due: check-markdown-links, check-doc-metadata

fix(excel): migrate legacy output schemas
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommandEngine.cs
  CSharp/tests/StructAutomate.Tests/WorkbookCommandEngineTests.cs
Due: none

fix(excel): describe candidate evaluation accurately
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommands.cs
  docs/library/excel/README.md
Due: check-markdown-links, check-doc-metadata

fix(excel): reuse cleared controlled sheets
  CSharp/src/StructuralEngineering.ExcelDna/ExcelWorkbookTableStore.cs
Due: none

fix(excel): compare matching calculation evidence
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
Due: none

perf(excel): remove cold-start bootstrap workbook
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
Due: none

docs(excel): record WP09 installed acceptance
  CSharp/README.md
  docs/SESSION_LOG.md
  docs/library/README.md
  docs/library/implementation-status.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/learning/README.md
  docs/planning/xll-product/wp09-standalone-excel.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/wp09-excel-cleanup.json
  docs/verification/wp09-excel-distribution-evidence.json
  docs/verification/wp09-excel-distribution-manifest.json
  docs/verification/wp09-excel-install-preflight.json
  docs/verification/wp09-excel-install.json
  docs/verification/wp09-excel-installed-acceptance.json
  docs/verification/wp09-excel-preflight.json
  docs/verification/wp09-excel-repair.json
  docs/verification/wp09-excel-rollback-probe.json
  docs/verification/wp09-excel-uninstall.json
  docs/verification/wp09-excel-validation-certificate.json
  docs/verification/wp09-standalone-excel-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(session): bind WP09 handoff receipt
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(session): record WP09 completion
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(excel): normalize hosted candidate files
  CSharp/src/StructuralEngineering.ExcelDna/packages.lock.json
  CSharp/tests/StructAutomate.Tests/packages.lock.json
  docs/SESSION_LOG.md
  docs/verification/wp09-excel-distribution-evidence.json
  docs/verification/wp09-excel-rollback-probe.json
Due: check-markdown-links, check-doc-metadata

fix(workflow): prevent repeated candidate rework
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/wp09-postmortem.md
  docs/planning/xll-product/wp09-standalone-excel.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/wp09-postmortem-controls-git-handoff-receipt.json
  run.sh
  scripts/agent_brief.sh
  scripts/check_all.py
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

feat(workflow): add compact recurrence index
  AGENTS.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/wp09-postmortem.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp09-postmortem-controls-git-handoff-receipt.json
  run.sh
  scripts/agent_brief.sh
  scripts/automation-map.json
  scripts/control-plane.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

fix(workflow): include changed-domain formatting
  AGENTS.md
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp09-postmortem.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp09-postmortem-controls-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

fix(workflow): prevent repeated delivery rework (#964)
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/wp09-postmortem.md
  docs/planning/xll-product/wp09-standalone-excel.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp09-postmortem-controls-git-handoff-receipt.json
  run.sh
  scripts/agent_brief.sh
  scripts/automation-map.json
  scripts/check_all.py
  scripts/control-plane.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

feat(etabs): add portable snapshot contracts
  CSharp/README.md
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/src/StructuralEngineering.Contracts/AnalysisSnapshotContracts.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10Tests.cs
  Python/structural_lib/analysis_snapshot.py
  Python/structural_lib/core/analysis_snapshot.py
  Python/structural_lib/services/analysis_snapshot.py
  Python/tests/unit/test_structural_engineering_wp10.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/conformance/wp10-vectors.json
  contracts/structural-engineering/operations/wp10.json
  contracts/structural-engineering/schemas/wp10.schema.json
  docs/SESSION_LOG.md
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp10-analysis-snapshot.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-01-git-handoff-receipt.json
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): align canonical and ledger parity
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10Tests.cs
  Python/structural_lib/services/analysis_snapshot.py
  Python/tests/unit/test_structural_engineering_wp10.py
  contracts/structural-engineering/conformance/wp10-vectors.json
  docs/SESSION_LOG.md
  docs/library/reference/wp10-analysis-snapshot.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-01-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): canonicalize all unicode scalars
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10Tests.cs
  Python/tests/unit/test_structural_engineering_wp10.py
  docs/SESSION_LOG.md
  docs/library/reference/wp10-analysis-snapshot.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-01-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): finalize WP10-01 handoff evidence
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(etabs): add portable analysis snapshot contracts (#965)
  CSharp/README.md
  CSharp/src/StructuralEngineering.Analysis/AnalysisSnapshotCodec.cs
  CSharp/src/StructuralEngineering.Contracts/AnalysisSnapshotContracts.cs
  CSharp/tests/StructuralEngineering.Tests/Wp10Tests.cs
  Python/structural_lib/analysis_snapshot.py
  Python/structural_lib/core/analysis_snapshot.py
  Python/structural_lib/services/analysis_snapshot.py
  Python/tests/unit/test_structural_engineering_wp10.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/conformance/wp10-vectors.json
  contracts/structural-engineering/operations/wp10.json
  contracts/structural-engineering/schemas/wp10.schema.json
  docs/SESSION_LOG.md
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp10-analysis-snapshot.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-01-git-handoff-receipt.json
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(delivery): enforce bounded state machine
  .github/skills/quality-gate/SKILL.md
  .github/skills/session-management/SKILL.md
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  AGENTS.md
  Python/tests/test_control_plane.py
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  Python/tests/test_workflow_readiness.py
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp09-postmortem.md
  docs/verification/delivery-system-redesign.md
  docs/verification/rework-recurrence-index.json
  run.sh
  scripts/agent_start.sh
  scripts/automation-map.json
  scripts/control-plane.json
  scripts/preflight.py
  scripts/session.py
  scripts/verification.py
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(delivery): repair immutable integrity gate
  .github/skills/quality-gate/SKILL.md
  .github/skills/session-management/SKILL.md
  AGENTS.md
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/verification/delivery-system-redesign.md
  scripts/check_all.py
  scripts/session.py
  scripts/verification.py
Due: check-markdown-links, check-doc-metadata

fix(delivery): ignore fenced conflict examples
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/verification/delivery-system-redesign.md
  scripts/verification.py
Due: check-markdown-links, check-doc-metadata

fix(ci): bind hosted delivery owners
  .github/skills/quality-gate/SKILL.md
  .github/skills/session-management/SKILL.md
  .github/workflows/fast-checks.yml
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/verification/delivery-system-redesign.md
  docs/verification/rework-recurrence-index.json
  scripts/session.py
  scripts/validation-coverage.json
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(governance): keep delivery guidance bounded
  AGENTS.md
  docs/SESSION_LOG.md
  docs/verification/delivery-system-redesign.md
Due: check-markdown-links, check-doc-metadata

docs(governance): record terminal recurrence
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(governance): bind derived delivery states
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/verification/delivery-system-redesign.md
  docs/verification/rework-recurrence-index.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

fix(delivery): enforce bounded state machine (#966)
  .github/skills/quality-gate/SKILL.md
  .github/skills/session-management/SKILL.md
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  AGENTS.md
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_control_plane.py
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  Python/tests/test_workflow_readiness.py
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp09-postmortem.md
  docs/verification/delivery-system-redesign.md
  docs/verification/rework-recurrence-index.json
  run.sh
  scripts/agent_start.sh
  scripts/automation-map.json
  scripts/check_all.py
  scripts/control-plane.json
  scripts/preflight.py
  scripts/session.py
  scripts/validation-coverage.json
  scripts/verification.py
Due: check-python-version, check-markdown-links, check-doc-metadata

docs(etabs): freeze WP10 single-session plan
  docs/SESSION_LOG.md
  docs/library/implementation-status.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): freeze WP10 single-session plan (#967)
  docs/SESSION_LOG.md
  docs/library/implementation-status.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add exact getter adapter
  CSharp/StructAutomate.slnx
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterAdapter.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsLiveGetterProbe.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/src/StructuralEngineering.Etabs/StructuralEngineering.Etabs.csproj
  CSharp/src/StructuralEngineering.Etabs/packages.lock.json
  CSharp/tests/StructAutomate.Tests/StructAutomate.Tests.csproj
  CSharp/tests/StructAutomate.Tests/Wp10GetterAdapterTests.cs
  CSharp/tests/StructAutomate.Tests/packages.lock.json
  docs/SESSION_LOG.md
  docs/library/implementation-status.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-02-host-microprobe-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(etabs): harden exact getter evidence
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterAdapter.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsGetterMatrix.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsLiveGetterProbe.cs
  CSharp/src/StructuralEngineering.Etabs/EtabsReflectionGetterHost.cs
  CSharp/tests/StructAutomate.Tests/Wp10GetterAdapterTests.cs
  docs/SESSION_LOG.md
  docs/library/implementation-status.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-02-host-microprobe-evidence.json
Due: check-markdown-links, check-doc-metadata

chore(etabs): normalize candidate text hygiene
  CSharp/src/StructuralEngineering.Etabs/packages.lock.json
  docs/SESSION_LOG.md
  docs/library/implementation-status.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/wp10-etabs-read-adapter.md
  docs/verification/rework-recurrence-index.json
  docs/verification/wp10-02-host-microprobe-evidence.json
Due: check-markdown-links, check-doc-metadata
