Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(ai): fix GPT model name and scanner issues
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add Phase 3 rebar visualization with variable stirrup zones
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update TASKS.md and SESSION_LOG.md for Session 51
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat(beam-design): add variable stirrup zones per IS 456 2d rule
  streamlit_app/pages/01_🏗️_beam_design.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add development length and lap length to rebar layout
  streamlit_app/pages/10_🤖_ai_assistant.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update TASKS.md with Session 51 completion
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

docs: add AI chat page redesign plan with research
  docs/planning/8-week-development-plan.md
  docs/planning/ai-chat-redesign-plan.md
Due: check-markdown-links, check-doc-metadata

feat(page07): add beam detail 3D view with rebar visualization
  streamlit_app/pages/07_📥_multi_format_import.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add dynamic workspace component with state machine
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(ai): add AI assistant v2 page with dynamic workspace
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update SESSION_LOG and TASKS for Session 52
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix(ai): add get_workspace_state and export ai_workspace in __init__.py
  streamlit_app/components/__init__.py
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

fix(ai): add safe float conversion and prevent empty list modulo
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(ai): add building 3D view and interactive rebar editor
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

style(ai): polish UI with filters, better layout, feature highlights
  streamlit_app/components/__init__.py
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(ai): enhance chat commands with building 3d, rebar editor, beam selection
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add professional cross-section view with dimensions and rebar schedule
  streamlit_app/components/__init__.py
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add material takeoff and cost estimation to dashboard
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

docs: add Session 53 entry with 5 commits for AI v2 advanced features
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs: update 8-week plan and TASKS with AI v2 feature complete status
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

fix(ai): add zero-division guards in rebar checks and progress calc
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

style(ai): add loading spinners, feature icons, chat tips, and improved navigation
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

style(ai): add helpful tooltips to all main action buttons
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(ai): add CSV and summary export in dashboard
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

docs: update SESSION_LOG and TASKS with Session 54 progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

feat: upgrade to OpenAI GPT-5-mini model and fix API signature check
  scripts/check_api_signatures.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

chore: bump version to 0.18.0 and update CHANGELOG
  CHANGELOG.md
  Python/pyproject.toml
Due: check-python-version

docs: update SESSION_LOG and TASKS for Session 55 and v0.18.0 release
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links, check-doc-metadata

fix: resolve AST scanner false positives for forward function refs and division guards
  .scanner-ignore.yml
  scripts/check_streamlit_issues.py
Due: none

TASK-AI-V2-POLISH: AI workspace UI polish, tooltips, export functionality (#391)
  .scanner-ignore.yml
  CHANGELOG.md
  Python/pyproject.toml
  docs/SESSION_LOG.md
  docs/TASKS.md
  scripts/check_api_signatures.py
  scripts/check_streamlit_issues.py
  streamlit_app/components/ai_workspace.py
  streamlit_app/pages/10_🤖_ai_assistant.py
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-python-version, check-markdown-links, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues, check-doc-metadata

feat(ai): concise hover tooltips and compact building 3D UI
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(ai): add multi-file upload for separate geometry and forces CSVs
  streamlit_app/components/ai_workspace.py
Due: check-performance-issues

feat(ai): add design context awareness to chat for intelligent Q&A
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add mobile-friendly CSS and compact UI layout
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

feat(ai): add quick design and add-beam chat commands
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

docs: update SESSION_LOG with session 56 AI chat improvements
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

fix: resolve AST scanner KeyError and IndexError issues in AI assistant
  streamlit_app/pages/11_⚡_ai_assistant_v2.py
Due: check-streamlit-issues, check-api-signatures, pylint-streamlit, check-performance-issues

TASK-AI-IMPROVE: AI chat improvements: multi-file upload, context awareness, mobile UI (#392)
  docs/SESSION_LOG.md
  streamlit_app/components/ai_workspace.py
Due: check-markdown-links, check-performance-issues, check-doc-metadata

TASK-AI-ASSISTANT: AI Assistant bug fixes, UI redesign, and ETABS integration (#389)
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
