Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$

docs: add Hypothesis property testing section and enable CI profile in nightly workflow (#358)
  .github/workflows/nightly.yml
  docs/contributing/testing-strategy.md
Due: check-python-version, check-markdown-links

fix(tests): update tests to check errors list instead of deprecated error_message/remarks fields
  Python/tests/integration/test_flanged_beam.py
  Python/tests/integration/test_tables_and_materials_additional.py
  Python/tests/regression/test_critical_is456.py
  Python/tests/regression/test_findings_regressions.py
Due: none

docs: update TASKS.md and SESSION_LOG.md for Session 23 progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

feat(is456): add beam slenderness check per IS 456 Cl 23.3
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/slenderness.py
  Python/structural_lib/slenderness.py
  Python/tests/property/test_slenderness_hypothesis.py
  Python/tests/test_slenderness.py
Due: mypy, contract-tests

feat(reports): add Jinja2-based HTML report generation module (TASK-522)
  Python/structural_lib/__init__.py
  Python/structural_lib/reports/__init__.py
  Python/structural_lib/reports/generator.py
  Python/structural_lib/reports/templates/beam_design_report.html.j2
  Python/structural_lib/reports/templates/detailed_report.html.j2
  Python/structural_lib/reports/templates/summary_report.html.j2
  Python/tests/test_reports.py
Due: mypy

style: apply black formatting to integration tests
  Python/tests/integration/test_flanged_beam.py
  Python/tests/integration/test_tables_and_materials_additional.py
Due: none

docs: update TASKS.md and SESSION_LOG with Session 23 progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

docs: update next-session-brief.md with Session 23 handoff
  docs/planning/next-session-brief.md
Due: check-markdown-links

style: format slenderness module with black
  Python/structural_lib/codes/is456/slenderness.py
  Python/tests/property/test_slenderness_hypothesis.py
Due: mypy

style: format reports module with black
  Python/structural_lib/reports/generator.py
  Python/tests/test_reports.py
Due: mypy

style: fix ruff lint issues in slenderness hypothesis tests
  Python/tests/property/test_slenderness_hypothesis.py
Due: none

style: fix ruff lint issues in reports tests
  Python/tests/test_reports.py
Due: none

TASK-524: Add beam slenderness check per IS 456 Cl 23.3 (#359)
  Python/structural_lib/api.py
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/slenderness.py
  Python/structural_lib/slenderness.py
  Python/tests/property/test_slenderness_hypothesis.py
  Python/tests/test_slenderness.py
Due: mypy, contract-tests

fix: resolve mypy type errors in reports module
  Python/structural_lib/reports/generator.py
Due: mypy

TASK-522: Jinja2 HTML report templates (#360)
  Python/structural_lib/__init__.py
  Python/structural_lib/reports/__init__.py
  Python/structural_lib/reports/generator.py
  Python/structural_lib/reports/templates/beam_design_report.html.j2
  Python/structural_lib/reports/templates/detailed_report.html.j2
  Python/structural_lib/reports/templates/summary_report.html.j2
  Python/tests/test_reports.py
Due: mypy

fix(streamlit): fix critical API issues and improve UI
  docs/research/streamlit-app-issues-2026-01-14.md
  streamlit_app/components/results.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/09_🔬_advanced_analysis.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

fix(streamlit): fix compliance page session state issues
  streamlit_app/pages/03_✅_compliance.py
Due: check-streamlit-issues, pylint-streamlit

docs: update SESSION_LOG and TASKS with Session 24 progress
  docs/SESSION_LOG.md
  docs/TASKS.md
Due: check-markdown-links

IMPL-008: Fix Streamlit API Issues and UI Improvements (#361)
  docs/research/streamlit-app-issues-2026-01-14.md
  streamlit_app/components/results.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/pages/09_🔬_advanced_analysis.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

fix(streamlit): Session 24 Part 2 fixes and prevention system
  docs/research/streamlit-app-issues-2026-01-14.md
  scripts/check_streamlit_issues.py
  streamlit_app/pages/02_💰_cost_optimizer.py
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/requirements.txt
  streamlit_app/tests/test_page_api_integration.py
Due: check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

fix(streamlit): Fix API signature mismatches in all pages (demo, advanced, batch, compliance)
  streamlit_app/pages/03_✅_compliance.py
  streamlit_app/pages/08_📊_batch_design.py
  streamlit_app/pages/09_🔬_advanced_analysis.py
  streamlit_app/pages/11_🎬_demo_showcase.py
Due: check-streamlit-issues, pylint-streamlit

feat(optimizer): add NSGA-II multi-objective Pareto optimization with WHY display
  Python/structural_lib/multi_objective_optimizer.py
  Python/tests/test_multi_objective_optimizer.py
  scripts/check_api_signatures.py
  streamlit_app/pages/02_💰_cost_optimizer.py
Due: mypy, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

ci: add API signature validation to pre-commit and CI workflow
  .github/workflows/streamlit-validation.yml
  .pre-commit-config.yaml
Due: check-python-version

chore(release): bump version to 0.17.5
  CHANGELOG.md
  Python/README.md
  Python/pyproject.toml
  README.md
  docs/contributing/development-guide.md
  docs/contributing/vba-testing-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/excel-tutorial.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
Due: check-python-version, check-markdown-links

docs: update session log and tasks for v0.17.5 release
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(scanner): Phase 6 - eliminate 21 false positives
  docs/research/comprehensive-repo-analysis-2026-01-14.md
  scripts/check_streamlit_issues.py
Due: check-markdown-links

perf(batch): use itertuples() for 4x faster iteration + types: complete session_manager annotations
  streamlit_app/pages/08_📊_batch_design.py
  streamlit_app/utils/session_manager.py
Due: check-streamlit-issues, pylint-streamlit

types: add return type annotations to 5 utility modules (68→46 missing)
  streamlit_app/utils/api_wrapper.py
  streamlit_app/utils/pdf_generator.py
  streamlit_app/utils/performance.py
  streamlit_app/utils/plotly_theme.py
  streamlit_app/utils/render_optimizer.py
Due: none

types: add return annotations to lazy_loader + loading_states (68→40 missing)
  streamlit_app/utils/lazy_loader.py
  streamlit_app/utils/loading_states.py
Due: none

ci: add type annotation + performance checks to pre-commit hooks
  .pre-commit-config.yaml
Due: none

types: complete annotations for results.py + caching.py (68→24 missing, 65% reduction)
  streamlit_app/components/results.py
  streamlit_app/utils/caching.py
Due: none

fix(compliance+shear): fix compliance check values and practical stirrup spacing
  Python/structural_lib/codes/is456/shear.py
  Python/tests/unit/test_shear.py
  streamlit_app/pages/03_✅_compliance.py
Due: mypy, check-streamlit-issues, pylint-streamlit

fix(ui): improve dropdown visibility with z-index and overflow fixes
  streamlit_app/utils/global_styles.py
Due: none

fix(report): fix PDF report generator session state access
  streamlit_app/pages/07_📄_report_generator.py
Due: check-streamlit-issues, pylint-streamlit

test(regression): add 20 regression tests for 2026-01-13 page fixes
  streamlit_app/tests/test_page_fixes_2026_01_13.py
Due: none

docs(streamlit): update README with all 12 pages and current features
  streamlit_app/README.md
Due: none

docs: add TASK-600 to Recently Done in TASKS.md
  docs/TASKS.md
Due: check-markdown-links

feat(shear): add select_stirrup_diameter function for dynamic sizing
  Python/structural_lib/codes/is456/shear.py
  Python/tests/unit/test_shear.py
  streamlit_app/utils/api_wrapper.py
Due: mypy
