Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, pylint-streamlit

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: python3 scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: python3 scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: python3 scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: python3 scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

docs(log): document P8 Phase 1 (merged) and Phase 2 (in progress)
  docs/SESSION_LOG.md
Due: check-markdown-links

feat(scripts): add hook output log parsing to agent_mistakes_report.sh
  scripts/agent_mistakes_report.sh
Due: none

docs(git-automation): add deprecated scripts section with Tier-0 guidance
  docs/git-automation/README.md
Due: check-markdown-links

feat(scripts): add lint_docs_git_examples.sh for manual git detection
  scripts/lint_docs_git_examples.sh
Due: none

docs(planning): add Session Start Checklist and update P8 handoff
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(scripts): add undocumented script check to git_automation_health.sh
  scripts/git_automation_health.sh
Due: none

docs(session): complete P8 Phase 2 session log with all commits
  docs/SESSION_LOG.md
Due: check-markdown-links

Session 19P8 Phase 2: Prevention Systems (#349)
  docs/SESSION_LOG.md
  docs/git-automation/README.md
  docs/planning/next-session-brief.md
  docs/planning/session-19p8-work-plan.md
  scripts/agent_mistakes_report.sh
  scripts/git_automation_health.sh
  scripts/lint_docs_git_examples.sh
Due: check-markdown-links

feat(scripts): add --force mode to finish_task_pr.sh and cleanup_stale_branches.sh
  docs/research/session-19p8-workflow-analysis.md
  scripts/cleanup_stale_branches.sh
  scripts/finish_task_pr.sh
Due: check-markdown-links

feat(api): add BeamInput dataclasses for input flexibility (TASK-276)
  Python/structural_lib/__init__.py
  Python/structural_lib/api.py
  Python/structural_lib/inputs.py
  Python/tests/test_design_from_input.py
  Python/tests/test_inputs.py
  docs/reference/api-stability.md
  docs/reference/api.md
Due: mypy, contract-tests, check-markdown-links

feat(api): add verification and audit trail module (TASK-278)
  Python/structural_lib/__init__.py
  Python/structural_lib/api.py
  Python/structural_lib/audit.py
  Python/tests/test_audit.py
  docs/TASKS.md
  docs/reference/api-stability.md
  docs/reference/api.md
Due: mypy, contract-tests, check-markdown-links

feat(api): TASK-277 professional calculation report generation
  Python/structural_lib/__init__.py
  Python/structural_lib/api.py
  Python/structural_lib/calculation_report.py
  Python/tests/test_calculation_report.py
  docs/TASKS.md
  docs/reference/api-stability.md
  docs/reference/api.md
Due: mypy, contract-tests, check-markdown-links

feat(testing): TASK-279 engineering testing strategies module
  Python/pyproject.toml
  Python/structural_lib/__init__.py
  Python/structural_lib/testing_strategies.py
  Python/tests/test_testing_strategies.py
  docs/TASKS.md
  docs/reference/api-stability.md
  docs/reference/api.md
Due: mypy, check-python-version, check-markdown-links

docs(examples): add professional workflow example
  Python/examples/professional_workflow.py
  Python/structural_lib/calculation_report.py
  Python/tests/test_calculation_report.py
Due: mypy

--help
  .github/copilot-instructions.md
  README.md
  docs/_internal/git-governance.md
  docs/agents/guides/agent-8-git-ops.md
  docs/agents/guides/agent-bootstrap-complete-review.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/contributing/background-agent-guide.md
  docs/contributing/development-guide.md
  docs/contributing/session-issues.md
  docs/getting-started/ai-context-pack.md
  docs/git-automation/README.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/workflow-guide.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/automation-catalog.md
  docs/research/session-19p8-workflow-analysis.md
  scripts/cleanup_stale_branches.sh
  scripts/finish_task_pr.sh
  scripts/test_git_workflow.sh
Due: check-markdown-links

--help
  scripts/test_git_workflow.sh
Due: none

docs(git): refresh workflow docs and test guidance
  docs/_internal/git-governance.md
  docs/agents/guides/agent-8-git-ops.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/git-automation/README.md
  docs/reference/automation-catalog.md
Due: check-markdown-links

docs: update session log and handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links

feat(git): enforce session docs in PR workflow
  .github/copilot-instructions.md
  docs/_internal/git-governance.md
  docs/agents/guides/agent-8-git-ops.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/contributing/end-of-session-workflow.md
  docs/contributing/github-workflow.md
  docs/git-automation/README.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/workflow-guide.md
  docs/reference/automation-catalog.md
  scripts/finish_task_pr.sh
  scripts/test_git_workflow.sh
Due: check-markdown-links

GITDOC-29: Session docs PR-number workflow (#350)
  .github/copilot-instructions.md
  docs/SESSION_LOG.md
  docs/_internal/git-governance.md
  docs/agents/guides/agent-8-git-ops.md
  docs/agents/guides/agent-quick-reference.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/contributing/end-of-session-workflow.md
  docs/contributing/github-workflow.md
  docs/git-automation/README.md
  docs/git-automation/automation-scripts.md
  docs/git-automation/workflow-guide.md
  docs/planning/next-session-brief.md
  docs/reference/automation-catalog.md
  scripts/finish_task_pr.sh
  scripts/test_git_workflow.sh
Due: check-markdown-links

docs: create 200-paper literature review infrastructure (Jan 13 - Feb 10)
  docs/research/00-START-HERE.md
  docs/research/BRAINSTORM-SESSION-20260113.md
  docs/research/DECISION-CHECKLIST.md
  docs/research/DISCUSSION-GUIDE.md
  docs/research/EXECUTIVE-SUMMARY.md
  docs/research/PHASE-4-PARETO-DEEP-RESEARCH.md
  docs/research/PHASE-5-PRAGMATIC-PARETO.md
  docs/research/QUICK-DECISION-GUIDE.md
  docs/research/RESEARCH-DECISION-MATRIX.md
  docs/research/RESEARCH-JOURNEY-STATUS.md
  docs/research/RESEARCH-STATUS-VISUAL.md
  docs/research/SESSION-RESEARCH-SUMMARY-20260113.md
  docs/research/SESSION-SUMMARY-20260113.md
  docs/research/UNSOLVED-PROBLEMS-RESEARCH.md
  docs/research/_online-research/00-EXECUTIVE-SUMMARY.md
  docs/research/_online-research/API-CAPABILITY-ANALYSIS.md
  docs/research/_online-research/INDEX.md
  docs/research/_online-research/ISSUES-RISKS-CONSIDERATIONS.md
  docs/research/_online-research/RESEARCH-SYNTHESIS.md
  docs/research/_online-research/VISUALIZATION-BEST-PRACTICES.md
  docs/research/brainstorm-research-opportunities.md
  docs/research/literature-review/00-LITERATURE-REVIEW-PLAN.md
  docs/research/literature-review/PAPER-TRACKER.csv
  docs/research/literature-review/QUICK-START.md
  docs/research/literature-review/README.md
  docs/research/literature-review/SEARCH-STRATEGY.md
  docs/research/literature-review/week-1-pareto-optimization/00-PAPERS-SUMMARY.md
  docs/research/literature-review/week-1-pareto-optimization/KEY-FINDINGS.md
  docs/research/literature-review/week-2-visualization-hci/00-PAPERS-SUMMARY.md
  docs/research/literature-review/week-2-visualization-hci/KEY-FINDINGS.md
  docs/research/literature-review/week-3-carbon-automation/00-PAPERS-SUMMARY.md
  docs/research/literature-review/week-3-carbon-automation/KEY-FINDINGS.md
Due: check-markdown-links

docs: add comprehensive system audit and strategic recommendations (Jan 13)
  docs/research/AUDIT-AND-RECOMMENDATIONS-20260113.md
Due: check-markdown-links

docs(research): Phase 1.1 complete - Pareto optimization theory and algorithms (15 papers analyzed, key findings documented)
  docs/research/PHASE-1.1-RESEARCH-COMPLETE.md
  docs/research/literature-review/README.md
  docs/research/literature-review/week-1-pareto-optimization/KEY-FINDINGS.md
Due: check-markdown-links

research: complete phase 1.2 web research, update tracker and findings with 2025-2026 trends
  docs/TASKS.md
  docs/research/literature-review/PAPER-TRACKER.csv
  docs/research/literature-review/week-1-pareto-optimization/KEY-FINDINGS.md
  docs/research/literature-review/week-1-pareto-optimization/PHASE-1.2-RESEARCH-IN-PROGRESS.md
Due: check-markdown-links

research: complete phase 1.3 bridge to structural engineering (IS 456)
  docs/TASKS.md
  docs/research/literature-review/week-1-pareto-optimization/KEY-FINDINGS.md
  docs/research/literature-review/week-1-pareto-optimization/PHASE-1.3-BRIDGING-IS456.md
Due: check-markdown-links

docs: complete Phase 1.4 research on Human-AI Interaction and update Key Findings
  docs/TASKS.md
  docs/research/literature-review/week-1-pareto-optimization/KEY-FINDINGS.md
  docs/research/literature-review/week-1-pareto-optimization/PHASE-1.4-HUMAN-AI-INTERACTION.md
Due: check-markdown-links

docs: complete Research Phase 1.5 and generate Implementation Roadmap
  docs/TASKS.md
  docs/research/literature-review/week-1-pareto-optimization/IMPLEMENTATION-ROADMAP.md
Due: check-markdown-links

docs: add research summary and implementation detailed plan with task breakdown
  docs/research/IMPLEMENTATION-DETAILED-PLAN.md
  docs/research/RESEARCH-SUMMARY-AND-PLAN.md
Due: check-markdown-links

docs: add quick reference guide for research and implementation overview
  docs/research/QUICK-REFERENCE.md
Due: check-markdown-links

docs: add session summary showing research conclusion and implementation readiness
  docs/research/SESSION-SUMMARY-JAN-13.md
Due: check-markdown-links

research: documentation consolidation analysis (TASK-457)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/getting-started/NEW-DEVELOPER-ONBOARDING.md
  docs/planning/next-session-brief.md
  docs/research/01-function-catalog-research/00-ONBOARDING-SUMMARY.md
  docs/research/01-function-catalog-research/00-READ-ME-FIRST.txt
  docs/research/01-function-catalog-research/FUNCTION-GUIDE.md
  docs/research/01-function-catalog-research/QUICK-START.md
  docs/research/01-function-catalog-research/README.md
  docs/research/01-function-catalog-research/RESEARCH_PLAN.md
  docs/research/01-function-catalog-research/START-HERE.md
  docs/research/documentation-consolidation-research-2026-01-13.md
  scripts/analyze_doc_redundancy.py
  scripts/archive_deprecated_docs.py
Due: check-markdown-links

feat(scripts): add consolidate_docs.py - improved consolidation workflow
  metrics/doc_consolidation_metrics.json
  scripts/consolidate_docs.py
Due: none

docs: archive 8 old session research files (TASK-457 Phase 1a)
  docs/SESSION_LOG.md
  docs/_archive/research-sessions/BRAINSTORM-SESSION-20260113.md
  docs/_archive/research-sessions/SESSION-RESEARCH-SUMMARY-20260113.md
  docs/_archive/research-sessions/SESSION-SUMMARY-20260113.md
  docs/_archive/research-sessions/session-10-phase3-plan.md
  docs/_archive/research-sessions/session-11-migration-lessons.md
  docs/_archive/research-sessions/session-11-review-and-analysis.md
  docs/_archive/research-sessions/session-11-structure-issues-analysis.md
  docs/_archive/research-sessions/session-9-master-plan.md
  docs/research/README.md
  metrics/doc_consolidation_metrics.json
Due: check-markdown-links

docs: archive 12 research files - PHASE and completed (TASK-457 Phase 1b)
  docs/_archive/research-completed/AUDIT-AND-RECOMMENDATIONS-20260113.md
  docs/_archive/research-completed/DISCUSSION-GUIDE.md
  docs/_archive/research-completed/QUICK-DECISION-GUIDE.md
  docs/_archive/research-completed/QUICK-REFERENCE.md
  docs/_archive/research-completed/RESEARCH-DECISION-MATRIX.md
  docs/_archive/research-completed/RESEARCH-STATUS-VISUAL.md
  docs/_archive/research-phases/PHASE-1.1-RESEARCH-COMPLETE.md
  docs/_archive/research-phases/PHASE-1.2-RESEARCH-IN-PROGRESS.md
  docs/_archive/research-phases/PHASE-1.3-BRIDGING-IS456.md
  docs/_archive/research-phases/PHASE-1.4-HUMAN-AI-INTERACTION.md
  docs/_archive/research-phases/PHASE-4-PARETO-DEEP-RESEARCH.md
  docs/_archive/research-phases/PHASE-5-PRAGMATIC-PARETO.md
  metrics/doc_consolidation_metrics.json
  scripts/consolidate_docs.py
Due: check-markdown-links

docs: add doc consolidation guidelines + session docs (TASK-457 Phase 1 complete)
  .github/copilot-instructions.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  metrics/doc_consolidation_metrics.json
Due: check-markdown-links

feat: add README auto-update to end_session.py + metadata research (TASK-458)
  docs/research/file-metadata-standards-research.md
  scripts/end_session.py
Due: check-markdown-links

feat: add create_doc.py + improve consolidation safety (TASK-458)
  .github/copilot-instructions.md
  scripts/consolidate_docs.py
  scripts/create_doc.py
Due: none

docs: complete TASK-458 Phase 1 tracking (metadata research + README automation)
  docs/TASKS.md
  docs/research/file-metadata-standards-research.md
  metrics/doc_consolidation_metrics.json
Due: check-markdown-links

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
