Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

Deployed ac657ab2 with MkDocs version: 1.6.1
  governance/maintenance-playbook/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs(agents): add pre-commit planning and review workflow to ops agent
  .github/agents/ops.agent.md
Due: none

fix(ci): add check_clause_coverage and check_function_quality to automation-map.json
  scripts/automation-map.json
Due: none

Deployed 1c461e3f with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  agents/guides/index.html
  agents/guides/index.json
  agents/index.html
  agents/index.json
  architecture/index.html
  architecture/index.json
  contributing/index.html
  contributing/index.json
  docs-canonical.json
  getting-started/index.html
  getting-started/index.json
  guides/copilot-agents-usage-guide/index.html
  guides/index.html
  guides/index.json
  index.html
  index.json
  planning/index.html
  planning/index.json
  planning/next-session-brief/index.html
  reference/error-schema/index.html
  reference/index.html
  reference/index.json
  search/search_index.json
Due: none

feat(codes): add codes/common package for cross-code shared physics
  Python/structural_lib/codes/common/__init__.py
  docs/TASKS.md
  docs/_archive/tasks-history.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(codes): add codes/common package for cross-code shared physics (#490)
  Python/structural_lib/codes/common/__init__.py
  docs/TASKS.md
  docs/_archive/tasks-history.md
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 21a753f1 with MkDocs version: 1.6.1
  TASKS/index.html
  search/search_index.json
Due: none

feat(codes): add codes/common package for cross-code shared physics (#490)
  Python/structural_lib/codes/common/__init__.py
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/_common.py
  Python/structural_lib/codes/is456/column/biaxial.py
  Python/structural_lib/codes/is456/column/helical.py
  Python/structural_lib/codes/is456/column/long_column.py
  Python/structural_lib/codes/is456/column/slenderness.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  docs/TASKS.md
  docs/_archive/tasks-history.md
  fastapi_app/models/column.py
  fastapi_app/routers/column.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(column): complete Phase 2 — long column Cl 39.7, helical Cl 39.4, orchestrator, 3 endpoints, 37
  Python/structural_lib/services/api.py
  Python/tests/test_column_helical.py
  Python/tests/test_column_long.py
  docs/TASKS.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(git): harden git workflow - 13 fixes across 4 phases (TASK-900 series)
  .github/agents/ops.agent.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/_active/git-workflow-hardening-plan.md
  docs/planning/next-session-brief.md
  scripts/ai_commit.sh
  scripts/check_all.py
  scripts/check_git_script_budget.py
  scripts/create_task_pr.sh
  scripts/finish_task_pr.sh
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/safe_push.sh
Due: check-markdown-links, check-doc-metadata

chore: add ruff lint exceptions for column modules
  Python/pyproject.toml
Due: check-python-version

fix(ci): resolve ruff lint, broken link, and scripts index CI failures
  Python/pyproject.toml
  docs/TASKS.md
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(ci): safe_push.sh 3-tier stash recovery + git-workflow CRLF handling
  .github/agents/ops.agent.md
  .github/workflows/git-workflow-tests.yml
  scripts/safe_push.sh
Due: check-python-version

fix: renormalize CRLF line endings and fix safe_push stash-of-staged bug
  Python/tests/property/__init__.py
  Python/tests/property/conftest.py
  Python/tests/property/strategies.py
  Python/tests/property/test_flexure_hypothesis.py
  Python/tests/property/test_shear_hypothesis.py
  docs/_archive/2026-01/agent-9-governance-legacy/_archive/MACOS-RENAME-ISSUE.md
  docs/_archive/2026-01/agent-9-governance-legacy/_archive/MIGRATION_REVIEW_AND_RISKS.md
  docs/_archive/2026-01/archive-index.md
  docs/_archive/2026-01/bootstrap-and-project-structure-summary.md
  docs/_archive/2026-01/bootstrap-review-summary.md
  docs/_archive/2026-01/bug-fix-plan.md
  docs/_archive/2026-01/quality-fix-plan.md
  docs/_archive/planning/migration-execution-plan.md
  docs/_archive/planning/migration-walkthrough.md
  docs/_archive/planning/phase-1-governance-implementation.md
  docs/_archive/planning/work-division-main-agent6-2026-01-09.md
  docs/_archive/research-completed/xlwings-vba-strategy.md
  docs/_archive/research/pre-v021/agent-research-review-and-validation.md
  scripts/_archive/add_future_annotations.py
  scripts/safe_push.sh
Due: check-markdown-links, check-doc-metadata

Deployed 7053a8e6 with MkDocs version: 1.6.1
  TASKS/index.html
  api-reference/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(ci): CRLF-aware stash handling + post-merge pull recovery
  .github/agents/ops.agent.md
  scripts/finish_task_pr.sh
  scripts/recover_git_state.sh
  scripts/safe_push.sh
Due: none

fix(ci): git workflow maintenance — parallel fetch PID, detached HEAD guard, log dir creation
  scripts/ai_commit.sh
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/safe_push.sh
Due: none

fix(ci): git workflow maintenance — parallel fetch PID, detached HEAD guard, log dir creation (#493)
  scripts/ai_commit.sh
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  scripts/safe_push.sh
Due: none

fix(ci): commit-msg reject-not-truncate + remove dead code
  scripts/git-hooks/commit-msg
  scripts/should_use_pr.sh
Due: none

fix(ci): commit-msg reject-not-truncate + remove dead code
  .github/agents/innovator.agent.md
  .github/copilot-instructions.md
  .github/copilot/instructions.md
  .github/prompts/innovation-research.prompt.md
  .github/skills/innovation-research/SKILL.md
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/research/__init__.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/research/research_generative_design.py
  Python/structural_lib/research/research_sustainability.py
  Python/tests/test_api_surface_snapshot.py
  Python/tests/test_research_prototypes.py
  README.md
  agents/agent_registry.json
  agents/index.json
  agents/index.md
  docs/architecture/config-precedence.md
  docs/getting-started/agent-bootstrap.md
  docs/guides/copilot-agents-usage-guide.md
  docs/guides/index.json
  docs/guides/index.md
  docs/research/innovation-generative-design-intelligence.md
  docs/research/innovation-structural-design-companion.md
  docs/research/innovation-sustainability-scoring.md
  scripts/tool_registry.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(research): resolve 9 ruff lint errors in research prototypes
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/research/research_generative_design.py
  Python/structural_lib/research/research_sustainability.py
Due: mypy

fix(research): resolve 5 mypy type errors — cast float fck/fy to int
  Python/structural_lib/research/research_design_companion.py
Due: mypy

TASK-INNOVATION: Innovation research prototypes — sustainability scoring, generative design intelligence, structural design companion (70 tests, all passing) (#494)
  .github/agents/innovator.agent.md
  .github/copilot-instructions.md
  .github/copilot/instructions.md
  .github/prompts/innovation-research.prompt.md
  .github/skills/innovation-research/SKILL.md
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/research/__init__.py
  Python/structural_lib/research/research_design_companion.py
  Python/structural_lib/research/research_generative_design.py
  Python/structural_lib/research/research_sustainability.py
  Python/tests/test_api_surface_snapshot.py
  Python/tests/test_research_prototypes.py
  README.md
  agents/agent_registry.json
  agents/index.json
  agents/index.md
  docs/architecture/config-precedence.md
  docs/getting-started/agent-bootstrap.md
  docs/guides/copilot-agents-usage-guide.md
  docs/guides/index.json
  docs/guides/index.md
  docs/research/innovation-generative-design-intelligence.md
  docs/research/innovation-structural-design-companion.md
  docs/research/innovation-sustainability-scoring.md
  scripts/tool_registry.py
Due: mypy, check-markdown-links, check-doc-metadata

Deployed 6ecb3fed with MkDocs version: 1.6.1
  getting-started/agent-bootstrap/index.html
  guides/copilot-agents-usage-guide/index.html
  guides/index.html
  guides/index.json
  research/innovation-generative-design-intelligence/index.html
  research/innovation-structural-design-companion/index.html
  research/innovation-sustainability-scoring/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(footing): add IS 456 footing design modules (TASK-650/651/652/653)
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/footing/__init__.py
  Python/structural_lib/codes/is456/footing/_common.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/codes/is456/footing/flexure.py
  Python/structural_lib/codes/is456/footing/one_way_shear.py
  Python/structural_lib/codes/is456/footing/punching_shear.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/research/research_design_companion.py
  Python/tests/test_footing.py
  Python/tests/test_research_prototypes.py
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

ci: add ruff per-file ignores for footing engineering naming conventions
  Python/pyproject.toml
Due: check-python-version

TASK-650: Phase 3 footing design - 4 tasks, 6 modules, 61 tests (#495)
  Python/pyproject.toml
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/footing/__init__.py
  Python/structural_lib/codes/is456/footing/_common.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/codes/is456/footing/flexure.py
  Python/structural_lib/codes/is456/footing/one_way_shear.py
  Python/structural_lib/codes/is456/footing/punching_shear.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/structural_lib/research/research_design_companion.py
  Python/tests/test_footing.py
  Python/tests/test_research_prototypes.py
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 304f67e7 with MkDocs version: 1.6.1
  TASKS/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(footing): both-direction flexure/shear + Cl 34.3.1 distribution + 150mm min depth
  Python/structural_lib/codes/is456/footing/_common.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/codes/is456/footing/flexure.py
  Python/structural_lib/codes/is456/footing/one_way_shear.py
  Python/structural_lib/core/data_types.py
  Python/tests/test_footing.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(footing): both-direction flexure/shear + Cl 34.3.1 distribution + 150mm min depth (#496)
  Python/structural_lib/codes/is456/footing/_common.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/codes/is456/footing/flexure.py
  Python/structural_lib/codes/is456/footing/one_way_shear.py
  Python/structural_lib/core/data_types.py
  Python/tests/test_footing.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

Deployed b9aaebb1 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

Deployed f6a327b1 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  objects.inv
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

test(is456): add backward-compat alias tests + fix 3 deprecated usages (TASK-660)
  Python/structural_lib/services/api.py
  Python/structural_lib/services/api_results.py
  Python/tests/test_core_types.py
Due: mypy

style: move import warnings to top of file (fix E402)
  Python/tests/test_core_types.py
Due: none

TASK-660B: TASK-660 review follow-up: 9 backward-compat tests + fix 3 remaining deprecated alias usages in api_results.py and api.py (#498)
  Python/structural_lib/services/api.py
  Python/structural_lib/services/api_results.py
  Python/tests/test_core_types.py
Due: mypy
