Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs(terminal): add git safety rules — NEVER manual git for all agents
  .github/instructions/terminal-rules.instructions.md
Due: none

fix(docs): typo --online → --oneline in terminal-rules
  .github/instructions/terminal-rules.instructions.md
Due: none

fix(docs): typo --online → --oneline in terminal-rules
  Python/structural_lib/services/adapters.py
  Python/tests/integration/test_adapter_e2e.py
Due: mypy

feat(adapters): add ETABS VBA column aliases and E2E integration tests
  Python/tests/unit/test_generic_csv_adapter.py
Due: none

fix(ci): format 3 files with black, add 5 scripts to index/automation-map
  Python/structural_lib/services/adapters.py
  Python/tests/integration/test_adapter_e2e.py
  Python/tests/unit/test_generic_csv_adapter.py
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
Due: mypy

fix(ci): remove unused DesignDefaults import (ruff F401)
  Python/tests/integration/test_adapter_e2e.py
Due: none

fix(ci): skip self-edges in circular import check (false positives)
  scripts/check_circular_imports.py
Due: none

docs: session 106 handoff — CI fixes + GitHub audit findings
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(ops): add github_maintenance.sh — automated GitHub health + cleanup
  run.sh
  scripts/automation-map.json
  scripts/github_maintenance.sh
Due: none

feat(ci): add stale-cleanup workflow + auto-close nightly issues on success
  .github/workflows/nightly.yml
  .github/workflows/stale-cleanup.yml
Due: check-python-version

fix(ci): trim next-session-brief, fix cyclonedx-py syntax, fix Windows timing precision
  .github/workflows/security.yml
  Python/structural_lib/insights/design_suggestions.py
  Python/structural_lib/insights/smart_designer.py
  docs/planning/next-session-brief.md
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

fix(ci): regenerate scripts/index.json for github_maintenance.sh
  scripts/index.json
  scripts/index.md
Due: none

fix(agents): harden safety gates — FORBIDDEN commands, CodeQL fix, ops role scoping
  .github/agents/ops.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  scripts/check_docker_config.py
Due: check-markdown-links, check-doc-metadata

fix(agents): harden safety gates — FORBIDDEN commands, CodeQL fix, ops role scoping (#443)
  .github/agents/ops.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  scripts/check_docker_config.py
Due: check-markdown-links, check-doc-metadata

fix(security): break CodeQL taint flow in check_docker_config.py
  scripts/check_docker_config.py
Due: none

feat(agents): add structural-math agent + new-structural-element skill + pipeline expansion
  .github/agents/orchestrator.agent.md
  .github/agents/structural-math.agent.md
  .github/prompts/add-structural-element.prompt.md
  .github/skills/new-structural-element/SKILL.md
  AGENTS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(is456): add column slenderness checks, stress block params + 28 tests
  Python/structural_lib/codes/is456/materials.py
  Python/structural_lib/codes/is456/slenderness.py
  Python/structural_lib/codes/is456/tables.py
  Python/tests/unit/test_slenderness_column.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(api): wire column slenderness to API + add FastAPI endpoint
  Python/structural_lib/services/api.py
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy, check-markdown-links, check-doc-metadata

docs: fix stale version references post-commit
  .github/copilot-instructions.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

feat(is456): add column design module — design_short_column, P-M interaction, API + endpoint
  6%
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/column.py
  Python/structural_lib/services/api.py
  Python/tests/unit/test_column.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
Due: mypy, check-markdown-links, check-doc-metadata

docs: fix stale version references post-commit
  Python/structural_lib/codes/is456/__init__.py
  Python/structural_lib/codes/is456/beam/__init__.py
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/codes/is456/beam/ductile.py
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/codes/is456/beam/serviceability.py
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/beam/slenderness.py
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/column/__init__.py
  Python/structural_lib/codes/is456/column/design.py
  Python/structural_lib/codes/is456/column/slenderness.py
  Python/structural_lib/codes/is456/common/__init__.py
  Python/structural_lib/codes/is456/common/load_analysis.py
  Python/structural_lib/codes/is456/common/materials.py
  Python/structural_lib/codes/is456/common/tables.py
  Python/structural_lib/codes/is456/detailing.py
  Python/structural_lib/codes/is456/ductile.py
  Python/structural_lib/codes/is456/flexure.py
  Python/structural_lib/codes/is456/footing/__init__.py
  Python/structural_lib/codes/is456/load_analysis.py
  Python/structural_lib/codes/is456/materials.py
  Python/structural_lib/codes/is456/serviceability.py
  Python/structural_lib/codes/is456/shear.py
  Python/structural_lib/codes/is456/slab/__init__.py
  Python/structural_lib/codes/is456/slenderness.py
  Python/structural_lib/codes/is456/staircase/__init__.py
  Python/structural_lib/codes/is456/tables.py
  Python/structural_lib/codes/is456/torsion.py
  Python/structural_lib/codes/is456/wall/__init__.py
  docs/architecture/library-scaling-plan.md
Due: mypy, check-markdown-links, check-doc-metadata

feat(agents): add library-info skill and fix stale IS 456 paths
  .github/agents/backend.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/structural-engineer.agent.md
  .github/agents/structural-math.agent.md
  .github/copilot-instructions.md
  .github/skills/library-info/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/library_info.py
Due: check-markdown-links, check-doc-metadata

feat(dev): add full-stack development launcher (./run.sh dev)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  run.sh
  scripts/launch_stack.sh
  scripts/launch_stack_temp.txt
Due: check-markdown-links, check-doc-metadata

chore: remove leftover temp file
  scripts/launch_stack_temp.txt
Due: none

feat(ops): add git/PR/CI health check (./run.sh git-check)
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  run.sh
  scripts/git_health_check.sh
Due: check-markdown-links, check-doc-metadata

fix(app): resolve persistent backend connection failures + Docker launch
  react_app/src/api/client.ts
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/hooks/useBatchDesign.ts
  react_app/src/hooks/useBeamGeometry.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/hooks/useDesignWebSocket.ts
  react_app/src/hooks/useExport.ts
  react_app/src/hooks/useGeometryAdvanced.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarEditor.ts
  react_app/vite.config.ts
  scripts/launch_stack.sh
Due: none

refactor: fix architecture violations, stale docs, instruction drift
  .claude/rules/fastapi.md
  .github/agents/ops.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/services/api.py
  docs/TASKS.md
  docs/guides/maintenance-checklist.md
  docs/planning/next-session-brief.md
  fastapi_app/routers/analysis.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
Due: mypy, check-markdown-links, check-doc-metadata

style: fix black formatting in analysis.py
  fastapi_app/routers/analysis.py
Due: none

MAINT-001: Maintenance: fix architecture violations, stale docs, instruction drift (#444)
  .claude/rules/fastapi.md
  .github/agents/ops.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
  Python/structural_lib/services/api.py
  docs/TASKS.md
  docs/guides/maintenance-checklist.md
  docs/planning/next-session-brief.md
  fastapi_app/routers/analysis.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(scripts): upgrade agents to Opus 4.6 + ai_commit.sh with --preview, --undo, --signoff + safe_pu
  .github/agents/library-expert.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/ui-designer.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  Python/structural_lib/core/logging_config.py
  Python/structural_lib/services/api_manifest.json
  Python/tests/conftest.py
  Python/tests/data/benchmark_vectors/sp16_reference.json
  Python/tests/helpers/__init__.py
  Python/tests/helpers/is456_assertions.py
  docs/planning/library-expansion-blueprint.md
  docs/reference/error-codes.md
  fastapi_app/main.py
  scripts/ai_commit.sh
  scripts/check_api_compat.py
  scripts/generate_error_docs.py
  scripts/safe_push.sh
Due: mypy, check-markdown-links, check-doc-metadata

fix(ci): format Python files with black + add new scripts to automation-map
  Python/tests/conftest.py
  Python/tests/helpers/__init__.py
  fastapi_app/main.py
  scripts/automation-map.json
  scripts/check_api_compat.py
  scripts/generate_error_docs.py
  scripts/index.json
  scripts/index.md
Due: none

docs: add new ai_commit.sh flags to CLAUDE.md and AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

TASK-UPGRADE: feat: upgrade agents to Opus 4.6 + professional ai_commit.sh with --preview, --undo, --signoff, retry, stash recovery (#445)
  .github/agents/library-expert.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/ui-designer.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  Python/structural_lib/core/logging_config.py
  Python/structural_lib/services/api_manifest.json
  Python/tests/conftest.py
  Python/tests/data/benchmark_vectors/sp16_reference.json
  Python/tests/helpers/__init__.py
  Python/tests/helpers/is456_assertions.py
  docs/planning/library-expansion-blueprint.md
  docs/reference/error-codes.md
  fastapi_app/main.py
  scripts/ai_commit.sh
  scripts/automation-map.json
  scripts/check_api_compat.py
  scripts/generate_error_docs.py
  scripts/index.json
  scripts/index.md
  scripts/safe_push.sh
Due: mypy, check-markdown-links, check-doc-metadata

feat(scripts): add pre-flight formatting, task branch reminder, stash warning to ai_commit.sh
  .github/agents/ops.agent.md
  scripts/ai_commit.sh
Due: none

feat(scripts): add pre-flight formatting, task branch reminder, stash warning to ai_commit.sh (#446)
  .github/agents/ops.agent.md
  scripts/ai_commit.sh
Due: none

chore(git-workflow): add status/branch/finish/pr-check flags + security agent
  .github/agents/ops.agent.md
  .github/agents/security.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
  scripts/ai_commit.sh
  scripts/create_task_pr.sh
  scripts/finish_task_pr.sh
  scripts/should_use_pr.sh
Due: none

fix(git): fix stash loss, CI polling race, branch deletion blocking, and PR check inefficiencies
  scripts/ai_commit.sh
  scripts/create_task_pr.sh
  scripts/finish_task_pr.sh
  scripts/git-hooks/pre-push
Due: none

fix(git): fix stash loss, CI polling race, branch deletion blocking, and PR check inefficiencies (#448)
  scripts/ai_commit.sh
  scripts/create_task_pr.sh
  scripts/finish_task_pr.sh
  scripts/git-hooks/pre-push
Due: none
