Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix(etabs): accept comtypes list outputs
  Python/structural_lib/services/etabs_live_bridge.py
  Python/tests/unit/test_etabs_live_bridge.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-com-list-compat-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): use exact open model filename
  Python/structural_lib/services/etabs_live_bridge.py
  Python/tests/unit/test_etabs_live_bridge.py
  docs/SESSION_LOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-model-filename-identity-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): use exact open model filename (#892)
  Python/structural_lib/services/etabs_live_bridge.py
  Python/tests/unit/test_etabs_live_bridge.py
  docs/SESSION_LOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-model-filename-identity-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix: complete Windows Excel ETABS pilot acceptance
  Python/structural_lib/services/contracts/beam.py
  Python/structural_lib/services/etabs_live_bridge.py
  Python/tests/test_agent_governance_automation.py
  Python/tests/unit/test_etabs_live_bridge.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-python-pilot-w1-evidence.json
  docs/verification/etabs-excel-python-pilot-w1-git-handoff-receipt.json
  scripts/check_all.py
  scripts/python_runtime.sh
  scripts/test_cli_smoke.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(git): add multi-device sync guidance
  docs/SESSION_LOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/verification/multi-device-git-sync-guidance-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): close W1 and plan W2A
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-day-close-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add W2A beam baseline contract
  .gitattributes
  Python/structural_lib/services/etabs_beam_baseline.py
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_release_environment.py
  Python/tests/unit/test_etabs_beam_baseline.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2a-baseline-git-handoff-receipt.json
  react_app/package.json
  scripts/node_runtime.py
  scripts/python_runtime.sh
Due: mypy, check-markdown-links, check-doc-metadata

fix(governance): harden W2A machine handoff
  .gitattributes
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/git-automation/git-workflow-single-source.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2a-machine-handoff-git-handoff-receipt.json
  scripts/agent_start.sh
Due: check-markdown-links, check-doc-metadata

fix(etabs): validate W2A frame stories
  Python/structural_lib/services/etabs_beam_baseline.py
  Python/tests/unit/test_etabs_beam_baseline.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2a-mac-review-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(etabs): audit installed W2 COM signatures
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2c-com-signature-audit-evidence.json
  docs/verification/etabs-excel-beam-w2c-com-signature-audit-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2c-com-signature-audit-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(governance): complete W2 audit session handoff
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

feat(etabs): add W2 baseline transport
  .gitattributes
  Python/structural_lib/services/etabs_beam_baseline.py
  Python/structural_lib/services/etabs_beam_bridge.py
  Python/structural_lib/services/etabs_live_bridge.py
  Python/tests/unit/test_etabs_beam_baseline.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2b-contract-evidence.json
  docs/verification/etabs-excel-beam-w2b-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2b-git-handoff-source-evidence.json
  excel_addin/taskpane-core.mjs
  excel_addin/taskpane-office.mjs
  excel_addin/taskpane.html
  excel_addin/taskpane.mjs
  excel_addin/tests/serve-static-files.test.mjs
  excel_addin/tests/taskpane-core.test.mjs
  excel_addin/tests/taskpane-office.test.mjs
  fastapi_app/main.py
  fastapi_app/routers/etabs_bridge.py
  fastapi_app/tests/test_etabs_bridge.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): honor GetStories base row
  Python/structural_lib/services/etabs_beam_baseline.py
  Python/tests/unit/test_etabs_beam_baseline.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

docs(etabs): freeze W2C installed hold
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2c-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2c-git-handoff-source-evidence.json
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-evidence.json
  fastapi_app/openapi_baseline.json
Due: check-markdown-links, check-doc-metadata

chore(governance): close W2 campaign handoff
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2-campaign-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2-campaign-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

test(governance): stabilize W2 integration review
  Python/tests/test_compatibility_convergence.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2-mac-integration-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2-mac-integration-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): freeze W2C installed retry hold
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2c-installed-retry-evidence.json
  docs/verification/etabs-excel-beam-w2c-installed-retry-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2c-installed-retry-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(etabs): freeze W2C installed acceptance hold
  Python/structural_lib/services/etabs_beam_baseline.py
  Python/tests/unit/test_etabs_beam_baseline.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-git-handoff-source-evidence.json
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-retry2-evidence.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(etabs): record W2C candidate validation
  docs/SESSION_LOG.md
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-retry2-evidence.json
Due: check-markdown-links, check-doc-metadata

fix(excel): make W2 baseline writes transactional
  excel_addin/manifest.xml
  excel_addin/taskpane-core.mjs
  excel_addin/taskpane-office.mjs
  excel_addin/tests/taskpane-core.test.mjs
  excel_addin/tests/taskpane-office.test.mjs
Due: none

fix(excel): normalize blank W2 cells on readback
  excel_addin/taskpane-office.mjs
  excel_addin/tests/taskpane-office.test.mjs
Due: none

test(excel): report exact W2 readback mismatch
  excel_addin/taskpane-office.mjs
Due: none

fix(excel): reconcile W2 numeric cells with Excel precision
  excel_addin/taskpane-office.mjs
  excel_addin/tests/taskpane-office.test.mjs
Due: none

docs(etabs): accept transactional W2C installed workflow
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/e1-blank-workbook-guard-evidence.md
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-transactional-evidence.json
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-transactional-git-handoff-receipt.json
  docs/verification/etabs-excel-beam-w2c-installed-acceptance-transactional-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

chore(etabs): prepare W3 maintenance foundation
  Python/tests/test_session_automation.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/guidelines/ai-token-efficiency.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/etabs-excel-professional-surface-audit.md
  docs/planning/etabs-killer-masterplan.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-w3-readiness-maintenance-git-handoff-receipt.json
  docs/verification/etabs-w3-readiness-maintenance-git-handoff-source-evidence.json
  scripts/automation-map.json
  scripts/control-plane.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

fix(governance): track API caller ledger inputs
  .pre-commit-config.yaml
  Python/tests/test_agent_governance_automation.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/verification/etabs-w3-readiness-maintenance-git-handoff-receipt.json
  docs/verification/etabs-w3-readiness-maintenance-git-handoff-source-evidence.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): freeze W3 master plan and handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/etabs-excel-professional-surface-audit.md
  docs/planning/excel-etabs-beam-next-phase-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-w3-master-plan-audit-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): freeze W3 demand contracts
  Python/structural_lib/__init__.py
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/analysis_contracts.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/contracts/etabs_w3.py
  Python/tests/unit/test_etabs_w3_contracts.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/verification/etabs-w3a-demand-contract-evidence.json
  docs/verification/etabs-w3a-demand-contract-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(etabs): freeze W3B installed getter signatures
  Python/tests/unit/test_etabs_w3b_signature_evidence.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-w3b-installed-getter-signature-evidence.json
  docs/verification/etabs-w3b-installed-getter-signature-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(api): cover W3 catalogue facade
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  docs/verification/etabs-w3b-installed-getter-signature-evidence.json
  docs/verification/etabs-w3b-installed-getter-signature-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(api): refresh W3 caller ledger
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/verification/etabs-w3b-installed-getter-signature-evidence.json
  docs/verification/etabs-w3b-installed-getter-signature-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(etabs): add W3C catalogue adapter
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/etabs_result_catalogue_adapter.py
  Python/tests/unit/test_etabs_w3c_catalogue_adapter.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/verification/etabs-w3c-catalogue-adapter-evidence.json
  docs/verification/etabs-w3c-catalogue-adapter-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): normalize zero-state initial sentinel
  Python/structural_lib/__init__.py
  Python/structural_lib/core/__init__.py
  Python/structural_lib/core/analysis_contracts.py
  Python/structural_lib/services/etabs_result_catalogue_adapter.py
  Python/tests/unit/test_etabs_w3_contracts.py
  Python/tests/unit/test_etabs_w3b_signature_evidence.py
  Python/tests/unit/test_etabs_w3c_catalogue_adapter.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/verification/etabs-w3d-initial-condition-sentinel-repair-evidence.json
  docs/verification/etabs-w3d-initial-condition-sentinel-repair-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): retain undocumented auto flag
  Python/structural_lib/core/analysis_contracts.py
  Python/structural_lib/services/etabs_result_catalogue_adapter.py
  Python/tests/unit/test_etabs_w3_contracts.py
  Python/tests/unit/test_etabs_w3c_catalogue_adapter.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/reference/api.md
  docs/verification/etabs-w3d-auto-flag-semantics-repair-evidence.json
  docs/verification/etabs-w3d-auto-flag-semantics-repair-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

chore(etabs): finalize W3D R2 checks
  Python/tests/unit/test_etabs_w3c_catalogue_adapter.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(etabs): complete W3D live catalogue evidence
  Python/structural_lib/__init__.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/etabs_catalogue_bridge.py
  Python/tests/unit/test_etabs_w3d_catalogue_bridge.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/guides/excel-etabs-python-bridge-pilot.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/verification/etabs-w3d-live-catalogue-and-demand-evidence.json
  docs/verification/etabs-w3d-live-catalogue-and-demand-git-handoff-receipt.json
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/etabs_bridge.py
  fastapi_app/tests/test_etabs_bridge.py
Due: mypy, check-markdown-links, check-doc-metadata

style(etabs): align W3D transport formatting
  Python/structural_lib/services/etabs_catalogue_bridge.py
  docs/SESSION_LOG.md
Due: mypy, check-markdown-links, check-doc-metadata

fix: enforce Pareto shear feasibility
  Python/structural_lib/services/multi_objective_optimizer.py
  Python/tests/test_multi_objective_optimizer.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/reference/api.md
  docs/verification/etabs-w3r-pareto-shear-feasibility-evidence.json
  docs/verification/etabs-w3r-pareto-shear-feasibility-git-handoff-receipt.json
  fastapi_app/models/optimization.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/optimization.py
  fastapi_app/tests/test_optimization_pareto.py
  react_app/src/api/client.ts
  react_app/src/components/__tests__/ParetoPanel.test.tsx
  react_app/src/components/design/ParetoPanel.tsx
  react_app/src/hooks/useParetoDesign.ts
Due: mypy, check-markdown-links, check-doc-metadata

feat(etabs): add provenance-bound same-row beam audit
  Python/structural_lib/__init__.py
  Python/structural_lib/services/beam_audit.py
  Python/tests/unit/test_beam_audit.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/verification/etabs-w3e-beam-audit-evidence.json
  docs/verification/etabs-w3e-beam-audit-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(etabs): propagate required audit evidence blocks
  Python/structural_lib/services/beam_audit.py
  Python/tests/unit/test_beam_audit.py
  docs/SESSION_LOG.md
  docs/planning/etabs-data-analysis-optimization-foundation-plan.md
  docs/planning/next-session-brief.md
  docs/verification/etabs-w3e-beam-audit-evidence.json
  docs/verification/etabs-w3e-required-evidence-repair-git-handoff-receipt.json
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
