Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

feat(etabs): accept installed A1 and exact C1 schema (#952)
  Python/structural_lib/__init__.py
  Python/structural_lib/services/etabs_acquisition_contracts.py
  Python/structural_lib/services/etabs_installed_readonly.py
  Python/structural_lib/services/etabs_session_guard.py
  Python/tests/test_agent_governance_automation.py
  Python/tests/unit/test_etabs_acquisition_contracts.py
  Python/tests/unit/test_etabs_installed_readonly.py
  Python/tests/unit/test_etabs_session_guard.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-manifest.json
  docs/verification/etabs-w3-a1-c1-installed-evidence-git-handoff-receipt.json
  docs/verification/etabs-w3-a1-c1-installed-evidence.json
  docs/verification/etabs-w3-a1-c1-preflight-hold-evidence.json
  scripts/check_all.py
Due: mypy, check-markdown-links, check-doc-metadata

docs(etabs): freeze six-phase beam optimization plan
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/beam-design-optimization-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-beam-master-plan-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): freeze six-phase beam optimization plan (#953)
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/beam-design-optimization-master-plan.md
  docs/planning/next-session-brief.md
  docs/planning/w3-beam-professional-integrated-execution-plan.md
  docs/verification/w3-beam-master-plan-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(etabs): preserve legacy VBA workflow lessons
  docs/SESSION_LOG.md
  docs/planning/README.md
  docs/planning/beam-design-optimization-master-plan.md
  docs/planning/etabs-w3-com-vba-and-reanalysis-plan.md
  docs/planning/legacy-vba-dataflow-and-workflow-lessons.md
  docs/verification/legacy-vba-dataflow-lessons-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(session): fix VBA lessons receipt reference
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs(session): bind VBA lessons handoff receipt
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(etabs): preserve legacy VBA workflow lessons (#954)
  docs/SESSION_LOG.md
  docs/planning/README.md
  docs/planning/beam-design-optimization-master-plan.md
  docs/planning/etabs-w3-com-vba-and-reanalysis-plan.md
  docs/planning/legacy-vba-dataflow-and-workflow-lessons.md
  docs/planning/next-session-brief.md
  docs/verification/legacy-vba-dataflow-lessons-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(xll): preserve planning and cross-device handoff
  .gitattributes
  AGENTS.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/xll-product-intake-2026-09-03/README.md
  docs/_archive/xll-product-intake-2026-09-03/excel-dna-xll-product-architecture-decision.md
  docs/_archive/xll-product-intake-2026-09-03/windows-p0-task.txt
  docs/git-automation/git-workflow-single-source.md
  docs/planning/README.md
  docs/planning/excel-dna-xll-product-architecture-decision.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/handoff.md
  docs/planning/xll-product/history/foundation-and-delivery-plan-v2.md
  docs/planning/xll-product/history/optimizer-to-provisional-crosswalk.md
  docs/planning/xll-product/history/windows-p0-readiness.md
  docs/planning/xll-product/learning/01-excel-xll-foundations.md
  docs/planning/xll-product/learning/README.md
  docs/planning/xll-product/local-evidence-index.md
  docs/planning/xll-product/phase-review.md
  docs/planning/xll-product/research/README.md
  docs/planning/xll-product/research/engineering-depth.md
  docs/planning/xll-product/research/foundation-readiness.md
  docs/planning/xll-product/research/market-study.md
  docs/planning/xll-product/research/requirements-and-parked-work.md
  docs/planning/xll-product/research/requirements-source-ledger.json
  docs/planning/xll-product/research/source-ledger.json
  docs/planning/xll-product/source-manifest.json
  docs/planning/xll-product/windows-p0-task.txt
  docs/verification/xll-plan-research-handoff-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(xll): preserve planning and cross-device handoff (#955)
  .gitattributes
  AGENTS.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/_archive/xll-product-intake-2026-09-03/README.md
  docs/_archive/xll-product-intake-2026-09-03/excel-dna-xll-product-architecture-decision.md
  docs/_archive/xll-product-intake-2026-09-03/windows-p0-task.txt
  docs/git-automation/git-workflow-single-source.md
  docs/planning/README.md
  docs/planning/excel-dna-xll-product-architecture-decision.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/handoff.md
  docs/planning/xll-product/history/foundation-and-delivery-plan-v2.md
  docs/planning/xll-product/history/optimizer-to-provisional-crosswalk.md
  docs/planning/xll-product/history/windows-p0-readiness.md
  docs/planning/xll-product/learning/01-excel-xll-foundations.md
  docs/planning/xll-product/learning/README.md
  docs/planning/xll-product/local-evidence-index.md
  docs/planning/xll-product/phase-review.md
  docs/planning/xll-product/research/README.md
  docs/planning/xll-product/research/engineering-depth.md
  docs/planning/xll-product/research/foundation-readiness.md
  docs/planning/xll-product/research/market-study.md
  docs/planning/xll-product/research/requirements-and-parked-work.md
  docs/planning/xll-product/research/requirements-source-ledger.json
  docs/planning/xll-product/research/source-ledger.json
  docs/planning/xll-product/source-manifest.json
  docs/planning/xll-product/windows-p0-task.txt
  docs/verification/xll-plan-research-handoff-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(xll): define standalone beam requirements and draft contracts
  docs/SESSION_LOG.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/requirements-first/README.md
  docs/planning/xll-product/requirements-first/corpus-summary.json
  docs/planning/xll-product/requirements-first/example-index.json
  docs/planning/xll-product/requirements-first/examples/check-section.json
  docs/planning/xll-product/requirements-first/examples/design-section.json
  docs/planning/xll-product/requirements-first/examples/not-run-result.json
  docs/planning/xll-product/requirements-first/examples/reject-impossible-depth.json
  docs/planning/xll-product/requirements-first/examples/reject-missing-steel.json
  docs/planning/xll-product/requirements-first/examples/reject-placeholder-provenance.json
  docs/planning/xll-product/requirements-first/examples/validation-not-run.json
  docs/planning/xll-product/requirements-first/failure-register.json
  docs/planning/xll-product/requirements-first/operations.json
  docs/planning/xll-product/requirements-first/requirements.csv
  docs/planning/xll-product/requirements-first/requirements.json
  docs/planning/xll-product/requirements-first/section-request.schema.json
  docs/planning/xll-product/requirements-first/section-result.schema.json
  docs/planning/xll-product/requirements-first/sources.json
  docs/planning/xll-product/requirements-first/validate_contract.py
  docs/planning/xll-product/requirements-first/validation-cases.json
  docs/planning/xll-product/requirements-first/validation-result.schema.json
  docs/verification/beam-product-requirements-research-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(xll): bind requirements session handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/beam-product-requirements-research-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(xll): specify standalone Excel beam requirements before C# migration (#956)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/requirements-first/README.md
  docs/planning/xll-product/requirements-first/corpus-summary.json
  docs/planning/xll-product/requirements-first/example-index.json
  docs/planning/xll-product/requirements-first/examples/check-section.json
  docs/planning/xll-product/requirements-first/examples/design-section.json
  docs/planning/xll-product/requirements-first/examples/not-run-result.json
  docs/planning/xll-product/requirements-first/examples/reject-impossible-depth.json
  docs/planning/xll-product/requirements-first/examples/reject-missing-steel.json
  docs/planning/xll-product/requirements-first/examples/reject-placeholder-provenance.json
  docs/planning/xll-product/requirements-first/examples/validation-not-run.json
  docs/planning/xll-product/requirements-first/failure-register.json
  docs/planning/xll-product/requirements-first/operations.json
  docs/planning/xll-product/requirements-first/requirements.csv
  docs/planning/xll-product/requirements-first/requirements.json
  docs/planning/xll-product/requirements-first/section-request.schema.json
  docs/planning/xll-product/requirements-first/section-result.schema.json
  docs/planning/xll-product/requirements-first/sources.json
  docs/planning/xll-product/requirements-first/validate_contract.py
  docs/planning/xll-product/requirements-first/validation-cases.json
  docs/planning/xll-product/requirements-first/validation-result.schema.json
  docs/verification/beam-product-requirements-research-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

fix(xll): align foundation setup with repository validation
  CSharp/src/StructAutomate.Application/packages.lock.json
  CSharp/src/StructAutomate.Contracts/packages.lock.json
  CSharp/src/StructAutomate.Engineering/packages.lock.json
  CSharp/src/StructAutomate.Excel/packages.lock.json
  CSharp/tests/StructAutomate.Tests/packages.lock.json
  CSharp/tools/StructAutomate.Examples/packages.lock.json
  Python/tests/test_session_automation.py
  Python/tests/test_verification_control.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/beam-automation-foundation-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(library): research reusable Python and .NET architecture
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/reusable-library-research.md
  docs/verification/reusable-library-research-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(library): research reusable Python and .NET architecture (#958)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/reusable-library-research.md
  docs/verification/reusable-library-research-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): define library pre-implementation programme
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/programme.json
  docs/planning/xll-product/library-definition/validate_programme.py
  docs/planning/xll-product/local-evidence-index.md
  docs/planning/xll-product/reusable-library-research.md
  docs/verification/library-definition-programme-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): complete definition programme handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/library-definition-programme-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): define PF0-PF11 library programme (#959)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/programme.json
  docs/planning/xll-product/library-definition/validate_programme.py
  docs/planning/xll-product/local-evidence-index.md
  docs/planning/xll-product/reusable-library-research.md
  docs/verification/library-definition-programme-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): complete PF0 library charter
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/pf0/README.md
  docs/planning/xll-product/library-definition/pf0/charter.md
  docs/planning/xll-product/library-definition/pf0/glossary.json
  docs/planning/xll-product/library-definition/pf0/owner-map.json
  docs/planning/xll-product/library-definition/pf0/scope-authority.json
  docs/planning/xll-product/library-definition/pf0/success-measures.json
  docs/planning/xll-product/library-definition/pf0/validate_pf0.py
  docs/planning/xll-product/library-definition/programme.json
  docs/planning/xll-product/library-definition/validate_programme.py
  docs/verification/pf0-library-charter-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): complete PF0 library charter (#960)
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/pf0/README.md
  docs/planning/xll-product/library-definition/pf0/charter.md
  docs/planning/xll-product/library-definition/pf0/glossary.json
  docs/planning/xll-product/library-definition/pf0/owner-map.json
  docs/planning/xll-product/library-definition/pf0/scope-authority.json
  docs/planning/xll-product/library-definition/pf0/success-measures.json
  docs/planning/xll-product/library-definition/pf0/validate_pf0.py
  docs/planning/xll-product/library-definition/programme.json
  docs/planning/xll-product/library-definition/validate_programme.py
  docs/verification/pf0-library-charter-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(planning): complete PF1 and PF2 discovery
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/pf1/README.md
  docs/planning/xll-product/library-definition/pf1/baseline.json
  docs/planning/xll-product/library-definition/pf2/README.md
  docs/planning/xll-product/library-definition/pf2/audit_public_surfaces.py
  docs/planning/xll-product/library-definition/pf2/baseline.json
  docs/planning/xll-product/library-definition/programme.json
Due: check-markdown-links, check-doc-metadata

docs(planning): define capabilities semantics and operations
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/pf3/README.md
  docs/planning/xll-product/library-definition/pf3/baseline.json
  docs/planning/xll-product/library-definition/pf4/README.md
  docs/planning/xll-product/library-definition/pf4/baseline.json
  docs/planning/xll-product/library-definition/pf5/README.md
  docs/planning/xll-product/library-definition/pf5/baseline.json
  docs/planning/xll-product/library-definition/programme.json
Due: check-markdown-links, check-doc-metadata

docs(planning): define parity assurance and app boundaries
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/pf6/README.md
  docs/planning/xll-product/library-definition/pf6/baseline.json
  docs/planning/xll-product/library-definition/pf7/README.md
  docs/planning/xll-product/library-definition/pf7/baseline.json
  docs/planning/xll-product/library-definition/pf8/README.md
  docs/planning/xll-product/library-definition/pf8/baseline.json
  docs/planning/xll-product/library-definition/programme.json
Due: check-markdown-links, check-doc-metadata

docs(planning): complete library definition blueprint
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/README.md
  docs/planning/xll-product/library-definition/README.md
  docs/planning/xll-product/library-definition/decision-register.json
  docs/planning/xll-product/library-definition/pf10/README.md
  docs/planning/xll-product/library-definition/pf10/baseline.json
  docs/planning/xll-product/library-definition/pf11/README.md
  docs/planning/xll-product/library-definition/pf11/baseline.json
  docs/planning/xll-product/library-definition/pf9/README.md
  docs/planning/xll-product/library-definition/pf9/baseline.json
  docs/planning/xll-product/library-definition/pf9/research-source.md
  docs/planning/xll-product/library-definition/programme.json
  docs/planning/xll-product/library-definition/validate_definition.py
  docs/verification/library-definition-completion-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

docs(api): refresh generated ledger date
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/verification/library-definition-doc-ledger-repair-git-handoff-receipt.json
Due: check-markdown-links, check-doc-metadata

feat(library): implement WP01 contracts and flexure
  CSharp/StructAutomate.slnx
  CSharp/src/StructuralEngineering.Beam/BeamOperations.cs
  CSharp/src/StructuralEngineering.Beam/StructuralEngineering.Beam.csproj
  CSharp/src/StructuralEngineering.Beam/packages.lock.json
  CSharp/src/StructuralEngineering.Codes.IS456/Flexure.cs
  CSharp/src/StructuralEngineering.Codes.IS456/StructuralEngineering.Codes.IS456.csproj
  CSharp/src/StructuralEngineering.Codes.IS456/packages.lock.json
  CSharp/src/StructuralEngineering.Contracts/Primitives.cs
  CSharp/src/StructuralEngineering.Contracts/StructuralEngineering.Contracts.csproj
  CSharp/src/StructuralEngineering.Contracts/packages.lock.json
  CSharp/src/StructuralEngineering.Core/ResultFactory.cs
  CSharp/src/StructuralEngineering.Core/StructuralEngineering.Core.csproj
  CSharp/src/StructuralEngineering.Core/packages.lock.json
  CSharp/src/StructuralEngineering.Reinforcement/ReinforcementOperations.cs
  CSharp/src/StructuralEngineering.Reinforcement/StructuralEngineering.Reinforcement.csproj
  CSharp/src/StructuralEngineering.Reinforcement/packages.lock.json
  CSharp/tests/StructuralEngineering.Tests/StructuralEngineering.Tests.csproj
  CSharp/tests/StructuralEngineering.Tests/Wp01Tests.cs
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
  Python/structural_lib/beam/__init__.py
  Python/structural_lib/beam/flexure.py
  Python/structural_lib/beam/reinforcement.py
  Python/structural_lib/beam/semantics.py
  Python/tests/unit/test_structural_engineering_wp01.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/code-data/is456/flexure-v1.json
  contracts/structural-engineering/conformance/wp01-vectors.json
  contracts/structural-engineering/operations/wp01.json
  contracts/structural-engineering/schemas/operation-result.schema.json
  contracts/structural-engineering/schemas/wp01.schema.json
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/migration/python-and-dotnet.md
  docs/library/reference/wp01-flexure.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(library): implement WP02 shear and torsion
  CSharp/src/StructuralEngineering.Beam/BeamOperations.cs
  CSharp/src/StructuralEngineering.Codes.IS456/Shear.cs
  CSharp/src/StructuralEngineering.Contracts/Primitives.cs
  CSharp/src/StructuralEngineering.Core/ResultFactory.cs
  CSharp/tests/StructuralEngineering.Tests/Wp02Tests.cs
  Python/structural_lib/beam/__init__.py
  Python/structural_lib/beam/semantics.py
  Python/structural_lib/beam/shear_torsion.py
  Python/tests/unit/test_structural_engineering_wp02.py
  contracts/structural-engineering/code-data/is456/shear-torsion-v1.json
  contracts/structural-engineering/conformance/wp02-vectors.json
  contracts/structural-engineering/operations/wp02.json
  docs/library/README.md
  docs/library/implementation-status.md
  docs/library/reference/wp02-shear-torsion.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

fix(library): add WP02 portable request schema
  contracts/structural-engineering/schemas/wp02.schema.json
Due: none

feat(library): implement WP03 actions and analysis
  CSharp/StructAutomate.slnx
  CSharp/src/StructuralEngineering.Analysis/ActionNormalizer.cs
  CSharp/src/StructuralEngineering.Analysis/BeamTopologyBuilder.cs
  CSharp/src/StructuralEngineering.Analysis/PlanarBeamSolver.cs
  CSharp/src/StructuralEngineering.Analysis/StructuralEngineering.Analysis.csproj
  CSharp/src/StructuralEngineering.Analysis/packages.lock.json
  CSharp/src/StructuralEngineering.Contracts/AnalysisContracts.cs
  CSharp/tests/StructuralEngineering.Tests/StructuralEngineering.Tests.csproj
  CSharp/tests/StructuralEngineering.Tests/Wp03Tests.cs
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
  Python/structural_lib/beam/__init__.py
  Python/structural_lib/beam/analysis.py
  Python/tests/unit/test_structural_engineering_wp03.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/code-data/analysis/beam-line-v1.json
  contracts/structural-engineering/conformance/wp03-vectors.json
  contracts/structural-engineering/operations/wp03.json
  contracts/structural-engineering/schemas/wp03.schema.json
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp03-actions-analysis-topology.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(library): implement WP04 serviceability
  CSharp/src/StructuralEngineering.Codes.IS456/Serviceability.cs
  CSharp/src/StructuralEngineering.Contracts/ServiceabilityContracts.cs
  CSharp/tests/StructuralEngineering.Tests/Wp04Tests.cs
  Python/structural_lib/beam/__init__.py
  Python/structural_lib/beam/serviceability.py
  Python/tests/unit/test_structural_engineering_wp04.py
  contracts/structural-engineering/code-data/is456/serviceability-v1.json
  contracts/structural-engineering/conformance/wp04-vectors.json
  contracts/structural-engineering/operations/wp04.json
  contracts/structural-engineering/schemas/wp04.schema.json
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp04-serviceability.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(library): implement WP05 detailing and fit
  CSharp/src/StructuralEngineering.Codes.IS456/Detailing.cs
  CSharp/src/StructuralEngineering.Contracts/DetailingContracts.cs
  CSharp/tests/StructuralEngineering.Tests/Wp05Tests.cs
  Python/structural_lib/beam/__init__.py
  Python/structural_lib/beam/detailing.py
  Python/tests/unit/test_structural_engineering_wp05.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/code-data/is456/detailing-v1.json
  contracts/structural-engineering/conformance/wp05-vectors.json
  contracts/structural-engineering/operations/wp05.json
  contracts/structural-engineering/schemas/wp05.schema.json
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp05-detailing-constructability.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(library): implement WP06 member and bar paths
  CSharp/src/StructuralEngineering.Beam/MemberDesign.cs
  CSharp/src/StructuralEngineering.Contracts/Wp06Contracts.cs
  CSharp/src/StructuralEngineering.Core/BeamProject.cs
  CSharp/src/StructuralEngineering.Core/ResultFactory.cs
  CSharp/src/StructuralEngineering.Reinforcement/BarPaths.cs
  CSharp/tests/StructuralEngineering.Tests/Wp06Tests.cs
  Python/structural_lib/beam/__init__.py
  Python/structural_lib/beam/bar_paths.py
  Python/structural_lib/beam/member.py
  Python/structural_lib/beam/project.py
  Python/structural_lib/beam/semantics.py
  Python/tests/unit/test_structural_engineering_wp06.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/conformance/wp06-vectors.json
  contracts/structural-engineering/operations/wp06.json
  contracts/structural-engineering/schemas/wp06.schema.json
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp06-project-member-paths.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(library): implement WP07 construction and reports
  CSharp/StructAutomate.slnx
  CSharp/src/StructuralEngineering.Construction/ConstructionOperations.cs
  CSharp/src/StructuralEngineering.Construction/StructuralEngineering.Construction.csproj
  CSharp/src/StructuralEngineering.Construction/packages.lock.json
  CSharp/src/StructuralEngineering.Contracts/Wp07Contracts.cs
  CSharp/src/StructuralEngineering.Reporting/CalculationPackageOperations.cs
  CSharp/src/StructuralEngineering.Reporting/StructuralEngineering.Reporting.csproj
  CSharp/src/StructuralEngineering.Reporting/packages.lock.json
  CSharp/tests/StructuralEngineering.Tests/StructuralEngineering.Tests.csproj
  CSharp/tests/StructuralEngineering.Tests/Wp07Tests.cs
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
  Python/structural_lib/construction/__init__.py
  Python/structural_lib/construction/bbs.py
  Python/structural_lib/construction/contracts.py
  Python/structural_lib/construction/cost.py
  Python/structural_lib/construction/quantities.py
  Python/structural_lib/reporting/__init__.py
  Python/structural_lib/reporting/calculation_package.py
  Python/tests/unit/test_structural_engineering_wp07.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/conformance/wp07-vectors.json
  contracts/structural-engineering/operations/wp07.json
  contracts/structural-engineering/schemas/wp07.schema.json
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp07-construction-calculation-package.md
  scripts/validate_structural_engineering_contracts.py
Due: mypy, check-markdown-links, check-doc-metadata

feat(library): implement WP08 beam optimization
  CSharp/README.md
  CSharp/StructAutomate.slnx
  CSharp/dependencies.json
  CSharp/src/StructuralEngineering.Contracts/Wp08Contracts.cs
  CSharp/src/StructuralEngineering.Optimization/OptimizationOperations.cs
  CSharp/src/StructuralEngineering.Optimization/StructuralEngineering.Optimization.csproj
  CSharp/src/StructuralEngineering.Optimization/packages.lock.json
  CSharp/tests/StructuralEngineering.Tests/StructuralEngineering.Tests.csproj
  CSharp/tests/StructuralEngineering.Tests/Wp08Tests.cs
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
  Python/structural_lib/beam_optimization/__init__.py
  Python/structural_lib/beam_optimization/contracts.py
  Python/structural_lib/beam_optimization/operations.py
  Python/tests/test_compatibility_convergence.py
  Python/tests/test_control_plane.py
  Python/tests/unit/test_coverage_boost_is456.py
  Python/tests/unit/test_structural_engineering_wp08.py
  contracts/structural-engineering/README.md
  contracts/structural-engineering/conformance/wp08-vectors.json
  contracts/structural-engineering/operations/wp08.json
  contracts/structural-engineering/schemas/wp08.schema.json
  docs/SESSION_LOG.md
  docs/library/README.md
  docs/library/getting-started.md
  docs/library/implementation-status.md
  docs/library/reference/wp08-beam-optimization.md
  docs/planning/next-session-brief.md
  docs/planning/xll-product/library-definition/pf0/charter.md
  docs/planning/xll-product/library-definition/pf6/baseline.json
  docs/planning/xll-product/library-definition/pf9/research-source.md
  docs/verification/wp01-wp08-native-libraries-git-handoff-receipt.json
  excel_addin/tests/fixtures/calculation-review-serviceability-v3.json
  scripts/automation-map.json
  scripts/control-plane.json
  scripts/validate_structural_engineering_contracts.py
  scripts/verification-manifest.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(validation): normalize WP01-WP08 candidate
  CSharp/src/StructuralEngineering.Analysis/packages.lock.json
  CSharp/src/StructuralEngineering.Beam/packages.lock.json
  CSharp/src/StructuralEngineering.Codes.IS456/packages.lock.json
  CSharp/src/StructuralEngineering.Construction/packages.lock.json
  CSharp/src/StructuralEngineering.Contracts/packages.lock.json
  CSharp/src/StructuralEngineering.Core/packages.lock.json
  CSharp/src/StructuralEngineering.Optimization/packages.lock.json
  CSharp/src/StructuralEngineering.Reinforcement/packages.lock.json
  CSharp/src/StructuralEngineering.Reporting/packages.lock.json
  CSharp/tests/StructuralEngineering.Tests/packages.lock.json
  Python/structural_lib/beam/analysis.py
  Python/structural_lib/beam/bar_paths.py
  Python/structural_lib/beam/detailing.py
  Python/structural_lib/beam/flexure.py
  Python/structural_lib/beam/member.py
  Python/structural_lib/beam/project.py
  Python/structural_lib/beam/reinforcement.py
  Python/structural_lib/beam/semantics.py
  Python/structural_lib/beam/serviceability.py
  Python/structural_lib/beam/shear_torsion.py
  Python/structural_lib/beam_optimization/operations.py
  Python/structural_lib/construction/bbs.py
  Python/structural_lib/construction/cost.py
  Python/structural_lib/construction/quantities.py
  Python/structural_lib/reporting/calculation_package.py
  Python/tests/unit/test_structural_engineering_wp01.py
  Python/tests/unit/test_structural_engineering_wp02.py
  Python/tests/unit/test_structural_engineering_wp03.py
  Python/tests/unit/test_structural_engineering_wp04.py
  Python/tests/unit/test_structural_engineering_wp05.py
  Python/tests/unit/test_structural_engineering_wp06.py
  Python/tests/unit/test_structural_engineering_wp07.py
  Python/tests/unit/test_structural_engineering_wp08.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/wp01-wp08-native-libraries-git-handoff-receipt.json
  excel_addin/tests/fixtures/calculation-review-serviceability-v3.json
Due: mypy, check-markdown-links, check-doc-metadata

fix(validation): satisfy full Python hosted gate
  Python/structural_lib/beam/analysis.py
  Python/structural_lib/beam/bar_paths.py
  Python/structural_lib/beam/detailing.py
  Python/structural_lib/beam/flexure.py
  Python/structural_lib/beam/member.py
  Python/structural_lib/beam/project.py
  Python/structural_lib/beam/semantics.py
  Python/structural_lib/beam/serviceability.py
  Python/structural_lib/beam/shear_torsion.py
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/wp01-wp08-native-libraries-git-handoff-receipt.json
  excel_addin/tests/fixtures/calculation-review-serviceability-v3.json
Due: mypy, check-markdown-links, check-doc-metadata

docs(excel): reconcile WP09 execution plan
  docs/planning/next-session-brief.md
  docs/planning/xll-product/current-plan.md
  docs/planning/xll-product/wp09-standalone-excel.md
Due: check-markdown-links, check-doc-metadata

feat(excel): deliver standalone Windows beam add-in
  .github/workflows/fast-checks.yml
  .gitignore
  CSharp/README.md
  CSharp/StructAutomate.slnx
  CSharp/packaging/excel/Common.ps1
  CSharp/packaging/excel/Install-PerUser.ps1
  CSharp/packaging/excel/Invoke-InstalledAcceptance.ps1
  CSharp/packaging/excel/New-Distribution.ps1
  CSharp/packaging/excel/New-ValidationCertificate.ps1
  CSharp/packaging/excel/Repair-PerUser.ps1
  CSharp/packaging/excel/Test-Preflight.ps1
  CSharp/packaging/excel/Uninstall-PerUser.ps1
  CSharp/samples/StructAutomate-Standalone-Beam.xlsx
  CSharp/src/StructAutomate.Excel/Functions.cs
  CSharp/src/StructAutomate.Excel/StructAutomate.Excel.csproj
  CSharp/src/StructAutomate.Excel/packages.lock.json
  CSharp/src/StructuralEngineering.ExcelDna/ExcelWorkbookTableStore.cs
  CSharp/src/StructuralEngineering.ExcelDna/FileWorkbookArtifactSink.cs
  CSharp/src/StructuralEngineering.ExcelDna/HostEffectLedger.cs
  CSharp/src/StructuralEngineering.ExcelDna/LegacyFunctions.cs
  CSharp/src/StructuralEngineering.ExcelDna/ResultSpill.cs
  CSharp/src/StructuralEngineering.ExcelDna/SampleWorkbookData.cs
  CSharp/src/StructuralEngineering.ExcelDna/StrictJson.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructAutomateRibbon.cs
  CSharp/src/StructuralEngineering.ExcelDna/StructuralEngineering.ExcelDna.csproj
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommandEngine.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookCommands.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookContracts.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookInputReader.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorkbookOperationDispatcher.cs
  CSharp/src/StructuralEngineering.ExcelDna/WorksheetFunctions.cs
  CSharp/src/StructuralEngineering.ExcelDna/packages.lock.json
  CSharp/tests/StructAutomate.Tests/ExcelAdapterTests.cs
  CSharp/tests/StructAutomate.Tests/StructAutomate.Tests.csproj
  CSharp/tests/StructAutomate.Tests/WorkbookCommandEngineTests.cs
  CSharp/tests/StructAutomate.Tests/WorkbookInputReaderTests.cs
  CSharp/tests/StructAutomate.Tests/packages.lock.json
  docs/library/excel/README.md
  docs/library/migration/python-and-dotnet.md
  docs/planning/xll-product/wp09-standalone-excel.md
Due: check-python-version, check-markdown-links, check-doc-metadata
