Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

docs(library): record implementation fixes and startup evidence
  docs/planning/library-usability-improvement.md
Due: check-markdown-links, check-doc-metadata

fix(api): reject ambiguous beam JSON before calculation
  Python/structural_lib/__main__.py
  Python/tests/integration/test_canonical_beam_facade.py
  fastapi_app/routers/design_v2.py
  fastapi_app/tests/test_canonical_beam_v2.py
Due: mypy

feat(api): add typed lossless JSON loaders for design workflows
  Python/examples/canonical_workflows.py
  Python/structural_lib/design/is456/beam.py
  Python/structural_lib/design/is456/column.py
  Python/structural_lib/design/is456/combined_footing.py
  Python/structural_lib/design/is456/deep_beam.py
  Python/structural_lib/design/is456/flat_slab.py
  Python/structural_lib/design/is456/isolated_footing.py
  Python/structural_lib/design/is456/slab.py
  Python/structural_lib/design/is456/staircase.py
  Python/structural_lib/design/is456/strap_footing.py
  Python/structural_lib/design/is456/torsion.py
  Python/structural_lib/design/is456/wall.py
  Python/structural_lib/services/contracts/common.py
  Python/structural_lib/services/family_facade_registry.py
  Python/tests/integration/test_family_facade_convergence.py
  Python/tests/unit/test_beam_supplied_check_v2.py
Due: mypy

docs(library): publish JSON workflows and complete usability evidence
  Python/README.md
  Python/examples/README.md
  docs/cookbook/python/beam-design.md
  docs/cookbook/python/column-supplied-steel-check.md
  docs/cookbook/python/combined-footing-symmetric.md
  docs/cookbook/python/deep-beam-simply-supported.md
  docs/cookbook/python/flat-slab-regular-interior.md
  docs/cookbook/python/isolated-footing-concentric.md
  docs/cookbook/python/slab-continuous-one-way.md
  docs/cookbook/python/slab-one-way.md
  docs/cookbook/python/slab-two-way.md
  docs/cookbook/python/staircase-straight-flight.md
  docs/cookbook/python/strap-footing-property-line.md
  docs/cookbook/python/torsion-design.md
  docs/cookbook/python/wall-braced-axial.md
  docs/planning/library-usability-improvement.md
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-levels.md
  docs/reference/family-facade-contracts.md
  scripts/generate_family_facade_docs.py
  scripts/verify_lib_pro_013_f0_family_artifact.py
Due: check-markdown-links, check-doc-metadata

docs(library): retain complete-member usability acceptance
  docs/planning/library-usability-improvement.md
Due: check-markdown-links, check-doc-metadata

feat(library): connect typed operation outputs and member evidence
  Python/structural_lib/beam/member.py
  Python/structural_lib/beam/semantics.py
  Python/tests/unit/test_structural_engineering_wp06.py
Due: mypy

docs(examples): run physical member and construction workflow
  Python/examples/README.md
  Python/examples/physical_member_workflow.py
Due: none

docs(library): explain typed composition and installed workflow evidence
  docs/library/getting-started.md
  docs/library/reference/wp06-project-member-paths.md
  docs/library/reference/wp07-construction-calculation-package.md
  docs/planning/library-usability-improvement.md
Due: check-markdown-links, check-doc-metadata

fix(optimization): bind candidates to genuine calculation outputs
  Python/structural_lib/beam_optimization/__init__.py
  Python/structural_lib/beam_optimization/operations.py
  Python/tests/unit/test_structural_engineering_wp08.py
Due: mypy

feat(examples): run physical candidate and beam check workflows
  Python/examples/analysis_snapshot_replay.py
  Python/examples/beam_checks_workflow.py
  Python/examples/candidate_ranking_workflow.py
  Python/examples/physical_member_workflow.py
  Python/tests/integration/test_candidate_ranking_example.py
Due: none

docs(library): connect public workflow guides and completion evidence
  Python/README.md
  Python/examples/README.md
  docs/library/getting-started.md
  docs/library/reference/wp02-shear-torsion.md
  docs/library/reference/wp03-actions-analysis-topology.md
  docs/library/reference/wp04-serviceability.md
  docs/library/reference/wp05-detailing-constructability.md
  docs/library/reference/wp08-beam-optimization.md
  docs/library/reference/wp10-analysis-snapshot.md
  docs/planning/library-usability-improvement.md
  docs/reference/api-levels.md
Due: check-markdown-links, check-doc-metadata

fix(maintenance): use canonical inventory and metadata diagnostics
  docs/planning/library-usability-improvement.md
  scripts/agent_brief.sh
  scripts/project_health.py
Due: check-markdown-links, check-doc-metadata

docs(maintenance): align guides with compact delivery
  docs/governance/maintenance-playbook.md
  docs/guides/maintenance-checklist.md
Due: check-markdown-links, check-doc-metadata

docs(project): record 24-hour changes and next work
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

docs(maintenance): preserve the session reader contract
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
  docs/verification/rework-recurrence-index.json
Due: check-markdown-links, check-doc-metadata

fix(beam): bind generated bars to the longitudinal shear basis
  Python/structural_lib/codes/is456/beam/shear.py
  Python/structural_lib/codes/is456/compliance.py
  Python/structural_lib/design/is456/beam.py
  Python/structural_lib/services/beam_api.py
  Python/structural_lib/services/beam_detailing_binding.py
  Python/structural_lib/services/beam_pipeline.py
  Python/structural_lib/services/canonical_beam.py
  Python/structural_lib/services/contracts/beam.py
  Python/tests/integration/test_canonical_beam_facade.py
  Python/tests/regression/test_generated_detailing_shear_binding.py
  Python/tests/regression/test_serialized_design_detailing.py
  Python/tests/unit/test_compliance_validation.py
Due: mypy

docs(api): publish simpler beam calls and explicit shear options
  Python/examples/canonical_workflows.py
  docs/reference/api-classification.json
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-levels.md
  docs/reference/beam-facade.md
  docs/reference/family-facade-contracts.md
  fastapi_app/openapi_baseline.json
Due: check-markdown-links, check-doc-metadata

docs(quality): record function review and numerical library comparison
  docs/TASKS.md
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix(anchorage): use source bond limits and exact development lengths
  Python/structural_lib/codes/is456/beam/detailing.py
  Python/structural_lib/services/beam_api.py
  Python/tests/unit/test_anchorage_check.py
  Python/tests/unit/test_detailing.py
Due: mypy

fix(beam): enforce supplied longitudinal steel upper limits
  Python/structural_lib/codes/is456/beam/flexure.py
  Python/structural_lib/services/beam_reinforcement.py
  Python/tests/unit/test_beam_reinforcement.py
  Python/tests/unit/test_beam_supplied_check_v2.py
  Python/tests/unit/test_gravity_workflow_v1.py
Due: mypy

docs(quality): record supplied beam and serviceability function review
  docs/TASKS.md
  docs/cookbook/python/beam-supplied-check.md
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
  docs/reference/api-compatibility-ledger.json
  docs/reference/api-levels.md
  scripts/generate_family_facade_docs.py
Due: check-markdown-links, check-doc-metadata

fix(beam): correct physical steel limits and cross-face spacing
  CSharp/src/StructuralEngineering.Beam/BeamOperations.cs
  CSharp/src/StructuralEngineering.Codes.IS456/Flexure.cs
  CSharp/src/StructuralEngineering.Contracts/Primitives.cs
  CSharp/src/StructuralEngineering.Reinforcement/ReinforcementOperations.cs
  CSharp/tests/StructuralEngineering.Tests/Wp01Tests.cs
  Python/structural_lib/beam/flexure.py
  Python/structural_lib/beam/reinforcement.py
  Python/tests/unit/test_structural_engineering_wp01.py
  contracts/structural-engineering/conformance/wp01-vectors.json
Due: mypy

fix(detailing): check bar enclosure against curved link corners
  CSharp/src/StructuralEngineering.Codes.IS456/Detailing.cs
  CSharp/tests/StructuralEngineering.Tests/Wp05Tests.cs
  Python/structural_lib/beam/detailing.py
  Python/tests/unit/test_structural_engineering_wp05.py
  Python/tests/unit/test_structural_engineering_wp06.py
  contracts/structural-engineering/conformance/wp05-vectors.json
Due: mypy

docs(quality): record physical beam function review and numerical scope
  docs/TASKS.md
  docs/library/reference/wp01-flexure.md
  docs/library/reference/wp05-detailing-constructability.md
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
  docs/reference/api-levels.md
Due: check-markdown-links, check-doc-metadata

docs(library): capture progress assessment and next workflow handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(workflows): complete checked ordinary beam through BBS and report
  CSharp/src/StructuralEngineering.Beam/BeamOperations.cs
  CSharp/src/StructuralEngineering.Codes.IS456/Detailing.cs
  CSharp/src/StructuralEngineering.Reporting/CalculationPackageOperations.cs
  CSharp/tests/StructuralEngineering.Tests/Wp02Tests.cs
  CSharp/tests/StructuralEngineering.Tests/Wp05Tests.cs
  CSharp/tests/StructuralEngineering.Tests/Wp07Tests.cs
  Python/examples/README.md
  Python/examples/complete_member_workflow.py
  Python/structural_lib/beam/detailing.py
  Python/structural_lib/beam/shear_torsion.py
  Python/structural_lib/reporting/calculation_package.py
  Python/tests/integration/test_complete_member_workflow.py
  Python/tests/unit/test_structural_engineering_wp02.py
  Python/tests/unit/test_structural_engineering_wp05.py
  Python/tests/unit/test_structural_engineering_wp07.py
  contracts/structural-engineering/code-data/is456/detailing-v1.json
  contracts/structural-engineering/conformance/wp05-vectors.json
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/library/reference/wp02-shear-torsion.md
  docs/library/reference/wp05-detailing-constructability.md
  docs/library/reference/wp07-construction-calculation-package.md
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
  docs/reference/api-levels.md
Due: mypy, check-markdown-links, check-doc-metadata

fix(workbook): bind sample detail and provide physical support extension
  CSharp/src/StructuralEngineering.ExcelDna/SampleWorkbookData.cs
  docs/TASKS.md
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(beam): complete multilayer workflow with per-bar equilibrium
  CSharp/src/StructuralEngineering.Beam/BeamOperations.cs
  CSharp/src/StructuralEngineering.Codes.IS456/Flexure.cs
  CSharp/src/StructuralEngineering.Contracts/Primitives.cs
  CSharp/tests/StructuralEngineering.Tests/PhysicalSectionEquilibriumTests.cs
  CSharp/tests/StructuralEngineering.Tests/StructuralEngineering.Tests.csproj
  CSharp/tests/StructuralEngineering.Tests/Wp01Tests.cs
  Python/examples/README.md
  Python/examples/complete_member_workflow.py
  Python/structural_lib/beam/flexure.py
  Python/structural_lib/codes/is456/section_materials.py
  Python/tests/data/benchmark_vectors/generate_multilayer_reference.py
  Python/tests/integration/test_complete_member_workflow.py
  Python/tests/unit/test_physical_section_equilibrium.py
  Python/tests/unit/test_structural_engineering_wp01.py
  contracts/structural-engineering/code-data/is456/flexure-v1.json
  contracts/structural-engineering/conformance/wp01-per-bar-vectors.json
  contracts/structural-engineering/conformance/wp01-vectors.json
  contracts/structural-engineering/operations/wp01.json
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/library/reference/wp01-flexure.md
  docs/planning/library-usability-improvement.md
  docs/planning/multilayer-member-workflow.md
  docs/planning/next-session-brief.md
  docs/reference/api-levels.md
Due: mypy, check-markdown-links, check-doc-metadata

docs(session): satisfy milestone record validation
  docs/SESSION_LOG.md
Due: check-markdown-links, check-doc-metadata

docs(planning): define 50-day library completion baseline
  docs/TASKS.md
  docs/docs-canonical.json
  docs/planning/README.md
  docs/planning/library-50-day-plan.json
  docs/planning/library-usability-improvement.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(library): record bounded supporting-library workstream
  docs/planning/library-usability-improvement.md
Due: check-markdown-links, check-doc-metadata

chore(tests): align imports with pinned Ruff
  Python/tests/integration/test_w3_reinforcement_root_causes.py
  Python/tests/property/test_serviceability_hypothesis.py
  Python/tests/regression/test_critical_is456.py
Due: none

fix(api): stabilize compatibility signatures across Python runtimes
  Python/tests/test_compatibility_convergence.py
  docs/reference/api-compatibility-ledger.json
  scripts/generate_api_classification.py
Due: none

fix(test): declare client and schema dependencies for clean installs
  Python/pyproject.toml
Due: check-python-version

fix(deps): repair five advisories with bounded compatible pins
  Python/pyproject.toml
  requirements-lock.txt
  requirements.txt
Due: check-python-version

fix(ci): bind platform tests to the selected runtime
  .github/workflows/nightly.yml
  scripts/check_new_element_completeness.py
Due: check-python-version

fix(deps): patch both locked fflate versions
  react_app/package-lock.json
Due: none

fix(test): resolve Bash before native Windows launches
  Python/tests/test_agent_governance_automation.py
  Python/tests/test_ci_workflow_contract.py
  Python/tests/test_git_guidance_semantics.py
  Python/tests/test_repo_context.py
  Python/tests/test_session_automation.py
Due: none

docs(is456): reconcile issued amendment source inventory
  docs/planning/is456-amendment-qualification-baseline.json
  docs/planning/is456-amendment-qualification-packet.md
  docs/verification/is456-official-source-inventory.json
Due: check-markdown-links, check-doc-metadata
