Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs: add FastAPI deployment guide and update scripts index
  docs/guides/fastapi-deployment-guide.md
  scripts/index.json
Due: check-markdown-links, check-doc-metadata

fix(fastapi): apply black formatting and fix ruff lint errors
  fastapi_app/auth.py
  fastapi_app/config.py
  fastapi_app/examples/test_client.py
  fastapi_app/main.py
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/geometry.py
  fastapi_app/models/optimization.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/health.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/streaming.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_endpoints.py
  fastapi_app/tests/test_security.py
  fastapi_app/tests/test_streaming.py
  fastapi_app/tests/test_websocket.py
Due: none

fix(ci): make mypy non-blocking for FastAPI validation
  .github/workflows/fast-checks.yml
Due: check-python-version

TASK-CI-V3: FastAPI CI/CD infrastructure (#407)
  .github/workflows/fast-checks.yml
  .pre-commit-config.yaml
  docs/guides/fastapi-deployment-guide.md
  fastapi_app/auth.py
  fastapi_app/config.py
  fastapi_app/examples/test_client.py
  fastapi_app/main.py
  fastapi_app/models/analysis.py
  fastapi_app/models/beam.py
  fastapi_app/models/geometry.py
  fastapi_app/models/optimization.py
  fastapi_app/openapi_baseline.json
  fastapi_app/routers/analysis.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/health.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/streaming.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_auth.py
  fastapi_app/tests/test_endpoints.py
  fastapi_app/tests/test_security.py
  fastapi_app/tests/test_streaming.py
  fastapi_app/tests/test_websocket.py
  scripts/benchmark_api.py
  scripts/check_fastapi_issues.py
  scripts/index.json
  scripts/validate_api_contracts.py
Due: check-python-version, check-markdown-links, check-doc-metadata

feat(fastapi): add load and stress tests for API endpoints
  docs/research/v3-infrastructure-gap-analysis.md
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_load.py
Due: check-markdown-links, check-doc-metadata

feat(fastapi): add client SDK generator and TypeScript client example
  clients/python/structural_client/__init__.py
  clients/python/structural_client/client.py
  clients/typescript/package.json
  clients/typescript/src/index.ts
  clients/typescript/tsconfig.json
  fastapi_app/examples/test_client.ts
  scripts/generate_client_sdks.py
Due: none

feat(fastapi): add integration tests for end-to-end API flows
  fastapi_app/tests/test_integration.py
Due: none

docs: update gap analysis - Phase 3 complete
  docs/research/v3-infrastructure-gap-analysis.md
Due: check-markdown-links, check-doc-metadata

feat: refresh OpenAPI baseline and Docker dev workflow
  .dockerignore
  Dockerfile.fastapi
  clients/python/structural_client/client.py
  clients/typescript/src/index.ts
  docker-compose.dev.yml
  docker-compose.yml
  docs/guides/fastapi-deployment-guide.md
  docs/planning/8-week-development-plan.md
  docs/research/v3-infrastructure-gap-analysis.md
  fastapi_app/examples/test_client.ts
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/test_load.py
  pytest.ini
  scripts/generate_client_sdks.py
Due: check-markdown-links, check-doc-metadata

docs: fix deployment guide link
  docs/guides/fastapi-deployment-guide.md
Due: check-markdown-links, check-doc-metadata

chore: update governance limits for Docker files
  docs/guidelines/folder-structure-governance.md
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_integration.py
  fastapi_app/tests/test_load.py
  scripts/check_governance_compliance.py
  scripts/check_root_file_count.sh
  scripts/validate_folder_structure.py
Due: check-markdown-links, check-doc-metadata

test: fix ruff unused imports
  fastapi_app/tests/test_integration.py
Due: none

TASK-DOCKER-OPENAPI: Docker dev + OpenAPI refresh + SDK regen (#408)
  .dockerignore
  Dockerfile.fastapi
  clients/python/structural_client/client.py
  clients/typescript/src/index.ts
  docker-compose.dev.yml
  docker-compose.yml
  docs/guidelines/folder-structure-governance.md
  docs/guides/fastapi-deployment-guide.md
  docs/planning/8-week-development-plan.md
  docs/research/v3-infrastructure-gap-analysis.md
  fastapi_app/examples/test_client.ts
  fastapi_app/openapi_baseline.json
  fastapi_app/tests/conftest.py
  fastapi_app/tests/test_integration.py
  fastapi_app/tests/test_load.py
  pytest.ini
  scripts/check_governance_compliance.py
  scripts/check_root_file_count.sh
  scripts/generate_client_sdks.py
  scripts/validate_folder_structure.py
Due: check-markdown-links, check-doc-metadata

docs: update session log and handoff
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: add Docker guide, FastAPI reference, and update 8-week plan
  .github/copilot-instructions.md
  docs/planning/8-week-development-plan.md
  docs/reference/fastapi-rest-api.md
  scripts/benchmark_api.py
  scripts/check_fastapi_issues.py
  scripts/generate_client_sdks.py
  scripts/validate_api_contracts.py
Due: check-markdown-links, check-doc-metadata

feat(docker): add CI workflow, validation script, and improve configs
  .dockerignore
  .env.example
  .github/workflows/docker-build.yml
  Dockerfile.fastapi
  docker-compose.dev.yml
  docker-compose.yml
  docs/learning/README.md
  scripts/check_docker_config.py
  scripts/index.json
Due: check-python-version, check-markdown-links, check-doc-metadata

feat(react): add React frontend with R3F 3D viewport and Dockview layout
  docs/getting-started/agent-bootstrap.md
  react_app/.env.example
  react_app/.gitignore
  react_app/README.md
  react_app/eslint.config.js
  react_app/index.html
  react_app/package-lock.json
  react_app/package.json
  react_app/public/vite.svg
  react_app/src/App.css
  react_app/src/App.tsx
  react_app/src/api/client.ts
  react_app/src/assets/react.svg
  react_app/src/components/BeamForm.css
  react_app/src/components/BeamForm.tsx
  react_app/src/components/ResultsPanel.css
  react_app/src/components/ResultsPanel.tsx
  react_app/src/components/Viewport3D.css
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/WorkspaceLayout.css
  react_app/src/components/WorkspaceLayout.tsx
  react_app/src/components/index.ts
  react_app/src/index.css
  react_app/src/main.tsx
  react_app/src/store/designStore.ts
  react_app/src/vite-env.d.ts
  react_app/tsconfig.app.json
  react_app/tsconfig.json
  react_app/tsconfig.node.json
  react_app/vite.config.ts
  scripts/agent_start.sh
  scripts/check_docker_config.py
Due: check-markdown-links, check-doc-metadata

fix(react): align frontend API and stack compatibility docs
  docs/getting-started/agent-bootstrap.md
  docs/planning/8-week-development-plan.md
  docs/reference/known-pitfalls.md
  react_app/README.md
  react_app/src/api/client.ts
  react_app/src/components/BeamForm.tsx
Due: check-markdown-links, check-doc-metadata

docs: update session log and handoff for PR 409
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

TASK-REACT-COMPAT: Align React frontend API and stack compatibility guidance (#409)
  docs/SESSION_LOG.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/8-week-development-plan.md
  docs/planning/next-session-brief.md
  docs/reference/known-pitfalls.md
  react_app/README.md
  react_app/src/api/client.ts
  react_app/src/components/BeamForm.tsx
Due: check-markdown-links, check-doc-metadata

feat(react): add live updates, WebSocket, stirrups, CSV import, code splitting
  react_app/src/components/BeamForm.css
  react_app/src/components/BeamForm.tsx
  react_app/src/components/CSVImportPanel.css
  react_app/src/components/CSVImportPanel.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/index.ts
  react_app/src/hooks/index.ts
  react_app/src/hooks/useAutoDesign.ts
  react_app/src/hooks/useDesignWebSocket.ts
  react_app/src/store/designStore.ts
  react_app/src/store/importedBeamsStore.ts
  react_app/src/types/csv.ts
  react_app/src/types/index.ts
  react_app/vite.config.ts
Due: none

feat(react): add live updates, WebSocket, stirrups, CSV import, code splitting (#411)
  react_app/src/components/BeamForm.css
  react_app/src/components/BeamForm.tsx
  react_app/src/components/CSVImportPanel.css
  react_app/src/components/CSVImportPanel.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/index.ts
  react_app/src/hooks/index.ts
  react_app/src/hooks/useAutoDesign.ts
  react_app/src/hooks/useDesignWebSocket.ts
  react_app/src/store/designStore.ts
  react_app/src/store/importedBeamsStore.ts
  react_app/src/types/csv.ts
  react_app/src/types/index.ts
  react_app/vite.config.ts
Due: none

feat(api): add CSV import and full 3D geometry endpoints
  docs/SESSION_LOG.md
  fastapi_app/main.py
  fastapi_app/models/geometry.py
  fastapi_app/routers/__init__.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  requirements.txt
Due: check-markdown-links, check-doc-metadata

feat(react): add modern Gen Z UI with BentoGrid layout
  react_app/package-lock.json
  react_app/package.json
  react_app/src/App.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/ui/BentoGrid.tsx
  react_app/src/components/ui/FloatingDock.tsx
  react_app/src/index.css
  react_app/vite.config.ts
Due: none

feat(react): add hooks for library API integration
  react_app/src/components/ui/index.ts
  react_app/src/hooks/index.ts
  react_app/src/hooks/useBeamGeometry.ts
  react_app/src/hooks/useCSVImport.ts
Due: none

docs: update session log and next briefing for React refactor
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(react): wire Viewport3D to useBeamGeometry, add FileDropZone
  react_app/src/components/CSVImportPanel.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/ui/FileDropZone.tsx
  react_app/src/types/csv.ts
Due: none

docs: update agent bootstrap, V3 roadmap, and session docs
  docs/SESSION_LOG.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/agent-essentials.md
  docs/planning/8-week-development-plan.md
  docs/planning/next-session-brief.md
  scripts/agent_start.sh
Due: check-markdown-links, check-doc-metadata

feat(react): add functional navigation with LandingView, DesignView, ImportView
  fastapi_app/routers/imports.py
  react_app/src/api/client.ts
  react_app/src/components/DesignView.tsx
  react_app/src/components/ImportView.tsx
  react_app/src/components/LandingView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
Due: none

feat(api): replace hardcoded sample data with real CSV loading
  fastapi_app/routers/imports.py
Due: none

feat(react): add 3D building frame visualization for imported beams
  react_app/src/api/client.ts
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/types/csv.ts
Due: none

docs: update 8-week plan with Session 78 accomplishments
  docs/planning/8-week-development-plan.md
Due: check-markdown-links, check-doc-metadata

feat(react): add WebSocket resilience + loading states + error handling
  docs/planning/8-week-development-plan.md
  react_app/package-lock.json
  react_app/package.json
  react_app/src/components/ui/ConnectionStatus.tsx
  react_app/src/components/ui/ErrorBoundary.tsx
  react_app/src/components/ui/Skeleton.tsx
  react_app/src/components/ui/Toast.tsx
  react_app/src/components/ui/index.ts
  react_app/src/hooks/useDesignWebSocket.ts
Due: check-markdown-links, check-doc-metadata

chore(react): export WebSocket types from hooks index
  react_app/src/hooks/index.ts
Due: none

feat(react): add AG Grid, cmdk, live design & multi-beam visualization
  docs/planning/8-week-development-plan.md
  react_app/package-lock.json
  react_app/package.json
  react_app/src/components/BeamTable.tsx
  react_app/src/components/CommandPalette.tsx
  react_app/src/components/Viewport3D.tsx
  react_app/src/components/index.ts
  react_app/src/hooks/index.ts
  react_app/src/hooks/useLiveDesign.ts
  react_app/src/types/csv.ts
Due: check-markdown-links, check-doc-metadata

feat(react): wire live design + import overrides
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  react_app/src/components/DesignView.tsx
  react_app/src/components/ImportView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/ui/FileDropZone.tsx
  react_app/src/hooks/useCSVImport.ts
  react_app/src/utils/materialOverrides.ts
  react_app/src/utils/sampleData.ts
Due: check-markdown-links, check-doc-metadata

feat(react): wire live design + import overrides (#412)
  docs/TASKS.md
  docs/planning/8-week-development-plan.md
  react_app/src/components/DesignView.tsx
  react_app/src/components/ImportView.tsx
  react_app/src/components/layout/ModernAppLayout.tsx
  react_app/src/components/ui/FileDropZone.tsx
  react_app/src/hooks/useCSVImport.ts
  react_app/src/utils/materialOverrides.ts
  react_app/src/utils/sampleData.ts
Due: check-markdown-links, check-doc-metadata

feat(lib): add batch, csv_import, rebar modules + React hooks for V3 parity
  Python/structural_lib/batch.py
  Python/structural_lib/csv_import.py
  Python/structural_lib/rebar.py
  Python/structural_lib/visualization/geometry_3d.py
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/streaming.py
  react_app/src/hooks/index.ts
  react_app/src/hooks/useBuildingGeometry.ts
  react_app/src/hooks/useCrossSectionGeometry.ts
  react_app/src/hooks/useDualCSVImport.ts
  react_app/src/hooks/useRebarValidation.ts
Due: mypy, check-markdown-links, check-doc-metadata

feat: add dual-csv import + building geometry + rebar helpers
  Python/structural_lib/__init__.py
  Python/structural_lib/batch.py
  Python/structural_lib/imports.py
  Python/structural_lib/rebar.py
  Python/structural_lib/visualization/geometry_3d.py
  Python/tests/unit/test_batch.py
  Python/tests/unit/test_building_geometry.py
  Python/tests/unit/test_imports.py
  Python/tests/unit/test_rebar.py
  docs/planning/v3-streamlit-parity-library-evolution-plan.md
  fastapi_app/routers/imports.py
  fastapi_app/routers/streaming.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/hooks/index.ts
  react_app/src/hooks/useCSVImport.ts
Due: mypy, check-markdown-links, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
