Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

fix: close remaining CI bypass escape hatches in finish_task_pr.sh and global instructions (#522)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  scripts/finish_task_pr.sh
Due: none

docs: session end — CIFIX worklog and next-session-brief updates
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 3c72b992 with MkDocs version: 1.6.1
  WORKLOG/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

chore: release v0.21.1
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/column/uniaxial.py
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

chore: release v0.21.1 (#523)
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/column/uniaxial.py
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed b06be1cd with MkDocs version: 1.6.1
  TASKS/index.html
  getting-started/releases/index.html
  planning/next-session-brief/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: post-release v0.21.1 session end
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 4b2a54e7 with MkDocs version: 1.6.1
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

chore: release v0.21.2 — packaging fixes from external audit
  CHANGELOG.md
  CITATION.cff
  Python/MANIFEST.in
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/traceability.py
  Python/tests/test_packaging.py
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

chore: release v0.21.2 — packaging fixes from external audit (#524)
  CHANGELOG.md
  CITATION.cff
  Python/MANIFEST.in
  Python/README.md
  Python/pyproject.toml
  Python/structural_lib/codes/is456/traceability.py
  Python/tests/test_packaging.py
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  react_app/package.json
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

Deployed 71860fb0 with MkDocs version: 1.6.1
  TASKS/index.html
  getting-started/releases/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(docs): sync version refs to v0.21.2 + add wheel content tests (TASK-PKG-6)
  Python/README.md
  Python/tests/test_packaging.py
  docs/getting-started/beginners-guide.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
Due: check-markdown-links, check-doc-metadata

fix: move imports to top of file to fix ruff E402
  Python/tests/test_packaging.py
Due: none

TASK-PKG-6: wheel content tests + doc version sync to v0.21.2 (TASK-PKG-6) (#525)
  Python/README.md
  Python/tests/test_packaging.py
  docs/getting-started/beginners-guide.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
Due: check-markdown-links, check-doc-metadata

Deployed 1c0e6a56 with MkDocs version: 1.6.1
  getting-started/beginners-guide/index.html
  getting-started/user-guide/index.html
  git-automation/git-workflow-single-source/index.html
  planning/pre-release-checklist/index.html
  reference/api-stability/index.html
  reference/api/index.html
  reference/fastapi-rest-api/index.html
  search/search_index.json
  verification/validation-pack/index.html
Due: none

docs: mark TASK-PKG-6 done, update session brief
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed 833c93d3 with MkDocs version: 1.6.1
  TASKS/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix(ci): add tests __init__.py and pytest pythonpath for CI imports
  Python/pytest.ini
  Python/tests/__init__.py
Due: none

fix(ci): add tests __init__.py and pytest pythonpath for CI imports (#526)
  Python/pytest.ini
  Python/tests/__init__.py
Due: none

feat: resolve 14 external audit findings (EA-1–EA-18)
  Python/examples/end_to_end_workflow.py
  Python/pytest.ini
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/traceability.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/integration/test_full_pipeline_e2e.py
  Python/tests/test_api_surface_snapshot.py
  Python/tests/test_packaging.py
  Python/tests/test_pipeline_state.py
  Python/tests/test_release_scripts.py
  Python/tests/test_session_store.py
  docs/TASKS.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/insights.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/rebar.py
  fastapi_app/tests/conftest.py
  react_app/src/components/design/BeamForm.tsx
Due: mypy, check-markdown-links, check-doc-metadata

fix: resolve E402 import ordering in routers and __init__
  Python/structural_lib/__init__.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/insights.py
  fastapi_app/routers/optimization.py
Due: mypy

fix: add return type annotation to __getattr__ for mypy
  Python/structural_lib/__init__.py
Due: mypy

TASK-EA-FIXES: Resolve 14 external audit findings (EA-1 through EA-18): test infra, import cleanup, API consistency, security hardening, frontend validation, docs (#527)
  Python/examples/end_to_end_workflow.py
  Python/pytest.ini
  Python/structural_lib/__init__.py
  Python/structural_lib/codes/is456/traceability.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/tests/integration/test_full_pipeline_e2e.py
  Python/tests/test_api_surface_snapshot.py
  Python/tests/test_packaging.py
  Python/tests/test_pipeline_state.py
  Python/tests/test_release_scripts.py
  Python/tests/test_session_store.py
  docs/TASKS.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  docs/reference/api.md
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/insights.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/rebar.py
  fastapi_app/tests/conftest.py
  react_app/src/components/design/BeamForm.tsx
Due: mypy, check-markdown-links, check-doc-metadata

Deployed b1a4351b with MkDocs version: 1.6.1
  TASKS/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  objects.inv
  planning/next-session-brief/index.html
  reference/api/index.html
  search/search_index.json
Due: none

docs: session end — worklog entries for EA fixes
  docs/WORKLOG.md
Due: check-markdown-links, check-doc-metadata

Deployed d7daa213 with MkDocs version: 1.6.1
  WORKLOG/index.html
  search/search_index.json
Due: none

feat: resolve remaining 9 external audit findings (EA-9,11,14,16,19-23)
  .env.example
  Python/README.md
  Python/structural_lib/codes/is13920/__init__.py
  Python/structural_lib/codes/is13920/joint.py
  Python/structural_lib/codes/is456/beam/torsion.py
  Python/structural_lib/codes/is456/footing/__init__.py
  Python/structural_lib/codes/is456/footing/bearing.py
  Python/structural_lib/core/data_types.py
  Python/structural_lib/core/errors.py
  Python/tests/codes/is13920/test_joint.py
  Python/tests/test_api_stability.py
  Python/tests/test_footing.py
  Python/tests/unit/test_torsion.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
  fastapi_app/config.py
  fastapi_app/main.py
  fastapi_app/routers/websocket.py
  react_app/src/components/design/DesignView.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/components/ui/WorkflowHint.tsx
  react_app/src/components/ui/index.ts
Due: mypy, check-markdown-links, check-doc-metadata

fix: resolve CI lint failures (ruff N802 + React setState-in-effect)
  Python/tests/unit/test_torsion.py
  react_app/src/components/ui/WorkflowHint.tsx
Due: none

Deployed c974f362 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  api-reference/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

chore: release v0.21.3 — external audit fixes (EA-1 through EA-23)
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/tests/test_packaging.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/docs-canonical.json
  docs/getting-started/beginners-guide.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-levels.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/column.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/optimization.py
  react_app/package.json
Due: check-python-version, check-markdown-links, check-doc-metadata

chore: release v0.21.3 — external audit fixes (EA-1 through EA-23) (#529)
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/tests/test_packaging.py
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/docs-canonical.json
  docs/getting-started/beginners-guide.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/reference/api-levels.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/reference/fastapi-rest-api.md
  docs/verification/validation-pack.md
  fastapi_app/__init__.py
  fastapi_app/config.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/column.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/optimization.py
  react_app/package.json
Due: check-python-version, check-markdown-links, check-doc-metadata

Deployed 75407e2f with MkDocs version: 1.6.1
  SESSION_LOG/index.html
  TASKS/index.html
  docs-canonical.json
  getting-started/beginners-guide/index.html
  getting-started/releases/index.html
  getting-started/user-guide/index.html
  git-automation/git-workflow-single-source/index.html
  planning/pre-release-checklist/index.html
  reference/api-levels/index.html
  reference/api-stability/index.html
  reference/api/index.html
  reference/fastapi-rest-api/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  verification/validation-pack/index.html
Due: none

docs: quality control overhaul — 4 new skills, 12 agent updates
  .github/agents/agent-evolver.agent.md
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/agents/governance.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/security.agent.md
  .github/agents/structural-math.agent.md
  .github/agents/tester.agent.md
  .github/copilot-instructions.md
  .github/prompts/session-end.prompt.md
  .github/skills/development-rules/SKILL.md
  .github/skills/quality-gate/SKILL.md
  .github/skills/release-preflight/SKILL.md
  .github/skills/skill_tiers.json
  .github/skills/user-acceptance-test/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed f16410f3 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  getting-started/agent-bootstrap/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

docs: v0.21.3 deep audit — 7 agents, 90 findings, score 8.0/10
  docs/TASKS.md
  docs/WORKLOG.md
  docs/audit/comprehensive-library-audit-2026-04-04.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

Deployed a4569d94 with MkDocs version: 1.6.1
  TASKS/index.html
  WORKLOG/index.html
  audit/comprehensive-library-audit-2026-04-04/index.html
  planning/next-session-brief/index.html
  search/search_index.json
Due: none

fix: resolve 5 P0 audit findings — security, validation, memory, types
  Python/structural_lib/core/data_types.py
  Python/structural_lib/services/api.py
  Python/structural_lib/services/report.py
  Python/tests/integration/test_insights_comparison.py
  Python/tests/test_column_return_types.py
  Python/tests/test_is456_common.py
  fastapi_app/config.py
  fastapi_app/error_utils.py
  fastapi_app/models/beam.py
  fastapi_app/models/compliance.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/column.py
  fastapi_app/routers/design.py
  fastapi_app/routers/detailing.py
  fastapi_app/routers/geometry.py
  fastapi_app/routers/imports.py
  fastapi_app/routers/optimization.py
  fastapi_app/routers/rebar.py
  fastapi_app/routers/websocket.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/components/pages/HomePage.tsx
Due: mypy

fix: add type annotations to DictCompatMixin for mypy compliance
  Python/structural_lib/core/data_types.py
Due: mypy

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
