Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

fix(git): fix SIGPIPE under pipefail, duplicate PR creation, and continue-mode branch cleanup
  .github/agents/ops.agent.md
  scripts/create_task_pr.sh
  scripts/finish_task_pr.sh
Due: none

fix(git): fix SIGPIPE under pipefail, duplicate PR creation, and continue-mode branch cleanup (#449)
  .github/agents/ops.agent.md
  scripts/create_task_pr.sh
  scripts/finish_task_pr.sh
Due: none

feat(session-111): deploy-docs CI, BOQ full-stack, HubPage, link-check hardening
  .github/workflows/deploy-docs.yml
  .github/workflows/link-check.yml
  Python/structural_lib/services/boq.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/api-reference/index.md
  docs/planning/next-session-brief.md
  fastapi_app/models/boq.py
  fastapi_app/routers/insights.py
  react_app/src/App.tsx
  react_app/src/components/design/ProjectBOQPanel.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useInsights.ts
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

docs: fix stale endpoint count (38→39)
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

fix(ci): replace --exclude-mail with --exclude mailto: for lychee v0.23
  .github/workflows/link-check.yml
Due: check-python-version

fix: ruff B905 zip strict param, exclude docs/research from link-check
  .github/workflows/link-check.yml
  Python/structural_lib/services/boq.py
Due: mypy, check-python-version

fix(ci): add lychee exclusions for external 403/404 URLs and missing planning dirs
  .github/workflows/link-check.yml
  docs/planning/index.md
Due: check-python-version, check-markdown-links, check-doc-metadata

fix(docs): remove broken research-platform and research-visual-design links from planning README
  docs/planning/README.md
Due: check-markdown-links, check-doc-metadata

fix(ci): exclude medium.com from lychee link check (403 on CI runners)
  .github/workflows/link-check.yml
Due: check-python-version

TASK-517: Session 111: MkDocs deploy, expanded API docs, link-check fail:true, TASK-525 HubPage, TASK-517 Project BOQ full-stack (#453)
  .github/workflows/deploy-docs.yml
  .github/workflows/link-check.yml
  Python/structural_lib/services/boq.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/api-reference/index.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/README.md
  docs/planning/index.md
  docs/planning/next-session-brief.md
  fastapi_app/models/boq.py
  fastapi_app/routers/insights.py
  llms.txt
  react_app/src/App.tsx
  react_app/src/components/design/ProjectBOQPanel.tsx
  react_app/src/components/pages/DashboardPage.tsx
  react_app/src/components/pages/HubPage.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useInsights.ts
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

feat(infra): centralized API config, Vite proxy, dev launcher, ops agent restructure
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/copilot-instructions.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
  react_app/.env.example
  react_app/src/api/client.ts
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/import/ImportView.tsx
  react_app/src/config.ts
  react_app/src/hooks/useBatchDesign.ts
  react_app/src/hooks/useBeamGeometry.ts
  react_app/src/hooks/useCSVImport.ts
  react_app/src/hooks/useDesignWebSocket.ts
  react_app/src/hooks/useExport.ts
  react_app/src/hooks/useGeometryAdvanced.ts
  react_app/src/hooks/useInsights.ts
  react_app/src/hooks/useRebarEditor.ts
  react_app/vite.config.ts
  run.sh
  scripts/launch_stack.sh
Due: none

fix(ci): add launch_stack.sh to scripts index and automation-map
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
Due: none

fix(git): add automated git hygiene — stale branch detection, pre-merge conflict check, tracking ref
  .github/agents/ops.agent.md
  scripts/agent_start.sh
  scripts/ai_commit.sh
  scripts/finish_task_pr.sh
Due: none

fix(git): add automated git hygiene — stale branch detection, pre-merge conflict check, tracking ref (#455)
  .github/agents/ops.agent.md
  scripts/agent_start.sh
  scripts/ai_commit.sh
  scripts/finish_task_pr.sh
Due: none

docs: session 112 quality pipeline infrastructure
  .github/agents/api-developer.agent.md
  .github/agents/doc-master.agent.md
  .github/agents/governance.agent.md
  .github/agents/library-expert.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/structural-engineer.agent.md
  .github/agents/structural-math.agent.md
  .github/agents/tester.agent.md
  .github/prompts/function-quality-gate.prompt.md
  .github/skills/function-quality-pipeline/SKILL.md
  AGENTS.md
  docs/TASKS.md
  docs/planning/library-expansion-blueprint-v4.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat: Phase 1 foundation — numerics, IS 456 constants, shared math (TASK-611, 612, 613)
  Python/pytest.ini
  Python/structural_lib/codes/is456/common/__init__.py
  Python/structural_lib/codes/is456/common/constants.py
  Python/structural_lib/codes/is456/common/reinforcement.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/codes/is456/common/validation.py
  Python/structural_lib/core/numerics.py
  Python/tests/test_is456_common.py
  Python/tests/test_is456_constants.py
  Python/tests/test_numerics.py
  b
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v4.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

chore: remove stray file breaking governance gate
  b
Due: none

TASK-611: Phase 1 foundation — numerics, IS 456 constants, shared math (TASK-611, 612, 613) (#456)
  Python/pytest.ini
  Python/structural_lib/codes/is456/common/__init__.py
  Python/structural_lib/codes/is456/common/constants.py
  Python/structural_lib/codes/is456/common/reinforcement.py
  Python/structural_lib/codes/is456/common/stress_blocks.py
  Python/structural_lib/codes/is456/common/validation.py
  Python/structural_lib/core/numerics.py
  Python/tests/test_is456_common.py
  Python/tests/test_is456_constants.py
  Python/tests/test_numerics.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v4.md
  docs/planning/next-session-brief.md
Due: mypy, check-markdown-links, check-doc-metadata

feat: Phase 1 batch 2 — clauses.json expansion, test assertion helpers (TASK-615, 616, 617)
  Python/structural_lib/codes/is456/clauses.json
  Python/tests/helpers/__init__.py
  Python/tests/helpers/is456_assertions.py
  Python/tests/test_assertion_helpers.py
Due: none

feat: Phase 1 batch 2 — clauses.json expansion, test assertion helpers (TASK-615, 616, 617) (#457)
  Python/structural_lib/codes/is456/clauses.json
  Python/tests/helpers/__init__.py
  Python/tests/helpers/is456_assertions.py
  Python/tests/test_assertion_helpers.py
Due: none

feat(core): Phase 1 Batch 3 — deprecation module + clauses.json population (TASK-614, TASK-615, TASK
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/ductile.py
  Python/structural_lib/core/deprecation.py
  Python/structural_lib/core/utilities.py
  Python/tests/integration/test_deprecation.py
  Python/tests/unit/test_clauses_json.py
Due: mypy

feat(core): Phase 1 Batch 3 — deprecation module + clauses.json population (TASK-614, TASK-615, TASK (#458)
  Python/structural_lib/codes/is456/clauses.json
  Python/structural_lib/codes/is456/ductile.py
  Python/structural_lib/core/deprecation.py
  Python/structural_lib/core/utilities.py
  Python/tests/integration/test_deprecation.py
  Python/tests/unit/test_clauses_json.py
Due: mypy

docs: session 113 — update TASKS, WORKLOG, next-session-brief, blueprint, core indexes for Phase 1 B
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v4.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: session 113 — update TASKS, WORKLOG, next-session-brief, blueprint, core indexes for Phase 1 B (#459)
  Python/structural_lib/core/index.json
  Python/structural_lib/core/index.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/library-expansion-blueprint-v4.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

feat(release): overhaul release scripts, CI publish workflow, and release docs
  .github/agents/ops.agent.md
  .github/copilot-instructions.md
  .github/workflows/publish.yml
  AGENTS.md
  CLAUDE.md
  Python/tests/test_release_scripts.py
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/bump_version.py
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

feat(release): overhaul release scripts, CI publish workflow, and release docs (#460)
  .github/agents/ops.agent.md
  .github/copilot-instructions.md
  .github/workflows/publish.yml
  AGENTS.md
  CLAUDE.md
  Python/tests/test_release_scripts.py
  docs/TASKS.md
  docs/getting-started/releases.md
  docs/planning/next-session-brief.md
  run.sh
  scripts/bump_version.py
  scripts/release.py
Due: check-python-version, check-markdown-links, check-doc-metadata

fix: release preflight memory safety — timeouts, RAM check, process cleanup, Docker option
  .github/copilot-instructions.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  docker-compose.preflight.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/releases.md
  react_app/package.json
  react_app/vite.config.ts
  scripts/check_all.py
  scripts/preflight.py
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

fix: bump root file limit to 18 for docker-compose.preflight.yml
  docs/guidelines/governance-limits.json
Due: none

fix: release preflight memory safety — timeouts, RAM check, process cleanup, Docker option (#461)
  .github/copilot-instructions.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  docker-compose.preflight.yml
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/releases.md
  docs/guidelines/governance-limits.json
  react_app/package.json
  react_app/vite.config.ts
  scripts/check_all.py
  scripts/preflight.py
  scripts/release.py
Due: check-markdown-links, check-doc-metadata

chore: release v0.20.0 — version bump + api.md update
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  Python/pytest.ini
  Python/structural_lib/__init__.py
  Python/structural_lib/__main__.py
  Python/structural_lib/codes/is456/ductile.py
  Python/tests/integration/test_api_wrappers_v0_12.py
  Python/tests/integration/test_bbs_dxf_consistency.py
  Python/tests/integration/test_cli.py
  Python/tests/integration/test_dxf_content.py
  Python/tests/integration/test_dxf_export_smoke.py
  Python/tests/integration/test_job_cli.py
  Python/tests/integration/test_job_runner_is456.py
  Python/tests/integration/test_report.py
  Python/tests/regression/test_parity_vectors.py
  Python/tests/regression/test_report_golden.py
  Python/tests/test_release_scripts.py
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  react_app/package.json
  scripts/release.py
Due: mypy, check-python-version, check-markdown-links, check-doc-metadata

ci: fix publish.yml — downgrade actions to existing versions (v4/v5)
  .github/workflows/publish.yml
Due: check-python-version

ci: fix publish.yml — downgrade actions to existing versions (v4/v5) (#462)
  .github/workflows/publish.yml
Due: check-python-version

docs: fix stale version references after v0.20.0 release
  .github/agents/orchestrator.agent.md
  Python/README.md
  docs/getting-started/installation-notes.md
  docs/getting-started/mac-mini-setup.md
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
Due: check-markdown-links, check-doc-metadata

docs: create comprehensive maintenance plan for post-v0.20.0 sprint
  docs/_active/maintenance-plan-v0.21-sprint.md
Due: check-markdown-links, check-doc-metadata
