Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$

fix(editor): TASK-522 — correct utilization, top bars, redesign button, edit rebar mode
  fastapi_app/routers/imports.py
  react_app/src/components/design/BeamDetailPanel.tsx
  react_app/src/components/design/CrossSectionView.tsx
  react_app/src/components/pages/BuildingEditorPage.tsx
Due: none

docs: log session 98 — mark TASK-522/523/524/526 done, update bootstrap, README, UX plan status
  README.md
  docs/TASKS.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  docs/planning/react-ux-improvement-plan.md
Due: check-markdown-links, check-doc-metadata

feat: TASK-518 torsion API + React — expose design_torsion() via FastAPI, add useTorsionDesign hook
  CLAUDE.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/planning/next-session-brief.md
  fastapi_app/models/beam.py
  fastapi_app/routers/design.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/api/client.ts
  react_app/src/components/design/DesignView.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useTorsionDesign.ts
Due: check-markdown-links, check-doc-metadata

docs: sync endpoint count (36 endpoints)
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

feat: TASK-515 load calculator + TASK-514 PDF export — expose compute_bmd_sfd via FastAPI, add useLo
  Python/structural_lib/services/report.py
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
  fastapi_app/models/analysis.py
  fastapi_app/routers/analysis.py
  fastapi_app/routers/export.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/api/client.ts
  react_app/src/components/design/DesignView.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useExport.ts
  react_app/src/hooks/useLoadAnalysis.ts
  requirements.txt
Due: mypy, check-markdown-links, check-doc-metadata

feat: fix all exports + building-level summary + AG Grid formatting
  Dockerfile.fastapi
  fastapi_app/routers/export.py
  react_app/src/components/pages/BuildingEditorPage.tsx
  react_app/src/hooks/index.ts
  react_app/src/hooks/useExport.ts
Due: none

chore: remove tracked benchmark artifacts, update .gitignore
  .gitignore
Due: none

chore: consolidate configs — remove redundant pytest.ini, setup.cfg, plotly dep
  Python/pyproject.toml
  Python/setup.cfg
  pytest.ini
  requirements.txt
Due: check-python-version

docs: fix broken links, remove Streamlit/VBA/Excel references from all docs
  README.md
  docs/README.md
  docs/SESSION_LOG.md
  docs/_active/README.md
  docs/adr/0003-contract-testing-for-v3.md
  docs/agents/README.md
  docs/audit/README.md
  docs/audit/audit-readiness.md
  docs/contributing/README.md
  docs/contributing/background-agent-guide.md
  docs/getting-started/README.md
  docs/guidelines/function-signature-standard.md
  docs/guidelines/migration-workflow-guide.md
  docs/guidelines/result-object-standard.md
  docs/guides/fastapi-deployment-guide.md
  docs/planning/3d-visualization-strategic-decision.md
  docs/planning/8-week-development-plan.md
  docs/planning/ai-chat-redesign-plan.md
  docs/planning/democratization-vision.md
  docs/planning/industry-usability-plan.md
  docs/reference/README.md
  docs/reference/api.md
  docs/reference/automation-catalog.md
  docs/reference/fastapi-rest-api.md
Due: check-markdown-links, check-doc-metadata

chore: sync stale doc numbers
  docs/getting-started/agent-bootstrap.md
  llms.txt
Due: check-markdown-links, check-doc-metadata

chore: gitignore VBA/Excel dirs (kept locally, separate repo later)
  .gitignore
Due: none

docs: add Mac Mini setup guide, remove VBA volume mounts from docker-compose
  docker-compose.dev.yml
  docker-compose.yml
  docs/getting-started/mac-mini-setup.md
Due: check-markdown-links, check-doc-metadata

docs: update Mac Mini setup guide — add GitHub auth, fix paths, clarify deps, add reproducibility se
  docs/getting-started/mac-mini-setup.md
Due: check-markdown-links, check-doc-metadata

docs: switch Mac Mini guide from Docker Desktop to Colima
  docs/getting-started/mac-mini-setup.md
Due: check-markdown-links, check-doc-metadata

fix: react build errors, pre-commit fixes, doc cleanup
  .gitignore
  CHANGELOG.md
  docs/MAC_MINI_SETUP.md
  docs/README.md
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
  react_app/package-lock.json
  react_app/src/hooks/useExport.ts
  react_app/src/lib/utils.ts
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
Due: check-markdown-links, check-doc-metadata

docs: add post-cleanup issues diagnostic with 11 cataloged issues and fixes
  docs/planning/post-cleanup-issues.md
Due: check-markdown-links, check-doc-metadata

fix: single CSV import crash and adapter auto-detection fallback
  Etabs_CSV/beam_forces.csv
  Etabs_CSV/frames_geometry.csv
  Etabs_CSV/frames_properties.csv
  Etabs_CSV/stories.csv
  docs/_active/import-pipeline-issues.md
  fastapi_app/routers/imports.py
  fastapi_app/tests/test_endpoints.py
  react_app/src/components/import/ImportView.tsx
  react_app/src/hooks/useCSVImport.ts
  scripts/automation-map.json
  scripts/index.json
  scripts/index.md
  scripts/test_import_pipeline.py
  scripts/test_sample_endpoint.py
Due: check-markdown-links, check-doc-metadata

fix: remaining black formatting in report.py
  Python/structural_lib/services/report.py
Due: mypy

fix: ruff import ordering in rebar_optimizer.py
  Python/structural_lib/services/rebar_optimizer.py
Due: mypy

fix: remove all Streamlit remnants — clean 21 scripts, delete 4 orphaned tests, fix dxf docstring
  Python/structural_lib/services/dxf_export.py
  run.sh
  scripts/agent_start.sh
  scripts/audit_readiness_report.py
  scripts/check_all.py
  scripts/check_api.py
  scripts/check_architecture_boundaries.py
  scripts/check_circular_imports.py
  scripts/check_fastapi_issues.py
  scripts/check_governance.py
  scripts/check_instruction_drift.py
  scripts/check_type_annotations.py
  scripts/create_test_scaffold.py
  scripts/migrate_python_module.py
  scripts/safe_file_delete.py
  scripts/safe_file_move.py
  scripts/safe_push.sh
  scripts/should_use_pr.sh
  scripts/test_import_3d_pipeline.py
  scripts/validate_imports.py
  scripts/watch_tests.sh
  tests/test_lod_manager.py
  tests/test_lod_performance.py
  tests/test_report_export_component.py
  tests/test_visualizations_3d.py
Due: mypy

docs: add github-fix-plan with TASK-102 execution log and Mac Mini instructions
  docs/planning/github-fix-plan.md
Due: check-markdown-links, check-doc-metadata

docs: session 103 — IPv6 uvicorn fix, migration lessons, WORKLOG update
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/getting-started/agent-bootstrap.md
  docs/getting-started/mac-mini-setup.md
  docs/planning/github-fix-plan.md
  docs/planning/mac-mini-migration-issues.md
  docs/planning/next-session-brief.md
  docs/reference/3d-visualization-performance.md
Due: check-markdown-links, check-doc-metadata

feat(ui): rewrite HomePage landing page to minimal design with continuous beam rotation
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/structural-engineer.agent.md
  .github/agents/ui-designer.agent.md
  .github/copilot-instructions.md
  .github/prompts/context-recovery.prompt.md
  .github/prompts/file-move.prompt.md
  .github/prompts/is456-verify.prompt.md
  .github/prompts/session-start.prompt.md
  .github/skills/api-discovery/SKILL.md
  .github/skills/is456-verification/SKILL.md
  .github/skills/safe-file-ops/SKILL.md
  .github/skills/session-management/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/getting-started/agent-bootstrap.md
  docs/guides/copilot-agents-usage-guide.md
  docs/planning/copilot-agent-master-plan.md
  react_app/src/components/pages/HomePage.tsx
Due: check-markdown-links, check-doc-metadata

docs(agents): add DO NOT Over-Explore guidance to 4 agent files
  .github/agents/backend.agent.md
  .github/agents/ops.agent.md
  .github/agents/reviewer.agent.md
  .github/agents/structural-engineer.agent.md
Due: none

feat(agents): add mandatory pipeline, quality gates, and continuous improvement
  .github/agents/api-developer.agent.md
  .github/agents/backend.agent.md
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/prompts/master-workflow.prompt.md
Due: none

feat(agents): add git troubleshooting knowledge to ops agent
  .github/agents/ops.agent.md
Due: none

docs(agents): add git hygiene checks and feedback loop to reviewer/workflow
  .github/agents/ops.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/prompts/master-workflow.prompt.md
Due: none

docs(agents): transfer git automation knowledge, add feedback loop, fix pipeline alignment
  .github/agents/ops.agent.md
  .github/prompts/master-workflow.prompt.md
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(prompts): comprehensive quality pass - fix command inconsistencies, endpoint counts, streamlit refs, hook counts
  .claude/rules/python-core.md
  .github/agents/doc-master.agent.md
  .github/agents/frontend.agent.md
  .github/instructions/fastapi.instructions.md
  .github/instructions/python-core.instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/new-feature.prompt.md
  .github/prompts/session-end.prompt.md
  AGENTS.md
  CLAUDE.md
Due: none

docs(prompts): comprehensive quality pass - fix counts, commands, streamlit refs across 11 files
  .github/prompts/new-feature.prompt.md
  docs/SESSION_LOG.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs(prompts): comprehensive quality pass - fix counts, commands, streamlit refs across 11 files
  .github/agents/frontend.agent.md
  .github/agents/ui-designer.agent.md
  docs/WORKLOG.md
  docs/reference/automation-catalog.md
  scripts/_archive/README.md
Due: check-markdown-links, check-doc-metadata

docs(ops): fix stale version refs, update ops agent to self-fix post-commit warnings
  .github/agents/ops.agent.md
  docs/contributing/development-guide.md
  docs/getting-started/beginners-guide.md
  docs/planning/next-session-brief.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api.md
  docs/verification/examples.md
Due: check-markdown-links, check-doc-metadata

docs: session 105 end — update worklog, session log, next-session-brief, tasks
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/WORKLOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: session 105 end — update worklog, session log, next-session-brief, tasks
  .github/agents/api-developer.agent.md
  .github/agents/frontend.agent.md
  .github/agents/orchestrator.agent.md
  .github/agents/reviewer.agent.md
  .github/instructions/terminal-rules.instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

docs(copilot): add run.sh fallback chain and issue reporting to copilot-instructions
  .github/copilot-instructions.md
Due: none
