Repository Pravin-surawase/structural_engineering_lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, contract-tests, check-python-version, check-api-manifest, check-markdown-links, check-cost-optimizer-issues, check-streamlit-issues, check-api-signatures, pylint-streamlit, check-type-annotations, check-performance-issues, check-doc-metadata

mypy:
  name: mypy (structural_lib)
  entry: bash -c 'cd Python && ../.venv/bin/python -m mypy structural_lib/'
  language: system
  pass_filenames: false
  verbose: true

contract-tests:
  name: API contract tests (prevent breaking changes)
  entry: bash -c "cd Python && ../.venv/bin/python -m pytest tests/integration/test_contracts.py -m contract -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

check-python-version:
  name: Check Python version consistency
  entry: .venv/bin/python scripts/check_python_version.py --ci
  language: system
  pass_filenames: false
  verbose: true

check-api-manifest:
  name: Check API manifest
  entry: .venv/bin/python scripts/generate_api_manifest.py --check
  language: system
  pass_filenames: false
  verbose: true

check-markdown-links:
  name: Check markdown internal links
  entry: .venv/bin/python scripts/check_links.py
  language: system
  pass_filenames: false
  verbose: true

check-cost-optimizer-issues:
  name: Check cost optimizer code issues
  entry: .venv/bin/python scripts/check_cost_optimizer_issues.py
  language: system
  pass_filenames: false
  verbose: true

check-streamlit-issues:
  name: Check Streamlit app issues (AST scanner)
  entry: .venv/bin/python scripts/check_streamlit_issues.py --all-pages --fail-on-critical
  language: system
  pass_filenames: false
  verbose: true

check-api-signatures:
  name: Check API function signatures
  entry: .venv/bin/python scripts/check_api_signatures.py
  language: system
  pass_filenames: false
  verbose: true

pylint-streamlit:
  name: Pylint check for Streamlit app
  entry: bash -c '.venv/bin/python -m pylint --rcfile=.pylintrc-streamlit --exit-zero streamlit_app/pages/*.py'
  language: system
  pass_filenames: false
  verbose: true

check-type-annotations:
  name: Check type annotations (Streamlit utils)
  entry: .venv/bin/python scripts/check_type_annotations.py --lenient
  language: system
  pass_filenames: false
  verbose: true

check-performance-issues:
  name: Check Streamlit performance anti-patterns
  entry: .venv/bin/python scripts/check_performance_issues.py --fail-threshold 1
  language: system
  pass_filenames: false
  verbose: true

check-doc-metadata:
  name: Check doc metadata (warning mode)
  entry: .venv/bin/python scripts/check_doc_metadata.py
  language: system
  pass_filenames: false
  verbose: true

docs: sync script count 81 → 82 in README
  README.md
Due: none

feat: add OpenAPI snapshot test, post-move link check, TASKS archival, index hash watermarks
  README.md
  docs/planning/agent-workflow-improvements.md
  fastapi_app/openapi_baseline.json
  scripts/ai_commit.sh
  scripts/automation-map.json
  scripts/check_openapi_snapshot.py
  scripts/generate_enhanced_index.py
  scripts/index.json
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

fix: ai_commit.sh post-commit link check syntax error
  scripts/ai_commit.sh
Due: none

chore: update OpenAPI baseline after schema drift
  docs/SESSION_LOG.md
  fastapi_app/openapi_baseline.json
Due: check-markdown-links, check-doc-metadata

docs: create folder audit plan with batch 1 results
  docs/planning/folder-audit.md
Due: check-markdown-links, check-doc-metadata

docs: folder audit batches 2-3 — Python core and UI layers
  docs/planning/folder-audit.md
Due: check-markdown-links, check-doc-metadata

docs: folder audit batches 4-5 — Excel/VBA and scripts deep dive
  docs/planning/folder-audit.md
Due: check-markdown-links, check-doc-metadata

docs: folder audit batches 6-8 — tests, active docs, and research
  docs/planning/folder-audit.md
Due: check-markdown-links, check-doc-metadata

docs: complete folder audit batches 9-11 — archive, reference, agents (all 11 batches done)
  docs/planning/folder-audit.md
Due: check-markdown-links, check-doc-metadata

fix: implement audit findings — remove bloat, fix violations, add 9 READMEs
  .github/copilot/instructions.md
  .gitignore
  VBA/ETABS_Export/.!34470!mod_Types.bas
  VBA/ETABS_Export/.!35354!mod_Types.bas
  agents/roles/README.md
  docs/_archive/misc/next-moves-session-88.md
  docs/_archive/misc/resumption-feb-27-2026.md
  docs/_archive/misc/session-30-summary.md
  docs/cookbook/colab_workflow.ipynb
  docs/guides/README.md
  docs/legal/README.md
  docs/planning/folder-audit.md
  docs/specs/README.md
  docs/vba/README.md
  fastapi_app/README.md
  fastapi_app/tests/README.md
  streamlit_app/tests/README.md
  streamlit_app/utils/api_wrapper.py
  tests/README.md
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

fix: repair 11 broken links after file moves
  docs/SESSION_LOG.md
  docs/agents/README.md
  docs/guidelines/streamlit-fragment-best-practices.md
  docs/guides/react-ui-user-flow.md
Due: check-markdown-links, check-doc-metadata

fix: session log gaps, JWT warning, broken links, version sync
  docker-compose.yml
  docs/SESSION_LOG.md
  docs/agents/guides/agent-8-multi-agent-coordination.md
  docs/planning/folder-audit.md
  docs/planning/next-session-brief.md
  fastapi_app/auth.py
  react_app/package.json
Due: check-markdown-links, check-doc-metadata

fix: validate_materials stub, agent session logging rules, audit updates
  .github/copilot-instructions.md
  CLAUDE.md
  docs/planning/folder-audit.md
  docs/planning/next-session-brief.md
  streamlit_app/utils/validation.py
Due: check-markdown-links, check-type-annotations, check-performance-issues, check-doc-metadata

feat: add AGENTS.md, prompt files, enrich agent instructions
  .claude/rules/python-core.md
  .claude/rules/react.md
  .github/instructions/docs.instructions.md
  .github/instructions/fastapi.instructions.md
  .github/instructions/python-core.instructions.md
  .github/instructions/react.instructions.md
  .github/instructions/streamlit.instructions.md
  .github/instructions/vba.instructions.md
  .github/prompts/add-api-endpoint.prompt.md
  .github/prompts/bug-fix.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/new-feature.prompt.md
  .github/prompts/session-end.prompt.md
  .github/pull_request_template.md
  AGENTS.md
  docs/planning/ai-agent-efficiency-and-git-workflow-plan.md
Due: check-markdown-links, check-doc-metadata

docs: session 92 end — handoff + tasks updated
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: session 92 end — handoff + tasks updated
  .claude/rules/python-core.md
  .claude/rules/react.md
  .claude/rules/streamlit.md
  .github/instructions/python-core.instructions.md
  Python/index.json
  Python/index.md
  Python/structural_lib/index.json
  Python/structural_lib/index.md
  docs/TASKS.md
  docs/planning/README.md
  docs/planning/ai-agent-efficiency-and-git-workflow-plan.md
  react_app/index.json
  react_app/index.md
  scripts/automation-map.json
  scripts/check_instruction_drift.py
  scripts/index.json
  scripts/index.md
  streamlit_app/index.json
  streamlit_app/index.md
Due: check-markdown-links, check-doc-metadata

docs: session 92 final — handoff updated
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

docs: sync script count 83 to 84
  README.md
Due: none

fix(streamlit): route imports through api facade
  streamlit_app/components/report_export.py
  streamlit_app/utils/api_wrapper.py
  streamlit_app/utils/input_bridge.py
Due: check-type-annotations, check-performance-issues

feat(scripts): enhance boundary checker with UI-layer import rules
  scripts/check_architecture_boundaries.py
Due: none

docs(is456): add unit conversion comments to shear.py
  Python/structural_lib/codes/is456/shear.py
Due: mypy

docs: session 92 part 3 — architecture audit + handoff
  docs/SESSION_LOG.md
  docs/TASKS.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

chore: release v0.19.1
  CHANGELOG.md
  CITATION.cff
  Python/README.md
  Python/pyproject.toml
  README.md
  VBA/Modules/M08_API.bas
  docs/contributing/development-guide.md
  docs/contributing/vba-testing-guide.md
  docs/getting-started/beginners-guide.md
  docs/getting-started/excel-tutorial.md
  docs/getting-started/releases.md
  docs/getting-started/user-guide.md
  docs/planning/next-session-brief.md
  docs/planning/pre-release-checklist.md
  docs/planning/research-ai-enhancements.md
  docs/reference/api-stability.md
  docs/reference/api.md
  docs/verification/examples.md
  docs/verification/validation-pack.md
  react_app/package.json
Due: check-python-version, check-markdown-links, check-doc-metadata

test: PR workflow check
  tests/pr_workflow_test.md
Due: none

fix(git): resolve 4 git workflow issues (push-only, git_ops ref, tag push, msg length)
  scripts/ai_commit.sh
  scripts/git-hooks/commit-msg
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
Due: none

docs(git): add single-source git workflow doc + Phase 1 improvements
  docs/docs-canonical.json
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  scripts/ai_commit.sh
  scripts/finish_task_pr.sh
  scripts/git-hooks/commit-msg
  scripts/safe_push.sh
Due: check-markdown-links, check-doc-metadata

fix(ci): resolve Windows test failures, root file limit, coverage threshold
  .github/workflows/python-tests.yml
  Python/structural_lib/services/report.py
  Python/tests/integration/test_design_suggestions.py
  Python/tests/test_calculation_report.py
  docs/guidelines/governance-limits.json
  scripts/index.json
  scripts/index.md
Due: mypy, check-python-version

refactor(git): consolidate 5 git docs into single source + practical PR policy
  docs/_archive/git-automation-consolidated/advanced-coordination.md
  docs/_archive/git-automation-consolidated/automation-scripts.md
  docs/_archive/git-automation-consolidated/efficient-agent-usage.md
  docs/_archive/git-automation-consolidated/mistakes-prevention.md
  docs/_archive/git-automation-consolidated/research-README.md
  docs/_archive/git-automation-consolidated/workflow-guide.md
  docs/_archive/planning-20260119/session-19p8-work-plan.md
  docs/_archive/planning-completed-2026-01/agent8-git-docs-professional-consolidation.md
  docs/_archive/research/git-automation/git-automation-improvement-plan.md
  docs/agents/guides/agent-8-mistakes-prevention-guide.md
  docs/agents/guides/agent-workflow-master-guide.md
  docs/docs-canonical.json
  docs/docs-index.json
  docs/git-automation/README.md
  docs/git-automation/git-workflow-single-source.md
  scripts/finish_task_pr.sh
  scripts/should_use_pr.sh
Due: check-markdown-links, check-doc-metadata

docs: session 92 part 4 end — CI fixes + git workflow consolidation
  docs/SESSION_LOG.md
  docs/planning/next-session-brief.md
Due: check-markdown-links, check-doc-metadata

fix: resolve stale refs and broken handoff check in onboarding scripts
  docs/audit/onboarding-audit-session93.md
  scripts/agent_start.sh
  scripts/bump_version.py
  scripts/session.py
Due: check-markdown-links, check-doc-metadata

fix: handle missing ci_monitor_daemon.sh in finish_task_pr.sh gracefully
  docs/audit/onboarding-audit-session93.md
  scripts/finish_task_pr.sh
Due: check-markdown-links, check-doc-metadata

fix: resolve 15 stale archived-script refs, improve PR workflow and bootstrap
  docs/audit/onboarding-audit-session93.md
  docs/getting-started/agent-bootstrap.md
  scripts/agent_mistakes_report.sh
  scripts/agent_start.sh
  scripts/finish_task_pr.sh
  scripts/generate_all_indexes.sh
  scripts/session.py
  scripts/validate_script_refs.py
  scripts/watch_tests.sh
Due: check-markdown-links, check-doc-metadata

fix: remove dead async daemon code from finish_task_pr.sh
  scripts/finish_task_pr.sh
Due: none

fix: update audit_readiness_report.py to use consolidated scripts instead of archived ones
  scripts/audit_readiness_report.py
Due: none

docs: fix stale script refs in README/quick-ref, add unified CLI upgrade plan
  docs/_active/unified-cli-upgrade-plan.md
  docs/agents/guides/agent-quick-reference.md
  scripts/README.md
Due: check-markdown-links, check-doc-metadata

docs: comprehensive unified CLI upgrade plan with full script inventory
  docs/_active/unified-cli-upgrade-plan.md
Due: check-markdown-links, check-doc-metadata

refactor: archive 7 Streamlit-era scripts (85→78 active)
  docs/SESSION_LOG.md
  docs/_internal/cost-optimizer-executive-summary.md
  docs/_internal/cost-optimizer-fix-plan.md
  docs/_internal/cost-optimizer-fix-results.md
  docs/_internal/cost-optimizer-prevention-system-guide.md
  docs/audit/audit-readiness.md
  docs/contributing/streamlit-comprehensive-prevention-system.md
  docs/contributing/streamlit-prevention-system-review.md
  docs/getting-started/agent-bootstrap.md
  docs/reference/automation-catalog.md
  docs/research/streamlit-code-quality-research.md
  scripts/_archive/check_cost_optimizer_issues.py
  scripts/_archive/check_performance_issues.py
  scripts/_archive/check_ui_duplication.py
  scripts/_archive/generate_streamlit_page.py
  scripts/_archive/launch_streamlit.sh
  scripts/_archive/profile_streamlit_page.py
  scripts/_archive/validate_session_state.py
Due: check-markdown-links, check-doc-metadata

feat: add run.sh unified CLI and check_all.py orchestrator
  run.sh
  scripts/check_all.py
Due: none

Path conditions:
  mypy: any of: ^Python/structural_lib/.*\.py$ and \.py$
  contract-tests: any of: ^Python/structural_lib/(api|data_types|beam_pipeline)\.py$
  check-python-version: any of: (pyproject\.toml|setup\.cfg|\.github/workflows/.*\.yml)$
  check-api-manifest: any of: ^Python/structural_lib/api\.py$
  check-markdown-links: any of: ^docs/.*\.md$
  check-cost-optimizer-issues: any of: ^streamlit_app/pages/02_.*cost_optimizer\.py$
  check-streamlit-issues: any of: ^streamlit_app/pages/.*\.py$
  check-api-signatures: any of: ^streamlit_app/pages/.*\.py$
  pylint-streamlit: any of: ^streamlit_app/pages/.*\.py$
  check-type-annotations: any of: ^streamlit_app/utils/.*\.py$
  check-performance-issues: any of: ^streamlit_app/.*\.py$
  check-doc-metadata: any of: ^docs/.*\.md$
